[2022-04-06 15:13] bmennis commented on #280
TARGET cohort update:
I have completed the MultiCNV run on the TARGET somatic samples. The completed tasks are located in the same Cavatica project that the GATK CNV analyses were run. Some of the samples failed to run at first but it appeared to be some were due in part to back end issues and others because the sample type had empty spaces in it. Additionally, some somatic pairs did not have `cas

[2022-04-06 15:23] migbro commented on #280
@bmennis can you given an example of a task where a case_id was missing, just to see what it looked like? Thanks!

[2022-04-06 15:30] bmennis commented on #280
Here is a completed example @migbro:
https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-ad-hoc-gatk-cnv/tasks/5eb657d3-144a-4209-b92b-0f6bd7df3bc5/

[2022-04-06 15:55] migbro commented on #280
Um, hmmm, doesn't seem terrible. Some files are getting output like:
`5eb657d3-144a-4209-b92b-0f6bd7df3bc5.undefined.Tumor.cnvkit_status_undefined.Tumor.controlfreec_status_STATUS_multicnv.heatmap.png`
Where that `undefined` would normally be `case_id`. Perhaps we can rename them to replace that with either biospecimen ID, sample ID, or patient ID? like,m whatever makes sense in the context for th

[2022-04-07 18:08] bmennis commented on #280
After discussion on the missing case IDs for some of the TARGET samples, it was decided to re run all cohorts. It was decided that aliquot IDs for TARGET pairs and Kids First Biospecimen IDs for the other cohorts would be more specific and informative IDs to provide the workflow as some participants may have multiple somatic pairs. I am wrapping up the analysis now and will update when complete.

[2022-04-07 20:31] aadamk commented on #279
Thanks for the thorough analysis. UMAP shows a clear separation between polyA and stranded (it may be the more appropriate method given that linearity and a symmetric distribution are important factors in PCA, but not UMAP)

For empirically defined negative control genes - the criterion of using those with p<0.05 would be appropriate. For instance, for a first pass analysis using HRT atlas genes o

[2022-04-08 12:57] komalsrathi commented on #279
Thank you @aadamk, I'll work on this next week and update (have some ENT/miRNA analysis to work on today).

[2022-04-08 19:39] bmennis commented on #280
The re run of the cohorts is complete with metadata patched to the outputs. I named the tasks in each project to include `rerun` in the task name, and for the previous completed tasks I added `DEPRECATED` to the task names.

[2022-04-08 19:58] zhangb1 commented on #282
hummm, but seems we don't have any TCGA RNAseq results from cavatica yet...

[2022-04-08 20:04] jharenza commented on #282
Ah, maybe we need to download this from the GTEX portal @runjin326

[2022-04-08 20:10] jharenza commented on #275
After looking at the [QA load ](https://kf-strides-cbioportal-qa.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021) and discussions with @runjin326 and @migbro, we need to do some additional tweaking of case ID lists here before this gets released to prod. @runjin326 will be creating a master pedcbio load issue to encompass all issues we will want to address for the v10 load, with an estimate

[2022-04-08 22:10] #274 closed

[2022-04-09 00:37] jharenza opened #284 "Investigate analysis: SNV frequencies"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/snv-frequencies

#### What changes need to be made? Please provide enough detail for another participant to make the update.
The frequencies on the MTP are not aligning with those on pedcbio. Pedcbio is running v7 here, but in checking some PBTA samples which should th

[2022-04-11 11:43] zhangb1 commented on #282
@jharenza  humm ..I am not aware of that...

[2022-04-11 12:17] jharenza commented on #282
Ah, per the release notes, we got this from diseasExpress: https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/doc/release-notes.md

@komalsrathi were you the one who got this for us? are you able to get us a count matrix for the next release?

[2022-04-11 12:31] komalsrathi commented on #282
I did not get TCGA data from GDC. I got the TCGA data from USCS as part of their toil 20k project https://www.biorxiv.org/content/10.1101/062497v1. The data was openly available on s3 at that time in the form of RSEM output files per processed sample.

[2022-04-11 14:18] jharenza commented on #282
Yes, what we have on diseasExpress- do you have the count matrix handy?

[2022-04-11 14:44] komalsrathi commented on #282
@jharenza Correct me if I am wrong but this has already been tackled in https://github.com/PediatricOpenTargets/ticket-tracker/issues/200. Here are the files for v11 and I can see TCGA collapsed count + TPM matrices:

[code]

[2022-04-11 14:46] runjin326 commented on #282
@komalsrathi - sorry about the confusion. I should've made this clearer. But this is for the new release of TCGA - I think they have a new release using the new GENCODE version.

[2022-04-11 15:41] logstar commented on #284
@jharenza Thank you for checking the data and describing the discrepancies.

I will start with checking the total number of [craniopharyngioma](https://ppdc-otp-qa.bento-tools.org/evidence/ENSG00000168036/EFO_1000209) and [medulloblastoma](https://ppdc-otp-qa.bento-tools.org/evidence/ENSG00000168036/EFO_0002939) patients in v7 and v10 data, using histology.tsv, snv-consensus-plus-hotspots.maf.tsv.

[2022-04-11 18:01] jharenza commented on #282
Thanks @komalsrathi and @runjin326. @runjin326 will you open a new issue and describe the ask in more detail. It might also follow that we would want a new expression matrix as well? Perhaps we can discuss at 3pm today?

[2022-04-11 20:16] logstar commented on #284
@jharenza Following are the main causes of the MTP-vs-pedcbio discrepancies of craniopharyngioma and medulloblastoma:

- The additional craniopharyngioma patients in v10 MTP are categorized as "Adamantinomatous Craniopharyngioma" in v7 pedcbio.
- The additional medulloblastoma patients in v7 pedcbio only have RNA-seq specimens. The `snv-frequencies` module only include patients in `wgswxspanel` in

[2022-04-11 20:30] runjin326 opened #285 "Get TCGA count matrix"
#### What data file(s) does this issue pertain to?
[code]

#### What release are you using?

Currently in v10 release, we have TCGA data from UCSC as part of their toil 20k project.
TCGA recently has a new release mapped to GENCODE v36 and we want to get the data and combine them to releasable gene counts.

#### Put your question or report your issue here.
Please download the star count matrix fro

[2022-04-11 20:52] runjin326 commented on #267
Closing with PR160 merged

[2022-04-11 20:52] #267 closed

[2022-04-11 20:57] runjin326 opened #286 "Master ticket for PedcBio v10 load"
#### What data file(s) does this issue pertain to?
PedCBio v10 dataload

#### What release are you using?

v10

#### Put your question or report your issue here.
v10 load related issues:
- Load GTEx RNA-seq to pedcbio: https://github.com/PediatricOpenTargets/ticket-tracker/issues/275
- Modify histology file to be compatible with PedCBio portal (mainly multiple samples for the same participants): h

[2022-04-11 23:06] logstar opened #287 "Updated analysis: change biospecimen filtering procedure in `snv-frequencies` module"
#### What analysis module should be updated and why?

`snv-frequencies` module needs to be updated to change the biospecimen filtering procedure.

Currently, the biospecimen filtering procedure takes the following steps:

1. Keep only biospecimens in MAF file that have `sample_type == 'Tumor'` in histology file.
2. Keep only non-synonymous variant rows in MAF file. Biospecimens that only have syno

[2022-04-12 00:57] jharenza commented on #285
Hi @zhangb1. Assigned to you. As mentioned in our meeting today, @taylordm's query can be found [here](https://portal.gdc.cancer.gov/repository?filters=%7B%22op%22%3A%22and%22%2C%22content%22%3A%5B%7B%22op%22%3A%22in%22%2C%22content%22%3A%7B%22field%22%3A%22files.data_category%22%2C%22value%22%3A%5B%22transcriptome%20profiling%22%5D%7D%7D%2C%7B%22op%22%3A%22in%22%2C%22content%22%3A%7B%22field%22%3

[2022-04-12 12:34] zhangb1 commented on #285
Hi @jharenza  I tried to query in cavatica, but seems the files are old files. not the same one showing in the GDC portal...

I neither downloaded the files from GDC portal, can someone show me how to download the counts files, or others can do that?

[2022-04-12 12:39] taylordm commented on #285
Here’s the page on the GDC transfer tool. If you need me to install it run it let me know

https://gdc.cancer.gov/access-data/gdc-data-transfer-tool

[2022-04-12 13:32] jharenza commented on #276
@migbro once you are back, or @dmiller15, if you know- has this been started? If so, can you link to the CAVATICA project/ update here?

[2022-04-12 14:39] zhangb1 commented on #285
Thanks @taylordm ... I am launching a cavatica project to download the data now....

Do you know how to download the sample_id information associate with the file, when doing the merge I think we need to have the sample ID in the big merge file. I tried to search in the portal , but no luck. if you can have the manifest having the sample ID with the tsv file, that would be good.

[2022-04-13 12:54] zhangb1 commented on #285
all the GENCODE v36  RNAseq star_gene_counts are in the cavatica project : https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-tcga-rnaseq-counts/files/

Total of 17814 files. I am still trying to see how I can get the sample ID associate with these files. Then I will do the file merge.

[2022-04-13 16:05] komalsrathi commented on #279
@aadamk I am working on this today so just went through your comment. Agree with the second comment i.e. evaluate multiple K values.

However, regarding your first comment:

I think there is some misunderstanding I wanted to clarify. What I am doing is using 3 approaches:

1. House keeping genes identified only in normal tissues downloaded from HRT atlas: Use them _as is_ in `RUVg's cIdx`  param.

[2022-04-14 15:18] aadamk commented on #279
Thanks for the clarification. Yes, all makes sense.

What I referenced above was actually Yuanchao's old work doing a first pass among technical replicates, selecting housekeeping genes that were less than 0.05 as differential expressions due to technical variation to use in the RUVg model. That gene set is actually available - it would be a matter of plugging it into the RUVg model and could be a

[2022-04-14 16:14] komalsrathi commented on #279
hmm, I dont think that gene list is applicable here.

Reason: Yuanchao's input data and model is completely different than what I have here. For instance, I am testing this on 2 different datasets: 1) PBTA HGG that were sequenced with >1 protocol 2) TARGET ALL that were sequenced with >1 protocol. He was using all matched samples from PBTA together i.e. HGG, CNS Embryonal tumor and Diffuse midline

[2022-04-14 21:04] afarrel opened #288 "Proposed Analysis: Create CNV Visualizations for Gene View and Disease view"
#### What are the scientific goals of the analysis?
Develop intuitive CNV visualizations to capture CNVs by
1. Gene: Boxplots or dot plot with all pediatric cancers on the x-axis and gene copy number (of each patient) on the y-axis
2. Disease: Capture copy number variation of genome in one plot.
3. Evidence Page: Evidence for a gene in a disease - Barplot showing the percentage of patients with th

[2022-04-15 13:45] komalsrathi commented on #279
@aadamk I see your point now, I will add this to the PR and let you know.

[2022-04-15 18:22] komalsrathi commented on #279
@aadamk I added this under [section 1.4](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/rnaseq-batch-correct/analyses/rnaseq-batch-correct/code/03-test_ruvseq.R#L145-L154) and [section 2.4](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/rnaseq-batch-correct/analyses/rnaseq-batch-correct/code/03-test_ruvseq.R#L209-L219)

[2022-04-18 14:18] migbro commented on #276
So, Alvin created this ticket, #283 which I think outlines how we want to test this out.

[2022-04-18 19:41] jharenza commented on #285
@yuankunzhu is helping @zhangb1 on this cc @afarrel

[2022-04-18 20:22] jharenza commented on #243
@migbro created https://d3b.atlassian.net/jira/software/projects/DEVOPS/boards/10?selectedIssue=DEVOPS-372&text=ped for @alubneuski

[2022-04-18 20:27] jharenza commented on #272
This appears to be fixed in the [QA load](https://pedcbioportal.kidsfirstdrc.org/results/oncoprint?cancer_study_list=ped_opentargets_2021&tab_index=tab_visualize&case_set_id=-1&case_ids=ped_opentargets_2021%3A7316-1094_353655%2Bped_opentargets_2021%3A7316-1463_357623%2Bped_opentargets_2021%3A7316-1463_373373%2Bped_opentargets_2021%3A7316-147_145943%2Bped_opentargets_2021%3A7316-159_151031%2Bped_op

[2022-04-18 20:27] #272 closed

[2022-04-18 20:33] yuankunzhu commented on #285
@zhangb1 you can use [this script](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/tcga-capture-kit-investigation/scripts/get-tcga-capture_kit.py) and modify the [line 41](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/tcga-capture-kit-investigation/scripts/get-tcga-capture_kit.py#L41) to query `cases.samples.submitter_id` using file name

[2022-04-18 20:40] jharenza commented on #229
this is completed as of this [QA load](https://kf-strides-cbioportal-qa.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021)

[2022-04-18 20:40] #229 closed

[2022-04-18 20:40] jharenza commented on #263
@runjin326 will add her code/link to PR here, but this is updated in [QA](https://kf-strides-cbioportal-qa.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021)

[2022-04-18 20:46] jharenza commented on #275
Update case lists to say "All Samples" instead of "All tumors" since GTEX is now included.

[2022-04-18 20:50] yuankunzhu commented on #285
run below
[code]
and got returns as [gdc-sample-id-return.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8508106/gdc-sample-id-return.txt)

@zhangb1 you might wanna double check as i see some sample ID looks like they are for WES, you can modify the script to query other fields, more details at [GDC API endpoint](https://docs.gdc.cancer.gov/API/Users_Guide/Appendix_A_Available_F

[2022-04-18 20:51] runjin326 opened #289 "CNV data for pedcbio load has `unknown`"
#### What data file(s) does this issue pertain to?
`consensus_wgs_plus_cnvkit_wxs.tsv.gz`
`consensus_wgs_plus_cnvkit_wxs_autosomes.tsv.gz`
`consensus_wgs_plus_cnvkit_wxs_x_and_y.tsv.gz`

#### What release are you using?

v10

#### Put your question or report your issue here.
There are some entries that have `unknown` as `status` - one looked like it is a Y chromosome for a female.
Currently being

[2022-04-18 20:52] runjin326 commented on #263
The PR for this is [here](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/163). The PR should be ready for merge now.

[2022-04-18 21:02] runjin326 commented on #229
PR for this is [here ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/163)

[2022-04-18 22:57] zhangb1 commented on #285
Okay I modified the script to get the aliquot ID from DGC, since the sample id won't be unique to the files.

[all_samples_name_aliquot_id.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8508598/all_samples_name_aliquot_id.txt)

But still they are 4 files are not unique to the aliquot ID, each has two aliquots attached to it.

[code]

@jharenza

[2022-04-18 23:15] jharenza commented on #285
@zhangb1 those are TARGET. Are all TCGA matching? If so, 👍🏻

[2022-04-19 00:20] jharenza commented on #289
@zhangb1 is this something we should discuss at the toolkit meeting? cc @aadamk

[2022-04-19 00:39] jharenza commented on #286
@migbro let's also update the description as below:

Current:
[code]

New:
[code]

Within your notion page, we should capture all details of the repo release, data release, etc. Just another FYI as well - @taylordm said we can only add the portal link once it is live, so we will have to do another update later.

[2022-04-19 00:52] jharenza opened #290 "V10 Histologies file subtyping not up to date"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v10

#### Put your question or report your issue here.
Per the comment below within a d3b repo, it looks like old MB subtypes made it into v10. As of V8 (see [comment](https://github.com/d3b-center/bixu-tracker/issues/1344#issuecomment-1099542959)), these had been updated to use only the medullo

[2022-04-19 01:50] ewafula commented on #290
@jharenza, @runjin326. This happened [here in #1](https://github.com/d3b-center/D3b-codes/pull/51#issuecomment-922092382),  which was a wholesale update of the v9 histologies file to match [v21 OpenPBTA](https://github.com/d3b-center/D3b-codes/blob/48b2ab967f61c837c6dfd265bcb160e8a3a98313/weekly_qc/pbta_v21/pbta-histologies.tsv) in addition to other subsequent updates in the thread.

The code sect

[2022-04-19 02:12] jharenza opened #291 "D3b Bix Dev Feature: Create Docker/Cavatica app for methylation array processing"
# ✨

#### [Required] Is this a new tool/workflow?
Yes

#### [Required] Which tools/workflows would you like to update/add?
#### Provide software links and `dockerPull` location if applicable
Methylation processing: https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/158
This has currently been run on isilon by @ewafula who can provide more details. There is not yet a dockerfile.

####

[2022-04-19 13:05] zhangb1 commented on #285
But which ID I should use?

[2022-04-19 13:07] zhangb1 commented on #289
@runjin326  can you post an example here?

[2022-04-19 13:19] jharenza commented on #285
I don't think we want TARGET in this batch, as we harmonized them on our own.

[2022-04-19 14:38] jharenza commented on #285
Yes

[2022-04-19 19:42] jharenza commented on #286
Spotted by @adamcresnick - fusion genes are not both displaying at patient level, and as such, oncoKB designation is missing.

OpenPedCan: https://kf-strides-cbioportal-qa.kidsfirstdrc.org/patient?studyId=ped_opentargets_2021&caseId=PT_GQZ84ACS

This is also happening across the board with our studies.
OpenPBTA: https://pedcbioportal.kidsfirstdrc.org/patient?studyId=openpbta&caseId=PT_1J2DT6MM

Th

[2022-04-19 21:16] migbro commented on #286
Ok, so I tested out using only a single hyphen on a smaller KF project. Before (using prod): https://pedcbioportal.kidsfirstdrc.org/patient?sampleId=PAUMTZ-09A-01&studyId=aml_sd_pet7q6f2_2018
After (on QA):
https://kf-strides-cbioportal-qa.kidsfirstdrc.org/patient?sampleId=PAUMTZ-09A-01&studyId=aml_sd_pet7q6f2_2018
Seems to be an improvement, but I wonder if the repeat entries hack to get both gen

[2022-04-19 21:20] migbro commented on #286
Actually, another issue is if a gene symbol is not in there database, there is a chance the fusion might be skipped, so like `AC022145.2-MLLT10`. In the file it is:
[code]
but when you look on QA how it loaded, only the MLLT10 line was used, and the gene name `AC022145.2` ignored. So, perhaps the repeat lines are ok, but depending on how much time I have, this might be the best I can do.

[2022-04-20 20:17] migbro commented on #286
Just a comment as an update. Aside from the hyphen issue, which we will adopt the single `-` separator to fix the display, the hack mentioned above seems useful to keep fusions that involve a gene and an intergenic region. It's an "ancient" problem that we can try and tackle better in the near future, but this is at least an improvement.

[2022-04-20 20:21] jharenza opened #292 "Create repo release for first version of MTP"
Create a repo release to contain analysis modules for MTP.

[2022-04-20 20:29] jharenza commented on #292
done with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/releases/tag/v1.0.0

[2022-04-20 20:29] #292 closed

[2022-04-20 21:14] dmiller15 commented on #291
@ewafula and @afarrel, for the Dockerfile I'll need a breakdown of environmental requirements to run these tools.

For the "cavatica app", do we just want tools or do we need a whole workflow? I noticed there's a bash script in the attached PR; is the hope to transform that into a workflow?

[2022-04-20 21:46] ewafula commented on #291
@dmiller15,

 Here is the updated PR that includes the `CBTN 850k arrays`: https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/169

The relevant analysis script is [01-preprocess-illumina-arrays.R](https://github.com/ewafula/OpenPedCan-analysis/blob/methylation-preprocessing/analyses/methylation-preprocessing/01-preprocess-illumina-arrays.R)

The wrapper script, [run-preprocess-illumi

[2022-04-21 04:16] jharenza commented on #286
https://kf-strides-cbioportal-qa.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021 - looks good, sending to prod!

[2022-04-21 13:22] zhangb1 commented on #285
The merged files are in cavatica project here :

tcga-gene-expression-rsem-tpm-collapsed.rds

https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-tcga-rnaseq-counts/files/62614f524d85bc2e024aafea/

tcga-gene-counts-rsem-expected_count-collapsed.rds

https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-tcga-rnaseq-counts/files/626157224d85bc2e024abc5f/

[2022-04-21 14:44] #273 closed

[2022-04-21 15:31] dmiller15 commented on #291
That sounds good. Let me know when you'd like to do the meeting.

[2022-04-21 16:08] ewafula commented on #291
@dmiller15, does 2:30Pm today work for you?

[2022-04-21 16:12] dmiller15 commented on #291
I'm busy today and tomorrow in the afternoon. I am free tomorrow morning, all day Monday, and Tuesday morning.

[2022-04-21 16:12] jharenza commented on #242
This is still an issue in the histologies file. For cancers with no subtyping, we will need to add info to the harmonized diagnosis field. This is performed in molecular subtype integrate but hasn't been used on non-PBTA samples yet because they do not undergo subtyping. @ewafula and @runjin326 let's regroup on this.

[2022-04-21 16:14] ewafula commented on #291
Let's meet tomorrow morning at 10am.

[2022-04-21 16:27] runjin326 commented on #98
We still need to adapt the remaining modules for OT to generate subtypes for comparisons.

[2022-04-21 16:42] ewafula commented on #291
Juan, if the tmp/ your  created, am assuming using TMPDIR environmental
variables, is not populating the problem is not solved. The java have
problems is expected to be intermittent. Remember your bashrc file is also
located on AFS login node not the server.

I have the same run log as yours and keeps changing with different runs
because of the intermittency issue with AFS  where the JAVA_OPTS poi

[2022-04-21 17:41] runjin326 commented on #289
@zhangb1 - yes, Miguel found one when loading to pedcbio:
[code]

[2022-04-22 19:49] logstar opened #293 "Updated analysis: assert that histology file is compatible with independent sample lists in `snv-frequencies` module"
#### What analysis module should be updated and why?

The `snv-frequencies` module needs to be updated to assert that histology file is compatible with independent sample lists in `01-snv-frequencies.R`.

In <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/167>, histology file is incompatible with independent sample lists.

#### What changes need to be made? Please provide enough

[2022-04-25 11:51] jharenza commented on #98
@komalsrathi can you work on this ticket?

[2022-04-25 12:01] jharenza commented on #293
@logstar we don't yet have a completed v11 histologies file, and once we do, it should match the genomic files. These checks are good, but just wanted to be sure that the module updates for adding samples are not going through without that v11 release.

[2022-04-25 12:03] jharenza opened #294 "Add gtex to cancer group"
Add gtex to cancer group and cancer group detailed to enable pedcbio visualization (per @adamcresnick)

@jharenza will update the file for @migbro

[2022-04-25 12:16] komalsrathi commented on #98
yes I can start working on this after [this](https://github.com/PediatricOpenTargets/ticket-tracker/issues/279) ticket is closed.

[2022-04-25 13:22] komalsrathi commented on #98
@jharenza thanks for clarifying that this can be done quickly - so I can work on it first (should not take longer than a day at most according to our discussion) and resume BC after this.

[2022-04-25 13:49] logstar commented on #294
@jharenza - `cancer_group` may have been used in certain analysis modules and API to generate results for MTP, with the assumption that gtex samples have `NA` in `cancer_group`.

I was wondering if a new column named `pedcbio_cancer_gtex_group` could be created for pedcbio visualization. The `pedcbio_cancer_gtex_group` column could have detailed cancer groups.

cc @migbro

[2022-04-25 13:52] migbro commented on #294
Um, sure, I think adding another column to the histologies file is fine, unless you wanna go a slightly different direction, like subset the histologies and create and cBio-specific columns in that one. I mention that because Run has a cBio naming module that also gets run on the histologies file in order to make the sample naming compatible with the platform. Either way, just commit to one of tho

[2022-04-25 14:10] jharenza commented on #294
@logstar this won't affect the main histologies file - I think we have a module for a pedcbio specific file and if not, we will make one!

[2022-04-25 14:29] logstar commented on #294
@jharenza - Thank you for letting me know. Sorry that I was assuming that this issue would change the`cancer_group` column in main histologies file.

Please disregard my comment and suggestion.

cc @migbro

[2022-04-25 14:38] migbro commented on #294
So...are you asking me to patch current histologies file I am working off of @jharenza ?

[2022-04-25 16:41] jharenza commented on #275
closing this in favor of #294

[2022-04-25 16:41] #275 closed

[2022-04-25 16:42] jharenza commented on #294
no worries @logstar - I wasn't totally clear!

[2022-04-25 16:42] jharenza commented on #286
closing since these specific tasks have been completed

[2022-04-25 16:42] #286 closed

[2022-04-25 16:45] jharenza commented on #263
completed in https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/163

[2022-04-25 16:45] #263 closed

[2022-04-25 16:48] jharenza commented on #243
There is a problem with this, in that we cannot view > 1M genes (samples * gene) at any given time, so we would only be able to select few samples to view this list. An alternative proposed by @adamcresnick is to break down this list into smaller, biologically-defined lists (eg kinases, cell cycle genes, etc) and upload multiple small PMTL lists. I will close this for now and create a new issue fo

[2022-04-25 16:48] #243 closed, assigned to migbro

[2022-04-25 16:49] jharenza opened #295 "Create smaller PMTL lists for pedcbio"
#### What data file(s) does this issue pertain to?
pmtl

#### What release are you using?

v10

#### Put your question or report your issue here.
Per https://github.com/PediatricOpenTargets/ticket-tracker/issues/243, we cannot put the entire PMTL list as a predefined gene list and instead, we should break this down into smaller lists.

Will gather clinician input / guidance on this cc @chinwallaa

[2022-04-25 17:30] jharenza commented on #295
Link to PMTL extended list: https://nih.box.com/s/mj1qw7brxlz8mruevxofdxnpdg2u2de6

[2022-04-25 21:54] jharenza commented on #294
Updated pedcbio file in https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/170

[2022-04-26 17:30] jharenza commented on #294
updated in pedcbio

[2022-04-26 17:30] #294 closed

[2022-04-26 17:35] jharenza opened #296 "Bix Dev PedcbioPortal Support: `tumor_type` inconsistent"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists
v10 OpenPedCan has the following `tumor_descriptor` which map to pedcbio `tumor_type` per [this table](https://github.com/kids-first/kf-cbioportal-etl/blob/feature/update-OT/COLLABORATIONS/openTARGETS/header_desc.tsv):

[code]

But, the current study ha

[2022-04-26 18:09] jharenza opened #297 "Proposed Analysis: Add Pedcbio ETL code"
#### What are the scientific goals of the analysis?
Add a module for pedcbio histologies file ETL. We might want to rework the current `https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/pedcbio-sample-name` to be a total etl module.

#### What methods do you plan to use to accomplish the scientific goals?
see above

#### What input data are required for this analysis?
h

[2022-04-26 19:20] komalsrathi commented on #98
@jharenza would 1 PR be okay for all these changes or do you want 1 PR per module?

[2022-04-26 19:34] jharenza commented on #98
I think one will be fine

[2022-04-26 20:10] jharenza opened #298 "Updates for extent of tumor resection"
#### What data file(s) does this issue pertain to?
pbta-histologies.tsv table

#### What release are you using?

OpenPedCan v10/ OpenPBTA v21

#### Put your question or report your issue here.
These samples have conflicting values for `extent_of_tumor_resection`:
`7316-116` has `Biopsy only;Gross/Near total resection`
`7316-182` has `Gross/Near total resection;Partial resection`

<img width="920"

[2022-04-26 22:03] ewafula commented on #291
@dmiller15, I  have amended the methylation preprocessing code to remove all OpenPedCan repo module dependencies and should now work on any machine with the required packages installed. There is a README file in the compressed folder that describes all the files, including the 1) `TARGET/CBTN test array datasets and corresponding manifests`, 2) `array preprocessing R script`, 3) `Perl script for c

[2022-04-26 22:56] komalsrathi commented on #98
Still working on this:

@jharenza some updates before I can create a PR:

I was able to edit and run the CRANIO, chordoma, EWS,  neurocytoma pretty easily and successfully.

For the `molecular-subtyping-embryonal` module, it keeps failing on Docker with vector memory exhaust error. I saw where the issue happens and it is because of [this function](https://github.com/PediatricOpenTargets/OpenPedCan

[2022-04-26 23:08] jharenza opened #299 "Updated analysis: add histology information for non-PBTA samples to `molecular-subtyping-integrate`"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/molecular-subtyping-integrate
Need to add `broad_histology`, `short_histology`, `harmonized_diagnosis` and `cancer_group` for non-PBTA samples.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1. PR1 - Pull in

[2022-04-26 23:22] jharenza opened #300 "Add non-PBTA base histology fields to D3b data warehouse"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v10

#### Put your question or report your issue here.
We want to get the `base` fields from the histologies file for non-PBTA / non-KF samples into the data warehouse view so they can be pulled as part of `base-adapt-histologies.tsv`.

- [x] First, split v10 histologies.tsv into non-PBTA cohort

[2022-04-26 23:32] jharenza commented on #242
I updated this in #170

[2022-04-26 23:32] #242 closed

[2022-04-26 23:42] komalsrathi commented on #98
@jharenza To test the 04-table-prep.Rmd script under molecular-subtyping-embryonal module, I would need [these](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/molecular-subtyping-embryonal/04-table-prep.Rmd#L110-L113) files. I don't think we push `cnvkit_annotated_cn_x_and_y.tsv.gz` and `controlfreec_annotated_cn_x_and_y.tsv.gz` to the repo because I recall they are

[2022-04-26 23:50] jharenza opened #301 "Add OpenPedCan study to data tracker"
#### What data file(s) does this issue pertain to?
NA

#### What release are you using?

NA

#### Put your question or report your issue here.
We need to add a study in https://data-tracker.kidsfirstdrc.org/ for file uploads for input/output.

[2022-04-26 23:50] jharenza commented on #301
Created https://data-tracker.kidsfirstdrc.org/study/SD_MRK9CPZ9/basic-info/info

[2022-04-26 23:50] #301 closed

[2022-04-27 00:02] jharenza commented on #98
yes, 100% we should subset and z-score

Hmm -

It looks like these aren't even being used here - there is some BCOR check because it is on chr X, but I would say we can use the consensus seg here rather than all 3.
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/6e0495d518b605ce3bfa9b286490253c80ee9b87/analyses/molecular-subtyping-embryonal/04-table-prep.Rmd#L278-L297

[2022-04-27 00:12] komalsrathi commented on #98
Great, thank you! I'll make those changes.

[2022-04-27 14:54] komalsrathi commented on #98
Just keeping you updated that making some final changes to the EPN module - will create a PR after testing everything so latest by EOB.

[2022-04-27 21:51] ewafula commented on #299
@jharenza,
For PR1 in this ticket, it seems @runjin326 and already pulled the code from the OPenPBTA repo and to the OpenPedCan The code is identical, and files update commit dates massages are identical too.  Therefore, PR1 for is already done

I can start with PR2 to add `cancer_group` logic to the code, and partly PR3 to add code logic for `broad_histology` and `short_histology` from a tmp file

[2022-04-28 15:52] jharenza commented on #299
@ewafula ok great - sure, you can start it!

[2022-04-30 01:55] jharenza commented on #300
Files have been added to the DT [here](https://data-tracker.kidsfirstdrc.org/study/SD_MRK9CPZ9/basic-info/info). They are ready for you @@nicholasvk

[2022-05-02 14:01] afarrel commented on #291
@chinwallaa can you grant @dmiller15 access to the opentargets drive on Isilon?

[2022-05-02 19:17] jharenza commented on #280
@zhangb1 can you add me to this project

[2022-05-02 19:21] zhangb1 commented on #280
just added . there are multiple projects related.

[2022-05-02 19:24] afarrel commented on #280
[Summary_Comparison_Results_WXS.pptx](https://github.com/PediatricOpenTargets/ticket-tracker/files/8605566/Summary_Comparison_Results_WXS.pptx)
Specificity, Sensitivity, and F scores for CNV calls vs SNP array calls

[2022-05-02 19:26] afarrel commented on #280
GATK CNV calls vs SNP array calls by panel size.
[GATK_SNP_Comparisons2.pptx](https://github.com/PediatricOpenTargets/ticket-tracker/files/8605575/GATK_SNP_Comparisons2.pptx)

[2022-05-02 20:32] ewafula commented on #290
The molecular subtypes that had been updated in v8 and overridden in v10 because of integration of the latest v21-PBTA in v10 as I described above have been brought back in the v11. I'll push the updated results, including RMD QC code to track all the fields in the OpenPedCan histologies.

[2022-05-02 20:41] ewafula commented on #269
[Part A- methylation-preprocessing;  PR #169](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/169) ready for review
[Part B- methylation-summary;  PR #165](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/165) is awaiting v11 histologies update with CBTN methylation samples to be rerun.

[2022-05-02 21:33] jharenza commented on #290
@ewafula we won't have an update yet until #98 is completed and @runjin326 reruns subtyping on the new histologies file Nick updates this week

[2022-05-02 23:53] jharenza commented on #291
if @yuankunzhu or @zhangb1 already have access, or @ewafula or @afarrel - can one of you upload the app to a CAVATICA project for @dmiller15 ?

[2022-05-03 00:02] jharenza commented on #289
@zhangb1 any updates on this?

[2022-05-03 00:11] jharenza commented on #268
closed with #162

[2022-05-03 00:11] #268 closed

[2022-05-03 00:11] jharenza commented on #265
closed with #162

[2022-05-03 00:11] #265 closed

[2022-05-03 00:12] jharenza commented on #264
closed with #162

[2022-05-03 00:12] #264 closed

[2022-05-03 00:13] jharenza commented on #153
closed with #162

[2022-05-03 00:13] #153 closed

[2022-05-03 00:21] jharenza opened #302 "Run GISTIC, make zip file for data release"
## This section is required for PM/ADAPT team

### [Required] For what study (study_id) is this request?
OpenPedCan

### [Required] Basic study information
- [x] Is this an OT or Kids First study: OT
- [ ] If KF, PI name and fiscal year:
- [ ] Study short name:

**NOTE**: Study short name is required for D3B study, but optional for Kids First X01; Fiscal year is required for Kids First X01, but op

[2022-05-03 00:25] jharenza commented on #257
@afarrel or @chinwallaa can you ask John if we can get an update on the [2019-09-30-gmkf_clinical_elements.csv](https://github.com/ewafula/D3b-codes/blob/OpenPedCan_histologies/OpenPedCan_histologies/input/KFNBL/2019-09-30-gmkf_clinical_elements.csv) file to include non-truncated primary sites, along with updated survival information since this is going on 3 years old.

[2022-05-03 00:26] jharenza commented on #257
this is not urgent for v11, so removing that label

[2022-05-03 00:27] jharenza commented on #232
closing in favor of #234

[2022-05-03 00:27] #232 closed

[2022-05-03 00:30] jharenza commented on #248
@zhangb1 did we run our variant callers on DGD data or did we just use their workflow and convert to hg38? we might want to strategize whether we add to our consensus maf or release their own maf with matching column headers

[2022-05-03 00:34] jharenza commented on #271
@migbro and @sangeetashukla - do we have this data in matrix format (eg - ideally, we should have 3 tpm matrices with identical row and column names?)

[2022-05-03 13:00] zhangb1 commented on #289
found this :  https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/focal-cn-file-preparation/01-add-ploidy-cnvkit.Rmd#L125

[    chrom == "chrY" & germline_sex_estimate == "Female" & copy.num > 0 ~ "unknown",](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/b430cbb2d7f50cc4d9f7675395e487b03c16834b/analyses/focal-cn-file-preparation/01-add-ploidy-cnvkit.Rmd

[2022-05-03 13:02] zhangb1 commented on #248
@jharenza  DGD maf files will be merged.

Xiaoyan, already has the script to merge that. DGD also used the hg38, just need to make the column as the same as our results.

[2022-05-03 15:50] afarrel commented on #257
[GWAS_TARGET_listing_20220331_FZ.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/8611680/GWAS_TARGET_listing_20220331_FZ.xlsx)
All the patients in the that gmkf list are in this list.

[2022-05-03 17:47] migbro commented on #271
@zhangb1 manifest is referenced above, with what workflow to search for to get get JAX and KF results

[2022-05-03 18:47] jharenza commented on #231
closing with #145

[2022-05-03 18:47] #231 closed

[2022-05-03 18:50] jharenza commented on #299
Note: make sure #234 is completed within this work

[2022-05-03 19:00] jharenza commented on #249
create `fusion-dgd.tsv` for this?

[2022-05-03 19:00] jharenza commented on #248
@zhangb1 great - can you call this file `snv-dgd.maf.tsv.gz` once the column names are adjusted?

[2022-05-03 19:03] jharenza commented on #250
closed with #157

[2022-05-03 19:03] #250 closed

[2022-05-03 19:05] zhangb1 commented on #271
Okay, downloading the files now. @migbro  seems we don't have the results from `Baylor pipeline `  right?

[2022-05-03 19:08] zhangb1 commented on #248
@HuangXiaoyan0106  FYI.  we can do that...

[2022-05-03 19:11] zhangb1 commented on #249
We talked this before, but the DGD fusion results have such minimal column, we can't have them in the same format of our fusion results,  for example DGD fusion results here.

[code]

[2022-05-03 19:13] jharenza commented on #258
these are now in the repo within `tmb-calculation`

[2022-05-03 19:13] #258 closed

[2022-05-03 19:13] jharenza commented on #259
this will be completed in #299

[2022-05-03 19:13] #259 closed

[2022-05-03 19:15] jharenza commented on #237
this has been updated in #147

[2022-05-03 19:15] #237 closed

[2022-05-03 19:15] jharenza commented on #278
this can be closed once #300 is done

[2022-05-03 19:30] aadamk commented on #299
For mapping files referenced above - I found this [file](https://github.com/d3b-center/D3b-codes/blob/7fbb66c8eb1dc9d8086d0c903333810a2bd9d422/OpenPBTA_v20_release_QC/input/pathology_diagnosis_for_subtyping.tsv) in `d3b-codes` for generating short and broad histologies from `pathology_diagnosis`, and [this](https://github.com/d3b-center/D3b-codes/blob/7fbb66c8eb1dc9d8086d0c903333810a2bd9d422/OpenP

[2022-05-03 19:39] jharenza commented on #271
ah - that can be found [here](https://figshare.com/articles/dataset/RNA-Seq_data_files/7751825) - @sangeetashukla do you have these files?

@zhangb1 can you use `Model` for the sample name in the files please?

[2022-05-03 19:40] jharenza commented on #249
looks like `Entrez_Gene_Id` is missing - can you just remove that and we can just create a tsv called `fusion-dgd.tsv` of what you have above

[2022-05-03 19:43] sangeetashukla commented on #271
@jharenza No, I did not have those files, I discussed it with @afarrel and he said we could skip the Baylor pipeline for now. But now that I have those files, I will look into them.

[2022-05-03 19:53] ewafula commented on #299
This has already been updated in the ongoing v11 histologies file  among the completed list of associated tickets:
https://github.com/ewafula/D3b-codes/tree/v11-OpenPedCan/v11-OpenPedCan

[2022-05-03 19:56] ewafula commented on #299
I'll finish this ticket,  [#299](https://github.com/PediatricOpenTargets/ticket-tracker/issues/299) by tomorrow. Finishing up optimizing the `metylation-summary` module (discussed with @afarrel  on slack)

[2022-05-03 19:57] zhangb1 commented on #249
@HuangXiaoyan0106 FYI ^

[2022-05-03 20:20] zhangb1 commented on #271
Okay, uploaded the merged two matrix in the project here :

[code]

https://cavatica.sbgenomics.com/u/d3b-bixu/open-targets-pdx-workflow-dev/files/62718deb4d85bc2e0271ef09/
https://cavatica.sbgenomics.com/u/d3b-bixu/open-targets-pdx-workflow-dev/files/62718e284d85bc2e0271ef0f/

[2022-05-04 01:20] HuangXiaoyan0106 commented on #248
@zhangb1  Done

[2022-05-04 12:30] runjin326 commented on #249
Once complete - could you please put the file in s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/ and update the md5sum? Thanks!

[2022-05-04 12:30] runjin326 commented on #248
@HuangXiaoyan0106 - could you please put the file in s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/ and update the md5sum? Thanks!

[2022-05-04 12:32] runjin326 commented on #246
@afarrel - are we still doing this? I think the current plan is to release fusion and MAF from DGD separate from other cohorts. The question is, do we want to add tier info or release as a separate file?

[2022-05-04 12:34] runjin326 commented on #285
@zhangb1 - could you please put the files in s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/ and update the md5sum file? For some reason, Cavatica kept giving me error messages - maybe I do not have access or something.

[2022-05-04 12:38] runjin326 commented on #255
Will make a new ticket for subtyping for v11

[2022-05-04 12:38] #255 closed

[2022-05-04 12:38] runjin326 commented on #256
Will make a new ticket for subtyping for v11

[2022-05-04 12:38] #256 closed

[2022-05-04 12:47] runjin326 opened #303 "Rerun all molecular subtyping for v11 data release"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v11

#### Put your question or report your issue here.
Re-run all molecular subtyping related modules with v11 data files

First re-run all the preprocessing modules
- [x] fusion-summary
- [x] gene-set-enrichment-analysis
- [x] run-gistic
- [x] tp53_nf1_score

Then rerun all subtyping modules
- [x

[2022-05-04 12:50] runjin326 opened #304 "Rerun independent sample list once v11 histologies file is ready"
#### What data file(s) does this issue pertain to?
independent-specimens.*

#### What release are you using?

v11

#### Put your question or report your issue here.
Please re-run the independent-samples module once v11 histologies file is ready.

[2022-05-04 12:51] runjin326 commented on #269
Once the file is ready, please upload the file to s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/ and update the md5sum.

[2022-05-04 12:51] jharenza commented on #271
@zhangb1 sorry for not asking before - can you remap these matrices to gene symbols please

[2022-05-04 13:00] zhangb1 commented on #271
@jharenza you mean do the collapsed ?

[2022-05-04 14:26] logstar opened #305 "Updated analysis: update `Dockerfile` to install R package `ids`"
#### What analysis module should be updated and why?

`Dockerfile` should be updated to install R package `ids`, because `ids` is used in `snv-frequencies` and `fusion-frequencies` modules to add UUIDs to each row of the result tables. The `ids` package is used in <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/110>  and <https://github.com/PediatricOpenTargets/OpenPedCan-analysi

[2022-05-04 14:52] zhangb1 commented on #271
@jharenza  , @migbro  , I am tying to covert the esemble id to gene_id and found an issue, seems there is one sample as `Not reported` in the Model, any suggest for the name I need to use? or just use `Not reported`?

[code]

[2022-05-04 17:45] jharenza opened #306 "base-histologies file has duplicated rows"
#### What data file(s) does this issue pertain to?
`histologies-base-adapt.tsv`

#### What release are you using?
pulled today by @komalsrathi - https://github.com/d3b-center/d3b-bixu-data-assembly/issues/14#issuecomment-1117617996

#### Put your question or report your issue here.
This was an issue in the past and was previously fixed, but I think it might have something to do with data being pul

[2022-05-04 18:27] jharenza commented on #271
@zhangb1 this model is `NCH-ARMS-2-NCH-S13-7484`

[2022-05-04 18:29] jharenza commented on #271
below are the TSBs for RNA I have, and the models (should have 261)

[code]

[2022-05-04 18:48] ewafula commented on #269
@afarrel, can you upload the `TARGET and CBTN methylation preprocessing results` to the S3 bucket. Only a few in our group have access. I don't.  You'll upload the downstream results (`beta/m-value matrices` and `methylation summary table`) produced by the `methylation-summary module` when the v11 histologies file is ready. Here are the md5 checksums of the files located in the OT storage on Isilo

[2022-05-04 18:58] zhangb1 commented on #248
I just uploaded the file to the v11 folder :

s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/snv-dgd.maf.tsv.gz

md5 also updated

[2022-05-04 19:01] jharenza commented on #269
@ewafula can you merge the cohorts altogether, and also keep with the naming conventions within the repo, so something like:
`methyl-beta.tsv.gz` and `methyl-m.tsv.gz`?

[2022-05-04 19:16] jharenza opened #307 "Bring select X01s into histologies table view"
#### What data file(s) does this issue pertain to?
`histologies-base-adapt.tsv`

#### What release are you using?
NA

#### Put your question or report your issue here.
We now have dbGAP access to:
- Kids First: Familial Predisposition to Hematopoietic Malignancies (SJFAMILY-HM) 2016 Mulligan
- Kids First Pediatric Research Program in Susceptibility to Ewing Sarcoma Based on Germline Risk and Famil

[2022-05-04 19:34] zhangb1 commented on #271
Okay, collapsed files are in the project now:

https://cavatica.sbgenomics.com/u/d3b-bixu/open-targets-pdx-workflow-dev/files/6272d372d63f7c6d8d3a8480/

https://cavatica.sbgenomics.com/u/d3b-bixu/open-targets-pdx-workflow-dev/files/6272d342d63f7c6d8d3a81ca/

PPTC-JAX-gene-expression-rsem-tpm-collapsed-matrix.tsv
PPTC-KF-gene-expression-rsem-tpm-collapsed-matrix.tsv

[2022-05-04 19:41] jharenza commented on #271
thanks @zhangb1 !

[2022-05-04 19:48] ewafula commented on #269
@jharenza, as discussed on slack, I assume we are no longer uploading the methylation pre-processing results, but the downstream methylation scores matrices and the methylation summary table. The cohorts are merged together in these.  I'll rename the two files following the convention you have shown above:
[code]

[2022-05-04 21:54] runjin326 opened #308 "TCGA & histologies specimen id cross check"
#### What data file(s) does this issue pertain to?
histologies.tsv
tcga-gene-expression-rsem-tpm-collapsed.rds
tcga-gene-counts-rsem-expected_count-collapsed.rds

#### What release are you using?

v11

#### Put your question or report your issue here.
Please check to make sure all the samples in the count and expression matrix are present in histologies file.

[2022-05-04 23:44] ewafula commented on #299
@jharenza, I have a few questions pertaining to this ticket.
You asked that I update the code snippets in the links included in the ticket for non-PBTA cohorts.  It is pretty straightforward to make inferences for GMFK and TARGET for  `broad_histology`, `short_histology`, and `cancer_group` from the `pathology_diagnosis` column in the base histologies file. I am making an assumption that the non-P

[2022-05-05 01:17] jharenza opened #309 "`short_histology` for PBTA not correct"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v10

#### Put your question or report your issue here.
The `short_histology` column has `broad_histology` values. This will be fixed in v11 with a rerun of the molecular subtyping modules in #303

[2022-05-05 01:22] jharenza opened #310 "Updated analysis: molecular-subtyping-MB to include to be classified for WGS"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/molecular-subtyping-MB needs to be updated to match the code in OpenPBTA, in which https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/molecular-subtyping-MB/04-no-RNA-samples.R was added.

#### What changes need to be made? Please provide enough de

[2022-05-05 01:28] jharenza opened #311 "Updated analysis: molecular-subtyping-pathology"
#### What analysis module should be updated and why?
`molecular-subtyping-pathology`
We are missing `SEGA` recode from `LGG` in molecular subtypes

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add
[code]

after line 124 in https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/46a9d5c0656742b79aa472eadbd78f8bdd720fe4/analyses/molecula

[2022-05-05 01:51] jharenza commented on #299
Yes, that is the idea, so we would start this module with the base file in `/data`. Actually, it may make sense to drop the v11 file you created thus far into the `/results` folder of this module (arranged by BS_id) via PR so that when you make these code updates we can see what exactly changed (hopefully not much!).

I think we may need to create a quick google doc to work on that.

For those, we

[2022-05-05 13:27] jharenza commented on #303
Note this issue re tp53 https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1362

[2022-05-05 20:19] nicholasvk commented on #306
I have fixed this issue. It was introduced when bringing in the DGD because we had to adjust our joins to account for DGD records not having genomic files registered in Kids First.

[2022-05-05 20:19] #306 closed

[2022-05-06 17:58] runjin326 opened #312 "Rename *.bed files in TMB module"
#### What data file(s) does this issue pertain to?
*.bed files in TMB module

#### What release are you using?

v11

#### Put your question or report your issue here.
Rename all the bed files to `cohort_{seq_method/center}_{experimental_strategy}.bed` (or with additional information that can distinguish the match).
Additionally, if needed, also modify the module to take the new file names.

[2022-05-06 19:10] jharenza commented on #271
Hi @migbro - it looks like we have a disconnect on models which were run through the pipelines and those which were released via the manuscript, and it is possible I will have to go back to dbGAP to get them to remove some BAMs which were not in use.

Please see attached for 244 models which should be included.
[244-pptc-models.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8643

[2022-05-07 19:22] jharenza opened #313 "Update mol subtyping pathology"
Per this [ticket](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1389), make the updates in https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1387

Who will do this?

@runjin326

[2022-05-07 19:23] jharenza commented on #311
This is now a part of #313

[2022-05-07 19:23] #311 closed

[2022-05-07 19:23] jharenza commented on #310
closed with #171

[2022-05-07 19:23] #310 closed

[2022-05-07 19:25] jharenza opened #314 "Updated analysis: TP53 classifier - update dockerfile"
#### What analysis module should be updated and why?
`tp53_nf1_score`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Pull in code from https://github.com/AlexsLemonade/OpenPBTA-analysis/pull/1362

#### What input data should be used? Which data were used in the version being updated?

#### When do you expect the revised analysis will be

[2022-05-09 13:44] jharenza commented on #63
This will probably be @runjin326 to generate the data while @devbyaccident works on GA

[2022-05-09 13:45] jharenza commented on #314
Just the dockerfile for this ticket please

[2022-05-09 19:16] jharenza commented on #276
@migbro this is the manifest of all DNA samples for which we should have MAFs for this project

[pptc-dna-mafs.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8654652/pptc-dna-mafs.txt)

[2022-05-10 17:12] migbro commented on #271
In SRA, searching by model, I found all but:
[code]

After clicking through a maze of links leading me to here:
https://www.ncbi.nlm.nih.gov/sra?linkname=bioproject_sra_all&from_uid=400658

[2022-05-10 19:13] logstar commented on #305
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/172> merged.

[2022-05-10 19:13] #305 closed

[2022-05-11 14:47] dmiller15 commented on #291
I have been given access, allegedly, to Isilon but the directions that the Service Center provided do not seem to be working for me.

[2022-05-11 14:51] jharenza commented on #291
@ewafula can you help

[2022-05-11 14:54] chinwallaa commented on #291
@dmiller15 can you send me the instructions they sent you for access - (should be instructions for accessing both via SMB and NFS)

[2022-05-11 14:56] ewafula commented on #291
@jharenza, had a chat on slack with @dmiller15 and already contacted  @chinwallaa and @afarrel for help.

[2022-05-11 14:58] migbro commented on #291
Alternatively, to echo @jharenza , if one already has access to isilon, it is quite easy for a user to upload a file to a project. Bascially:
1. get seven bridges CLI: https://docs.sevenbridges.com/docs/command-line-interface
2. Create a credentials file in your home dir if you haven't already: https://docs.sevenbridges.com/docs/store-credentials-to-access-seven-bridges-client-applications-and-lib

[2022-05-11 15:21] chinwallaa commented on #291
@migbro just requested access for you to the /mnt/isilon/opentargets share.  Miguel what server (HPC and/or VM)  do you login into, to  access isilon shares via NFS.

[2022-05-11 15:32] migbro commented on #291
I use the VMware Horizon Client, login tot he`CHOP-EDU` domain with my CHOP username and password.
I don't remember how, but I connect to the beyond.chop.edu endpoint, to reach `RES-RHEL-HPC`

That will give me a virtual desktop with `/mnt/isilon` accessible in that vm interface using the terminal app within that vm.

I had tried using `smb://ressmb03.research.chop.edu`, but the `opentargets` fold

[2022-05-11 15:55] chinwallaa commented on #291
the opentargets share is set up for NFS protocol (so need to access via a linux VM/server within CHOP firewall).  Will follow up with RIS to add SMB to the share.

[2022-05-11 20:54] jharenza opened #315 "Updated analysis: `snv-frequencies` to add HGVSg"
#### What analysis module should be updated and why?
`snv-frequencies` - FNL is updating the MTP software which utilizes HGVS genomic ids which will help better visualize INDELS. Currently, we only have `HGVSp_Short` in our tables.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
https://github.com/PediatricOpenTargets/OpenPedCan-analysis

[2022-05-12 13:13] runjin326 commented on #253
@zhangb1 - do we have any updates on the status of this ticket?

[2022-05-12 13:16] runjin326 commented on #249
@HuangXiaoyan0106, any update on this?

[2022-05-12 13:17] zhangb1 commented on #253
humm, I missed this ticket...

Do we know which PNOC samples need to merged to V11, we have the patient up to 54 now .. but missing one patient 53 which is the last patient of PNOC

[2022-05-12 13:18] runjin326 opened #316 "Re-run fusion filtering module after fusion results from PNOC merged"
#### What data file(s) does this issue pertain to?
fusion-putative-oncogenic.tsv

#### What release are you using?

v11

#### Put your question or report your issue here.
Re-run fusion filtering module after PNOC fusion results merged.

[2022-05-12 13:21] zhangb1 commented on #253
@jharenza  seems you will confirm with Adam, do we know we need to wait for the last patient ?  should be come back in this week or so.

[2022-05-12 14:57] migbro commented on #296
@jharenza or @runjin326 perhaps if you can review this:
[code]
And tell me exactly how it should map to: https://docs.cbioportal.org/file-formats/#clinical-sample-columns (see `SAMPLE_TYPE, TUMOR_TISSUE_SITE or TUMOR_TYPE` bullet), I can feel more confident about mapping the values to leverage the functionality of the column. In the next iteration in which the histologies file is in the warehouse,

[2022-05-12 17:04] jharenza commented on #253
Yes, we will wait

[2022-05-12 18:11] jharenza commented on #314
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/175

[2022-05-12 18:11] #314 closed

[2022-05-12 18:28] jharenza opened #317 "Create weekly QC for `histologies.tsv`"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### Put your question or report your issue here.
Implement https://github.com/d3b-center/D3b-codes/tree/master/weekly_qc (https://github.com/d3b-center/D3b-codes/blob/master/weekly_qc/01-QC_histology.Rmd) for `histologies-base.tsv`

### Who will do this?
@HuangXiaoyan0106
@yuankunzhu

cc @aadamk

[2022-05-13 18:13] jharenza commented on #271
@migbro have you been able to grab these missing files?

[2022-05-16 17:52] migbro commented on #291
Group access has come through. Cavatica project created here: https://cavatica.sbgenomics.com/u/d3b-bixu/ot-methylation-dev/files/#q, test tar ball has also been uploaded. @dmiller15 is aware and can take it from here

[2022-05-17 17:50] logstar commented on #287
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/167> merged.

[2022-05-17 17:50] #287 closed

[2022-05-18 17:38] dmiller15 commented on #291
Ok the CWL has been written and I've got a couple of test runs done here:
CBTN: https://cavatica.sbgenomics.com/u/d3b-bixu/ot-methylation-dev/tasks/325f9e65-deb6-4857-ad86-55df8f356f49/
TARGET: https://cavatica.sbgenomics.com/u/d3b-bixu/ot-methylation-dev/tasks/f10aefd2-a363-464a-9e1f-c0adc7b7b6b6/

Let me know where you'd like the code, and I'll push it there to complete this task.

[2022-05-18 18:14] migbro commented on #291
If you want to follow what was done for DESeq2, it was placed in analyses:
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/tumor-normal-differential-expression
So @ewafula , please advise where the current methylation tool was placed, and @dmiller15 can add the folder structure as was done here (adding a `tools` and `workflows` dir). Also, @sangeetashukla had created

[2022-05-18 18:18] jharenza commented on #291
One other thing to note is that we probably want to add this to our somatic workflow for KF as well (or the toolkit?). Eg - we have more CBTN methylation incoming and will want to process via this method.

[2022-05-18 18:30] migbro commented on #291
Well, probably not the prod somatic workflow. That workflow operates on sequencing read data, I think this is array data. As far as I know, this is kind of atypical, unless there are plans to do methylation arrays on all KF studies from now on. Perhaps as it's own wf...

[2022-05-18 18:33] jharenza commented on #291
@migbro gotcha - yeah probably as its own then. I think we are getting more arrays from NCI via the P30s so maybe this becomes a part of @zhangb1 's run of the toolkit for these CCDI initiatives?

[2022-05-18 18:39] jharenza commented on #313
closed with #https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/174

[2022-05-18 18:40] jharenza commented on #312
@ewafula can you take this?

[2022-05-18 18:41] jharenza commented on #307
cc @migbro on this. This will be for the next release- not urgent now, but something we should brainstorm

[2022-05-18 19:22] #313 closed

[2022-05-18 19:23] jharenza commented on #300
This view has been completed by @nicholasvk

[2022-05-18 19:23] #300 closed

[2022-05-18 20:02] jharenza commented on #289
Hmm, I think we ought to recode the above to `NA` in our code and likewise yours @zhangb1 - I will create a ticket.

[2022-05-18 20:03] jharenza opened #318 "Update ploidy for female Y chr >0 calls"
Per the below discussion, we should recode
[code]

to
[code]

to enable gistic-like formatting for pedcbio

found this :  https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/focal-cn-file-preparation/01-add-ploidy-cnvkit.Rmd#L125

[    chrom == "chrY" & germline_sex_estimate == "Female" & copy.num > 0 ~ "unknown",](https://github.com/PediatricOpenTargets/OpenPedCan-analys

[2022-05-18 20:04] jharenza commented on #318
@sangeetashukla can you make this quick update please

[2022-05-18 20:05] jharenza commented on #289
Created #318 to update this

[2022-05-18 20:05] #289 closed

[2022-05-18 20:07] sangeetashukla commented on #318
@jharenza Sure, I will work on this now.

[2022-05-18 21:34] dmiller15 commented on #291
I went ahead and made a PR: https://github.com/ewafula/OpenPedCan-analysis/pull/1. It's in @ewafula's repository as that's where the base branch is located. Can change later it doesn't automatically change after the merge.

[2022-05-19 03:01] jharenza opened #319 "Check `kf_visibility` for methylation"
#### What data file(s) does this issue pertain to?
histologies-base.tsv

#### What release are you using?

`openpedcan_histologies_20220513.tsv`

#### Put your question or report your issue here.
Methylation has NA or FALSE in `kf_visibility`. I think they should either be NA or TRUE (but not sure if registered yet). Can you check on this @nicholasvk ?

[2022-05-19 17:50] migbro commented on #296
Awesome! Thanks, I will update the code to reflect this, then start the long slog of a load into QA for review

[2022-05-19 17:53] jharenza commented on #296
Thank you - if you can add the code to the PedCan repo as well, that would be fantastic :)

[2022-05-19 19:24] jharenza opened #320 "Updated analysis: focal cn prep"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/focal-cn-file-preparation

This module has two run scripts, but we should only maintain one. I _think_ what we want to use is [run-prepare-cn-OpenTarget.sh](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/focal-cn-file-preparation/run-prep

[2022-05-19 19:51] jharenza opened #321 "Updated analysis: immune-deconv to include quanTIseq"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/immune-deconv

Add quanTIseq to this module

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Sync changes from https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/immune-deconv to this mo

[2022-05-19 19:58] jharenza opened #322 "Updated analysis: mutational signatures pull OpenPBTA code/overhaul"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/mutational-signatures

This analysis was updated in OpenPBTA to focus on CNS-specific signatures, which is something we may want to carry over here for PBTA tumors.

#### What changes need to be made? Please provide enough detail for another participant to make the upd

[2022-05-20 21:54] jharenza opened #323 "`histologies-base.tsv` missing DGD `sample_id`, possibly all normals, other info"
#### What data file(s) does this issue pertain to?
2022-05-20 download of `histologies-base.tsv` is missing `sample_id` for all DGD samples

#### What release are you using?

NA

#### Put your question or report your issue here.
With the latest pull,
1. All DGD samples are missing `sample_id`
2. All 699 samples are Tumor, but only 697 have `experimental_strategy == Targeted Sequencing` (BS_DKZ8JFR

[2022-05-20 21:58] jharenza opened #324 "Add D3b warehouse table for BS_id mapping to study"
#### What data file(s) does this issue pertain to?
histologies-base.tsv

#### What release are you using?

NA

#### Put your question or report your issue here.
We would like to add a table which contains all `BS_IDs` and `study_id`. This will be for internal use only, but would contain fine-grained information, including specific clinical trial numbers, and for PBTA, would either be `PBTA, PBTA-U

[2022-05-20 22:14] jharenza opened #325 "Notes for DGD histologies cleanup"
#### What data file(s) does this issue pertain to?
`histologies-base.tsv`

#### What release are you using?

NA

#### Put your question or report your issue here.
Some things that we need to ask Marilyn Li:
1. All samples are missing `composition`. We cannot gather that on our end, so we need to get the information from DGD directly. The questions are: a) Can we make all solid tumor samples with `

[2022-05-20 22:16] jharenza commented on #308
@zhangb1 or @HuangXiaoyan0106 can you do this check please?

[2022-05-23 16:43] jharenza commented on #323
Let me do a re-pull @nicholasvk. Is there a way to get a version, or would it just be a timestamp?

[2022-05-23 17:26] jharenza commented on #323
Ok, this was my import into R issue - needed to increase my `guess_max()`!

This issue still exists. Will also loop in @yuankunzhu and @zhangb1 here about what type of library prep was performed so we can annotate an `RNA_library` to distinguish RNA and DNA samples.

We still do not have _DGD_ normals in view. @yuankunzhu were normals used for the analyses?

[2022-05-23 17:27] yuankunzhu commented on #323
I don't think DGD do sequencing for normals?

[2022-05-23 18:09] jharenza commented on #248
@zhangb1 I was just checking out the DGD merged MAF and noticed that the `Tumor_Sample_Barcode` is the `sample_id`, but to be consistent with the other files, can you update this to the `Kids_First_Biospecimen_ID` please?

[2022-05-23 18:20] jharenza commented on #249
@zhangb1 can you add me to the project above please

[2022-05-23 18:25] zhangb1 commented on #248
@HuangXiaoyan0106  can you check this?   seems we only concatenate the original DGD maf files together.

the BS ID matched maf file is in the datawarehouse

![Uploading image.png…]()

[2022-05-23 18:33] zhangb1 commented on #249
Sorry for the late

The DGD fusion files are in the bucket now

s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/fusion-dgd.tsv.gz

[2022-05-23 20:05] taylordm opened #326 "Bix Ops harmonization request , [study name]"
## This section is required for PM/ADAPT team

### [Required] For what study (study_id) is this request?
Kids First: Familial Predisposition to Hematopoietic Malignancies (SJFAMILY-HM)
phs001738/GRU

[phs001738](http://www.ncbi.nlm.nih.gov/projects/gap/cgi-bin/study.cgi?study_id=phs001738.v1.p1)

### [Required] Basic study information
- [ ] Is this an OT or Kids First study: Kids First
- [ ] If KF

[2022-05-23 20:08] #326 closed

[2022-05-23 20:18] taylordm opened #327 "OPC Processing Mulligan 2016 Hematopoetic Malignancy Data"
#### What data file(s) does this issue pertain to?
 Kids First: Familial Predisposition to Hematopoietic Malignancies (SJFAMILY-HM)
KF: Mulligan 2016
phs001738/GRU

Somatic variants (no RNA-seq)

#### What release are you using?

v11

#### Put your question or report your issue here.
Need to process this X01 dataset through OpenPedCan

[2022-05-23 20:20] taylordm opened #328 "OPC Processing Schiffman 2016 Ewing Sarcoma Data"
#### What data file(s) does this issue pertain to?
KF: Kids First Pediatric Research Program in Susceptibility to Ewing Sarcoma Based on Germline Risk and Familial History of Cancer
Schiffman 2015
dbgap phs001228/GRU

#### What release are you using?

v11

#### Put your question or report your issue here.

Analysis on RNA-seq, somatic calls.

[2022-05-23 20:24] taylordm opened #329 "OPC Processing Onel 2015 Osteosarcoma"
#### What data file(s) does this issue pertain to?

Kids First: Genomic Analysis of Treatment Failure in Pediatric Osteosarcoma
KF: Onel 2015
dbGAP phs001714/GRU

#### What release are you using?

#### Put your question or report your issue here.
RNA-seq, and somatic calls.

[2022-05-23 20:29] jharenza commented on #323
@nicholasvk it looks like BS_DKZ8JFR8 and BS_MADCWWMX, which have NA experimental_strategy, are not in the genomics file, so I suppose we can remove those on our end.

So the only remaining to do for this ticket will be 4.

[2022-05-24 00:37] jharenza commented on #320
@zhangb1 wanted to alert you to this, which will affect your downstream CNV toolkit analyses

[2022-05-24 00:50] jharenza commented on #308
@zhangb1 or @HuangXiaoyan0106 can you do this check please?

[2022-05-24 01:19] jharenza opened #330 "Column inconsistencies in current `histologies-base-adapt.tsv`"
#### What data file(s) does this issue pertain to?
`histologies-base-adapt.tsv`

#### What release are you using?

pull from 2022-05-23

#### Put your question or report your issue here.
`cns_region` should be `CNS_region` based on past files, but since we are adding this after pulling the base file, maybe we should just remove this column from the data warehouse table?
`parental_aliquot_id` is mi

[2022-05-24 01:22] jharenza opened #331 "Update DGD cohort in `histologies-base-adapt.tsv`"
#### What data file(s) does this issue pertain to?
`histologies-base-adapt.tsv`

#### What release are you using?

20220523

#### Put your question or report your issue here.
For all DGD samples, please make cohort == DGD, even if there are other samples for these patients sequenced through CBTN. This will allow us to keep the cohorts separate based on the sequencing.

[2022-05-24 01:23] jharenza commented on #325
cc @allisonheath @baileycfarrow

[2022-05-24 03:29] HuangXiaoyan0106 commented on #308
all samples in rsem files are present in the histology file.
[histology_sample_bs.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8759335/histology_sample_bs.txt)
[rsem_sample_bs.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8759332/rsem_sample_bs.txt)

[2022-05-24 03:51] HuangXiaoyan0106 commented on #248
@zhangb1 @jharenza
Yes, we just formatted the dgd maf header the same as our maf files and then concatenate them without changing anything else. These formatted maf files are also used for monthly releases of maf files merging.

Do we just need to change the `snv-dgd.maf.tsv.gz` file or need to change all formatted maf files for monthly release?

[2022-05-24 11:03] jharenza opened #332 "Re-pull GMKF/TARGET base files into data warehouse"
#### What data file(s) does this issue pertain to?
base histologies

#### What release are you using?

NA

#### Put your question or report your issue here.
Pull the most recent files into the data warehouse view please.

[2022-05-24 12:14] jharenza commented on #248
I think to be consistent, we should use bs_id for all TSBs.

[2022-05-24 13:15] nicholasvk commented on #323
Confirming that we discussed these two samples and they are for "Real time" workflow samples sequenced with Tempus that we were asked to register under the DGD study. Komal requested that these then be added into the histologies file for analysis.

[2022-05-24 13:15] #323 closed

[2022-05-24 13:22] nicholasvk commented on #330
cns_region - Yes, looks like this changed when I needed to create a staging table with column names that conform to database standards (no capitalization). I can remove it, but this means we need to remove it for all all cohorts in openpedcan and just want to confirm that is OK.

parental_aliquot_id : This was a historical field we removed a couple of years ago. It was populated with SDG ID becaus

[2022-05-24 19:25] jharenza commented on #327
@zhangb1 @bmennis or @HuangXiaoyan0106 can you get me a count of samples and participants per experimental strategy for these?

[2022-05-24 19:25] jharenza commented on #328
@zhangb1 @bmennis or @HuangXiaoyan0106 can you get me a count of samples and participants per experimental strategy for these?

[2022-05-24 19:26] jharenza commented on #329
@zhangb1 @bmennis or @HuangXiaoyan0106 can you get me a count of samples and participants per experimental strategy for these?

[2022-05-24 19:45] zhangb1 commented on #254
rerun the consensus call now , using the latest genecode.

[2022-05-24 20:44] nicholasvk commented on #332
This is completed and in production

[2022-05-24 20:44] #332 closed

[2022-05-24 20:44] nicholasvk commented on #331
CBTN DGD samples have been flagged as part of DGD cohort in production.

[2022-05-24 20:44] #331 closed

[2022-05-24 20:45] nicholasvk commented on #330
CNS_region update in production.

[2022-05-24 20:45] #330 closed

[2022-05-24 21:21] bmennis commented on #327
Ok so from the Mulligan delivery project https://cavatica.sbgenomics.com/u/kids-first-drc/sd-w0v965xz/files/ there are:
2 RNAseq aligned read samples
368 WGS aligned read samples
2 WXS aligned read samples

[2022-05-24 21:24] bmennis commented on #328
From the delivery project https://cavatica.sbgenomics.com/u/kids-first-drc/sd-ygva0e1c/files/#q it looks like there are:
1082 WGS aligned reads samples

[2022-05-24 21:26] bmennis commented on #329
From the delivery project https://cavatica.sbgenomics.com/u/kids-first-drc/sd-zxjffmef/files/#q there are:
126 WGS aligned reads samples
185 WXS aligned reads samples

[2022-05-24 21:44] jharenza commented on #327
@chinwallaa @taylordm ^

[2022-05-24 21:45] jharenza commented on #328
@chinwallaa @taylordm ^

[2022-05-24 21:45] jharenza commented on #329
@taylordm @chinwallaa ^

Thank you @bmennis

[2022-05-24 22:32] ewafula commented on #312
@jharenza, @runjin326, I have listed the bed files used in the TMB module. It is a bit challenging for me to name them appropriately as suggested by @runjin326 -  `(cohort_{seq_method/center}_{experimental_strategy}.bed)` - without the file likely losing the original descriptive name meaning or in some instances having a bed file named multiple times. Please assist with further suggestions on how

[2022-05-25 02:45] jharenza opened #333 "Add `histologies-base.tsv` to data release"
#### What data file(s) does this issue pertain to?
v11

#### What release are you using?

v10

#### Put your question or report your issue here.
This file is not currently in the release and is required for molecular subtyping.

[2022-05-25 03:29] jharenza opened #334 "`sample_id` and `aliquot_id` leading zeroes missing"
#### What data file(s) does this issue pertain to?
`histologies-base.tsv`

#### What release are you using?

current

#### Put your question or report your issue here.
This is stemming from base files from the data tracker - can you check the import for these and can we retain leading zeroes?

[changes_in_sample_id.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8767665/changes_i

[2022-05-25 03:38] jharenza opened #335 "wrong levels for composition/tumor descriptors in `histologies-base.tsv`"
#### What data file(s) does this issue pertain to?
`histologies-base.tsv`

#### What release are you using?

current

#### Put your question or report your issue here.
The following samples have "Tumor" in both `composition` and `tumor_descriptor` for these samples. Probably should be `Solid Tissue` for composition, and perhaps `Initial CNS Tumor` for tumor descriptor.
[changes_in_tumor_descriptor

[2022-05-25 03:47] jharenza opened #336 "recodes for `tumor_descriptor` in `histologies-base.tsv`"
#### What data file(s) does this issue pertain to?
`histologies-base.tsv`

#### What release are you using?

current

#### Put your question or report your issue here.
Can we do a recode of:
- `Initial Tumor/Cancer Diagnosis` --> `Primary Tumor` and
- `Recurrence/Relapse` --> `Recurrence`

(to harmonize DGD to CBTN/TARGET/etc values?)

[2022-05-25 04:58] jharenza commented on #308
these ids are now also in the new base file [here](https://github.com/d3b-center/D3b-codes/pull/68).  @runjin326 can you make sure these RDS files are on S3 and md5sums updated?

[2022-05-25 13:07] zhangb1 commented on #254
[code]

CNV annotation files updated in the v11 bucket....

[2022-05-25 14:21] zhangb1 commented on #248
snv-dgd.maf.tsv.gz with the BS_ID has been updated in the v11 folder..

[2022-05-25 15:58] runjin326 commented on #308
@HuangXiaoyan0106 - Look like the two files in the bucket were not updated. Could you please upload the two files to here and update the md5sum.txt? Thanks!
s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/

[2022-05-25 16:03] zhangb1 commented on #308
Sorry ,I am uploading now....

[2022-05-25 16:51] runjin326 commented on #308
Thanks so much!

[2022-05-25 17:08] runjin326 commented on #312
Hi @ewafula - thanks so much for giving this a try. Do you still have the match file I gave you? the file that matches the sample to the appropriate bed file to be used. Maybe we can join that table with our histology file and try to see whether we can come up with something?

[2022-05-25 18:00] runjin326 commented on #254
@zhangb1 - thanks so much!

[2022-05-25 18:01] runjin326 commented on #253
Thanks @zhangb1 !

[2022-05-25 18:21] ewafula commented on #312
@runjin326, thank you for taking the time to look at this. I did actually do a join with the histologies file and tried to mutate a new column with new file names. But a lot of info in the original filename is lost and some files get multiple new names. We might need to rename these few files manually.  I have attached both files and display the unique names of the join following the requirement o

[2022-05-26 14:05] #99 closed

[2022-05-26 20:25] jharenza opened #337 "Make `OS_days` numeric in `histologies-base.tsv`"
#### What data file(s) does this issue pertain to?
`histologies-base.tsv`

#### What release are you using?

current

#### Put your question or report your issue here.
Please convert `Not Reported -->NA` and convert column to numeric for analyses purposes.

[2022-05-26 20:42] #336 closed

[2022-05-26 20:42] jharenza commented on #337
need to take care of this downstream, as the database will only handle NA as NULL, which will still be character in R

[2022-05-26 20:42] #337 closed

[2022-05-26 20:42] #334 closed

[2022-05-27 20:46] jharenza opened #338 "different `pathology_free_text_diagnosis` for same `sample_id`"
#### What data file(s) does this issue pertain to?
`histologies-base.tsv`

#### What release are you using?

current

#### Put your question or report your issue here.
I _think_ that `pathology_free_text_diagnosis` should come from the sample id level data, not bs_id level data, and the following are duplicates, so not sure if there is a bug in code somewhere on this. In some cases, it looks like

[2022-05-31 12:08] afarrel opened #339 "Proposed Analysis: Create RSEM Isoform TPM expression table"
#### What are the scientific goals of the analysis?
The Goal of this analysis its too create an Isoform expression table of TPM values using Isoform Ensembl IDs as rows, and KF Biospecimen IDs as columns.

#### What methods do you plan to use to accomplish the scientific goals?

1. Find the location of the RSEM Isoforms output files from @migbro
2. Use the TPM column from those output files to cre

[2022-05-31 13:29] afarrel commented on #339
That's fine, I'm going to submit that ticket today also.

[2022-05-31 13:30] sangeetashukla commented on #339
Thanks for the heads up.

[2022-05-31 13:31] sangeetashukla commented on #339
@afarrel  I will keep an eye out for that ticket and follow updates on that to start working on this ticket.

[2022-06-01 01:10] jharenza opened #340 "Re-pull TCGA from DT to data WH"
#### What data file(s) does this issue pertain to?
`histologies-base-adapt.tsv`

#### What release are you using?

2022-05-26 pull

#### Put your question or report your issue here.
Please re-pull TCGA cohort from the DT now that negative OS values are resolved.

[2022-06-01 01:39] jharenza commented on #239
@runjin326 can you put the BED files on s3 and also start working on the documentation for this release?

[2022-06-01 15:04] bmennis commented on #339
Ok so the isoform files for the TARGET samples, there are 1329, are located in the Open Targets delivery project on Cavatica here:
https://cavatica.sbgenomics.com/u/d3b-bixu/open-target/files/#q?path=harmonized-data%2Fgene-expressions&search=isoform

[2022-06-01 15:20] afarrel commented on #339
It seems like I don't have access to it. It is likely because I'm not on the project. @sangeetashukla can you make folder/project on CAVATICA for the OT/MTP RSEM Isoform files and add us to the project?

[2022-06-01 15:23] sangeetashukla commented on #339
I can't access it either.

[2022-06-01 15:24] sangeetashukla commented on #339
I created a new project and added @afarrel as an admin. @bmennis I can add you to the project if you confirm your CAVATICA userid

[2022-06-01 15:28] bmennis commented on #339
Oh yeah that would be great, my Cavatica userid is `ennisb`

[2022-06-01 15:29] sangeetashukla commented on #339
Added you to the project, you might receive an email notification. Please upload the files to this project when you are able to confirm access.

[2022-06-01 16:31] nicholasvk commented on #340
Updated and available in the warehouse.

[2022-06-01 18:55] migbro commented on #339
So, in looking at this ticket, I feel like you guys should have copy access from our delivery project - but a caveat is that it's just data starting after alignment, and non-KF/PBTA. I can add a few of you on and you can explore what we have.

[2022-06-01 20:36] jharenza commented on #239
@ewafula can you comment here the md5sums of the methyl RDS files please

[2022-06-01 20:38] jharenza commented on #308
ID crosscheck matches

[2022-06-01 20:38] #308 closed

[2022-06-02 15:47] runjin326 commented on #239
@jharenza - uploaded the bed files + modified md5sum for all bed files as well as the methylation files.
Additionally, note that `biospecimen_id_to_bed_map.txt` was also added to the bucket - this is the file that we used to match bed file used with Kids First Biospecimen ID.

[2022-06-02 20:15] runjin326 opened #341 "Generate merged RNA isoform files"
#### What data file(s) does this issue pertain to?
Generate a merged RNA isoform tile for v11 data release

#### What release are you using?

v11

#### Put your question or report your issue here.
Please merge all the RNA isoform files to one (maybe call it `rna-isoform.tsv`?) and add to v11.
The RNA BS ids are here.

[v11_rna_bsids.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files

[2022-06-02 20:21] jharenza commented on #335
Valeria is working on this today

[2022-06-03 12:58] jharenza commented on #341
@zhangb1 can someone from your team do this merge today? I also haven't checked the files, but presumably this merge file would have the ENSEMBL transcript ids as well as the gene id, correct?

[2022-06-03 13:17] runjin326 opened #342 "Updated analysis: Focal CN preparation"
#### What analysis module should be updated and why?
`focal-cn-file-preparation`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
The file `consensus_seg_with_status.tsv` generated by this module is currently saved under `scratch` - however, this is needed for TP53 and we would also want to include that in data release. Hence, it would be

[2022-06-03 13:25] runjin326 opened #343 "Updated analysis: script for run subtyping"
#### What analysis module should be updated and why?
`scripts/run-for-subtyping.sh`

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Modify the script mentioned above to do the following:
 - Only keep GSEA and TP53 since the rest of the modules would be completed by generate analysis files script

#### What input data should be used? Whi

[2022-06-03 14:15] zhangb1 commented on #341
@jharenza  , I just came back from vacation today.... I will manager that. won't be finished by today though.

[2022-06-03 14:29] jharenza commented on #341
Ok. Can it be done by monday? Also, do you know if the merges are a "set it and forget it" type of thing at this point (eg the files aren't needing to be downloaded)? If still downloading, maybe we can brainstorm to make this more real-time push of a button? Cc @yuankunzhu

[2022-06-03 14:48] zhangb1 commented on #341
@jharenza  , we used the code from github repo to merge the RSEM files:
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/collapse-rnaseq/00-create-rsem-files.R

Also we made the cwl tool based on that to merge the monthly files : https://cavatica.sbgenomics.com/u/d3b-bixu-ops/tumor-broad-monthly-release/apps/#d3b-bixu-ops/tumor-broad-monthly-release/merge-rsem-gene/0

[2022-06-03 15:40] ewafula opened #344 "Truncated `sample_id` and `aliquot_id` values in base histologies file"
#### What data file(s) does this issue pertain to?

histologies-base-adapt.tsv

#### What release are you using?

The latest generated OpenPedCan base histologies file

#### Put your question or report your issue here.
Some values in the `sample_id` column for `TARGET`, `TCGA`, and `GTEx` cohorts are truncated. Also truncated are `aliquot_id` values for the `GTEx` cohort.  See below comparison bet

[2022-06-03 15:48] runjin326 commented on #303
When re-running the GSEA module, notice that for some of the samples in histology-base.tsv are not in the RNA gene expression matrix:
[code]
[non_rna.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8833873/non_rna.txt)

Maybe we need to double check the merged expression matrix.

[2022-06-03 16:10] jharenza commented on #341
We don't have one for isoform. In the past, for openPBTA, I think bix eng had done a merge. We had not included that yet for OpenPedCan, but would like to now.

[2022-06-03 16:12] jharenza commented on #341
@zhangb1 maybe @kgaonkar6 had done this in the past- I found this code: https://github.com/d3b-center/D3b-codes/blob/master/OpenPBTA_v20_release_QC/code/00-create-and-add-rsem-isoforms-files.R

But this also entails a download, which I think we want to get away from so this can be more automated.

[2022-06-03 16:55] jharenza commented on #303
Hmm, ok, let me go back to the base code - it looks like these are a mix of visible and not visible but none were in V10, so probably need to be removed.

[2022-06-03 17:29] jharenza commented on #303
resolved, since wrong base file was being used

[2022-06-03 17:34] jharenza opened #345 "missing DGD ids from `histologies-base-adapt.tsv`"
#### What data file(s) does this issue pertain to?
`histologies-base-adapt.tsv`

#### What release are you using?

20220526

#### Put your question or report your issue here.
@nicholasvk can you check why the following IDs are not being shown in the current view of the base histologies file? They were there in a previous iteration, but not seeing now, even on a fresh pull today.

[missing_ids.txt]

[2022-06-03 17:43] zhangb1 commented on #341
@HuangXiaoyan0106  ^ maybe you can check the R script Jo Lynne post above?

Seems very similar to the rsem gene one..

[2022-06-03 17:54] runjin326 commented on #98
Completed with PR171 merged.

[2022-06-03 17:54] #98 closed

[2022-06-03 18:29] jharenza opened #346 "re-pull TARGET, TCGA, and GMKF base histologies from DT into data WH"
#### What data file(s) does this issue pertain to?
`histologies-base-adapt.tsv`

#### What release are you using?

current

#### Put your question or report your issue here.
Please do a fresh pull of the updated TARGET file, as there has been an update to OS_days.

Re-pull TCGA for updates in pathology diagnosis.

Re-pull GMKF for updates to unknown pathology diagnosis.

cc @ewafula

[2022-06-03 19:27] jharenza commented on #345
This is partly resolved, but opening a new ticket for the issue

[2022-06-03 19:27] #345 closed

[2022-06-03 19:38] jharenza commented on #346
hold on this for now - @ewafula has additional changes to make

[2022-06-03 19:38] jharenza opened #347 "update 2 DGD BS_ids in MAF / make sure MAF is gzipped"
#### What data file(s) does this issue pertain to?
`snv-dgd.maf.tsv`

#### What release are you using?

v11

#### Put your question or report your issue here.
1. upon download, the MAF is only a TSV file, not gzipped
2. When adding DGD ids to the v11 histologies file, we were using an outdated manifest with old BS_ids. This was resulting in a loss of 112 BS_ids. This has been updated in [5c455a4](

[2022-06-05 13:38] HuangXiaoyan0106 commented on #341
@zhangb1 @jharenza
Have generated the merged RNA isoforms.
https://cavatica.sbgenomics.com/u/d3b-bixu-ops/tumor-broad-monthly-release/tasks/bd92b68b-51b5-45f8-8c58-0da30ba03b5d/

[2022-06-06 15:12] jharenza commented on #347
@zhangb1 can you take a look at this please

[2022-06-06 15:16] zhangb1 commented on #347
humm, just check the v11 folder:

s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/snv-dgd.maf.tsv.gz

this file is gizpped.  or I miss something?

[2022-06-06 17:17] zhangb1 commented on #347
^ @HuangXiaoyan0106

[2022-06-06 17:29] runjin326 commented on #343
Closing with PR185 merged.

[2022-06-06 17:30] #343 closed

[2022-06-06 19:23] jharenza commented on #254
@zhangb1 can you pull recent code from https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/186/files which will generate 2 more files for the release?

[2022-06-06 19:25] jharenza commented on #254
`cnvkit_with_status.tsv` and `consensus_seg_with_status.tsv` are the files we would need

[2022-06-06 19:43] zhangb1 commented on #254
[code]

I ran the merged for this locally ,so I had the data updated in the v11 bucket now.

s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/

Let me know whether they are good.

[2022-06-06 19:47] jharenza commented on #254
😅 thank you! @runjin326 can you double check these please?

[2022-06-06 20:01] zhangb1 commented on #302
Just talked to @runjin326  ,seems the NA issue has been fixed.

I will work on the this gistic run ...

[2022-06-06 20:03] jharenza commented on #302
thank you @zhangb1

[2022-06-07 03:13] HuangXiaoyan0106 commented on #347
@jharenza
I have checked the `bix_workflows.dgd_genomics_file_manifest`, these two BS_ids are still in the table. And I didn't see any update ids for these two maf files(`ET_6TJ718RG_DGD.vep.maf`,`ET_2VMXCM6Y_DGD.vep.maf`). Or did I do the wrong check?

[check_id_results.csv](https://github.com/PediatricOpenTargets/ticket-tracker/files/8849837/check_id_results.csv)

[code]
OR
[code]

[2022-06-07 12:41] jharenza commented on #347
Hmm, @nicholasvk can you check as to why these two are in the file but not in the data warehouse view please?

[2022-06-07 13:14] nicholasvk commented on #347
There are 2 GENIE records that were not mapped at the time of our workflow development efforts with DGD. They have the old external sample ID format C ID + a sequential number vs. the new format where we associated DGD clinical assays to diagnoses captured in the DGD REDCap project. These must not have mapped at the time and we would need to revisit to see if they can be mapped. I think until they

[2022-06-07 15:01] zhangb1 commented on #302
[code]

s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/

Gistic file has been uploaded to the s3 bucket , let me know any issues.

[2022-06-07 15:08] runjin326 commented on #347
@jharenza - updated and uploaded to s3 - also updated md5sum.txt.

[2022-06-07 16:11] nicholasvk commented on #344
This was a misunderstanding on my part, didn't check to validate that there were IDs with length > 2. I have implemented a fix and running the update in prod now which will be available in 20-30 minutes.

[2022-06-07 16:35] jharenza commented on #347
Thanks @runjin326 !

[2022-06-07 16:35] #347 closed

[2022-06-07 16:36] kelseykeith commented on #288
PowerPoint showing the final plot decisions

[2022-05-25_final_cnv_plot_decisions.pptx](https://github.com/PediatricOpenTargets/ticket-tracker/files/8855004/2022-05-25_final_cnv_plot_decisions.pptx)

[2022-06-07 17:24] #344 closed

[2022-06-07 17:25] #346 closed

[2022-06-07 17:47] jharenza commented on #346
Thank you @nicholasvk !

[2022-06-07 19:03] runjin326 commented on #342
Closing with PR186 merged.

[2022-06-07 19:03] #342 closed

[2022-06-07 19:09] runjin326 commented on #341
@jharenza - TPM file is uploaded + md5sum updated.

[2022-06-07 22:47] jharenza opened #348 "check DGD remap path_dx and propagation to path_free_text code"
#### What data file(s) does this issue pertain to?
histologies-base-adapt.tsv

#### What release are you using?

current, 2022-06-07

#### Put your question or report your issue here.
In the current base view, there are a lot of "Other" `pathology_diagnosis` for DGD, but no `pathology_free_text_diagnosis` values.

Can you re-pull the file from https://data-tracker.kidsfirstdrc.org/study/SD_MRK9CPZ

[2022-06-08 08:31] afarrel opened #349 "Finalize CNV visualization codes for integration into API endpoints"
#### What are the scientific goals of the analysis?
Prepare CNV code that will be used to develop CNV view from #288 to integrate into API Endpoint.
The workflow and code will be used to design the CNV visualization database and endpoints for the API.

#### What methods do you plan to use to accomplish the scientific goals?
1.  Prepare Rscripts that will generate the designed views in #288.
2.  De

[2022-06-08 10:28] ewafula commented on #344
Thank you, @nicholasvk. All `sample_id` and `aliquot_id` codes are now not truncated for the base histology file except for   GTEx. Any code with leading zeros is being truncated either up to the starting non-zero numeric value or to two numeric values (codes with non-leading zeros are ok) i.e., 2688  == 2688, 0435 == 435, 0057 == 57, and 0008 == 08.
[code]

[code]

[2022-06-08 14:01] sangeetashukla commented on #320
This issue can be closed, since the relevant PR is closed.
Note: the PR branch was merged in a parent branch which was approved.

[2022-06-08 14:51] nicholasvk commented on #348
This should be resolved now.

[2022-06-08 14:51] #348 closed

[2022-06-08 14:52] nicholasvk commented on #344
Thanks @ewafula , I didn't catch the gTex format was different and have put in a fix for this.

[2022-06-08 15:25] jharenza commented on #335
Seems the issue is not in the BRP, which Valeria has been updating, but rather some document on the DT/ input to KF. TBD when this will be fixed, but for now, I implemented a recode for this within the v11 base file.

Cc @youngnm for this

[2022-06-08 17:36] nicholasvk commented on #338
This issue was caused by these SDGs having standard samples managed via Nautilus and historic, "KF Only" samples that exist only in Kids First at this point. We had slightly different logic for harmonizing free text diagnoses for these, but should now be resolved. I am pushing to prod now.

[2022-06-08 17:36] #338 closed

[2022-06-08 18:52] jharenza commented on #335
Thank you, but just as a caution, we will be getting a few recurrences so this will work for now, but may need to be updated with the next patient (cc @aadamk )

[2022-06-09 01:18] jharenza opened #350 "Some methylation IDs missing clinical information"
#### What data file(s) does this issue pertain to?
histologies-base-adapt.tsv, but presumably this is coming from KF

#### What release are you using?

current 2022-07-08

#### Put your question or report your issue here.

The samples below are missing: `sample_type`, `tumor_descriptor`, `primary_site`, `pathology_diagnosis`, `pathology_free_text_diagnosis` (if any), `extent_of_tumor_resection` (i

[2022-06-09 03:17] jharenza opened #351 "some GTEX aliquot ids turned into scientific notation"
#### What data file(s) does this issue pertain to?
histologies-base-adapt.tsv

#### What release are you using?

current, 2022-06-07

#### Put your question or report your issue here.
The following seem to have turned into scientific notation and the values are off by two :(

Kids_First_Biospecimen_ID | sample_id | aliquot_id_latest | aliquot_id_previous
-- | -- | -- | --
GTEX-11ZVC-0226-SM-731E8

[2022-06-09 14:15] runjin326 opened #352 "Updated analysis: independent sample list"
#### What analysis module should be updated and why?
`independent-samples`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
For DGD data, both DNA and RNA have `experimental_strategy` of `Targeted sequencing`. We can use field `rna_library` to make the distinction.
This module needs to be modified to take that into consideration.

#### Wh

[2022-06-09 16:45] jharenza commented on #253
@zhangb1 it seems like GTEX are missing from the files below:

Can you add those back to the original merge files and re-do this collapse? Or, I am not sure if you collapsed separately last time and merged the common genes?

[code]

cc @komalsrathi @runjin326

[2022-06-09 16:51] zhangb1 commented on #253
Oh, I merged separate , I am adding Gtex samples now.

[2022-06-09 17:41] jharenza commented on #253
Thanks, no worries - forgot to mention it. Are md5 also updated?

[2022-06-09 17:41] zhangb1 commented on #253
Yes.

[2022-06-09 18:52] jharenza commented on #253
thank you!

[2022-06-09 19:04] jharenza opened #353 "Update ticket template"
Create new template for API code requests

Create template for data releases

[2022-06-09 21:31] jharenza opened #354 "Differences in samples in consensus cnv and seg status files"
#### What data file(s) does this issue pertain to?

We have 2489 WGS/WXS bs_ids in `histologies-base.tsv`.

1. `consensus_wgs_plus_cnvkit_wxs_autosomes.tsv.gz` has 1951 samples while `cnv-cnvkit.seg.gz` and `cnv-controlfreec.tsv.gz` each have 2484 samples. 5 samples are missing from `cnv-cnvkit.seg.gz` and `cnv-controlfreec.tsv.gz`:
[code]

2. For the 2484 samples we have run through consensus, wa

[2022-06-09 22:16] jharenza commented on #354
@zhangb1 can you checkout #239, rerun each module separately, then PR back the changes in two separate PRs?

[2022-06-10 00:17] jharenza opened #355 "DGD BS_DKZ8JFR8 and BS_MADCWWMX missing experimental strategy and not in MAF"
#### What data file(s) does this issue pertain to?
`snv-dgd.maf.tsv.gz`
`histologies-base.tsv`

#### What release are you using?

v11

#### Put your question or report your issue here.
These samples are in the histologies file, but not in MAF. Are these the corresponding IDs those in #347, and thus I should remove from histologies?

cc @nicholasvk or @zhangb1

[2022-06-10 00:31] jharenza commented on #249
Hi @HuangXiaoyan0106 - it looks like this file is largely using old BS_IDs for DGD. Can you use the v11 OpenPedCan histology file (s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/histologies-base.tsv) or the genomics mapping file as mentioned [here](https://github.com/PediatricOpenTargets/ticket-tracker/issues/347#issuecomment-1148146090).

610/870 are not current IDs in the histologies fi

[2022-06-10 00:42] #325 closed

[2022-06-10 02:31] HuangXiaoyan0106 commented on #249
@jharenza I didn't use any histology file to do the fusion merge, just concatenated the original fusion files. So I think in the short term, I can update the merged file directly, but in the long run, maybe need to update the original fusion file? cc @zhangb1

[2022-06-10 03:01] HuangXiaoyan0106 commented on #249
@jharenza
I have checked the IDs in` fusion-dgd.tsv.gz`, `bix_workflows.dgd_genomics_file_manifest` and `histologies-base.tsv`, all IDs in ` fusion-dgd.tsv.gz` are exist in the other two files.

[code]
[ids.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/8875429/ids.xlsx)

### check results
[code]

[2022-06-10 11:57] zhangb1 commented on #354
Hi @jharenza , can you tell me which histologies-base.tsv did you use to check ?

when I do the merge , I use the v10 histology file  s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v10/histologies.tsv

and merge only 008  additional samples... I don't find any of those 5 BS ids in the v10.  does it means we have other samples need to be merged to v11?

[2022-06-10 12:26] jharenza commented on #249
Oh you know what- I was looking in the opposite direction - trying to make sure all samples were in the fusion file, but they're probably missing because they don't have fusions. Sorry about that! Disregard!

[2022-06-10 14:07] zhangb1 commented on #354
[code]

Those 6 samples all added to the. CNVkit , control-freeC and mantaSV  . md5 also updated.

I am running the consensus calling now, may take a little bit time.

[2022-06-10 14:36] jharenza commented on #354
Thanks @zhangb1 !

[2022-06-10 17:48] runjin326 commented on #352
@jharenza - as I was reviewing this, I had one question.

Currently, we define primary and secondary as following:
[code]
With the v11 update we have the following terms:
[code]
So should I modify the code to the following?
[code]

[2022-06-10 18:39] zhangb1 commented on #354
[code]

consensus call results have been updated, also md5.

checking the consensus CNV results, all WXS total of 1184 samples are in the results... but for the WGS only 787 of 1305 are in the consensus results . 518 samples don't have the consensus CNV results.

also check the `uncalled_samples.tsv` from copy_number_consensus_call,   they are 407 in the uncalled samples. .

I am not exactly sure

[2022-06-10 18:55] zhangb1 commented on #354
Yes, please see the uncalled_samples.tsv file here
[uncalled_samples.tsv.zip](https://github.com/PediatricOpenTargets/ticket-tracker/files/8881614/uncalled_samples.tsv.zip)

[2022-06-10 19:03] runjin326 commented on #352
@jharenza - actually one more question.
For this module, we have one step to only take primary tumor or bone marrow (exclude cell line or unknown composition).
[code]
However, for DGD samples, `composition` is either "Not Available" or "Not Reported".
Now the question is: do we want to fix DGD in base histology or should we include DGD regardless of composition? For example, as the following:
[cod

[2022-06-10 19:30] chinwallaa commented on #354
@jharenza @zhangb1 just a clarifying question - when we filter for CNV with the consensus filter rules, is this filtering at the sample level, or does this filter for each CNV call/region ?

[2022-06-10 19:49] jharenza commented on #354
Hi @chinwallaa - the module README can be found [here](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/copy_number_consensus_call) - this is a consensus of algorithms per call per sample.

[2022-06-10 20:50] jharenza commented on #352
Now the question is: do we want to fix DGD in base histology or should we include DGD regardless of composition? For example, as the following:

We need Marilyn's team to fill this in - I had an email out, and based on her response, some can be marrow/blood for leukemias.. but I just don't know which. Can we just do an exclude of cell lines and not worry about other compositions? It may get compli

[2022-06-11 00:50] jharenza opened #356 "Proposed Analysis: Test consensus CNV calls with GATK CNV instead of MantaSV"
#### What are the scientific goals of the analysis?
To determine whether GATK CNV can be a suitable replacement for MantaSV, we need to understand how this algorithm performs in the consensus calls module. In addition, we should test whether adding GATK CNV as a 4th caller helps improve true positive calls. As of v11, we only have ~60% of samples with CNV calls in our resulting consensus files. Se

[2022-06-11 00:54] jharenza opened #357 "Create GATK CNV seg file for testing"
### [Optional] What is the priority for the analysis? (Low, Medium, High)
Low-Medium

### [Optional] How long do you think this work will take?
1 week

### [Optional] Who will complete this work?
@zhangb1 @HuangXiaoyan0106 or @yuankunzhu

### [Required] Provide details for analysis workflow(s).
Create a merged GATK seg file `cnv-gatk-seg.gz` or `cnv-gatk.tsv.gz` of PBTA and TARGET NBL samples to u

[2022-06-11 00:59] jharenza commented on #355
Note, I removed these from the histologies file.

[2022-06-12 18:34] jharenza opened #358 "Updated analysis: update gliomatosis cerebri term in LGAT subtyping for v11"
#### What analysis module should be updated and why?
molecular-subtyping-v11

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Update last line of this code to "Gliomatosis Cerebri" to match the `pathology_diagnosis` term in CBTN.

https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/65ce650801a3428d38e6b21ddf78f426790dd3a6/ana

[2022-06-13 14:52] taylordm opened #359 "Missing TIGIT fusion annotation entry"
#### What data file(s) does this issue pertain to?
I'm going through the use cases to see what we can do for the advisory meeting, and on the TIGIT page under "Fusion" we get an odd '[] ' symbol annotation under  "Annotations" which JLR suggests we check out for  a leftover fusion annotator issue.

#### What release are you using?

v10 (at the MTP portal)

#### Put your question or report your iss

[2022-06-13 16:22] kelseykeith commented on #321
Should CIBERSORT stay as an option or be removed? @jharenza

[2022-06-13 17:11] jharenza commented on #321
We can remove, thanks. Just xcell and quanTIseq

[2022-06-13 17:13] #354 closed

[2022-06-13 17:51] jharenza commented on #352
No modifications needed here. We want to keep relapse/progression separate of other malignancies.

[2022-06-13 17:52] jharenza commented on #352
Updated the code above for composition - cc @kelseykeith

[2022-06-13 19:56] aadamk opened #360 "Updated analysis: TMB calculation (Friends of Cancer Research Criteria)"
#### What analysis module should be updated and why?

TMB calculation to harmonize methodology across OpenPedCan and D3b patient clinical report analyses.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Inclusion of Friends of Cancer Research criteria (code below). The example below operates on PASS variants from a Mutect2 MAF file as i

[2022-06-13 20:02] jharenza commented on #357
cc @yuankunzhu @dmiller15

[2022-06-13 20:24] dmiller15 commented on #357
I'm not sure what this ticket is seeking, but below is a breakdown of the seg files generated by our GATK pipeline.

GATK produces four seg files:
- `modeled_segments_tumor`: modelFinal.seg files. These are tab-separated values (TSV) files with a SAM-style header containing a read group sample name, a sequence dictionary, a row specifying the column headers contained in         `[CONTIG, START, EN

[2022-06-13 21:29] logstar opened #361 "Updated analysis: update snv-frequencies for v11 data release"
#### What analysis module should be updated and why?

After [v11 data](https://github.com/PediatricOpenTargets/ticket-tracker/issues/239) are released, `snv-frequencies` module needs to be updated to generate the following files using v11 data:

- `analyses/snv-frequencies/results/gene-level-snv-consensus-annotated-mut-freq.jsonl.gz`
- `analyses/snv-frequencies/results/gene-level-snv-consensus-ann

[2022-06-14 02:26] jharenza commented on #359
This is stemming from when a fusion has no annotation - it gets a  blank set of brackets`[]`.  Why it is not blank, who knows!

I will fix in [#195](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/195)

[2022-06-14 16:11] aadamk commented on #360
I included the above variant classes as FoCR used those variant types when they were able to successfully translate panel tmb values to wes tmb values via their calibration methods (so no active exclusion of the three variant types you mentioned). I wouldn’t oppose including the additional variant types particularly since they may contribute to the repertoire of immunogenic epitopes (with immunoge

[2022-06-14 16:41] jharenza commented on #360
Ok, thanks so much @aadamk . @ewafula can you update the TMB module you are workring on today to include the filters above, if not already implemented?
[code]

[2022-06-15 20:36] sangeetashukla commented on #339
@afarrel Please review the PR and note the list of duplicated ENST IDs, found in the merged isoform file.

[2022-06-17 14:15] logstar opened #362 "Updated analysis: update fusion-frequencies for v11 data release"
#### What analysis module should be updated and why?

After [v11 data](https://github.com/PediatricOpenTargets/ticket-tracker/issues/239) is released, `fusion-frequencies` module needs to be updated to generate the following files using v11 data:

- `analyses/fusion-frequencies/results/putative-oncogene-fused-gene-freq.jsonl.gz`
- `analyses/fusion-frequencies/results/putative-oncogene-fused-gene-f

[2022-06-17 14:35] logstar opened #363 "Updated analysis: update cnv-frequencies for v11 data release"
#### What analysis module should be updated and why?

After [v11 data](https://github.com/PediatricOpenTargets/ticket-tracker/issues/239) is released, `cnv-frequencies` module needs to be updated to generate the following files using v11 data:

- `analyses/cnv-frequencies/results/gene-level-cnv-consensus-annotated-mut-freq.jsonl.gz`
- `analyses/cnv-frequencies/results/gene-level-cnv-consensus-anno

[2022-06-17 16:56] jharenza commented on #341
@HuangXiaoyan0106 can you update your code to only add ENST id to the `transcript_id` column and not merge those with gene symbols and then regenerate this matrix? Alternatively for this once, you can remove the gene symbols, but word of caution, there will have to be two splits because of `_PAR_Y_` pseudoautosomal regions, which are appended in between some ENST and gene symbols. Example code to

[2022-06-17 16:57] jharenza commented on #355
I will close this since we are no longer adding these samples

[2022-06-17 16:57] #355 closed

[2022-06-17 16:58] jharenza commented on #319
@youngnm - not sure if you or @chris-s-friedman can look into this? Are we keeping them hidden for a reason? We will be releasing these (with permission from Brian Rood and @adamcresnick, so should these be visible?)

[2022-06-17 16:59] youngnm commented on #319
Yes all the methylation files are currently hidden. This was a requirement at the time of registration, but sounds like they can be unhidden. Let me confirm.

[2022-06-17 17:06] jharenza commented on #319
Thanks!

[2022-06-18 13:07] ewafula opened #364 "Truncated TCGA Patient IDs in ADAPT base histologies file"
#### What data file(s) does this issue pertain to?
histologies-base-adapt.tsv

#### What release are you using?

latest

#### Put your question or report your issue here.
There truncated TCGA patient IDs (`Kids_First_Participant_ID`) in the latest ADAPT generated base histologies file. Similar issue to previously fixed `sample_id` and `aliquot_id` where values were truncated to exclude leading zer

[2022-06-20 02:54] HuangXiaoyan0106 commented on #341
@jharenza I only merged them with `transcript_id`, and the merged isoform format is like this
[code]
 And here is my script:
[code]

[2022-06-20 12:37] jharenza commented on #341
Ah, then we would like to remove gene symbols. Can you use the above code to remove those and only keep ENST ids please?

[2022-06-20 13:37] HuangXiaoyan0106 commented on #341
Ah? The merged isoform file doesn't contain the gene symbols, the format is as follows.
[code]

[2022-06-20 14:26] jharenza commented on #341
@HuangXiaoyan0106 please hold on this until we regroup

[2022-06-20 18:23] jharenza opened #365 "Updated analysis: EPN subtyping to capture PF A based on z-score alone"
#### What analysis module should be updated and why?
molecular-subtyping-epn

#### What changes need to be made? Please provide enough detail for another participant to make the update.

As @sickler-alex pointed out [here](https://github.com/d3b-center/bixu-tracker/issues/1327#issuecomment-1160608373), we are missing one allowed criteria for PF A subtyping.

This logic should be changed to include

[2022-06-21 16:39] jharenza commented on #341
@HuangXiaoyan0106 will you please add the following to your code, which will split ENSEMBL trancript ids (ENST ids) and the Hugo Gene Symbols) and then also de-duplicate those in pseudoautosomal regions (PAR labels).

[code]

Also, if it is easier, we only need the tpm file.

Thank you

[2022-06-21 23:12] jharenza opened #366 "`7316-356` has multiple extent of tumor resection"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v11 OPC, v22 OpenPBTA

#### Put your question or report your issue here.
7316-356 went from having `Partial resection` in v21 OpenPBTA to `Partial resection;Gross/Near total resection` in v22. It looks like this is stemming from a concatenation of Diagnosis + 3 month update records, the latter of

[2022-06-22 07:02] HuangXiaoyan0106 commented on #341
@jharenza The task has been completed as per your request.
https://cavatica.sbgenomics.com/u/d3b-bixu-ops/tumor-broad-monthly-release/tasks/d3951a90-ee38-4d91-a470-70403a4a1a12/

[2022-06-22 20:17] logstar opened #367 "Updated analysis: generate TCGA differential gene expression table using `tumor-normal-differential-expression`"
#### What analysis module should be updated and why?

`tumor-normal-differential-expression` needs to be updated to generate a TCGA differential gene expression (DGE) table, because TCGA data will be included in OpenPedCan-analysis tables and plots for integration with MTP, after v11 release.

This issue is separated from updating `tumor-normal-differential-expression` with v11 data, to track each

[2022-06-22 20:27] logstar opened #368 "Updated analysis: update `tumor-normal-differential-expression` for v12 data release"
#### What analysis module should be updated and why?

`tumor-normal-differential-expression` needs to be updated to generate results using v11 release data.

This issue is related to <https://github.com/PediatricOpenTargets/ticket-tracker/issues/367>. The PR for this issue should be based on changes in <https://github.com/PediatricOpenTargets/ticket-tracker/issues/367>.

#### What changes need to

[2022-06-24 17:50] migbro commented on #356
@sickler-alex has started working on the first part of this, which is to enable to pbta module to take in GATK input. Afterwards, analysts can take over and compare copy number calls

[2022-06-24 18:44] runjin326 commented on #341
@jharenza - I checked the file, it is as expected with transcript and gene separated. Also `_PAR_Y_` were removed. I uploaded the file to S3 and updated the md5sum.txt in the s3 as well.

[2022-06-24 19:51] runjin326 commented on #249
@HuangXiaoyan0106 - I was using the files for some analyses and noticed that for sample `BS_WQN6CS9Q`, the fusion listed was `DGD-19-6752_COMPT`. Could you please check to see why that is the case?

Additionally, when you write out the file, could you please call a `distinct` on the rows. There are currently 864 rows but there are actually only 562 unique rows. Thanks!

[2022-06-27 07:19] HuangXiaoyan0106 commented on #249
@runjin326 I don't know the reason, but the original file provided by DGD is like this. cc @zhangb1
- BS_WQN6CS9Q.fusions.tsv
https://cavatica.sbgenomics.com/u/zhangb1/dgd-pipeline-output/files/617963487461755228d4e98f/
- BS_YKEK4YWT.fusions.tsv
https://cavatica.sbgenomics.com/u/zhangb1/dgd-pipeline-output/files/6179634c7461755228d4ea5d/

[2022-06-27 12:50] runjin326 commented on #249
Thanks for checking @HuangXiaoyan0106 - @jharenza, should we just remove those two samples from the files then?

[2022-06-27 14:18] jharenza commented on #249
@runjin326 are there actual fusions in the files? It seems the rows might be shifted and we should definitely fix these @zhangb1 @yuankunzhu - this may be an issue for pedcbio also cc @migbro for how this was handled

[2022-06-27 16:06] migbro commented on #249
So, if it's the ones that Mark Welsh converted a while back, pretty sure I was able to account for any shifting, I processed them separately and basically appended to PBTA results in my ETL

[2022-06-27 16:54] jharenza commented on #249
Do you have some code for this that you can pointt @HuangXiaoyan0106 to to fix the files? We probably should fix the native file, so this is not a problem with future merges.

[2022-06-27 20:10] jharenza commented on #249
@HuangXiaoyan0106 or @zhangb1 can you update the columns in the original file, then re-merge? Thanks!

[2022-06-28 03:24] HuangXiaoyan0106 commented on #249
@migbro where can I get the metadata? I only have the original tsv files, as follows. I don't know what the real Hugo_Symbol/Fusion of these two samples should be.
[code]

[2022-06-28 13:00] runjin326 opened #369 "Check whether 2 BS IDs in DGD fusion have data"
#### What data file(s) does this issue pertain to?
`fusion-dgd.tsv.gz `

#### What release are you using?

v11

#### Put your question or report your issue here.
Please double check whether  samples `BS_WQN6CS9Q` and `BS_YKEK4YWT` actually have fusion information.

[2022-06-28 13:43] runjin326 commented on #249
@jharenza and @HuangXiaoyan0106 - I removed the 2 samples from the file, kept only distinct entries and uploaded both fusion + md5sum to s3. Also created a ticket for this.

[2022-06-28 13:50] migbro commented on #249
Hmmm, yeah, I think those two files are an anomaly no one has ever noticed. All other files either have no calls, or just a couple fusion calls with gene names. I agree with the assessment to remove those two. Good catch!

[2022-06-28 15:01] sangeetashukla commented on #367
@logstar I estimate less than two weeks to update the module and update the cavatica app.
I have assigned this ticket to myself.

[2022-06-28 15:46] dmiller15 commented on #291
The associated PR has been merged into @ewafula branch which stands to be merged into OpenTargets. This task is complete.

[2022-06-29 12:59] nicholasvk commented on #351
This should now be resolved with importing the latest versions of the histology files.

[2022-06-29 12:59] #351 closed

[2022-06-29 13:00] nicholasvk commented on #364
This has been fixed with importing the latest files.

[2022-06-29 13:00] #364 closed

[2022-06-29 13:09] nicholasvk commented on #350
This appears to be a data entry issue on the Nautilus side. Based on the definition for source_text_tissue_type that was provided by Adam R. we evaluate attributes of the parent aliquot in Nautilus, specifically the parent sample type and sample category. The category is not populated for these records in Nautilus. The reason other diagnosis attributes are not populated is because we use the sourc

[2022-06-29 13:09] #350 closed

[2022-07-05 19:17] jharenza opened #370 "Updated analysis: Independent sample list"
#### What analysis module should be updated and why?
[independent-samples](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/independent-samples)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1) DGD panel DNA samples need to be added to the DNA list, but as last preference when either WGS or WXS are availabl

[2022-07-05 19:18] jharenza commented on #370
@logstar and @runjin326 - did I miss anything above?

[2022-07-05 21:11] ewafula commented on #370
@jharenza, what differentiates the DGD panel `DNA` and `RNA` samples in the `histologies-base.tsv` and `histologies.tsv`?  Is it the `NAs` and `exome_capture` values in the `RNA_library` column?
[code]

[2022-07-05 21:24] migbro commented on #283
I've started work on this. A bit tricky since PBTA files are currently only available in cavatica datasets and need access to open TARGETS cavatica repo which Bo is getting me access to.
Input cram file manifests:
[non-PBTA filtered](https://app.zenhub.com/files/366488963/55875295-e34d-44ec-82af-851bd935e8c5/download)
[PBTA-only](https://app.zenhub.com/files/366488963/acfb970e-73a6-4d48-a4d7-3d2e5

[2022-07-05 22:06] ewafula opened #371 "Updated analysis: methylation summary module"
#### What analysis module should be updated and why?
Update [methylation-summary](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/methylation-summary) modules

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- update the  module to utilize RNA-Seq and methyl  independent sample lists
- update module to comput

[2022-07-05 22:37] jharenza commented on #370
yes exactly

[2022-07-06 17:36] zhangb1 commented on #283
Just drafted all the task here:

https://cavatica.sbgenomics.com/u/d3b-bixu/kf-tumor-only-wf-dev/tasks?status=DRAFT

[2022-07-07 23:42] jharenza commented on #63
Closing this - will make a fresh ticket with more details

[2022-07-07 23:42] #63 closed

[2022-07-08 16:51] jharenza commented on #239
Also note, we need to add the following files required for molecular subtyping:
[code]

[2022-07-08 17:36] #239 closed

[2022-07-08 17:45] jharenza commented on #370
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:45] #370 closed

[2022-07-08 17:45] jharenza commented on #365
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:45] #365 closed

[2022-07-08 17:46] jharenza commented on #360
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:46] #360 closed

[2022-07-08 17:46] jharenza commented on #359
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:46] #359 closed

[2022-07-08 17:46] #352 closed, assigned to nobody

[2022-07-08 17:46] #333 closed

[2022-07-08 17:47] jharenza commented on #316
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:47] #316 closed

[2022-07-08 17:47] jharenza commented on #303
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:47] #303 closed

[2022-07-08 17:47] jharenza commented on #309
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:48] #309 closed

[2022-07-08 17:48] jharenza commented on #257
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:48] #257 closed

[2022-07-08 17:48] jharenza commented on #261
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:48] #261 closed

[2022-07-08 17:48] jharenza commented on #278
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:48] #278 closed

[2022-07-08 17:48] jharenza commented on #270
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:48] #270 closed

[2022-07-08 17:49] jharenza commented on #248
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:49] #248 closed

[2022-07-08 17:49] jharenza commented on #234
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:49] #234 closed

[2022-07-08 17:51] jharenza commented on #366
This was manually updated in the V11 `histologies-base.tsv` file with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188, but can we confirm this was updated in the data warehouse/CBTN all shiny app @youngnm @nicholasvk ?

[2022-07-08 17:57] #298 closed

[2022-07-08 17:59] jharenza commented on #341
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 17:59] #341 closed

[2022-07-08 18:08] jharenza commented on #320
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 18:08] #320 closed

[2022-07-08 18:09] jharenza commented on #304
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 18:09] #304 closed

[2022-07-08 18:09] jharenza commented on #299
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 18:09] #299 closed

[2022-07-08 18:10] jharenza commented on #317
@HuangXiaoyan0106 for your next weekly QC, can you grab the v11 `histologies-base.tsv` for the file against which you will compare? Thanks!

[2022-07-08 18:10] #296 closed

[2022-07-08 18:11] jharenza commented on #290
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 18:11] #290 closed

[2022-07-08 18:11] jharenza commented on #249
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 18:11] #249 closed

[2022-07-08 18:11] jharenza commented on #254
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 18:11] #254 closed

[2022-07-08 18:11] jharenza commented on #285
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 18:11] #285 closed

[2022-07-08 18:12] #251 closed, assigned to ewafula, sangeetashukla

[2022-07-08 18:12] jharenza commented on #253
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/188

[2022-07-08 18:12] #253 closed

[2022-07-08 18:13] #284 closed

[2022-07-08 18:15] jharenza commented on #40
@komalsrathi @aadamk @sangeetashukla this is an old issue and I haven't been following https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/168 100%, but is this being investigated as a part of that PR as well?

[2022-07-10 18:58] jharenza opened #372 "Update Analysis Modules README"
#### What analysis module should be updated and why?
In preparation for creating CI scripts, the main analysis module [README](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses#readme) needs to be updated to add new modules created, if missing. A few other columns, as noted below, should be added.

#### What changes need to be made? Please provide enough detail for anot

[2022-07-10 19:10] jharenza opened #373 "Updated analysis: subset files for CI"
#### What analysis module should be updated and why?
[create-subset-files](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/create-subset-files) needs to be updated to begin CI for this repository.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1. Pull in latest code updates from https://github.com/AlexsLemo

[2022-07-10 19:14] jharenza opened #374 "Bix Dev PedcbioPortal Support: Create project for v11 OpenPedCan"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists

#### [Required] How would you most generally describe your issue?
- [x] Update data for project in pedcbio portal
- [x] Create new project called `openpedcan` and start versioning
- [ ] Questions related to data on pedcbio portal

#### If an update to

[2022-07-10 19:21] jharenza opened #375 "Bix Dev PedcbioPortal Support: Update PPTC study reference"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists

#### [Required] How would you most generally describe your issue?
- [x] Update info for project in pedcbio portal - https://pedcbioportal.kidsfirstdrc.org/study/summary?id=pptc
- [ ] Questions related to data on pedcbio portal

#### If an update to a p

[2022-07-10 19:31] jharenza opened #376 "Bix Dev PedcbioPortal Support: Update OpenPBTA study with v22 data"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists

#### [Required] How would you most generally describe your issue?
- [x] Update data for project in pedcbio portal - https://pedcbioportal.kidsfirstdrc.org/study/summary?id=openpbta
- [ ] Questions related to data on pedcbio portal

#### If an update to

[2022-07-11 08:51] HuangXiaoyan0106 commented on #317
@jharenza Weekly QC has been done, but I ran the script manually with  v11 `histologies-base.tsv`, and the results have been uploaded.
- s3://d3b-bix-data-merge-release/histology-weekly-qc-report/2022-0711_tmp_combined_inconsistent_files.xlsx
- s3://d3b-bix-data-merge-release/histology-weekly-qc-report/2022-0711_tmp_combined_changes_file.xlsx

[2022-07-11 12:42] kelseykeith opened #377 "Update documentation repo after v11 release"
#### What data file(s) does this issue pertain to?

Samples added in the OpenPedCan-analysis v11 data release.

#### What release are you using?

OpenPedCan-analysis v11 data release

#### Put your question or report your issue here.

The general documentation repository <https://github.com/PediatricOpenTargets/documentation> dev branch needs to be updated to reflect the v11 data release in [OpenP

[2022-07-11 15:17] sangeetashukla commented on #40
@jharenza I was on vacation last week, and I am back now and working on the PR you linked above, but I was not aware of this ticket. I will post an update here along with my updates on the [PR#168](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/168).

[2022-07-11 15:29] sangeetashukla commented on #339
@jharenza Closing this issue since the duplicate ENST IDs were being taken care of during data preparation and [issue PR](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/200) is closed. Let me know in case this needs to be reopened.

[2022-07-11 17:45] jharenza opened #378 "Add v11 data to CAVATICA"
#### What data file(s) does this issue pertain to?
All release files

#### What release are you using?

v11

#### Put your question or report your issue here.
Please sync v11 data to the OpenPedCan project on CAVATICA

cc @sickler-alex

[2022-07-11 17:57] sickler-alex commented on #356
I decided to open the PR for review. This is the link https://github.com/PediatricOpenTargets/ticket-tracker/issues/356

[2022-07-11 20:41] jharenza commented on #378
Thanks!

[2022-07-12 20:32] jharenza commented on #230
Closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/222

[2022-07-12 20:32] #230 closed

[2022-07-13 15:34] logstar opened #379 "Check v10 JSONL PedCBioPortal URL responses"
#### What file(s) does this issue pertain to?

`analyses/snv-frequencies/results/gene-level-snv-consensus-annotated-mut-freq.jsonl.gz`

#### What release are you using?

v10 <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/1eedaf5825fc999415ff5fd712f98a6f17718b92/analyses/snv-frequencies/results/gene-level-snv-consensus-annotated-mut-freq.jsonl.gz>

#### Put your question or repor

[2022-07-14 19:34] logstar commented on #379
Hi @chinwallaa @jharenza - All v10 JSONL PedCBioPortal URLs only have `case_set_id`s that are in v10 PedCBioPortal `ped_opentargets_2021` dataset, even though v7 PedCBioPortal `ped_opentargets_2021` dataset `case_set_id` list is used to generate v10 JSONL. This behavior is programmed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/1eedaf5825fc999415ff5fd712f98a6f17718b92/ana

[2022-07-14 20:20] jharenza commented on #363
Note: You will have to replace the filenames for the `independent-specimen*` files to match those in V11 release.

[2022-07-15 01:37] jharenza commented on #361
Not at this time

V11 has Targeted Panel DGD cohort data, which will have to be accounted for in this table. We will not add Panel data to "All cohorts", and will only calculate frequencies per its own cohort.

[2022-07-15 01:39] jharenza commented on #246
@afarrel since we have #361 open to add DGD to the snv tables _and_ we do not have tier information, I am going to close this.

[2022-07-15 01:39] #246 closed

[2022-07-15 01:41] jharenza commented on #362
For v11, we have `fusion-dgd.tsv.gz` which contains fusion calls for DGD data. We should add this to the table as its own cohort, and add this cohort to "All cohorts".

[2022-07-15 01:45] jharenza commented on #241
@afarrel I am going to close this in favor of us getting SNP array data released and then modifying consensus CNV

[2022-07-15 01:45] #241 closed, assigned to sangeetashukla

[2022-07-15 17:07] jharenza commented on #357
Closing this as completed.

[2022-07-15 17:07] #357 closed

[2022-07-15 17:48] jharenza opened #380 "Proposed Analysis: Add script to generate MTP tables"
#### What are the scientific goals of the analysis?
To automate MTP table generation, we should create a script to be run on EC2 or CAVATICA, which will enable all tables to be generated and then subsequently uploaded to AWS S3.

#### What methods do you plan to use to accomplish the scientific goals?
1. Similar to the `generate-analysis-files.sh` script in https://github.com/PediatricOpenTargets/

[2022-07-15 19:59] jharenza commented on #379
Note: regarding Invalid gene symbol URL: [https://pedcbioportal.kidsfirstdrc.org/results/oncoprint?cancer_study_list=ped_opentargets_2[…]lastoma&Action=Submit&gene_list=NOTEXISTINGGENESYMBOL](https://pedcbioportal.kidsfirstdrc.org/results/oncoprint?cancer_study_list=ped_opentargets_2021&case_set_id=ped_opentargets_2021_gmkf_neuroblastoma&Action=Submit&gene_list=NOTEXISTINGGENESYMBOL)

We will add

[2022-07-15 19:59] #379 closed

[2022-07-15 20:21] jharenza commented on #368
We can discuss this next week @zhangb1!

[2022-07-18 18:36] jharenza opened #381 "Update bucket for GitHub Actions"
#### What file(s) does this issue pertain to?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/scripts/download-ci-files.sh

#### What release are you using?

v11

#### Put your question or report your issue here.

This script needs to be modified to point to the OT bucket instead of the OpenPBTA bucket, once the testing/ subsetted files are added from https://github.com/Pediat

[2022-07-18 18:42] jharenza commented on #361
Note: updating the pedcbio links will require #374 to be completed, but integration of panel data can be started now.

[2022-07-21 17:59] jharenza commented on #374
Hi @migbro

I think we will need some new, based on cohort "CHOP DGD" being added here, and since we added additional PBTA samples, those will change, but the rules should be the same, so I imagine you can just rerun previous code to get these

For project name, how about we iterate as:
`openpedcan_v11` and so forth?

[2022-07-21 20:24] migbro commented on #374
Link above doesn't work, but did find it, here is the s3 uri:
s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/

I assume I should use the following:
CNV: `consensus_wgs_plus_cnvkit_wxs.tsv.gz`
SNV: `snv-consensus-plus-hotspots.maf.tsv.gz`
RNA expression: `gene-expression-rsem-tpm-collapsed.rds`
RNA fusion: `fusion-putative-oncogenic.tsv`

As for CHOP_DGD...is that like the same samples Mar

[2022-07-21 20:39] jharenza commented on #374
Yes, for above, but also more:

DGD:
`snv-dgd.maf.tsv.gz`
``fusion-dgd.tsv.gz
 Note: the TSBs here are bs_ids and not the old DGD sample ids. Yes to same samples Mark processed.

TCGA:
`tcga-gene-expression-rsem-tpm-collapsed.rds`

I think that's it, unless you can handle methylation arrays 😆

[2022-07-21 20:40] jharenza commented on #374
I wonder if we need to treat TCGA as a separate case_id as we did GTEX, but instead of normal samples, we make it "Adult tumors" or something, so they aren't lumping together..?

[2022-07-22 17:46] migbro commented on #374
So, funny thing about that, it might be possible I can handle methylation arrays: https://docs.cbioportal.org/file-formats/#methylation-data
If you have a deadline though, I think it's best to load the usual, then revisit and update. Otherwise, I'd need to like, pull someone off something else...which I am tempted to do to clean this up a bit.

[2022-07-22 18:09] jharenza commented on #374
Oh cool - yeah, how about the normal load first, then methylation later!

[2022-07-22 19:04] aadamk opened #382 "RNAseq tumor only analysis issue"
#### What data file(s) does this issue pertain to?

gene-counts-rsem-expected_count-collapsed.rds

#### What release are you using?

v11

#### Put your question or report your issue here.

Potential issue with inflated type I error when performing tumor-only differential gene expression analyses (though please verify whether DESeq2 design is correct).

When attempting to complete the batch correct

[2022-07-22 21:08] migbro commented on #374
Ok, an update on attempting to convert v11 histologies to cBio format
1. Initially, I had about 3000 warnings about invalid names. The first culprit I found was because Methylation has since been added, and we will do that next time
2. Removing Methylation cut the errors down to ~800. After some digging, I think with the addition of DGD, my code is looking at teh experiment type and doing an error

[2022-07-22 23:05] jharenza commented on #374
Hi yes, to distinguish DNA and RNA, RNA has a value in RNA_library.

[2022-07-25 18:32] migbro commented on #374
Thanks! Ok, after adding some code to catch this, modified Run's code to let TCGA through and fixed a different issue related to DGD as well as added a blacklist function to handle all the samples with poly A and stranded RNA libraries, the data clinical sheets look promising. I will move on with the rest of the steps and see how validation goes. With any luck, I can use this to write a wrapper sc

[2022-07-25 19:16] jharenza commented on #381
I created a testing folder here: s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/ cc @ewafula

[2022-07-25 19:20] jharenza commented on #380
Bucket folder for this: s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/mtp-tables/

[2022-07-25 19:28] chinwallaa commented on #363
from JoLynn docker exec -ti container_name bash

[2022-07-25 19:35] jharenza opened #383 "Updated analysis: Remove `metastatic secondary tumors` from independent specimen lists"
#### What analysis module should be updated and why?
`independent-samples` contains `metastatic secondary tumors` in the primary lists because although `pathology_diagnosis` == `Metastatic secondary tumors`, the `tumor_descriptor` is showing an `Initial CNS tumor` and these are being captured when they should not be.

#### What changes need to be made? Please provide enough detail for another part

[2022-07-25 20:23] afarrel commented on #382
Is there a way to see if you observe this using raw reads/counts instead of expected counts?

[2022-07-25 21:24] migbro commented on #374
So, the latest snag is with RNAseq data. The TCGA dataset was done with GENCODE 36 I believe, and GENCODE 39 is still in the works for us. The TCGA set has ~20k more entries. I could merge only on th ecommon ones and the breakdown looks like:
[code]
Or perhaps, do some kind of outer join to keep all the existing entries from GENCODE 27. Those are my leading solutions

[2022-07-26 15:52] adilahiri opened #384 "independent-samples-*.tsv (need to run after histology file is ready)"

[2022-07-26 15:55] adilahiri commented on #384
Opened by mistake.

[2022-07-26 15:55] #384 closed

[2022-07-27 21:53] migbro commented on #374
So, so close.
I have merged the RNA on common hugo symbols, updated the code to handle DGD (fusions had entrez col removed on merge for some reason?! It ends up being unused, but should still be there with blank entries). Final validation fails because the DGD mafs had the empty values for `t_ref_count	t_alt_count	n_depth	n_ref_count	n_alt_count` replaced with `NA` instead of left blank. In the ma

[2022-07-27 22:12] jharenza commented on #374
Ahh @HuangXiaoyan0106 prepared the DGD files so we can have her update for you (but not replace in v11- can we put these in a v12 folder so they are updated for then?)

[2022-07-28 01:25] jharenza commented on #374
actually, I will update this for you now, and add here: s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v12/ so @HuangXiaoyan0106 no worries!

[2022-07-28 01:47] jharenza commented on #374
@migbro I added the files to the v12 folder.

[2022-07-28 13:10] chinwallaa commented on #374
@migbro @logstar not sure if this is related, but do we know what the concordance of gene symbols in OpenPedCan/PMTL/MTP is with whats used in CBioPortal.  @logstar had identified that some of the URL links from MTP to CbioPortal had different (updated) genesymbols

[2022-07-28 14:24] migbro commented on #374
@jharenza , the maf update seems to have worked thanks. The fusion update is positionally sensitive (Mark had basically made the DGD fusion output cBio-ready). I had already hacked my way around it, but Entrez ID should be second column. @chinwallaa no, not really related as I load what I get from MTP as-is into the portal. It may have some differences/equivalencies that it internally interprets,

[2022-07-28 14:56] jharenza commented on #374
Oh jeez, ok. I can update that later. I had to look at the docs for column name bc our putative oncogenic file doesn't have that either - assume you add that column?

[2022-07-28 15:42] migbro commented on #374
Correct, I do add that column as part of the ETL normally

[2022-07-28 18:10] migbro commented on #374
Ok @jharenza @chinwallaa @logstar , I have loaded v11 into the **QA** server here: https://kf-strides-cbioportal-qa.kidsfirstdrc.org/study/summary?id=openpedcan_v11
If this looks good, I can push to prod and close this out.

[2022-07-28 19:20] aadamk commented on #382
Hi @afarrel - I'll check with the bix dev team regarding whether a matrix of raw counts are available.

The [vignette](https://bioconductor.org/packages/release/bioc/vignettes/DESeq2/inst/doc/DESeq2.html#transcript-abundance-files-and-tximport-tximeta) also mentions that RSEM transcript abundances can be used provided that offsets for gene level abundances are calculated using tximport. Could go t

[2022-07-29 20:20] jharenza opened #385 "gmail/AWS access"
Created ticket [here](https://d3b.atlassian.net/browse/DEVOPS-741) for gmail and EC2 access for @adilahiri and @kelseykeith

[2022-07-29 20:26] jharenza commented on #319
@youngnm following back up on this to close out the issue - have these been unhidden?

[2022-07-29 20:27] jharenza commented on #366
@youngnm can you check this one as well?

[2022-07-29 20:28] youngnm commented on #319
Hi @jharenza , yes all the methylation data is now unhidden. Thanks for following up!

[2022-07-29 20:28] jharenza commented on #369
@yuankunzhu who would have this information? These samples were in the fusion file blank.

[2022-07-29 20:29] #319 closed

[2022-07-29 20:40] youngnm commented on #366
In the short term, is it possible for you to filter out the 3 month update records on your end? I'll raise this as a discussion item with the larger team because it's a major change to CBTN-All. Not sure what the timeline looks like yet.

[2022-07-29 21:31] ewafula opened #386 "Updated analysis: rerun snv-frequencies with updated v11 pedcbio case IDs"
#### What analysis module should be updated and why?

`snv-frequencies` module needs to be updated to use v11 pedcbio cohort case IDs, aka case set IDs, to generate pedcbio plot URLs.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

After [#375](https://github.com/PediatricOpenTargets/ticket-tracker/issues/375) is resolved, update `analy

[2022-08-01 17:18] jharenza commented on #374
@migbro this looks good. I think the only update we will need is updating TCGA case set IDs to not be counted in the "All cohorts" cancer groups. For example, TCGA LGG are now mixed with PBTA, LGG, etc in the "LGG" group. We will want this to be pediatric only.

[2022-08-01 17:29] chinwallaa commented on #374
@jharenza do we also need to exclude DGD panel case set IDs here (or not related) - as to not include in the "All cohorts" cancer group to coordinate with the MTP v1.1 summary tables  - specifically for snv & fusion frequencies analytics ?

[2022-08-01 17:46] jharenza commented on #374
@migbro @chinwallaa disregard above as we can handle this on the api end

[2022-08-01 22:56] migbro commented on #374
Load looks successful: https://pedcbioportal.kidsfirstdrc.org/study/summary?id=openpedcan_v11
If there is an issue, we can reopen or create a new ticket to address.

[2022-08-01 22:56] #374 closed

[2022-08-02 00:33] jharenza opened #387 "Bix Dev PedcbioPortal Support: some cancer types are missing, but are in the histology file"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists

#### [Required] How would you most generally describe your issue?
- [x] Update data for project in pedcbio portal
- [ ] Questions related to data on pedcbio portal

#### If an update to a project, provide links to the input files that should be used an

[2022-08-02 01:52] jharenza opened #388 "Updated analysis: Implement a diff check for SNV, CNV, Fusion frequency tables for new versions"
#### What analysis module should be updated and why?
The code should be similar for each module, but we would like to implement a QC check and summary check each time these tables are generated. The tables are first too large to be saved in git and second, compressed so we cannot easily view diffs.

#### What changes need to be made? Please provide enough detail for another participant to make the

[2022-08-02 14:18] migbro commented on #387
So, spot checking the spot checking, and it seems the NA's are just matched normal samples, so they should not have any cancer associated with them. Looks like the suffix thing was done in Run's code...I can add it there but not enthralled with adding code exceptions.

[2022-08-02 14:23] jharenza commented on #387
Ohhh, I did not realize we had TCGA normals but did know we had a handful of TARGET- good to know, and no worries then!

[2022-08-02 14:42] #387 closed

[2022-08-02 16:52] jharenza commented on #386
New pedcbio study link: https://pedcbioportal.kidsfirstdrc.org/study/summary?id=openpedcan_v11

[2022-08-02 16:55] jharenza commented on #386
@ewafula since @kelseykeith has this in PR, she will update it there, so I re-assigned to her.

[2022-08-02 16:56] chinwallaa commented on #386
FYI - we may have a production URL of the released MTP site coming soon, which we can link to in the blurb header -

 This data has been integrated into the pediatric open targets platform to assist in development and query of the FDA's Relevant Pediatric Molecular Targets List (PMTL) to identify new therapeutics for children with cancer.

[2022-08-02 17:00] jharenza opened #389 "Created merged matrices of gene raw counts for data release"
#### What data file(s) does this issue pertain to?
We currently only have gene expected counts and not raw counts in the data releases.

#### What release are you using?

v12

#### Put your question or report your issue here.
Create:
[code]

cc @afarrel  in case I am missing anything

[2022-08-02 17:05] jharenza opened #390 "Subset `tcga-gene-expression-rsem-tpm-collapsed.rds` to match `gene-expression-rsem-tpm-collapsed.rds`"
#### What data file(s) does this issue pertain to?
[code]

#### What release are you using?
v11

#### Put your question or report your issue here.
During the pedcbio load, @migbro noticed that these files had different number of rows (genes), and since these files may be used in combination in the future (and in future pedcbio loads), we should take the overlaps during the matrix generation step t

[2022-08-02 17:41] yuankunzhu commented on #369
assign this to the @zhangb1 to double check.

[2022-08-02 17:50] zhangb1 commented on #369
@jharenza @yuankunzhu

I can find the fusion files in the s3 bucket:
[code]

I downloaded the files , but seems there is error format in the files ...
[fusion_check_2BS.zip](https://github.com/PediatricOpenTargets/ticket-tracker/files/9244531/fusion_check_2BS.zip)

the  first column is not the GeneID, I think there is the issue when DGD generate the fusion results for these two samples.

[code]

[2022-08-02 17:57] jharenza commented on #369
Yeah, we had @HuangXiaoyan0106 remove these samples from the DGD fusion file, so the question is really who at DGD can tell us if these samples really had fusions or if they do not/ can we get new files if they do and append them to the DGD fusion file?

[2022-08-02 17:59] zhangb1 commented on #369
I know is Mark before generated the files, but since he left, I don't know who should contact. @yuankunzhu  do you know who can we ask for?

[2022-08-02 23:03] jharenza opened #391 "Add v12b6 CBTN methylation classifier results to data warehouse"
#### What data file(s) does this issue pertain to?
https://data-tracker.kidsfirstdrc.org/study/SD_BHJXBDQK/documents/SF_FCG4Q8E3

#### What release are you using?

v11

#### Put your question or report your issue here.
We recently got additional, and an updated version of, methylation classifier results. We need to first decide which columns to keep (cc @aadamk) and then pull these into the data W

[2022-08-03 13:55] aadamk commented on #382
To update - I had overlooked that the design had been specified as `0+harmonized_diagnosis`, which eliminates a reference group comparison, specifies an intercept of 0, and returns results for whether gene expression of any group is significantly different from 0. This design requires a secondary `contrast` test explicitly specifying the two harmonized diagnoses to get a list of which genes are di

[2022-08-03 13:56] yuankunzhu commented on #369
emailed Kajia and Matt for this.

[2022-08-03 19:51] luederm commented on #369
Feng looked into this and there was one reported fusion for DGD-19-6772: C11orf95-RELA

[2022-08-03 19:55] jharenza commented on #369
Thanks, must be an ependymoma :)

[2022-08-03 20:14] luederm commented on #369
For BS_WQN6CS9Q, there were no reported fusions

[2022-08-03 20:14] jharenza commented on #369
Thank you!

[2022-08-03 20:15] luederm commented on #369
No problem

[2022-08-03 20:26] jharenza opened #392 "Add BS_YKEK4YWT fusion to DGD fusion file"
Feng looked into this and there was one reported fusion for BS_YKEK4YWT: C11orf95-RELA

_Originally posted by @luederm in https://github.com/PediatricOpenTargets/ticket-tracker/issues/369#issuecomment-1204407707_

For release v12

[2022-08-03 20:26] #369 closed

[2022-08-08 19:57] jharenza commented on #361
Hi @kelseykeith - today, we discussed that we forgot about TARGET cohort having Targeted Sequencing samples, so we should add those as a second panel cohort to only this table.

Can you also please update these panel cohorts to "TARGET panel" and "CHOP P30 panel"? cc @afarrel

[2022-08-08 19:58] jharenza commented on #362
@sangeetashukla for this update, can you also rename "DGD" to "CHOP P30 panel" please? cc @afarrel

[2022-08-09 12:25] kelseykeith commented on #361
Sure! Just want to double-check two things to make sure I'm on the same page:

1. Everything that is a panel should have as `experimental_strategy`, "Targeted Sequencing", right?
2. And all the samples that have `cohort` as "DGD" are the CHOP P30 data correct?

[2022-08-09 12:59] jharenza commented on #361
Correct!

[2022-08-09 18:34] jharenza opened #393 "Updated analysis: separate docker build and each analysis module in GA as separate jobs"
#### What should be updated and why?
The `.github/workflows/run-analysis.yml` in [#227](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/227) is set up as only one job. We would like to change this to separate jobs for the docker build and each analysis module so that we can restart where the failed job left off without needing to rebuild the image every time.

#### Who will comple

[2022-08-10 03:38] jharenza commented on #373
completed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/225

[2022-08-10 03:38] #373 closed

[2022-08-10 13:23] #381 closed

[2022-08-10 19:14] jharenza commented on #386
Hi @kelseykeith - will you be able to get to this and run the SNV module on EC2 this week?

[2022-08-10 19:46] kelseykeith commented on #386
Hopefully this Friday, if not, next Monday most likely. I've been working on this in parallel with [#361](https://github.com/PediatricOpenTargets/ticket-tracker/issues/361#issuecomment-1209350783) so I had to make further changes this week for that ticket to fix the panel cohorts.

[2022-08-10 19:49] jharenza commented on #386
Thanks. Also have a look at https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/233 which I updated for the fusion table if you need some ideas for how to integrate DGD. Could be similar for TARGET.

[2022-08-10 19:49] kelseykeith commented on #386
Thanks, I will!

[2022-08-10 19:51] jharenza commented on #391
@aadamk Do you want to have a look at this file and suggest some fields to retain/informative column name mappings we can use?

[2022-08-10 20:25] jharenza opened #394 "GitHub Actions Ubuntu env deprecated - upgrade?"
I came across this error while working on https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/227
<img width="982" alt="Screen Shot 2022-08-09 at 8 41 46 PM" src="https://user-images.githubusercontent.com/207034/184013273-55142345-c4ec-48ae-a548-864d942a1624.png">

Who will work on this?

@devbyaccident

[2022-08-10 23:22] jharenza opened #395 "When MRAN is down, docker build fails - same issue as OpenPBTA"
For reference, discussion [here](https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1250)

[2022-08-10 23:26] jharenza commented on #385
I believe this is complete. @adilahiri and @kelseykeith can you confirm?

[2022-08-10 23:33] adilahiri commented on #385
Yes @jharenza , both me and @kelseykeith got our d3b accounts and AWS access.

[2022-08-10 23:39] jharenza commented on #385
great!

[2022-08-10 23:39] #385 closed

[2022-08-11 18:56] #372 closed

[2022-08-12 00:42] #394 closed

[2022-08-12 01:19] jharenza commented on #395
closed with [PediatricOpenTargets/OpenPedCan-analysis#234](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/issues/234)

[2022-08-12 01:19] #395 closed

[2022-08-12 01:21] jharenza commented on #366
I realized I never responded @youngnm - I have already taken care of this manually!

[2022-08-12 01:26] jharenza opened #396 "Updated analysis: update efo-mondo to auto pull matching IDs from the web"
#### What analysis module should be updated and why?
[efo-mondo-mapping](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/efo-mondo-mapping) should be updated to use @taylordm's automated script on the pre-filled file, which is currently generated in `molecular-subtype-integrate`

#### What changes need to be made? Please provide enough detail for another participant t

[2022-08-12 18:24] jharenza commented on #321
completed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/224

[2022-08-12 18:24] #321 closed

[2022-08-15 01:07] jharenza opened #397 "D3b Bix Dev Feature: Annotate DGD fusion files"
# ✨

#### [Required] Is this a new tool/workflow?
Sort of

#### [Required] Which tools/workflows would you like to update/add?
#### Provide software links and `dockerPull` location if applicable
1. Reformat DGD fusion file:

[code]
2. Annotate with FusionAnnotator
3. Run through annoFuse QC step
4. Upload file to v12 bucket as `fusion-dgd-annotated.tsv.gz`

#### [Required] What features (new param

[2022-08-15 15:34] migbro commented on #397
Hmm, yeah, this looks more like an ops thing. Maybe @zhangb1 can update with on when he or someone on his team can fit this in

[2022-08-15 19:09] #382 closed

[2022-08-15 19:38] zhangb1 commented on #390
Just note here  the v11  rds files  need to be used are in cavatica public project or  aws s3 bucket :
https://cavatica.sbgenomics.com/u/cavatica/opentarget/files/#q?path=v11

s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v11/

[2022-08-15 20:27] zhangb1 commented on #397
@jharenza

I ran the tools  FusionAnnotator , in the task here : https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-target-rnaseq/tasks/17a34173-1d95-41d2-850a-fa75005c95d6/

can you check the result in the output?

3. Run through annoFuse QC step,,, which tool is the QC step? I may miss that

[2022-08-15 20:36] jharenza commented on #397
Thanks @zhangb1 - can you give me access?

For 3 - the annoFuse filtering step which you run for the KF workflow

[2022-08-16 12:59] zhangb1 commented on #389
@jharenza  where we can find the gtex RNAseq counts file? also the tcga one?

I don't think we have those.

[2022-08-16 13:04] jharenza commented on #389
@afarrel can you inform please? Perhaps gtex (v8 we are using) counts can be gencode raw from here: https://gtexportal.org/home/datasets

For TCGA, you will have to get from GDC (maybe the ones we previously released are raw counts and not expected, but I'm not sure). I believe you had queried the portal. Maybe @yuankunzhu can help with this.

It's possible that only PBTA+GMKF were using expected

[2022-08-16 14:12] zhangb1 commented on #397
@jharenza

seems we can't use the annofuse filter step here, in the annofuse tool. the inputs need both arriba and starfusion results also the RSEM gene expression file.  see the cwl below..   the merged DGD fusion files here,  we don't have those inputs

https://github.com/kids-first/kf-rnaseq-workflow/blob/master/tools/annoFuse.cwl

[2022-08-18 14:38] zhangb1 commented on #283
can we close this ticket ? @migbro

[2022-08-18 14:45] migbro commented on #283
Um, not quite. Not sure the best way to do this, as we are tracking progress on a D3b ticket even though it's OpenPedCan related. So, we are trying re-running a couple jobs adding a panel of normals as we had a really big FP rate. So, for example
[code]
That's the public tumor-olnly vs public consensus for 1 sample. We're going to see if adding a PON will improve that before passing the results to

[2022-08-18 21:11] #397 closed

[2022-08-19 19:25] aadamk commented on #391
To me, all fields seem valuable with the exception of the first two redundant fields as they give a hierarchy of predictions, graphically represented [here](https://www.molecularneuropathology.org/mnp/classifiers/11). The more verbose `*subclass1*` descriptions are more informative up-front.

The score fields will allow us to filter during any downstream analytics. >= 0.9 is the high confidence th

[2022-08-19 20:21] kelseykeith commented on #377
Closed as completed in <https://github.com/PediatricOpenTargets/documentation/pull/5>

[2022-08-19 20:21] #377 closed

[2022-08-19 20:35] kelseykeith opened #398 "Updated analysis: Documentation Dataset Table"
#### What analysis module should be updated and why?

The table in the dataset section in the documentation repository needs to be updated on the main branch.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

1. Currently the table lists the total number of samples available through OpenPedCan-analysis. As this is not exactly the same as

[2022-08-22 02:44] HuangXiaoyan0106 commented on #390
Have completed it, and generated new files. [gene-expression-rsem-tpm-collapsed-subset.rds](https://cavatica.sbgenomics.com/u/d3b-bixu-ops/monthly-release-data/files/6302e9020d345971485dc146/), [tcga-gene-expression-rsem-tpm-collapsed-subset.rds](https://cavatica.sbgenomics.com/u/d3b-bixu-ops/monthly-release-data/files/6302eac75129df274bf6beb8/)
Also, I have uploaded it to the monthly release data

[2022-08-22 03:49] HuangXiaoyan0106 commented on #389
@jharenza I have prepared the cwl tool, and once gtex and tcga data are ready I can start the process. One thing, please clarify which count value do you want to keep in the merged matrices.

As explained on the [STAR manual](https://github.com/alexdobin/STAR/blob/master/doc/STARmanual.pdf). STAR outputs read counts per gene into `ReadsPerGene.out.tab` file with 4 columns which correspond to diffe

[2022-08-22 13:44] zhangb1 commented on #390
Thanks @HuangXiaoyan0106 !

[2022-08-22 17:07] jharenza commented on #389
Hi @HuangXiaoyan0106. I suspect we will need to use a custom column based on the library types, of which we have:

[code]

@yuankunzhu or @zhangb1 or @afarrel can you inform which columns will go with which library types?

[2022-08-22 17:52] zhangb1 commented on #389
Only the  poly-A  samples are unstranded... using column 2...

@jharenza  why the poly-A has 27900 sample?

Others are rf-stranded... which need to use the column 4

[2022-08-22 17:55] jharenza commented on #389
Ha! TCGA + GTEX + TARGET, I believe!

[2022-08-22 17:56] jharenza commented on #389
@HuangXiaoyan0106 can you set a rule, if `RNA_library == "poly-A"`, use column 2, else use column 4?

[2022-08-22 18:17] zhangb1 commented on #390
@jharenza  can you confirm which bucket I should export the files?

[2022-08-22 18:25] jharenza commented on #390
`s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v12/` please - will you update md5sum as well?

[2022-08-22 20:34] zhangb1 commented on #390
Okay ,files are uploaded in the v12 folder, and md5 also updated.

gene-expression-rsem-tpm-collapsed-subset.rds
tcga-gene-expression-rsem-tpm-collapsed-subset.rds

[2022-08-22 23:35] jharenza commented on #363
completed in https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/231

[2022-08-22 23:35] #363 closed

[2022-08-23 08:31] HuangXiaoyan0106 commented on #389
Sure, I can set it, but I need a manifest that includes all related sample_id and RNA_library info.

[2022-08-23 17:10] jharenza commented on #293
completed in https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/243

[2022-08-23 17:10] #293 closed

[2022-08-23 17:10] jharenza commented on #361
completed in https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/243

[2022-08-23 17:10] #361 closed

[2022-08-23 17:11] jharenza commented on #386
completed in https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/243

[2022-08-23 17:11] #386 closed

[2022-08-23 18:22] jharenza opened #399 "Create automated workflow for `histologies-base.tsv`"
#### What data file(s) does this issue pertain to?
[code]

#### What release are you using?
v11

#### Put your question or report your issue here.
@HuangXiaoyan0106 - can you create a workflow based on [this QC code](https://github.com/d3b-center/D3b-codes/tree/master/v11-OpenPedCan) to automate generation of `histologies-base.tsv` from `histologies-base-adapt.tsv` (the histologies file from the D

[2022-08-24 02:28] HuangXiaoyan0106 commented on #399
@jharenza This week I'm working on wrapping up the clinical report CWL. Probably I'll start working on this next week.

[2022-08-24 02:28] jharenza commented on #399
Thanks!

[2022-08-24 02:39] jharenza commented on #380
Completed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/244

[2022-08-24 02:39] #380 closed

[2022-08-25 14:07] #390 closed

[2022-08-25 14:20] chinwallaa commented on #390
Thanks.  Question @zhangb1 @jharenza is it useful to capture the number, and set off genes that are different and not included in the final set of files, as one of the QC metric ? Assuming that these differences are due to different versions of gencode  or something else?

[2022-08-25 14:29] zhangb1 commented on #280
Can we close this ticket?

[2022-08-26 20:09] jharenza opened #400 "Updated analysis: Update `gene_match` module GENCODE versions"
#### What analysis module should be updated and why?
Update [gene_match](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/gene_match) to include all GENCODE versions being used as of v12 release forward.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add GTF and matching for GENCODE versions:

[code]

#### W

[2022-08-29 00:13] jharenza opened #401 "Exploratory analysis: Using GATK CNV in consensus CNV instead of MantaSV"
#### What analysis module should be updated and why?
We would like to determine what the differences are between using MantaSV and GATK CNV in the CNV consensus module. @sickler-alex has created two stacked PRs:
- [207](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/207), which updates [copy_number_consensus_call](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/d

[2022-08-29 00:22] jharenza opened #402 "Updated analysis: rework release scripts"
#### What analysis module should be updated and why?
We are going to transition to _all_ analysis files being generated by the BIXU toolkit cc @zhangb1 @yuankunzhu @aadamk @chinwallaa @adamcresnick

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1. Combine these files:
[generate-analysis-files-toolkit.sh](https://github.com/PediatricOpen

[2022-08-29 00:28] #318 closed

[2022-08-29 00:35] jharenza commented on #391
@nicholasvk is this something you can work on getting into the data warehouse in the next two weeks, using `DKFZ_ prefix for all fields` prior to our large X01 release?

One point of clarification @aadamk - do you want us to remove v11 results or keep both? I only worry the histology file will be getting unwieldy. Or perhaps you or someone else can do a comparison of v11/v12 before we add this?

[2022-08-29 10:30] HuangXiaoyan0106 commented on #399
@jharenza Some points want to confirm with you,
1. You just want to run `add_v11_updates.py` with the files in the `input` folder to generate the histology file. Other scripts(`01-samples_to_add.R/02-path_dx_mapping.R...`) will not be run.
Briefly,  `histologies-base-adapt.tsv`.    **---`python add_v11_updates.py`--->**      `histologies-base.tsv`

2. Which one does `histologies-base-adapt.tsv` re

[2022-08-29 11:39] jharenza commented on #402
Perhaps we can also think about adding a "commit_directory" such as the compiled directory which will be reserved for files to commit to examine changes.

[2022-08-29 19:19] jharenza opened #403 "Create pre-release matrix QC requirements"
This ticket is to create a set of QC requirements for release files which should pass before hand off between BIXU Eng to the OpenPedCan team.

For example:
- all non-TCGA RNA-Seq BS_ids should be captured in:
[code]
- all TCGA RNA-Seq bs_ids should be captured in:
[code]
- The genes in the below files should all match:
[code]
- all WXS and WGS BS_ids should be in:
[code]
- all WXS samples in `cnv

[2022-08-29 19:30] jharenza commented on #383
Module: https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/independent-samples

[2022-08-29 19:33] nicholasvk commented on #366
I don't think the answer here is to "remove" these from the data warehouse. My understanding is that we will no longer be collecting 3 month updates prospectively, but the existing records captured before that decision are valid. I think we should confirm these values with the CRC team and then make a decision on how to proceed. If both entries are valid we can:
1. Keep concatenated as is.
2. Deve

[2022-08-29 19:42] jharenza commented on #389
@yuankunzhu can you inform / gather a link for @zhangb1 to generate a raw count matrix for TCGA?

[2022-08-29 19:45] jharenza commented on #366
Some of these are tricky and have to be done on a sample to sample basis. I had confirmed all of these with Jenn before any updates and for this sample, the coding logic here should be: For `7316-356` --> `Partial resection`. We do not want to use a 3 month update for tumor resection because the genomic data is for the initial visit, and at that visit, there was only partial resection. Can we add

[2022-08-29 21:21] ewafula opened #404 "Updated methylation arrays pre-processing module"
#### What analysis module should be updated and why?
- [methylation-preprocessing module](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/methylation-preprocessing) and associated CAVATICA toolkit

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Move methylation beta/m-values matrix generation process from

[2022-08-29 21:24] #269 closed

[2022-08-29 21:54] ewafula opened #405 "Filter v11 mtp mutation frequencies tables for only genecode v38 genes"
#### What analysis module should be updated and why?
Filter mutation frequencies tables using [filter-mutation-frequencies-tables module](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/filter-mutation-frequencies-tables) and update files on `mtp-tables` on the s3 bucket.

#### What changes need to be made? Please provide enough detail for another participant to make

[2022-08-30 03:10] jharenza commented on #399
Actually, no. We will only want to run the scripts in the shell script. The python code was used to generate histologies files for TCGA, TARGET, GTEX, GMKF NBL, which were uploaded to the Data Tracker and then pulled into the WH, so they do not need to be regenerated using this code again.

`prod_reporting.openpedcan_histologies`

There are two steps to this QC, not immediately clear. I am pasting

[2022-08-30 23:09] jharenza opened #406 "update DGD MAF with updated BS_ids for v12 OPC release"
#### What data file(s) does this issue pertain to?
`snv-dgd.maf.tsv.gz`

#### What release are you using?

v11

#### Put your question or report your issue here.
We need to change `BS_66P79BWX -> BS_TECFMMGC` and remove `BS_20218759` and `ET_CDK68MSH` from MAF + histologies file for v12. See [ticket](https://github.com/d3b-center/bixu-tracker/issues/1563) for more information.

[2022-08-31 00:49] jharenza opened #407 "Updated analysis: Update analysis modules to use GENCODE 39 where required"
#### What analysis module should be updated and why?
**MAIN SCRIPTS**
[code]

**MODULES**
GENCODE 27:
[code]

GENCODE 38:
[code]

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Scripts and modules should be assessed for whether GENCODE GTFs need to be updated and then they should plan to be updated for V12 release

#### When do you expec

[2022-09-01 13:37] aadamk commented on #391
Yes, I'm thinking this should replace v11. Will likely be able to do a comparison by the end of next week given the upcoming holiday from 9/2-9/6.

[2022-09-05 06:19] HuangXiaoyan0106 commented on #399
@jharenza I made the PR:https://github.com/d3b-center/histologies-qc/pull/1, please review it if you get a chance.

[2022-09-06 12:41] chinwallaa commented on #398
We can discuss these at the larger team meeting  as well -

my 2cents-

Only samples in the independent-specimen list.  (a participant is listed as having a sample, if there is >=1 DNA (WGS, WES, Panel) Tumor and/or Normal available,  and/or >=1 RNA-seq, RNA-fusion-panel, and/or >=1 Methyl Array for that participant)

Do we only want to include tumor samples or both tumor and normal?
Samples that

[2022-09-06 12:46] kelseykeith commented on #398
I actually put stuff together for this on Friday and submitted a PR to the documentation repo, [PR#7](https://github.com/PediatricOpenTargets/documentation/pull/7) that addresses all that. It counts samples per cohort/Dataset, sequencing type, and tumor type (primary/relapse). Also, there is now code in the repo that pulls from `OpenPedCan-analysis` data to generate the count table

[2022-09-06 16:04] chinwallaa commented on #405
Will we not always need this, as it will depend on which version of Ensembl OpenTargets platform updates to (backend) ?

[2022-09-13 18:05] jharenza opened #408 "library type missing for BS_ETC8R0TD"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v11

#### Put your question or report your issue here.
1. Add this as "stranded" in the GMKF histology file @ewafula
2. Re-pull file into data WH. @nicholasvk

[2022-09-13 20:39] adilahiri commented on #401
Attached in the zip file are the plots from reruning the `oncoprint landscape` module. To generate these plots `consensus_wgs_plus_cnvkit_wxs_autosomes.tsv.gz `and `consensus_wgs_plus_cnvkit_wxs_x_and_y.tsv.gz` were used in place of `consensus_seg_annotated_cn_autosomes.tsv.gz `and `consensus_seg_annotated_cn_x_and_y.tsv.gz`. The percentage of alteration remained the same across all the plots.  Th

[2022-09-15 00:56] adilahiri commented on #401
I am unable to run the module `tp53_nf1_score`, as I run the module I within the docker environment, I get the following error message.:

[code]

[2022-09-15 17:10] ewafula opened #409 "delete v11 mtp gencode v38 filtered tables on s3 bucket"
#### What analysis module should be updated and why?
Subfolder, `filtered-for-gencode-v38/` in the s3 bucket  MTP data release folder, `mtp-tables/` needs to be detected. The v11 MTP filtered tables excluding `Ensembl IDs, not in GENCODE v38` are not needed. We have generated new MPT tables filtered for the required `GENCODE v39 Ensembl IDs` and against `OT deprecated Ensembl IDs` available here:

[2022-09-15 17:32] devbyaccident commented on #409
This is done.

[2022-09-15 17:32] #409 closed

[2022-09-19 18:20] adilahiri commented on #401
For step 1 of this ticket:
I subset the v11 file  `consensus_wgs_plus_cnvkit_wxs.tsv.gz` with the required cohorts using the `histologies.tsv` file.
I further filtered it using for pathology_diagnosis for Neuroblastoma and related terms:
"Neuroblastoma"
"Ganglioneuroblastoma, intermixed"
"Ganglioneuroblastoma"
"Ganglioneuroma, maturing subtype OR Ganglioneuroblastoma, well differentiated"

The dat

[2022-09-21 17:05] zoomzoom1011 opened #411 "Bix Dev PedcbioPortal Support:"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists
For Kids First DRC GATK HaplotypeCaller CRAM to gVCF Workflow. The current workflow version uses c5.9 xlarge instance, which increases the price per run. We recommend use c4.2 instance on cram to bam step and GATK step used c5.4 instance.

#### [Require

[2022-09-21 17:10] #411 closed

[2022-09-21 22:15] ewafula opened #412 "Updated Analysis: modify methyl independent specimens to match with indep RNA samples"
#### What are the scientific goals of the analysis?
Update [independent-samples module](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/independent-samples) `05-generate-independent-specimens-methyl.R` script to create methylation `all_cohorts` and `each_cohorts` `primary` and `relapse` independent sample lists.

#### What methods do you plan to use to accomplish the

[2022-09-21 22:33] jharenza commented on #412
@sangeetashukla can you take this?

[2022-09-22 21:55] logstar opened #413 "Updated analysis: update `rna-seq-expression-summary-stats` module for v11 data release"
#### What analysis module should be updated and why?

`rna-seq-expression-summary-stats` module needs to be updated to generate the following files using v11 data:

- `long_n_tpm_mean_sd_quantile_gene_wise_zscore.jsonl.gz`
- `long_n_tpm_mean_sd_quantile_gene_wise_zscore.tsv.gz`
- `long_n_tpm_mean_sd_quantile_group_wise_zscore.jsonl.gz`
- `long_n_tpm_mean_sd_quantile_group_wise_zscore.tsv.gz`

The

[2022-09-22 22:04] logstar opened #414 "Updated analysis: update `scripts/generate-mtp-tables.sh` script to include `rna-seq-expression-summary-stats` module"
#### What analysis module should be updated and why?

After <https://github.com/PediatricOpenTargets/ticket-tracker/issues/413> is resolved, the [`scripts/generate-mtp-tables.sh` script](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/4361f47086d01218c4fc9d4bb82024b75e5d3853/scripts/generate-mtp-tables.sh) needs to be updated to generate and upload the following output files of th

[2022-09-23 15:35] ewafula opened #415 "Updated analysis: histologies MYCN status"
#### What analysis module should be updated and why?
Update OpenPedCan histologies with correct MYCN status from TARGET and GMKF clinical files

#### What changes need to be made? Please provide enough detail for another participant to make the update.

1. Add code at the end `add_v11_updates.py` script in the [v11-OpenPedCan histologies update module](https://github.com/d3b-center/D3b-codes/tree/

[2022-09-23 19:37] kelseykeith opened #416 "KMT2C 100% Mutation Frequency in DGD Samples"
#### What data file(s) does this issue pertain to?

- `gene-level-snv-consensus-annotated-mut-freq.tsv.gz` in `analyses/snv-frequencies/results/`
- data file `snv-dgd.maf.tsv.gz`

#### What release are you using?

v11

#### Put your question or report your issue here.

FNL noticed when looking through `gene-level-snv-consensus-annotated-mut-freq.tsv.gz` that for KMT2C in the DGD/CHOP P30 Panel sam

[2022-09-23 20:10] luederm commented on #416
@jharenza Just to confirm, the DGD MAF you are referring to is the same as the one I annotated with FileMaker classifications, right?

[2022-09-23 20:21] #383 closed

[2022-09-23 20:24] #388 closed

[2022-09-23 20:25] chinwallaa commented on #277
No longer going fwd with this as SevenBridges is not working on this.

[2022-09-23 20:29] migbro commented on #277
Makes sense. We could compare the F1 scores when we bench the OpenPBTA method, but for now, not a priority.

[2022-09-23 20:29] #277 closed

[2022-09-23 20:45] chinwallaa commented on #280
closing this as SB, is no longer actively working on multi-CNV

[2022-09-23 20:45] #280 closed

[2022-09-23 20:52] chinwallaa commented on #281
should we add ATRT (as they have germline per @jharenza ) need to filter against a clean panel of normals (as not to over filter).

[2022-09-23 20:59] chinwallaa commented on #276
Do we need permission to run the CHOP data thru the updated pipelines (PIVOT pipelines).   @afarrel will follow up with John Marris.  Do we have other PDX data - PDXFinder?  - Nothing processed yet.  WIll need to get an analysis plan together with FNL/NCI for this new data type.  Have starfusion/ariba for PPTC PDX data.  Expression table, SNV calls, fusion calls - ability to look at mutations in p

[2022-09-23 21:09] chinwallaa commented on #405
closed w/ filter v11 freq tables for gencode v39 #252

[2022-09-23 21:09] #405 closed

[2022-09-26 18:21] aadamk commented on #391
A few updates:

1. v11 vs v12 class-level scores (family scores for v12) were generally linearly correlated, with skewness occurring at scores 0.4 and below (though likely does not matter as 0.5 and below is considered unusable data.

![image](https://user-images.githubusercontent.com/20973091/192326050-755dfd89-87b7-48f0-b852-a50f5a2c05d5.png)

2. The same is true for subclass scores across v11 a

[2022-09-26 19:04] kelseykeith commented on #398
Completed with documentation [PR #7](https://github.com/PediatricOpenTargets/documentation/pull/7)

[2022-09-26 19:04] #398 closed

[2022-09-26 19:10] #403 closed

[2022-09-26 19:11] #393 closed

[2022-09-26 19:41] jharenza commented on #413
The only update I can think of which may or may not be needed is that if we are not selecting samples by RNA-Seq strategy, we may need to pre-filter out DGD cohort.

[2022-09-26 20:59] jharenza commented on #401
This can be closed following exploration by @kelseykeith and @adilahiri showing that the updated consensus calls using GATK CNV instead of Manta SV do not change CN calls of oncogenes and molecular subtypes for NBL, HGG, LGG, and embryonal tumors

[2022-09-26 20:59] #401 closed

[2022-09-27 02:12] jharenza opened #417 "Proposed Analysis: Neuroblastoma (NBL) molecular subtyping"
#### What are the scientific goals of the analysis?
To molecularly subtype neuroblastoma, ganglioneuroblastoma, and ganglioneuroma samples into MYCN amplified or MYCN non-amplified.

#### What methods do you plan to use to accomplish the scientific goals?
This information is usually collected clinically via FISH, for example. For this module, we will want to:
1. For each NBL sample, gather MYCN am

[2022-09-27 03:38] HuangXiaoyan0106 commented on #406
I have changed `BS_66P79BWX -> BS_TECFMMGC` in `input/samples_to_add.txt` and added `BS_20218759` and `ET_CDK68MSH` in` input/samples_to_remove.txt`.

[2022-09-28 13:50] aadamk commented on #391
Attaching the mappings between high and medium confidence (in separate files) methylation calls across v11 vs v12 for reference.

[Methylation_HighConfidence_v11v12Comp.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/9665605/Methylation_HighConfidence_v11v12Comp.txt)
[Methylation_MedConfidence_v11v12Comp.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/9665606/Me

[2022-09-28 19:00] zdorman opened #418 "v11 Disease IDs incompatible with MTP"
#### What data file(s) does this issue pertain to?

v11 Somatic Alterations tables for MTP:

- SNV by Gene: `gene-level-snv-consensus-annotated-mut-freq.jsonl.gz`
- SNV by Variant: `variant-level-snv-consensus-annotated-mut-freq.jsonl.gz`
- CNV by Gene: `gene-level-cnv-consensus-annotated-mut-freq.jsonl.gz`
- Fusion by Gene: `putative-oncogene-fused-gene-freq.jsonl.gz`
- Fusion: `putative-oncogene

[2022-09-29 14:01] migbro commented on #376
Assigning to @sakshamphul .
1. From the bucket above (since it's open access, just add the flag `--no-sign-request` to your aws command, like: `aws s3 ls --no-sign-request d3b-openaccess-us-east-1-prd-pbta/data/release-v22-20220505/`), grab the `pbta-histologies.tsv` file
2. On the cBio ec2 instance I have, in `/home/ubuntu/mount/openpbta/study_build`, rename the `data_clinical*` files, adding `.o

[2022-09-29 17:15] chinwallaa commented on #418
@zdorman thanks.  To clarify, if the MTP data release cadence is 2 months from the EFO release- will that coordinate with the MTP portal refresh. Does the further delay you mention above add days/weeks/months ?

[2022-09-30 14:31] zdorman commented on #418
@chinwallaa
The total update delay between EFO release and MTP release is closer to 2-5 months:
EFO -> [1-2 months] -> OT -> [1-3 months] -> MTP

We're working on building a good cadence and improving OT->MTP update process. Meshing newer OT versions with MTP is not straightforward, so automatically updating MTP to each new OT has not been a foregone conclusion thus far.

On a related note, OT 22.

[2022-09-30 15:22] jharenza commented on #418
Question @zdorman - do we need to rely on OT? Is there a way for FNL to pull the latest from EFO/MONDO on a quicker scheduled basis?

[2022-09-30 19:31] zdorman commented on #418
@chinwallaa @jharenza I've been discussing that with the FNL team today. The consensus is that misaligning the code and data within the version of OT that MTP is based upon is too much of a stability risk. Newer EFO terms will eventually make their way to MTP, just at a delay that we'll need to coordinate around.

The short-term ask is to resubmit the v11 data with IDs that match EFO v3.40.0 (aka

[2022-09-30 19:45] jharenza commented on #418
Hi @zdorman. It might be worth us scheduling a technical call for this, as we want to make sure we are able to provide the latest mappings for these children and pharma, researchers, etc as quickly as possible so that we can accelerate treatments. We currently use an automated pull from the ontology databases as in [this module](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/

[2022-10-03 18:53] kelseykeith opened #419 "Missing PedcBio Links in `snv-frequencies` Tables"
#### What data file(s) does this issue pertain to?

`gene-level-snv-consensus-annotated-mut-freq.tsv.gz` in `analyses/snv-frequencies/results/`

#### What release are you using?

v11

#### Put your question or report your issue here.

FNL noticed when looking through `gene-level-snv-consensus-annotated-mut-freq.tsv.gz` that some links to PedcBio are missing and I looked through the table and confi

[2022-10-03 19:33] chinwallaa commented on #396
closed with #249

[2022-10-03 19:40] #396 closed

[2022-10-03 19:41] chinwallaa commented on #402
closed #250

[2022-10-03 19:41] #402 closed

[2022-10-03 19:42] #400 closed

[2022-10-03 19:44] chinwallaa commented on #356
Waiting on some methods for manuscript @zhangb1

[2022-10-03 19:47] chinwallaa commented on #279
updates on paid teams account for space issue?

[2022-10-03 19:48] #404 closed

[2022-10-03 19:50] chinwallaa commented on #389
not able to find raw counts from GDC, @chinwallaa will also look and explore GDC for this.

[2022-10-03 20:03] chinwallaa commented on #418
@zdorman do you have an estimate of when MTP will have the below version ingested - This is what we are using now w/ v12 and can plan the release cycle with MTP accordingly.  (@jharenza )

https://www.ebi.ac.uk/ols/ontologies/efo
Ontology IRI: [ http://www.ebi.ac.uk/efo/efo.owl](http://www.ebi.ac.uk/efo/efo.owl)
Version IRI: [ http://www.ebi.ac.uk/efo/releases/v3.45.0/efo.owl](http://www.ebi.ac.uk

[2022-10-03 20:54] zdorman commented on #418
@chinwallaa Thanks for pulling the release together. I'll check with the team to get an estimate for long-term solutions. We're also still discussing internally about how to handle the short-term ID issue within the v11 data and whether/how to release the v11 to the current build of MTP as planned. More on that to come.

@jharenza Understood on your points above. We want to balance the necessity o

[2022-10-03 21:01] chinwallaa commented on #418
with the v11 issue you identified with the CHOP P30 data, wrt KMT2C gene - the v11 data is still going thru QC (issue has been tracked down to the source derived data provided, and not the OpenPedCan/MTP methods/analysis ) - we can discuss during the next team mtg whether we should continue with v11 for an MTP release, or wait until a v12 release (Nov/Dec).

[2022-10-04 13:36] chinwallaa commented on #389
@yuankunzhu @zhangb1  Are these the star-count (raw count - Gene Expression Quantification) data from GDC  that we were looking to download ?
 https://portal.gdc.cancer.gov/repository?facetTab=files&filters=%7B%22op%22%3A%22and%22[…]trategy%22%2C%22value%22%3A%5B%22RNA-Seq%22%5D%7D%7D%5D%7D

[2022-10-04 15:03] zdorman commented on #418
@chinwallaa Thanks for the update on KMT2C.

I realize my response to your EFO versioning question was a bit ambiguous - sorry about that. To clarify:
We're still deciding when we will release a version of MTP that is updated to OT 22.09. (unofficially, it's on the scale of weeks-to-months). But that release will use the EFO v3.45.0 version that you identified. This will be the correct version to

[2022-10-04 18:36] chinwallaa commented on #418
Thanks @zdorman - + @sangeetashukla @taylordm as FYI

[2022-10-05 14:52] wintercl commented on #418
@chinwallaa Hi Asif.  Regarding your post above: "With the v11 issue you identified with the CHOP P30 data, wrt KMT2C gene - the v11 data is still going thru QC",  By QC, do you mean on your end (my assumption) or are you referring to the DGD's investigation of the issue?  So DGD would make corrections to the data, and then you will reprocess the data as well, correct?  Do you have an estimate of

[2022-10-05 15:20] chinwallaa commented on #418
Completed

In progress

Yes

1-2 weeks for QC, and then couple more to make corrections and then we need to re-process, either as v11 update, or with next v12 release

[2022-10-05 23:34] ewafula opened #420 "Updated EFO/MONDO mapping using OT custom EFO ontology"
#### What analysis module should be updated and why?
[efo-modo-mapping](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/efo-mondo-mapping) module

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Update the module to replace automated OLS ontology search to retrieve EFO, MONDO, and NCIT codes for OpenPedCan ca

[2022-10-06 15:04] jharenza commented on #416
Thank you for this great explanation @luederm. Out of curiosity, do you have a list of genes which have some variants which get filtered out after this process (eg I noticed a variant specific to DGD cohort in H3F3A which may or may not be artifactual). Said another way, will this process be broadly applicable to all genes' artifactual calls and not solely KMT2C?

[2022-10-06 17:05] ewafula opened #421 "Add previously excluded methylation samples to the histologies file"
#### What are the scientific goals of the analysis?
Add methylation array samples to the OpenPedCan histologies previously excluded by the default parameter setting implemented in the array preprocessing packages as bad samples. However, they had already passed QC performed by NCI. They already included the latest re-analyzed methylation array matrices to be released with the v12 OpenPedCan pre-re

[2022-10-06 18:01] jharenza commented on #376
Hi @sakshamphul - checking in on the status of this ticket please.

[2022-10-06 19:55] aadamk commented on #279
per @devbyaccident - the solution was the following

[code]

which bypasses github's LFS storage altogether which is fine as no single file is particularly large (only the total storage from the repo is large).

[2022-10-06 20:36] chinwallaa commented on #371
is there a concern on the size of the raw and summary tables - only being used by the API and possibly by FNL for backend for MTP use.  May be too large to run on a local laptop, currently on Isilon and EC2? isoform table can be seperate table. (to enable gene w/ isoform plots).   This needs to be ported/migrated to a CAVATICA app when ready.

[2022-10-06 20:43] chinwallaa commented on #356
@ewafula to review and merge, will write a separate ticket for capturing documentation

[2022-10-06 20:50] chinwallaa commented on #317
@ewafula check to see if you also have access to this s3 bucket -  v12 base histology file

[2022-10-06 20:56] chinwallaa commented on #391
will set up a working team meeting with @nicholasvk @jharenza @aadamk @chinwallaa @ewafula

[2022-10-06 20:59] chinwallaa commented on #415
@jharenza to review

[2022-10-06 21:03] chinwallaa commented on #407
can we break this up into multiple PRs @ewafula

[2022-10-06 21:15] chinwallaa commented on #419
@kelseykeith are there any updates with this?

[2022-10-07 18:16] ewafula opened #422 "Update analysis modules to use GENCODE 39 - N/1"
#### What analysis module should be updated and why?
[collapse-rnaseq](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/collapse-rnaseq) - currently using `GENCODE v27`
[focal-cn-file-preparation](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/focal-cn-file-preparation) -  currently using `GENCODE v38` and  `GENCODE v27` for older bash sc

[2022-10-07 18:20] ewafula commented on #422
@atlas4213 , you can use `grep -r 'gencode'  *` within the module directory to determine the files and scripts that need updating. These simple updates will give you a general understanding of OpenPedCan module development, execution, datasets, and structure, which will be helpful in the future when developing a module or reviewing a pull request

[2022-10-07 18:38] ewafula opened #423 "Update analysis modules to use GENCODE 39 - N/2"
#### What analysis module should be updated and why?
[tp53_nf1_score](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/tp53_nf1_score) - currently using `GENCODE v27`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Update OpenPedcan analysis modules listed above that utilize older GENCODE versions, where requ

[2022-10-07 18:40] ewafula commented on #423
@rjcorb , you can use `grep -r 'gencode'  *` within the module directory to determine the files and scripts that need updating. These simple updates will give you a general understanding of OpenPedCan module development, execution, datasets, and structure, which will be helpful in the future when developing a module or reviewing a pull request

[2022-10-10 17:39] migbro commented on #376
Ok, after reviewing errors Saksham got when running the clinical part, and patching the code to accomodate the loss of the parent aliquot id column, I think it might be best to pull from the latest release and re-run. Files can be gotten from aws and from here:
https://cavatica.sbgenomics.com/u/cavatica/openpbta/files/#q?path=release-v22-20220505

Files to be downloaded are:
[code]
I'd suggest ren

[2022-10-10 19:16] chinwallaa commented on #389
matrices need to be created and subsettted (waiting for new matrrix generation)  to other expression files for v12 (genecode 36) folder in s3 bucket.  Mark as blocked until PBTA X01 release.

[2022-10-10 19:18] chinwallaa commented on #317
Create meeting for Nick/Eric/JoLynne/Asif/AdamK to review histologies and d3b warehouse.

[2022-10-10 19:31] zhangb1 commented on #389
@chinwallaa , the files I download for v11 is  `genecode 36` , see the project here https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-tcga-rnaseq-counts/files ...
So the merged files in the v11 ,already in gencode 36 ..  https://github.com/PediatricOpenTargets/ticket-tracker/issues/285#issuecomment-1105200085

[2022-10-10 19:35] #389 closed

[2022-10-10 20:33] ewafula commented on #423
@rjcorb, you don't have to update [snv-callers](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/snv-callers)  module. It is no longer used.

[2022-10-11 08:25] kelseykeith commented on #419
Not since the ticket was put in! Will look into it more next wel

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: chinwallaa ***@***.***>
Sent: Thursday, October 6, 2022 5:16:02 PM
To: PediatricOpenTargets/ticket-tracker ***@***.***>
Cc: Keith, Kelsey ***@***.***>; Mention ***@***.***>
Subject: [External]Re: [PediatricOpenTargets/ticket-tracker] Missing PedcBio Li

[2022-10-11 17:32] kelseykeith commented on #419
After checking into this further, this is actually the expected behavior of the code for groups that are not in PedcBio. The rows that are missing links are missing them because the entire respective `cohort` + `cancer_group` is not in PedcBio.

The first step in updating this module is using the PedcBio API to fetch sample lists from PedcBio. Where data is missing, it is definitely not in this li

[2022-10-11 17:41] migbro commented on #419
Hi @kelseykeith , I think I need some more context for this. How are these links generated? Is it that the samples are completely missing from the study, or you are trying to use a case list and not finding it? IF the latter, it could be because I received guidance to skip creating case lists for sets with < 5 samples. Reasoning was it's just a lot of cohort-disease combos overall, and also each c

[2022-10-11 17:54] jharenza commented on #419
Ahhh, @migbro I think your N should be if <3 (is that what we are using for SNV tables @kelseykeith ?)

[2022-10-11 17:56] kelseykeith commented on #419
Yep, must be at least 3 samples

[2022-10-11 17:59] migbro commented on #419
Ok, that's a change I can make, maybe load later today or tomorrow

[2022-10-11 18:54] jharenza opened #424 "Updated analysis: update Ependymoma subtyping to add K28M --> PFA"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/molecular-subtyping-EPN

We previously had detected an H3 mutation in an EPN sample - turns out this is found in a small subset of PFA tumors. So, we should subtype this one as PFA.

#### What changes need to be made? Please provide enough detail for another participan

[2022-10-12 03:04] ewafula commented on #421
Previously excluded TARGET methylation array samples now include in the updated base histologies [PR #77](https://github.com/d3b-center/D3b-codes/pull/77) and [PR #22](https://github.com/d3b-center/d3b-dbt-study-transforms/pull/22).  Following 11 missing CBTN methylation array samples in the histologies file will be pulled from the data warehouse together with the next batch of samples:

[code]

[2022-10-12 05:00] jharenza opened #425 "Updated analysis: Ependymoma subyping - add spinal EPN type"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/molecular-subtyping-EPN

Add subtypes:
- EPN, SP (EPN, spinal)
- EPN, SP-MYCN (EPN, spinal-MYCN amplified)

#### What changes need to be made? Please provide enough detail for another participant to make the update.
We should update the `https://github.com/PediatricOpe

[2022-10-12 12:38] sickler-alex commented on #425
For SP, chr22 and NF2 aren't required? The other EPN subtypes have different levels of priority with ST RELA having a higher priority than ST YAP1 then PF A and finally PF B. What priority should be given to these new variants? Basically, if a sample has two different subtypes only the higher priority one is given. This can be done for any subtype, but is only being done for EPN. If a sample has m

[2022-10-12 12:50] ewafula opened #426 "Histologies QC to check germline sex estimate"
#### What are the scientific goals of the analysis?
Add to histologies QC code for checking if WXS patients have WGS and if the `germline_sex_estimate` is carried over, and if not, it should be carried over.

#### What methods do you plan to use to accomplish the scientific goals?
1. all WGS should have germline_sex_estimate
2.  all WXS or Targeted Sequencing BS_ids from patients who also have WGS

[2022-10-12 14:36] jharenza commented on #425
Correct, but are often associated so it helps with the confidence

I'm not sure we need a priority - if it has one of the fusions, it should only land in that subtype, but maybe that's what you're asking

These should not fit into the other categories at all if they are spinal location, so we can make an option for location of spine removing them from those types- would that work?

[2022-10-12 14:39] sickler-alex commented on #425
That's what I'm asking. So I can add this as priority 1 that way we'll remove the other subtypes if they were assigned.

[2022-10-12 15:18] ewafula opened #427 "OT data harmonization - PBTA X01"
#### What needs to be done?
Harmonize  `PBTA X01`  `WGS` and `RNA-Seq`  CNS/spinal cord tumors datasets for OT utilizing GENCODE v39 for OPenPedCan v12 data release

#### How long do you expect is needed to complete the analysis? Will it be a multi-step analysis?
?

#### Who will complete the analysis (please add a GitHub handle here if relevant)?
bixops team