[2021-05-13 01:28] jharenza opened #1 "data release: v2 - Maris NBL X01 remaining files"
#### What data file(s) does this issue pertain to?
Will update the following files due to INDEL renormalization per [bixu-tracker/#1072](https://github.com/d3b-center/bixu-tracker/issues/1072)

[code]

Will add the following files per [bixu-tracker/#1057](https://github.com/d3b-center/bixu-tracker/issues/1057)
[code]

#### What release are you using?

v1

#### Put your question or report your issu

[2021-05-13 18:51] jharenza opened #2 "Proposed Analysis: Update collapse-rnaseq to include TPM files"
#### What analysis module should be updated and why?
[collapse-rnaseq
](https://github.com/PediatricOpenTargets/OpenPBTA-analysis/tree/dev/analyses/collapse-rnaseq)

Currently, the input is FPKM files only.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add functionality to collapse TPM files, as these will be the files we use for OT.

[2021-05-13 21:26] afarrel opened #3 "Alvin to prepare manifests and data locations on isilon for TARGET RNA/WXS/WGS - deliver to Yuankun"
#### What data file(s) does this issue pertain to?

TARGET RNAseq, WES, and WGS fastq Files on the Diskin drive on isilon

RNA:
/mnt/isilon/diskin_lab/TARGET_RNA/fastq/

 WXS
 /mnt/isilon/dbgap/prj_1812/TARGET-Exome/fastq/
/mnt/isilon/diskin_lab/TARGET_WXS/dbGap/fastq/

- [Request access]  @afarrel to request access to drives  for @yuankunzhu

#### Who will complete this.
@afarrel

[2021-05-13 21:29] afarrel opened #4 "Prepare and Format TARGET Manifests"
#### What data file(s) does this issue pertain to?
Retrieve TARGET manifests for the TARGET fastq files and clinical manifests and deliver to @ewafula for reformatting

#### Who is this assigned to
@afarrel

[2021-05-13 21:48] afarrel opened #5 "Transfer TARGET RNAseq/WES/WGS fastq files to CAVATICA"
#### What data file(s) does this issue pertain to?

- [**Receice Data paths and manifests** ] @yuankunzhu  - get data paths and manifests from @afarrel and @ewafula
- [**Tranfer Data**] transfer TARGET fastq files from Diskin folders on isilon to CAVATICA.

[ **Files are located**]:

-  **RNA:**
/mnt/isilon/diskin_lab/TARGET_RNA/fastq/

- **WES:**
/mnt/isilon/dbgap/prj_1812/TARGET-Exome/fastq/
/mn

[2021-05-14 18:43] afarrel opened #6 "Proposed Analysis: Calculate z-scores within and between all cancer groups and GTEX normals"
#### Objective:

Create a module to generate z-scores and quantiles within/between all cancers <s>`broad_histology`</s> `cancer_group`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
NOTE: This will require a batch-corrected merged TPM file containing all cancer samples as well as a batch-corrected merged TPM file containing all cancer +

[2021-05-14 19:10] afarrel opened #7 "Proposed Analysis: Run fusion modules for GMKF NBL"
#### What are the scientific goals of the analysis?
Run `fusion_filtering` module for `cohort == GMKF | CBTN | PNOC` and run project-specific filtering by `cancer_group` instead of `broad_histology`

#### What methods do you plan to use to accomplish the scientific goals?
Complete these modules to process data and prepare for ingestion into Pediatric Open Targets platform.

#### What input data ar

[2021-05-14 19:38] afarrel opened #8 "Proposed Analysis: Create mutation frequencies for Ped OT platform"
#### What are the scientific goals of the analysis?
Update oncoprint-landscape module to output a gene mutation frequency TSV per histology (or cohort) for Pediatric Open Targets platform. For this, we will use all genes, not genes of interest.

Note: we may want to do this on a mutation level and add significance values as the [OT takes in those values](https://github.com/opentargets/platform-etl

[2021-05-14 19:50] afarrel opened #9 "Proposed Analysis: Run KF Pipelines on TARGET RNA"
#### What are the scientific goals of the analysis?
Prepare TARGET RNA and WES <s>and WGS</s> data for ingestion into Open Targets Platform

#### What methods do you plan to use to accomplish the scientific goals?
Kids First pipelines on Cavatica

#### What input data are required for this analysis?
all TARGET RNA

#### Who will complete the analysis (please add a GitHub handle here if relevant)?

[2021-05-17 19:22] jharenza opened #10 "Proposed Analysis: Add batch correction module"
#### What are the scientific goals of the analysis?
Add batch correction module to this [repo](https://github.com/PediatricOpenTargets/OpenPBTA-analysis)

#### What methods do you plan to use to accomplish the scientific goals?
Add batch correction with options for correction by library, sequencing center, dataset (eg TARGET, TCGA, GTEX) - Open to input for how you have been doing this in the past

[2021-05-17 19:24] jharenza opened #11 "Add GTEX, TCGA, TARGET TPM files to S3 bucket"
#### What data file(s) does this issue pertain to?
We need to add RNA-Seq data for GTEX, TCGA, TARGET

#### What release are you using?

v1

#### Put your question or report your issue here.
Add RDS TPM files for GTEX, TCGA, and TARGET as well as manifests (sample ID, histology) to: s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v2/

[2021-05-17 19:34] jharenza opened #12 "Proposed Analysis: cluster TCGA/GTEX/TARGET RNA-Seq +/- batch correction"
#### What are the scientific goals of the analysis?
To determine whether these three datasets, while all polyA, need batch correction by dataset.

#### What methods do you plan to use to accomplish the scientific goals?
Plot either uMAP or tSNE by dataset to determine whether they cluster by dataset. If they do, perform batch correction and re-plot.

#### What input data are required for this anal

[2021-05-17 20:11] jharenza opened #13 "Proposed Analysis: Create GTEX v. TARGET NBL and GTEX v. GMKF NBL boxplot for GPC2 +/- batch correction"
#### What are the scientific goals of the analysis?
Similar to #12 , but at the level of the known NBL immunotherapeutic target, GPC2, determine whether batch correction produces a different visual output and differences in TPM expression across tumor vs normals.

#### What methods do you plan to use to accomplish the scientific goals?
Create 4 plots of log2 GPC2 TPM:
1. TARGET NBL + GTEX, uncorre

[2021-05-17 20:30] jharenza opened #14 "Proposed Analysis: Create consensus + hotspot MAF"
#### What are the scientific goals of the analysis?
Since they are currently separate, we want to create a consensus+hotspot MAF for OT
- So far, will need for `pbta` and `kfnbl`

#### What methods do you plan to use to accomplish the scientific goals?
- merge, then unique
- may need an input param per dataset prefix

#### What input data are required for this analysis?
consensus + hotspot files p

[2021-05-18 01:16] #11 closed, assigned to komalsrathi

[2021-05-18 19:21] jharenza opened #15 "Prepare and format TCGA manifest"
#### What data file(s) does this issue pertain to?
tcga-histologies.tsv

#### What release are you using?

v2

#### Put your question or report your issue here.
Will have to gather clinical data as well as `RNA_library`

[2021-05-18 19:24] komalsrathi commented on #12
@jharenza I'll be adding these to the batch correction module (won't push the combined uncorrected + corrected matrices to github but only to s3 bucket as they are large) but for your reference these are the plots that will be generated and pushed as part of the module:

1. `GTEx + TARGET NBL`:

UMAP (t-SNE is taking a lot of time, so I can add those later) of top 10% most variable + house keeping

[2021-05-18 19:39] komalsrathi commented on #12
Actually I was able to resolve the issue so I will upload the new plots soon. Thanks for your patience.

[2021-05-18 19:43] yuankunzhu commented on #15
we can use this notebook as an example of getting library information from GDC API endpoint: https://github.com/yuankunzhu/yuankunzhu.github.io/blob/master/target-nb-lib/target-nb-rnaseq-lib-info.ipynb

[2021-05-18 20:06] jharenza opened #16 "add RNA-Seq bs_ids to `kfnbl-histologies.tsv`"
#### What data file(s) does this issue pertain to?
`kfnbl-histologies.tsv`

#### What release are you using?

v1

#### Put your question or report your issue here.
This file only contains bs_ids for WGS, and I think @ewafula, you had generated a histologies file for both, but looks like the merged file did not make it into s3. Will you send me a file with both and I can upload to the v2 folder?

[2021-05-18 20:30] jharenza commented on #12
Thanks @komalsrathi this looks great. It also looks like TARGET polyA and GTEX polyA largely overlap in the density plots before batch correction, so I am leaning toward not correcting for dataset in this case. Could you also generate one more density plot/UMAP for correction only by library?

[2021-05-18 20:30] jharenza commented on #12
UMAP is fine here, no worries about adding tSNE

[2021-05-18 20:34] komalsrathi commented on #12
Yes sounds good

[2021-05-18 20:50] jharenza commented on #16
Just updating per our slack conversation that we also need to de-duplicate (we have the same BS_IDs listed as having one of each `experimental_strategy`).

[2021-05-18 21:29] komalsrathi commented on #13
And here are the GTEx + GMKF NBL (n = 224) plots:

I know this looks exactly same but look at the y-axis and outliers:

![gmkf_nbl_uncorrected_gpc2](https://user-images.githubusercontent.com/7000615/118725794-6dfff800-b7fe-11eb-93a9-365f59eb1cbc.png)

![gmkf_nbl_corrected_gpc2](https://user-images.githubusercontent.com/7000615/118725803-6fc9bb80-b7fe-11eb-9aab-54bf780bf611.png)

[2021-05-18 21:35] komalsrathi commented on #12
Here is what I have until now:

GTEx + TARGET (correct by default i.e. study + library)
[gtex-target-gene-expression-rsem-tpm-collapsed_density.pdf](https://github.com/PediatricOpenTargets/ticket-tracker/files/6504528/gtex-target-gene-expression-rsem-tpm-collapsed_density.pdf)
[gtex-target-gene-expression-rsem-tpm-collapsed_umap.pdf](https://github.com/PediatricOpenTargets/ticket-tracker/files/650

[2021-05-18 22:03] sangeetashukla commented on #13
@jharenza @komalsrathi I have now added the the KFNBL TPM matrices to the branch I filed a PR for.
Please take a look and let me know in case there is anything missing.

[2021-05-18 23:30] jharenza commented on #13
thank you

[2021-05-18 23:30] #13 closed

[2021-05-19 00:41] jharenza commented on #12
great, thank you

[2021-05-19 00:41] #12 closed

[2021-05-19 13:09] aadamk commented on #10
From the OT meeting this morning, I'm informing on additional batch correction methods that would be valuable to include and benchmark in this module. The concern from today's meeting was that the cancer to GTEx batch correction may be shrinking cancer gene expression down to normal expression (hence hurting statistical power).

Potential solutions to mitigate this effect may be in the following b

[2021-05-19 13:26] komalsrathi commented on #10
Thanks @aadamk sounds good to me. Do you want to chat about this (this week or next)? In the meanwhile I can go through the two linked manuals.

[2021-05-19 13:33] sangeetashukla commented on #2
@jharenza @komalsrathi

Completed the code change, and testing.
Waiting on feedback.
Refer to below PR:
https://github.com/PediatricOpenTargets/OpenPBTA-analysis/pull/4

[2021-05-19 18:58] komalsrathi commented on #10
I have tried installing PEER through source and R - both are erroring out. Can you test if you can install the R package? If you are able to then it may have something to do with R v4.0.4.

[2021-05-19 19:14] aadamk commented on #10
I know GTEx has expected counts available (right?), which would be compatible with RUVseq + EdgeR. Is the same available for the TARGET dataset?

I wasn't able to install PEER either, regardless of whether I attempted install from the R binary or building from source (I get a cryptic numpy error).

Not sure if PEER is still supported. There may be equivalent methods out there, and I can circle bac

[2021-05-19 19:21] komalsrathi commented on #10
Yes but we are using TPM for a lot of downstream analysis - I am assuming we would want to correct those as well?

[2021-05-19 19:51] aadamk commented on #10
per slack discussion with @komalsrathi - expected counts are available for all datasets, making them appropriate for RUVseq + EdgeR.

My thoughts:
For batch evaluations, expected counts are the appropriate input and can be evaluated by UMAP before and after EdgeR + RUVseq analysis.

Since TPM is important for visualizations for Open Targets, the batch-corrected TMM values from EdgeR + RUVseq pipel

[2021-05-19 20:09] jharenza commented on #10
Just in scanning the DCC website, I see counts for some data and not others. (@yuankunzhu - do you know if the counts are available on GDC)? @afarrel do you have a count matrix for all of TARGET on isilon? If not, we can look at just TARGET NBL, for which we definitely have counts for on isilon or possibly box, since that dataset is being used as our proof of principle anyway.

For batch evaluatio

[2021-05-19 20:12] komalsrathi commented on #10
@jharenza I have counts for TARGET, GTEx and TCGA from diseaseXpress (just need to put them together because they are in individual RSEM files). Because we are using TPM from diseaseXpress, I think we should both TPM and counts from the same source unless there is a reason you want to look at other sources.

[2021-05-19 20:20] jharenza commented on #10
Oh great, this sounds good - yeah, let's use this for now.

[2021-05-19 20:30] jharenza commented on #16
updated in v2 folder on s3 (#1)

[2021-05-19 20:30] #16 closed

[2021-05-19 21:13] jharenza commented on #1
closed via https://github.com/PediatricOpenTargets/OpenPBTA-analysis/issues/5

[2021-05-19 21:13] #1 closed

[2021-05-19 21:15] jharenza commented on #4
@ewafula this manifest should also exclude WGS for at least TARGET NBL (since it was CGI data) - if we have other WGS that is GCI, we should also exclude from this manifest

[2021-05-19 21:22] ewafula commented on #4
@jharenza, I am redoing the TARGET histologies for all cancers now that all clinical data for all of them. @afarrel asked to focus RNA-Seq and exclude WGS/WSX for now too.

[2021-05-19 21:35] jharenza commented on #4
ok great!

[2021-05-20 13:12] komalsrathi commented on #10
@aadamk can you walk me through the steps again? we have worked on so many different tickets with differential expression - I am unsure where to start.

[2021-05-20 13:39] aadamk commented on #10
yes.

Part A: For benchmarking batch correction performance, there are 3 possible approaches for batch correcting by stably expressed genes:
1. Leverage the full housekeeping gene list [housekeeping transcript atlas](https://housekeeping.unicamp.br/?download).
2. Leverage the `most stable transcripts` list from the housekeeping atlas.
3. Run a first-pass DGE analysis using TMM normalization betwee

[2021-05-20 13:43] komalsrathi commented on #10
Thank you Adam, this is super helpful. I will start putting together the scripts.

[2021-05-20 14:01] kgaonkar6 opened #17 "Proposed Analysis: DGE analysis of matched polya and stranded samples"
#### What are the scientific goals of the analysis?
- Determine stably expressed transcripts between polyA and stranded samples.
- Check if the DGE analysis between polya and stranded data follow a null-p-value distribution.

#### What methods do you plan to use to accomplish the scientific goals?
Perform DGE analyses in polya and stranded datasets:

Expected output:

- TSV of stably expressed tra

[2021-05-20 14:07] jharenza commented on #17
@logstar I think this is a good first ticket which you can start on when you are able!

[2021-05-20 14:22] jharenza commented on #10
@komalsrathi I haven't had a chance to look at this, but it sounds like we may want to break this up into a staggered PR to keep each one focused on one aspect and to make review easier.

[2021-05-20 14:26] jharenza opened #18 "Create docker image for this repo"
#### What data file(s) does this issue pertain to?
NA

#### What release are you using?

V2

#### Put your question or report your issue here.
Create a new docker image (once we have a new repo name 😀)

[2021-05-20 14:27] jharenza opened #19 "Set up GitHub actions for the analysis repo"
#### What data file(s) does this issue pertain to?
NA

#### What release are you using?

V2

#### Put your question or report your issue here.
Set up GitHub actions and testing files for the analysis repo to ensure reproducibility

[2021-05-20 14:29] logstar commented on #17
@jharenza thank you. I will create a new module for this analysis.

[2021-05-20 15:12] kgaonkar6 commented on #18
Is there a docker hub account we can use to push the docker image to?

[2021-05-20 15:47] komalsrathi commented on #10
@jharenza Yes, correct me if I am wrong - from our slack discussion, Yuanchao will be doing Part A. In the meanwhile, I will just start drafting a script for Part B.

[2021-05-20 17:08] jharenza commented on #18
@yuankunzhu @allisonheath  i think we have an account for KFDRC, but do we have a D3b account? If not, can we create one?

[2021-05-20 17:24] kgaonkar6 commented on #2
linking PR https://github.com/PediatricOpenTargets/OpenPBTA-analysis/pull/4

[2021-05-20 17:59] komalsrathi commented on #2
Counts file looks good. Thanks!

[2021-05-20 19:52] kgaonkar6 commented on #17
@logstar the methods are updated now. Your question about "stably expressed transcripts" I think @jharenza or @aadamk can provide the logFC and pvalue thresholds.

@aadamk I updated the ticket to add more information for methods you described from https://github.com/d3b-center/bixu-tracker/issues/884 does that looks ok?

[2021-05-20 19:55] kgaonkar6 commented on #17
Also adding @komalsrathi for her input on if there is code used previously . I believe similar analysis was implemented in PNOC008 ?

[2021-05-20 20:02] logstar commented on #17
@kgaonkar6 thank you for the detailed method descriptions and code. I will use them to create this analysis module.

[2021-05-20 21:19] komalsrathi commented on #17
@logstar

The script that addresses the reference issue is [here](https://github.com/d3b-center/OMPARE/blob/master/code/patient_level_analyses/utils/rnaseq_edger_normalizations.R) . This was done for single sample tumor sample vs GTEx Brain samples so you might have to make some minor changes [here](https://github.com/d3b-center/OMPARE/blob/master/code/patient_level_analyses/utils/rnaseq_edger_nor

[2021-05-20 21:36] logstar commented on #17
@komalsrathi thank you for the pointers.

[2021-05-21 13:40] komalsrathi commented on #15
Hey guys, I got this response from GDC in case you don't have this info. Not sure this is helpful but you can try!

The following query will result in a JSON file containing all the cases that have used "Poly-T Enrichment" (alias Poly-A) and "rRNA Depletion" (alias ribo-depleted) as library type: [link](https://nam10.safelinks.protection.outlook.com/?url=https%3A%2F%2Fapi.gdc.cancer.gov%2Ffiles%3F

[2021-05-21 16:13] jharenza commented on #15
Great, thanks @komalsrathi!

[2021-05-21 17:33] logstar commented on #17
@jharenza

I have created a new module `rna-seq-protocol-dge` for this analysis in my own form of PediatricOpenTargets/OpenPBTA-analysis, <https://github.com/logstar/OpenPBTA-analysis/tree/rna-seq-protocol-dge/analyses/rna-seq-protocol-dge>

I have completed the following analysis steps:

- Collapse RSEM expected count matrices of poly-A and stranded libraries using the OpenPBTA-analysis/analyses/

[2021-05-21 17:58] jharenza commented on #17
thanks @logstar - Great! If possible, can you break this up as noted in the multi-step PR model [here](https://github.com/AlexsLemonade/OpenPBTA-analysis#adding-analyses-with-multiple-steps) and start submitting PRs? This will allow us to review smaller chunks of code faster.

[2021-05-21 18:04] logstar commented on #17
Sure. Thank you for the pointer. I will submit multi-step PRs to the PediatricOpenTargets/OpenPBTA-analysis for this analysis.

[2021-05-21 18:30] jharenza opened #20 "Vardict MAF headers offset"
#### What data file(s) does this issue pertain to?
`kfnbl-snv-vardict.vep.maf.gz

#### What release are you using?

v2

#### Put your question or report your issue here.
Per this [comment](https://github.com/PediatricOpenTargets/OpenPBTA-analysis/pull/2#issuecomment-846144626), the final column header is missing, so we need to re-merge and upload a new Vardict MAF. @zhangb1 will complete this and

[2021-05-21 18:35] jharenza opened #21 "v3 release"
#### What data file(s) does this issue pertain to?
`kfnbl-snv-vardict.vep.maf.gz`
`kfnbl-gene-counts-rsem-expected_count-collapsed.stranded.rds`

#### What release are you using?

v3

#### Put your question or report your issue here.
VarDict MAF needs to be updated per #20 and a collapsed expected counts matrix will also be released per this [comment](https://github.com/PediatricOpenTargets/OpenPB

[2021-05-21 18:57] jharenza commented on #2
updated with this [PR](https://github.com/PediatricOpenTargets/OpenPBTA-analysis/pull/4)

[2021-05-21 18:57] #2 closed

[2021-05-21 19:22] yuankunzhu commented on #18
we have 2 accounts on dockerhub
- d3bcenter: https://hub.docker.com/orgs/d3bcenter
- kfdrc: https://hub.docker.com/orgs/kfdrc

But we ended up deprecating both as they are on free tier and have pull limits per hour, which won't work for our harmonization operation. So we moved to the [Cavatica's docker registry](https://docs.cavatica.org/docs/upload-your-docker-image) instead.

For OT, we can use

[2021-05-21 19:33] zhangb1 commented on #20
done, all new four callers results have been updated:

s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v3/

[2021-05-21 19:34] jharenza commented on #18
Ok, I think we just need the free one for this - can we give @kgaonkar6 access to `d3bcenter:https://hub.docker.com/orgs/d3bcenter`?

[2021-05-21 19:44] kgaonkar6 commented on #18
Thanks both! I'm on docker hub as `gaonkark` email gaonkark@email.chop.edu

[2021-05-22 01:53] jharenza commented on #20
@ewafula tested and these are all good now

[2021-05-24 12:25] aadamk commented on #17
Thank you for linking in the methods @kgaonkar6 and @komalsrathi (just getting to this as 003 + CBTN took priority late last week).

To help weigh in @logstar, the above TMM and UQ-pgQ2 code should be sufficient for benchmarking DGE analyses for matched samples differing by library enrichment method. The latter normalization is expected to have fewer false positives for balanced experimental desig

[2021-05-24 12:52] zhangb1 commented on #20
this has been done ,and upload in the s3 bucket

[2021-05-24 13:14] jharenza commented on #20
Thanks @zhangb1 - I am going to leave it open just until @kgaonkar6 gets the v3 release PR up and we merge.

[2021-05-24 14:46] logstar commented on #17
@aadamk Thank you for the detailed description.

I will add UQ-pgQ2 QL F test in this analysis module and generate the modified list of expected output. I will also remove the unnecessary steps in the estimation of dispersions and down stream testing.

I will include you in the PRs as a reviewer.

[2021-05-24 23:37] jharenza commented on #21
closed with https://github.com/PediatricOpenTargets/OpenPBTA-analysis/pull/7

[2021-05-24 23:37] #21 closed

[2021-05-24 23:37] jharenza commented on #20
closed with https://github.com/PediatricOpenTargets/OpenPBTA-analysis/pull/7

[2021-05-24 23:37] #20 closed

[2021-05-24 23:39] jharenza commented on #3
closing this since we will use CGC, @yuankunzhu I will send you the manifest for TARGET RNA

[2021-05-24 23:39] #3 closed

[2021-05-24 23:45] jharenza opened #22 "v4 release"
#### What data file(s) does this issue pertain to?
all files

#### What release are you using?

v3

#### Put your question or report your issue here.
For histologies files:
- Add TARGET, TCGA, and PBTA histologies files to this repo. TARGET and TCGA will only have RNA-Seq samples within their histologies files.
- Harmonize a few fields in `kfnbl-histologies.tsv`
  - make `Kids_First_Participant_ID

[2021-05-24 23:48] jharenza opened #23 "How to handle PBTA data files?"
#### What data file(s) does this issue pertain to?
`pbta-gene-counts-rsem-expected_count*` files as related to [this issue](https://github.com/PediatricOpenTargets/OpenPBTA-analysis/pull/8)

#### What release are you using?

v19 OpenPBTA

#### Put your question or report your issue here.
First, should we merge these upstream? I think this may be simpler, to be dealing with fewer files. Would also

[2021-05-24 23:51] jharenza commented on #8
Adding to this - we should probably also consider _which_ mutations are going into this matrix - probably will want to exclude synonymous, silent, RNA, and intergenic for now. Do we know how OT will rank mutations? Is it by frequency per histology/cohort or by functional consequence + frequency? Thoughts @kgaonkar6 and @taylordm? cc @allisonheath

[2021-05-25 17:03] kgaonkar6 commented on #23
It makes sense to me to merge the files to just access 1 file, but then we will need specific documentation to always make sure people refer to the histology file to access the stranded and polya metadata while using the merged file.
To me, with the 2 files named with the RNA library prep it is just easier to convey that message.

[2021-05-25 17:26] jharenza commented on #23
This is in the histologies file and if you think about the TARGET and TCGA data, we will have a mixed bag of libraries. We will need to take this into account for batch correction before we do anything else anyway, so I don't think it should be a problem.

[2021-05-25 20:20] jharenza commented on #14
closing this. @yuankunzhu and I decided that we will use the d3b 2/4+hotspot consensus for this project instead of updating openPBTA modules for efficiency's sake and so we are not missing any true variants.

[2021-05-25 20:20] #14 closed

[2021-05-25 20:22] jharenza commented on #23
After discussion with @yuankunzhu , we decided that we will create one large matrix for each type of file: counts, TPM, etc and we will use the d3b 2/4+consensus maf and will generalize the naming to not have project prefix, so this will allow us to add additional data more easily. I will add tickets to track this.

[2021-05-25 20:22] #23 closed

[2021-05-25 21:06] jharenza opened #24 "Merge kfnbl+pbta files"
#### What data file(s) does this issue pertain to?
all files

#### What release are you using?

v3

#### Put your question or report your issue here.
Consensus will be d3b 2/4+hotspots and I think this still needs to be run on KF NBL.

Merge and add to v4 bucket: `s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v4/`

| merge these files

[2021-05-25 21:06] jharenza commented on #24
cc @yuankunzhu

[2021-05-25 21:07] jharenza opened #25 "Prepare and format GTEX histologies file"
#### What data file(s) does this issue pertain to?
`gtex-histologies.tsv`

#### What release are you using?

v3

#### Put your question or report your issue here.
Update file format to match PBTA histologies file and add to merge of all histologies per #24

Update to this @ewafula - for the greater Gtex manifest of 17k samples, we would have to download the metadata from [here](https://anvilprojec

[2021-05-25 21:36] jharenza commented on #10
@aadamk for this, what is the difference between 2 and 3? I am going to break up this ticket. So I understand, step 1 would be for @komalsrathi to run all HK genes in the batch correction and step 2/3 would be to run only stably expressed genes, as determined by DE between NBL and normal? Or were thinking of assessing step 2 in an additional way (looking at expression across samples via something

[2021-05-26 00:39] jharenza commented on #15
Docs about naming of samples:
https://docs.gdc.cancer.gov/Encyclopedia/pages/TCGA_Barcode/
https://gdc.cancer.gov/resources-tcga-users/tcga-code-tables/center-codes

[2021-05-26 00:40] jharenza commented on #4
Doc about sample naming:
https://ocg.cancer.gov/sites/default/files/OCG-Project-Codes_Tissues-and-Samples_03-02-2021.pdf
Methods:
https://ocg.cancer.gov/programs/target/target-methods

[2021-05-26 00:55] jharenza opened #26 "Proposed Analysis: Create module for DE between cancer + normal"
#### What are the scientific goals of the analysis?
Create a module to perform DE between each cancer type and GTEX

#### What methods do you plan to use to accomplish the scientific goals?
Use DeSeq2 to perform DE between each cancer type vs. all GTEX as well as each individual GTEX tissue (`subgroup`).

Expected output:
Table of gene_ids in rows and log2FC and log2p-value comparison.
Example tab

[2021-05-26 11:57] aadamk commented on #10
2 is actually distinct from 3. For 2, I was referring to the downloadable list from HTA from the link above (the most stable set of 20 transcripts that they identified from their work), whereas 3 is the empirically defined set of negative control genes from first pass DE of the full HTA list.

[2021-05-26 12:33] jharenza commented on #10
Ok, got it, thanks. I will find and post those 20 transcripts in the new ticket.

[2021-05-26 12:58] jharenza commented on #5
closing this since we will pull directly from CGC

[2021-05-26 12:58] #5 closed

[2021-05-26 16:09] logstar commented on #22
@jharenza There might be some md5sum mismatches in the v3 release that could be fixed in the v4 release as well.

When downloading the v3 file using the most recent OT/OpenPBTA-analysis `download-data.sh`, I got the following md5sum mismatches:

[code]

For example, the md5sum of the dowloaded `target-gene-expression-rsem-tpm-collapsed.rds` is `4ea6cb1a65e5c9698b07b7408529d308`, whereas the md5sum

[2021-05-26 17:45] jharenza commented on #22
@logstar can you delete those files and try to run the download script again? sometimes if they download partially and give a mismatch, you need to delete so they can re-download. let me know!

[2021-05-26 17:47] jharenza commented on #22
my release file for `target-gene-expression-rsem-tpm-collapsed.rds` matches that in the release `md5sum.txt`
harenzaj@38f9d38f36c9 v3 % md5sum target-gene-expression-rsem-tpm-collapsed.rds
1a2444fde3b488168e0d3958a2d1b937  target-gene-expression-rsem-tpm-collapsed.rds

[2021-05-26 18:01] logstar commented on #22
I deleted `target-gene-expression-rsem-tpm-collapsed.rds` and rerun `bash download-data.sh`, but the md5sum still mismatches.

I think the md5sum mismatched files are not available at <https://s3.amazonaws.com/kf-openaccess-us-east-1-prd-pbta/open-targets/v3> . For example, <https://s3.amazonaws.com/kf-openaccess-us-east-1-prd-pbta/open-targets/v3/target-gene-expression-rsem-tpm-collapsed.rds> lin

[2021-05-26 18:12] jharenza opened #27 "Proposed Analysis: Identification of stably expressed housekeeping genes for batch correction"
#### What are the scientific goals of the analysis?
To determine stably expressed housekeeping genes between cancer + GTEX samples.

#### What methods do you plan to use to accomplish the scientific goals?
Adapted from [this comment](https://github.com/PediatricOpenTargets/ticket-tracker/issues/10#issuecomment-845131523),
1. Run a first-pass DGE analysis using TMM normalization between cancer (TAR

[2021-05-26 18:13] jharenza commented on #22
Also adding to this that we need to add count matrices for GTEX, TARGET, and TCGA per #27

[2021-05-26 18:37] logstar commented on #22
Thank you for the note.

`target-gene-expression-rsem-tpm-collapsed.rds` is available at <https://s3.amazonaws.com/kf-openaccess-us-east-1-prd-pbta/open-targets/v3/target-gene-expression-rsem-tpm-collapsed.rds> now, and its md5sum matches [v3 release `md5sum.txt`](https://s3.amazonaws.com/kf-openaccess-us-east-1-prd-pbta/open-targets/v3/md5sum.txt).

The following files are still not available, as

[2021-05-26 18:53] jharenza commented on #22
ok, it looks like these may have deleted, but i just put them back - can you try again?

[2021-05-26 19:08] logstar commented on #22
@jharenza Thank you for the quick reply.

All files are available now, and their md5sums all match [v3 release `md5sum.txt`](https://s3.amazonaws.com/kf-openaccess-us-east-1-prd-pbta/open-targets/v3/md5sum.txt).

[2021-05-26 19:09] jharenza commented on #22
Great!

[2021-05-26 22:29] jharenza commented on #24
For the V19 `pbta-histlogies.tsv` file, I made a new column called `cancer_group` using the following code:
[code]

This file was given to @ewafula for merging with the others.

[2021-05-27 19:52] migbro commented on #24
`gene-counts-rsem-expected_count.rds` and `gene-expression-rsem-tpm.rds` is up. gtex and tcga files for expected counts was not there, but is for tpm. However, since the table entry for tpm did not list to add tcga and gtex yet, I have left that out.

[2021-05-27 20:04] migbro commented on #24
`fusion-arriba.tsv.gz` and `fusion-starfusion.tsv.gz` are also now up, with an updated md5sum file. Consensus is on hold until run for kfnbl set

[2021-05-27 21:32] jharenza commented on #24
thanks @migbro !

[2021-06-02 13:02] aadamk commented on #27
@jharenza - unless a pan-cancer vs normal analysis will be part of the OT deliverables, I would be inclined to keep this histology-specific. This is because the estimation of the magnitude of the batch effect depends on the input data. A pan-cancer vs normal first-pass comparison will likely not give the same repertoire of negative control genes as compared to an NBL vs normal comparison. Any down

[2021-06-02 13:05] jharenza commented on #27
Sounds good- let's focus on NBL vs GTEX first!

[2021-06-02 16:03] logstar commented on #6
@jharenza @afarrel Thank you for the analysis description. I understand this analysis, but I have a few questions about how to exactly implement the analysis.

While I am waiting for the batch corrected cancer + GTEX TPM matrix, I will use OpenPedCan-analysis v4 release contains `gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds` as test data for creating this analysis module.

In ste

[2021-06-02 17:53] jharenza commented on #6
Hi @logstar! Thanks for asking.

I just noticed that I had `broad_histology` up there, but I actually created `cancer_group` for this purpose. So, let's use that column.

In addition, it looks like we have TCGA `broad_histology`/`cancer_group` too narrow, which we can fix later, so for this, please just subset TARGET and GTEX.

For the z-scoring, I think you can follow what @kgaonkar6 had done for

[2021-06-02 18:24] logstar commented on #6
@jharenza Thank you for the detailed reply. I will work on this analysis accordingly.

[2021-06-02 19:23] jharenza commented on #25
closed with #22

[2021-06-02 19:23] #25 closed

[2021-06-02 19:28] jharenza commented on #9
@zhangb1 TARGET AML will be highest priority here, so as to get the fusion calls for a subtyping module.

[2021-06-02 19:29] jharenza commented on #22
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/16

[2021-06-02 19:29] #22 closed

[2021-06-02 19:30] jharenza commented on #15
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/16

[2021-06-02 19:30] #15 closed

[2021-06-02 19:30] jharenza commented on #4
Keeping open as we verify with Sharon which samples should be included in this maniifest

[2021-06-02 19:32] jharenza opened #28 "Update README with instructions for docker usage and PR reviews"
Update README with SOP for PR review and docker usage/editing instructions

Who will complete this?
@kgaonkar6 and @jharenza

[2021-06-02 19:38] jharenza opened #29 "Run consensus calls on Maris X01"
#### What data file(s) does this issue pertain to?
future `snv-consensus-plus-hotspots.maf.tsv.gz` as referred to in #24

#### What release are you using?

v4

#### Put your question or report your issue here.
Currently, we have the MAFs released by caller, but we would like the consensus + hotspot calls for KF NBL

#### Who will complete this?
someone from @zhangb1 's team

[2021-06-02 19:45] jharenza commented on #26
For this, @sangeetashukla , you can use TARGET+GTEX only and use `cancer_group` as the cancer type.

[2021-06-02 19:49] jharenza opened #30 "Update TCGA `broad_histology` and `cancer_group` in histologies.tsv"
#### What data file(s) does this issue pertain to?
histologies.tsv`

#### What release are you using?

v4

#### Put your question or report your issue here.
Update `broad_histology` and `cancer_group` in TCGA cohort to use the `short_histology` names.

[2021-06-02 19:52] #19 closed

[2021-06-02 19:53] #18 closed

[2021-06-03 13:18] zhangb1 commented on #9
We are still waiting for the manifest clear up right?

[2021-06-03 13:51] jharenza commented on #9
Yes, will followup with @afarrel and Sharon today

[2021-06-03 19:50] jharenza commented on #9
@zhangb1 and @yuankunzhu Can you use [this query](https://portal.gdc.cancer.gov/repository?facetTab=files&filters=%7B%22op%22%3A%22and%22%2C%22content%22%3A%5B%7B%22op%22%3A%22in%22%2C%22content%22%3A%7B%22field%22%3A%22cases.project.program.name%22%2C%22value%22%3A%5B%22TARGET%22%5D%7D%7D%2C%7B%22op%22%3A%22in%22%2C%22content%22%3A%7B%22field%22%3A%22files.analysis.workflow_type%22%2C%22value%22%

[2021-06-04 15:43] logstar commented on #22
Hi @jharenza . Thank you for preparing the v4 release.

I was wondering which column of the `v4/histologies.tsv` matches the column names of `v4/gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds`.

Following are the last 10 rows of `v4/histologies.tsv`:

|Kids_First_Biospecimen_ID|sample_id|aliquot_id|Kids_First_Participant_ID|experimental_strategy|sample_type|composition|tumor_descri

[2021-06-04 17:16] jharenza opened #31 "GTEX rsem file sample IDs mismatching histologies file sample IDs"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v4

#### Put your question or report your issue here.
Per [this comment](https://github.com/PediatricOpenTargets/ticket-tracker/issues/22#issuecomment-854825044), the histologies file and rsem files have mismatched sample IDs for gtex. We should update the RSEM files in this case, once we get th

[2021-06-04 17:18] jharenza commented on #22
@logstar thanks for finding this issue. I just filed #31 for this - will see if @ewafula or @komalsrathi has a mapping file you can use temporarily. Sorry about that!

[2021-06-04 17:23] logstar commented on #22
@jharenza Thank you for the quick reply. No worries at all. I can imagine the complexity of integrate multiple datasets together. Also, I can use dummy data to work on the analysis procedures before the real data become available.

[2021-06-04 17:43] komalsrathi commented on #22
Interesting - the file that I had uploaded i.e. gtex-histologies.tsv should have this sample:

[code]

[2021-06-04 17:44] komalsrathi commented on #22
Oh but you need a mapping file - let me check!

[2021-06-04 17:46] komalsrathi commented on #22
[gtex_mapping.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6600344/gtex_mapping.txt)
@logstar I have this - let me know if this does not work for you.

[2021-06-04 17:48] komalsrathi commented on #22
And just in case!

[tcga_mapping.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6600354/tcga_mapping.txt)
[target_mapping.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6600355/target_mapping.txt)

cc: @jharenza

[2021-06-04 17:50] sangeetashukla commented on #22
@komalsrathi @jharenza Perfect, I needed the same files, Thank you.

[2021-06-04 17:52] logstar commented on #22
@komalsrathi Thank you for the quick reply. The mapping files work for me.

[2021-06-04 17:52] jharenza commented on #22
thanks @komalsrathi !

[2021-06-04 17:53] jharenza commented on #22
ahh, we updated to all 17k samples for re-processing, which did not include SRR from their portal.

[2021-06-04 18:00] ewafula commented on #22
thanks @komalsrathi!  @jharenza, do we need to have an additional column in the histologies.txt file with sample ids used in the expression RDS files such as SRR*?

[2021-06-04 18:02] jharenza commented on #22
@ewafula no, we will update the RSEM files to your IDs

[2021-06-04 18:21] logstar commented on #6
@jharenza thank you for the reference to the fusion filtering analysis.

I wonder if this analysis needs to use all normal GTEX sample means and standard deviations for computing z-scores, like the fusion filtering analysis. In the following code from `fusion_filtering/03-Calc-zscore-annotate.R#L115-L121`, the overall means of normal samples are subtracted from the disease samples, and the disease

[2021-06-04 18:33] yuankunzhu commented on #9
just added those `STAR 2 PASS` BAMs to the this project: https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-target-rnaseq/files/#q?label_id=STAR%202-Pass

@jharenza do you have a manifest of the read lengths for those samples?

[2021-06-07 16:53] kgaonkar6 commented on #31
mapping file in https://github.com/PediatricOpenTargets/ticket-tracker/issues/22#issuecomment-854900493

[2021-06-07 16:57] logstar commented on #22
Thank you again for the mapping files. @komalsrathi

I found some TCGA `sample_barcode`s are mapped to multiple `sample_id`s, and some of their expected count sums are different in `gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds`, as shown in the following table.

@jharenza I was wondering if these duplicates will be resolved in the future releases. For now, I will only keep one of

[2021-06-07 17:23] jharenza commented on #22
@logstar would you mind adding this info to a new issue since this issue is closed? Thank you!

[2021-06-07 17:30] logstar commented on #22
Sure. I will create a new issue with this info.

[2021-06-07 17:51] logstar opened #32 "Some TCGA sample_barcodes are mapped to multiple sample_ids"
#### What data file(s) does this issue pertain to?

[tcga_mapping.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6600354/tcga_mapping.txt) shared by @komalsrathi at <https://github.com/PediatricOpenTargets/ticket-tracker/issues/22#issuecomment-854901528>.

`gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds` downloaded from v4 release.

#### What release are you usin

[2021-06-08 12:55] jharenza opened #33 "GTEX IDs in histologies file don’t match mapping manifest"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

V4

#### Put your question or report your issue here.
The sample barcodes in the mapping file for gtex from @komalsrathi do not match any Kids_First_Biospecimen_IDs in the histologies file.

After slack discussion with @ewafula, it seems like there is an additional tissue-specific mapping file whi

[2021-06-08 13:47] zhangb1 commented on #24
I can manage that ,since we already have the 4 callers results. I can use the latest consensus app to do that , should be done by today or tomorrow.

[2021-06-08 14:06] jharenza commented on #24
Thank you @zhangb1 !

[2021-06-08 20:05] logstar opened #34 "Some Kids_First_Biospecimen_ID in histologies.tsv are duplicated"
#### What data file(s) does this issue pertain to?

`histologies.tsv`

#### What release are you using?

v4

#### Put your question or report your issue here.

The following `Kids_First_Biospecimen_ID` in `histologies.tsv` are duplicated. It seems that some duplicates are identical, and some have `RNA_library` column values.

Are the duplicates going to be removed in the future data releases?

For

[2021-06-08 21:06] ewafula commented on #33
I have updated `histologies.tsv` with the correct 17,382 RNA_Seq GTEx v8 sample barcodes. Of 7,863 sample barcodes in @komalsrathi  mapping file (`gtex_mapping.txt`), 7,123 match the GTEx v8. All the 499 sample barcodes in `GTEx_v8_Cerebellum_AdrenalGland.manifest` from @jharenza also match the updated `histologies.tsv` attached.
[histologies.tsv.zip](https://github.com/PediatricOpenTargets/ticket

[2021-06-08 21:11] jharenza commented on #33
thank you @ewafula! cc @yuankunzhu @allisonheath @taylordm

[2021-06-08 21:13] jharenza commented on #34
Thanks for this issue! @ewafula @afarrel @chinwallaa - can you look into this?

[2021-06-08 21:14] jharenza commented on #34
Also related #32

[2021-06-08 21:16] jharenza commented on #31
@kgaonkar6 for v5 release, would you be able to swap out sample ids for the barcodes and only include in the files the samples which can be found in the histologies file mentioned [here](https://github.com/PediatricOpenTargets/ticket-tracker/issues/33#issuecomment-857148476)?

[2021-06-08 21:20] jharenza opened #35 "v5 release"
#### What data file(s) does this issue pertain to?
histologies.tsv
gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds
consensus MAF
gtex_target_tcga-gene-counts-rsem-tpm-collapsed.rds

#### What release are you using?

v4

#### Put your question or report your issue here.
- Per #33, #32, #34, #31 - we will update the histlogies file as well as RSEM file for GTEX, TARGET, and TCGA.
- Pe

[2021-06-08 21:23] jharenza opened #36 "gtex_target_tcga-gene-counts-rsem-tpm-collapsed.rds missing from release"
#### What data file(s) does this issue pertain to?
gtex_target_tcga-gene-counts-rsem-tpm-collapsed.rds

#### What release are you using?

v4

#### Put your question or report your issue here.
We should add this for the z-scoring module in issue #6

[2021-06-08 22:39] ewafula commented on #34
@kgaonkar6 and @jharenza,  please wait a bit before you release v5. Need to address the issue with duplicated sample_ids raised by @logstar in the histologies.txt file. The five duplicates samples below are mostly because of additional samples  with "NA" in `library_type` column or different `seq_center`. Let  me work @afarrel first to determine the correct sample to keep from the TARGET manifest.

[2021-06-09 00:27] jharenza commented on #34
Thanks @ewafula - definitely! In the meantime, we can work on the gtex portion of the files since that seems remedied now.

[2021-06-09 13:54] kgaonkar6 opened #37 "Updated analysis: independent sample list"
#### What analysis module should be updated and why?
independent-samples

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Currently the module creates a sample list of  :
PBTA primary specimens  ( only with WGS OR WGS + WXS )
PBTA primary and secondary specimens  ( only with WGS OR WGS + WXS )

We have an updated histology file with KF+TA

[2021-06-09 14:10] ewafula commented on #32
@logstar, attached is the data manifest for TCGA RNA-Seq data that @chinwallaa and pulled from GDC. The `sample_ids` don't match yours in `gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds`.  A `sample_barcode` should have one corresponding `sample_id`.  You have multiple.
[gdc_tcga_rnaseq_metadata.tsv.gz](https://github.com/PediatricOpenTargets/ticket-tracker/files/6624376/gdc_tcga_r

[2021-06-09 14:31] logstar commented on #32
@ewafula Thank you for the note and data manifest. It is good to know that a `sample_barcode` should have one corresponding `sample_id`.

I do not know why the `sample_id`s do not match, because I do not know how `gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds` and `sample_barcode`-`sample_id` mapping files are generated. However, it would be helpful figure out why the `sample_id`s

[2021-06-09 14:40] komalsrathi opened #38 "Proposed Analysis: Tumor vs Normal expression boxplots and tables"
#### What are the scientific goals of the analysis?

For each of the 30k-40k genes, generate boxplots with y-axis representing log2(TPM + 1):

1. `cohort` + `cancer_group` level:
    A. Each tumor histology (`cohort` + `cancer_group`) + GTEx normal sub-groups (e.g. Brain Cerebellum)
    B. All tumor histologies (`cohort` + `cancer_group`)

2. `cancer_group` level:
    A. Each tumor histology (`can

[2021-06-09 14:43] jharenza commented on #38
Thanks @komalsrathi for opening this! Instead of by cohort, we will do by cancer_group, which is a new column in the histologies file- this way, we combine all NBL, and have each brain tumor group more standardized.

[2021-06-09 14:48] komalsrathi commented on #38
@jharenza thanks, I will edit the details in the ticket once I receive and go over the expression + metadata.

[2021-06-09 19:35] zhangb1 commented on #24
@jharenza  I finished kfnbl consensus maf and able to merge them to  `kfnbl-snv-consensus-mutation.maf.tsv.gz`.

do you want to merge it to pbta consensus merged file? both are CHOP method right? just to confirm.

[2021-06-09 21:06] jharenza commented on #24
yes please, for PBTA - to get bs_ids, you can use the v4 `histologies.tsv` and pull WGS/WXS/Panel `experimental_strategy` and cohort == CBTN or PNOC

[2021-06-10 18:45] aadamk opened #39 "Proposed Analysis: Evaluation of the use of empirical negative control genes for batch correction"
#### What are the scientific goals of the analysis?

From PR 11 (https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/11), leverage [empirically defined negative control housekeeping genes](https://github.com/logstar/OpenPedCan-analysis/blob/rna-seq-protocol-dge-fourth/analyses/rna-seq-protocol-dge/results/uqpgq2_normalized/stranded_vs_polya_stably_exp_genes.csv) to evaluate the abilit

[2021-06-10 20:38] kgaonkar6 commented on #33
Hi @ewafula I am subsetting the gtex rsem file to only keep samples that are in histologies.tsv above. Just wanted to confirm if I should only be using the gtex_mapping.txt file to find the matches between the sample_barcode and Kids_First_Biospecimen_ID in the histologies.tsv or will I also need to use `GTEx_v8_Cerebellum_AdrenalGland.manifest`? Could you share  the file `GTEx_v8_Cerebellum_Adren

[2021-06-10 21:04] jharenza commented on #33
That manifest is 499 samples we have already processed, which should be included in the v8 17,382 GTEX samples above. Here is that manifest: https://drive.google.com/file/d/1LpPFeELjO46j_XrNWZhovVZGbhJnjnvk/view

[2021-06-10 21:10] kgaonkar6 commented on #33
cool, thank you!

[2021-06-10 21:17] ewafula commented on #33
@kgaonkar6 , the 499 samples in `GTEx_v8_Cerebellum_AdrenalGland.manifest` that @jharenza has shared are in the `histologies.txt`. Of 7863 in `gtex_mapping.txt`, 7123 are also in the `histologies.txt`. But there are ~10K in `histologies.txt` from GTEx v8 that are not in the `gtex_mapping.txt`.

[2021-06-11 14:16] jharenza commented on #9
Sorry I never posted this here. This box folder (https://upenn.box.com/s/huohekyxkp1xqgljcz3b3qpw2daw1zh2) has multi qc files for the RNA-Seq and you can extract read lengths from them @zhangb1.

Please us the manifest in the OT v4 folder to select neuroblastoma and AML histology samples for the first run: s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v4/

@yuankunzhu and @zhangb1 now that th

[2021-06-11 14:28] zhangb1 commented on #9
I need to check the difference between the histology samples vs the samples Yuankun imported from GDC...
Not sure how many overlaps...I can do later today.  We only process will process the overlap samples? @jharenza  just to confirm...

[2021-06-11 15:06] logstar commented on #39
@aadamk Thank you very much for the detailed analysis description.

I will use the 12 PBTA RNA-seq libraries, which is used in [the poly-A vs ribo-deplete DGE analysis](https://github.com/PediatricOpenTargets/ticket-tracker/issues/17), for this analysis first. If more datasets are required, I will update the analysis code to include them.

[2021-06-11 15:19] kgaonkar6 commented on #35
Should I combine the tpm files from the disease express cavatica project https://cavatica.sbgenomics.com/u/rathik/diseasexpress-matrices/files/#q?

Also I should have documented this but `gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds` also came from the same project right ?  I don't see it the combined file in there anymore they are separate files for gtex,  tcga  and target.

[2021-06-11 16:19] kgaonkar6 commented on #18
@yuankunzhu can I have access to push to kfdrc dockerhub account ?
if I run `docker push kfdrc/open-pedcan` I get this error:
[code]

[2021-06-11 16:44] jharenza commented on #9
Yes

[2021-06-11 16:45] jharenza commented on #35
Yes and I think you made that combined time 😃

[2021-06-11 18:05] jharenza commented on #39
@logstar other datasets that can be used would be the following (dipg without the samples you used for the DESeq2 analysis and NBL GMKF vs TARGET):

[code]

[2021-06-11 18:18] logstar commented on #39
@jharenza Thank you for the note and code. I will include these datasets in the analysis as well.

[2021-06-11 18:27] jharenza commented on #39
(using `library(tidyverse)` above)

[2021-06-11 18:30] jharenza opened #40 "Proposed Analysis: NBL vs GTEX batch correction and plots"
#### What are the scientific goals of the analysis?
If [this PR20](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/20) is successful at batch correction (Ticket #39), re-assess NBL TARGET and GMKF vs GTEX cell surface protein TPM comparisons/plots.

#### What methods do you plan to use to accomplish the scientific goals?
1. Use the RUVseq method from [PR20](https://github.com/Pedi

[2021-06-11 19:13] zhangb1 commented on #9
checking the histology file in OT v4 folder

the overlaps are 1208 samples.  will start running the samples with these 1208 first

![image](https://user-images.githubusercontent.com/14929845/121737888-78dd3e00-cac7-11eb-8764-18a378c15e9e.png)

[2021-06-11 20:46] zhangb1 commented on #9
after talk to @yuankunzhu  and @migbro  seems the read length won't effect the results too much

see the answer from the author here :

https://github.com/alexdobin/STAR/issues/1094#issuecomment-738117601

I will start a test run see how it goes.

[2021-06-11 22:02] jharenza commented on #9
Oh, good to know!

[2021-06-14 13:35] zhangb1 commented on #9
ran one sample. has been completed here:

https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-target-rnaseq/tasks/4c86e0b5-9995-4046-b185-89951e367db5/

I will use the stranded and unstranded information to submit the tasks will draft all the tasks by today.

[2021-06-14 17:41] jharenza commented on #9
Nice, that sample has a known `CBFB-MYH11` fusion and it comes up in the results. 👍

[2021-06-14 18:09] zhangb1 commented on #9
@jharenza  just found an issue about the stranded and unstranded :

I used the file in the box, called `PanTARGET_Samples_MetaData_11419.txt` to check the strandness info

but seems some of the samples have the replicates  , and the strandness information are different,

like TARGET-20-PAPWIU-09A-03R ,  TARGET-20-PAPWIU-09A-03R_1 is unstranded and TARGET-20-PAPWIU-09A-03R_2 is stranded.

The one w

[2021-06-14 18:17] kgaonkar6 opened #41 "histologies.tsv v5 release"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v5

#### Put your question or report your issue here.
Related to #30
- Update  such that broad_histology should be the long form for short_histology
- pathology_diagnosis and pathology_free_text_diagnosis both should not be empty for tumor samples. As per discussion with @jharenza on slack samples

[2021-06-14 18:51] ewafula commented on #9
Here is a file with rna-seq library types.

[tcga_library_type.tsv.gz](https://github.com/PediatricOpenTargets/ticket-tracker/files/6650598/tcga_library_type.tsv.gz)

[2021-06-14 19:17] kgaonkar6 commented on #41
From slack chats with @ewafula it seems the 24 samples in check_harm_dx.tsv referred to as tumors in the sample metadata don't have clinical diagnosis info .
And @jharenza metioned If the tumor sample doesn't have clinical information we do not want to analyze those samples.

So we can remove the tumor samples without clinical info from the histologies.tsv file.

[2021-06-14 19:44] kgaonkar6 commented on #35
@zhangb1  the histologies.tsv file is in s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v5/histologies.tsv.

Can you let us know what sample_id you have on your end? There seem to be different sample_ids between the gdc manifest we have and the sample_id used  the RSEM files created so wanted to verify if we have the correct match.

[2021-06-14 20:53] zhangb1 commented on #9
Hi eric, there are 262 samples with the `NA` and only poly-A in the RNA_library, does it mean we don't know the types?

[2021-06-15 02:21] ewafula commented on #9
@zhangb1, sorry for bungling the file name. It was supposed to be `target_library_type.tsv` not `tcga_library_type.tsv`. The samples with `"NA"` were sequenced at `Hudson Alpha seq_center` and the library type is unknown based on the data manifest from obtained from TARGET by @afarrel.  `poly-A == polyA unstranded`, `poly-A stranded == polyA stranded`, and `stranded == total RNA (ribo-minus)`.  I

[2021-06-15 13:18] zhangb1 commented on #9
Thank you @ewafula ,   @jharenza  any ideas about those NA samples?

[2021-06-15 15:04] kgaonkar6 commented on #24
@zhangb1 just wanted to circle back about the consensus file `snv-consensus-plus-hotspots.maf.tsv.gz` is this on s3 already ?

[2021-06-15 15:42] zhangb1 commented on #24
Not yet, I switch the work to the Open Target, but I can manager that , I will upload that in 2 days. sorry about that

[2021-06-15 16:08] kgaonkar6 commented on #24
Thanks for the update 👍

[2021-06-16 12:34] jharenza commented on #35
Add GTEX v8 gene counts and TPM files within data download script - https://gtexportal.org/home/datasets (Gene read counts and Gene TPMs).

MD5s:
[code]

[2021-06-16 12:59] jharenza opened #42 "Remove samples with no consent"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v4

#### Put your question or report your issue here.
Some TARGET RNA and DNA samples are listed as having no consent and should be removed.

@ewafula can you add more details please? cc @chinwallaa @yuankunzhu @zhangb1

[2021-06-16 13:17] jharenza commented on #29
I think this is done but being merged for v5, correct @zhangb1 ?

[2021-06-16 13:27] zhangb1 commented on #29
Yes, this task has been finished, just need to merge the files..

I will close this one

[2021-06-16 13:27] #29 closed

[2021-06-16 13:37] kgaonkar6 opened #43 "GMKF clinical info file"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v5

#### Put your question or report your issue here.

The following samples don't have clinical info but should probably be NBL

Kids_First_Biospecimen_ID | sample_type | composition | cohort | harmonized_diagnosis | broad_histology | short_histology | cancer_group | gtex_group | gtex_subgroup |

[2021-06-16 14:35] ewafula commented on #42
@jharenza,  there are only 8 no-consent samples, all in ALL cancer type clinical data. The number is no where near the 116 samples that Apexa suggested. Unless this list of no-consents is in some other documents. Can't find in both the clinical data files and data matrices from TARGET portal (https://ocg.cancer.gov/programs/target/data-matrix). I can remove these from the histology file. cc @afarr

[2021-06-16 16:52] afarrel commented on #43
The above samples have clinical info but are diagnosed as 'unknown'. All the patients did go through neuroblastoma protocols and have been assigned and INSS stage (which is specific to NBL) as well as a risk stratifications. I checked multiple versions of our GMKF manifests and they  are diagnosed as 'unknown' in all.
[2019-09-30-gmkf_clinical_elements.csv](https://github.com/PediatricOpenTargets/

[2021-06-16 17:07] kgaonkar6 commented on #43
interesting, so should we add these samples as "NBL" in short_histology (and propogate the value to broad_histology and cancer_group)  or remove them since they don't have clinical info in the source files @jharenza @afarrel ?

[2021-06-16 17:14] afarrel commented on #43
I would suggest remove them. while they are likely NBL, I don't think we should guess and there might be a reason why they were not conclusively diagnosed as neuroblastoma which we do not know. What are your thoughts @jharenza ?

[2021-06-16 18:46] jharenza commented on #43
maybe quickly ask Sharon and John if they are using them?

[2021-06-16 21:39] zhangb1 commented on #9
@jharenza  just follow up this, for those strandness NA samples do we need to run our own tools to decide the strandness?

[2021-06-16 21:48] jharenza commented on #9
We need to run our own thanks

[2021-06-17 19:11] jharenza opened #44 "merge CNV files for v6"
#### What data file(s) does this issue pertain to?
ControlFREEC GMKF NBL, PBTA files
CNVkit GMKF NBL, PBTA files

#### What release are you using?

v5

#### Put your question or report your issue here.
Currently, we do not have CNVs in the release.

Step 1. (@zhangb1's team) Merge CNV files using v5 `histologies.tsv` for GMKF NBL + PBTA to create `cnv-controlfreec.tsv.gz` and `cnv-cnvkit.tsv.gz`

[2021-06-17 19:14] jharenza opened #45 "Obtain ploidy for GMKF NBL samples for CNV analysis"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v5

#### Put your question or report your issue here.
We will need to add ploidy into the histologies file for use in the consensus CNV module. For this ticket, please gather ploidy by BS_ID and add here.

[2021-06-17 19:14] jharenza commented on #45
cc @yuankunzhu

[2021-06-17 19:15] jharenza opened #46 "Add GMKF NBL ploidy to histology file"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v5

#### Put your question or report your issue here.
From #45 , merge ploidy with the histology file.

[2021-06-17 19:21] jharenza commented on #6
Hi @logstar this sounds great. Just a note - we need to remove all sample-level analysis, so we will essentially do two analyses:
1. across `cancer_group`s
2. across each `cancer_group` and normals (`gtex_group`) (separate z-score matrix for each `cancer_group`) - does that make sense?. This one may expand to a 3rd analysis using `gtex_subgroup`. I had this written earlier as all cancers and norma

[2021-06-17 19:22] jharenza commented on #17
closed with #10 and #11

[2021-06-17 19:22] #17 closed

[2021-06-17 19:28] jharenza commented on #43
Sent an email to John and Sharon about this

[2021-06-17 19:54] logstar commented on #6
Thank you for the detailed reply @jharenza .

I will work on the updated analyses using the upcoming v5 release data. I will generate the following results for each analysis:

- One gene x `cancer_group` z-score matrix that includes all `cancer_groups`. Compute gene-wise z-scores with `(cancer_group_tpm_mean_matrix - rowMeans(cancer_group_tpm_mean_matrix)) / rowStandardDeviation(cancer_group_tpm_m

[2021-06-17 21:33] jharenza commented on #43
[JLR_GMKF_ques.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/6673317/JLR_GMKF_ques.xlsx)
Consensus is to include - let's add "Unknown" to `pathology_diagnosis` but `Neuroblastoma` to the other fields as with the rest of the cohort @kgaonkar6

[2021-06-18 13:50] yuankunzhu commented on #18
Created a docker repo on cavatica for this. d3b-bixu/open-pecan

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Krutika Gaonkar ***@***.***>
Sent: Friday, June 11, 2021 12:20:11 PM
To: PediatricOpenTargets/ticket-tracker ***@***.***>
Cc: Zhu, Yuankun ***@***.***>; Mention ***@***.***>
Subject: [External]Re: [PediatricOpenTargets/ticket-tracker] Create docker imag

[2021-06-18 17:58] runjin326 commented on #7
As I was trying to do a test run of the module, there is some discrepancies between the data files we have and the files that are called in the .sh:
Files not present:
polya_expression_file="${data_path}/pbta-gene-expression-rsem-fpkm.polya.rds"
stranded_expression_file="${data_path}/pbta-gene-expression-rsem-fpkm.stranded.rds"
normal_expression_file="${references_path}/Brain_FPKM_hg38_matrix.txt.

[2021-06-18 18:23] jharenza commented on #7
these are now combined into one file as `gene-expression-rsem-fpkm.rds`

for neuroblastoma, we will have to generate this file for the GTEX adrenal gland - we could either make a new ticket to create this or you can make staggered PRs, with this being one of the first PRs you submit.

this, we also have to generate per #37 - @kgaonkar6 was going to work on this, but you can also feel free to take

[2021-06-18 18:39] runjin326 commented on #7
Yes I meant if we want to run the module for cohort == GMKF | CBTN | PNOC, do we run separate analyses? Or how should we do it?

[2021-06-18 18:41] runjin326 commented on #7
And for the expression matrix, since these are now combined into one file as gene-expression-rsem-fpkm.rds, we will need to modify the codes for that as well, correct?

[2021-06-18 19:04] jharenza commented on #7
No need to separate - I just meant that we don't want to include GTEX or TARGET or TCGA at this time, however, they will not be in the fusion files, so it may be OK to just use the histologies file as-is.

yes

[2021-06-18 19:24] runjin326 commented on #7
Oh gotcha thanks that makes sense!
For generating FPKM matrix for GTEX adrenal gland, could you please give a brief description as to how to do it? Sorry about all the questions!

[2021-06-18 20:10] kgaonkar6 commented on #7
@runjin326 I think you can use `gene-expression-rsem-tpm-collapsed.rds` from the v5 release download-data.sh currently in the [PR](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/24) instead.

However this file is slightly different than the one we've used before. The v5 file only has rownames X sample as a matrix. The existing code in the repo had a matrix where 1st row was `Ense

[2021-06-18 20:17] runjin326 commented on #7
Gotcha! Thanks so much!

[2021-06-18 20:54] logstar commented on #8
Sorry for the delay on this analysis.

I was wondering which mutation files in the [PediatricOpenTargets/OpenPedCan-analysis v5 data release](https://s3.amazonaws.com/kf-openaccess-us-east-1-prd-pbta/open-targets/v5/md5sum.txt) I should use for generating the mutation frequency tables. The `oncoprint-landscape` module uses the following files, but they are from AlexsLemonade/OpenPBTA-analysis data

[2021-06-18 21:10] kgaonkar6 commented on #8
The consensus maf in v5 is `snv-consensus-plus-hotspots.maf.tsv.gz`

[2021-06-18 21:16] logstar commented on #8
Thank you for the quick reply! I will use `snv-consensus-plus-hotspots.maf.tsv.gz` to generate mutation frequency tables for each histology.

[2021-06-20 16:42] runjin326 commented on #37
`tumor_types` column no longer exist  - use `tumor_descriptor` to separate primary from secondary and from others? Which descriptor belong to first or second or other?
<img width="775" alt="image" src="https://user-images.githubusercontent.com/47674661/122681913-9b0c4580-d1c4-11eb-9c81-2dd18d94496b.png">

Final outputs will then be:
`independent-specimens.wgs.primary.tsv`, `independent-specimens.w

[2021-06-20 17:08] jharenza commented on #37
hey @runjin326! `tumor_types` is actually a function here:

https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/5809781824c4804a2da2a01862af5b87af277cf0/analyses/independent-samples/independent-samples.R#L21-L64

What you would change would be some information within the function, here:
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/5809781824c4804a2da2a01862af5b87af

[2021-06-21 12:22] runjin326 commented on #37
Thanks @jharenza for the clarification!

[2021-06-21 12:56] runjin326 commented on #37
@kgaonkar6, what do you mean by "Additionally also want separate files for secondary specimens only"?

[2021-06-21 13:29] zhangb1 commented on #9
We are facing the connect issue on cavatica to the target data now. I emailed SBG support team last Thursday.  We can't process the target data.

Also Michelle from SBG noticed the issue too.  tried to run the data this morning , but the issue still has NOT been solved.

[2021-06-21 15:14] kgaonkar6 commented on #37
In the current code we generate the following output:
`independent-specimens.<experimenatal_strategy>.<tumor_type>.tsv`

1. The experimenatal_strategy are coded as `wgs` for only WGS sample list ,`wgswxs` for WGS+WXS sample list and `rnaseq` for RNA-Seq sample list.

3. The`tumor_type` are as follows:
- "primary" samples that have tumor_descriptor as follows:
`primary_descs <- c("Initial CNS Tumor

[2021-06-21 16:39] #33 closed

[2021-06-21 16:40] kgaonkar6 commented on #33
Closing since the Toil file was not used, it was all GTEx v8 and 17,382 samples overlap the histology and the RSEM files now.

[2021-06-21 16:43] kgaonkar6 commented on #34
Duplicate issue seems to be resolved to since the duplicates don't exist now or are deduplicated with "_1" and "_2" from Diskin  Lab naming convention.

We also didn't add any TARGET samples to v5 gene-expression-rsem-tpm-collapsed.rds and gene-counts-rsem-expected_count-collapsed.rds

[2021-06-21 16:43] #34 closed

[2021-06-21 16:44] kgaonkar6 commented on #32
Should this be closed since TCGA samples are not part of v5 RSEM files `gene-counts-rsem-expected_count-collapsed.rds` and `gene-expression-rsem-tpm-collapsed.rds`

[2021-06-21 16:47] kgaonkar6 commented on #43
@jharenza This fix was missed in v5, will need to implement this for v6

[2021-06-21 16:50] kgaonkar6 commented on #41
Losing since v5 is merged, pleas re-open if required

[2021-06-21 16:50] #41 closed

[2021-06-21 16:52] kgaonkar6 commented on #42
Closing since the above samples with no consent were removed in v5. Please reopen if required

[2021-06-21 16:52] #42 closed

[2021-06-21 16:53] kgaonkar6 commented on #36
Should we close this since the file is now in v5 with PBTA+KFNBL+GTEX named `gene-expression-rsem-tpm-collapsed.rds` ?

[2021-06-21 16:57] kgaonkar6 commented on #31
GTEX v8 was used in v5 RSEM files `gene-expression-rsem-tpm-collapsed.rds` and `gene-counts-rsem-expected_count-collapsed.rds` in which GTEx sample ids completely overlap histology file GTEx sample ids in

[2021-06-21 16:57] #31 closed

[2021-06-21 17:40] kgaonkar6 commented on #35
Just wanted to document here that for v5

@jharenza  since GTEx v8 input files were not added as separate files but as part of `gene-counts-rsem-expected_count-collapsed.rds` and `gene-expression-rsem-tpm-collapsed.rds`do we want to still add the GTEx v8 input download links?

I have a script to collapse GTEx RSEM files https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/gtex-rename/a

[2021-06-21 18:39] jharenza commented on #32
we can close, but open a new one to add TCGA samples processed via GDC? can confirm with @taylordm today at 3 which processed data we should use

[2021-06-21 18:39] #32 closed

[2021-06-21 18:39] jharenza commented on #36
yes

[2021-06-21 18:39] #36 closed

[2021-06-21 19:19] jharenza commented on #4
released in #35

[2021-06-21 19:19] #4 closed

[2021-06-21 19:27] jharenza opened #47 "Harmonize TARGET (NBL AML) DNA"
## This section is required for PM/ADAPT team

### [Required] For what study (study_id) is this request?

### [Required] Basic study information
- [ ] Is this D3B or Kids First study: D3b
- [ ] Study short name: Open Target TARGET-DNA
- [ ] PI name:
- [ ] Fiscal year:

**NOTE**: Study short name is required for D3B study, but optional for Kids First X01; Fiscal year is required for Kids First X01,

[2021-06-21 19:29] kgaonkar6 commented on #30
[code]

broad_histology is long forms of short_histology

[2021-06-21 19:30] jharenza commented on #24
done with #35 - will open new for v6

[2021-06-21 19:30] #24 closed

[2021-06-21 19:31] jharenza commented on #30
closed with #5

[2021-06-21 19:31] #30 closed

[2021-06-21 19:37] jharenza commented on #35
I think it would not hurt to put in the download and add the merge code here

[2021-06-21 19:37] #35 closed

[2021-06-21 20:03] jharenza commented on #26
with #35 , TARGET and TCGA are no longer in the TPM and counts files, so let's just continue with `cancer_group`, but our results will only be for NBL and brain tumors.

[2021-06-22 12:14] jharenza opened #48 "Cancer group in histologies file needs update"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

V5

#### Put your question or report your issue here.
- Two samples are annotated as "Anaplastic" - have to backtrack and update the code for these.
- @kgaonkar6 should we make all other dx of DIPG --> DMG for harm dx, even if not subtyped? Right now, this puts them into two groups so i think it m

[2021-06-22 12:46] jharenza commented on #46
Hi @zhangb1 and @yuankunzhu - can we get this information when you get a chance? Thanks!

[2021-06-22 12:47] jharenza commented on #44
@zhangb1 what will be your eta on this so we can plan? Possible to get done by end of this week? Thanks!

[2021-06-22 12:54] afarrel opened #49 "Copy TARGET DNA and RNA fastq files from isilon to CAVATICA"
#### What data file(s) does this issue pertain to?
Copying TARGET DNA (WXS/Panel) fastq files and RNA fastq files from Isilon to CAVATICA

#### What needs to be done?

@afarrel to uncompress/copy files to Maris folder and give path to @yuankunzhu @jharenza and @komalsrathi . @yuankunzhu or @komalsrathi to copy files to Cavatica

#### Put your question or report your issue here.
Will add manifests

[2021-06-22 15:01] komalsrathi commented on #49
I was testing the command line uploader `sb` but can't get it to work: https://docs.sevenbridges.com/docs/general-commands - not sure what the issue is because I am configuring using sb configure with my auth token. Have contacted sb genomics. @yuankunzhu any other "easy" way to upload files or who can help me debug the `sb` issue?

[2021-06-22 15:32] logstar opened #51 "Proposed Analysis: Calculate TPM/z-score/SD/quantile summary statistics within each cancer group and cohort"
#### What are the scientific goals of the analysis?

Within each cancer group and cohort, calculate TPM means, standard deviations, z-scores, and ranks.

#### What methods do you plan to use to accomplish the scientific goals?

For each `cancer_group`, select one of the following two sets of samples:

- Samples from all `cohort`s, e.g. CBTN, GMKF, and PNOC.
- Samples from each individual `cohort`.

[2021-06-22 16:38] kgaonkar6 opened #52 "Targeted capture bed file for TARGET"
#### What data file(s) does this issue pertain to?
We have paired tumor and normal targeted-capture samples we will need a bed file to run WF

Sample distribution:
[code]

#### What release are you using?

v5

#### Put your question or report your issue here.
Once we have the TARGET bed file please check if the bed is hg19 we will need to map to hg38 to reprocess the data.

[2021-06-22 16:55] yuankunzhu commented on #49
Hi @komalsrathi what error did you get. Good to know you are using your auth token, and you also need to make sure the api endpoint is `https://cavatica-api.sbgenomics.com/v2`

[2021-06-22 17:00] komalsrathi commented on #49
from our slack discussion, changed the endpoint and it works now. Thanks @yuankunzhu !!

[2021-06-22 17:21] jharenza commented on #52
This BED file can be found here: https://target-data.nci.nih.gov/Public/NBL/targeted_capture_sequencing/DESIGN/

[2021-06-22 17:32] kgaonkar6 opened #53 "WXS bed file for TARGET"
#### What data file(s) does this issue pertain to?
We have paired tumor and normal targeted-capture samples we will need a bed file to run WF

Sample distribution:
[code]

#### What release are you using?

v5

#### Put your question or report your issue here.
Once we have the TARGET bed file please check if the bed is hg19 we will need to map to hg38 to reprocess the data.

[2021-06-22 19:05] komalsrathi opened #54 "update cancer_group for BS_ETC8R0TD"
#### What data file(s) does this issue pertain to?

histologies.tsv

#### What release are you using?

v5

#### Put your question or report your issue here.

BS_ETC8R0TD `cancer_group` should be Neuroblastoma, right now it is `NA`:

  Kids_First_Biospecimen_ID cohort cancer_group
1:               BS_ETC8R0TD   GMKF         <NA>

[2021-06-22 19:42] komalsrathi commented on #54
@ewafula from [slack](https://opentargetspediatrics.slack.com/archives/C021N2D56DB/p1624389569256700), should we close this?

[2021-06-22 19:48] ewafula commented on #54
@komalsrathi, close because the issue was previously addressed and closed after Sharon and John asked to include GMKF samples with "Unknown" in some dx columns.

[2021-06-22 19:52] #54 closed

[2021-06-22 21:00] kgaonkar6 opened #55 "Proposed Analysis: AML subtyping"
#### What are the scientific goals of the analysis?
From email discussion with Dr. Sarah Tasian, we have the following information that we should use to subtype AML.

‘Low risk’ AML: RUNX1-RUNXT1 from t(8;21), CBFB-MYH11 from inv(16), CEBPA point mutations, NPM1 point mutations
‘High risk’ AML: classically monosomy 7, monosomy 5/5q-, and FLT3-ITD, but now with many others
Lesions that are not clea

[2021-06-22 21:16] jharenza opened #56 "Add ENSG to Hugo Symbol map file to v6"
#### What data file(s) does this issue pertain to?
RSEM files contain Hugo Symbols, but OT needs ENSG IDs

#### What release are you using?

v5

#### Put your question or report your issue here.
Map file in slack [here](https://opentargetspediatrics.slack.com/archives/C021Y7H1X8U/p1624396310190400) since I cannot paste a TSV in github 🤯

[2021-06-22 21:16] jharenza commented on #53
Assigning to @bmennis cc @yuankunzhu

[2021-06-22 21:17] jharenza commented on #52
Assigning to @bmennis cc @yuankunzhu

[2021-06-22 21:24] jharenza opened #57 "v6 data release"
#### What data file(s) does this issue pertain to?
starting a list of what needs to go into v6

### merged CNV files -
- [x] #44
- [x] #77
- [x] #81

#80 removed ,to be released with TARGET WXS in a future release

### update histologies file per
- [x] #43
- [x]  #46
- [x]  #54
- [x]  #48
- [x]  #79
- [x] https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1108
- [x] #61
- [x] #62
- [x] @ewa

[2021-06-22 21:59] jharenza opened #58 "Add histology file code to d3b-codes repo"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v5

#### Put your question or report your issue here.
For all of the transformation for TARGET, TCGA, and GTEX, plus `cancer_group` addition, we should add this code to the [d3b-codes repo](https://github.com/d3b-center/D3b-codes) for tracking purposes.

[2021-06-22 22:08] jharenza opened #59 "Discussion: Systematics for OT"
Moving the discussion here

Per @taylordm regarding [FAIR (findable, accessible, interoperable and reusable)](https://www.nature.com/articles/sdata201618) guidelines:

Outstanding questions:
- Do we want to link to READMEs or releases from OT portal?
- Do we want to give each release a DOI or unique ID since they may differ from dbGAP cohorts anyway? Where do we record this information - in the an

[2021-06-22 22:11] jharenza commented on #49
destination folder: `https://cavatica.sbgenomics.com/u/yuankun/test-target`

[2021-06-22 22:17] jharenza commented on #6
closing in favor of the cleaner ticket #51

[2021-06-22 22:17] #6 closed

[2021-06-22 22:18] jharenza commented on #51
To clarify the z-scores:

For within cancer group, we would do below as noted above:

But when doing across cancers, we will z-score by gene (row).

[2021-06-22 22:22] jharenza commented on #51
@logstar please combine `CBTN` and `PNOC` into one cohort, `PBTA` for this analysis

[2021-06-22 22:22] jharenza commented on #38
@komalsrathi please combine `CBTN` and `PNOC` into one cohort, `PBTA` for this analysis

[2021-06-22 22:35] logstar commented on #51
@jharenza Thank you for the comments. I will combine CBTN and PNOC into one cohort PBTA for this analysis.

Do we need z-scores or quantiles across all cancers? I remember there is only one z-score and one quantile in the JSON record. If necessary, I will update this ticket and the PR to generate z-scores and quantiles across all cancers as well.

[2021-06-22 22:52] jharenza commented on #51
Yes, this would be per every gene, z-score across cancers - I think those JSON files were just mock ups and we can make any JSON files we would like- but will confirm tomorrow on the call if that is useful or if TPM is enough.

[2021-06-22 22:54] logstar commented on #51
Got it. Thank you for the quick reply. I will update the issue, module, and PR to include the z-scores across all cancers.

[2021-06-22 22:56] jharenza opened #60 "Run cnv consensus on GMKF NBL files"
#### What data file(s) does this issue pertain to?
control freec and cnvkit  GMKF +PBTA merge files produced in #44

#### What release are you using?

v6

#### Put your question or report your issue here.
will need a consensus file for the release

[2021-06-22 23:00] kgaonkar6 commented on #39
Closing with PediatricOpenTargets/OpenPedCan-analysis#20, please reopen if required

[2021-06-22 23:00] #39 closed

[2021-06-23 12:37] zhangb1 commented on #52
@jharenza  do you know how to query the target DNA samples in cavatica data browser ?

![image](https://user-images.githubusercontent.com/14929845/123097474-2b819a80-d3fe-11eb-8927-59d5a56a74c9.png)
I only can see WXS in the query , no capture region . how can I get those samples?

[2021-06-23 12:51] jharenza commented on #52
@zhangb1 it seems like it is not in the GDC, so not showing in CAVATICA. We are going to upload from isilon anyway.

[2021-06-23 13:00] kgaonkar6 commented on #52
Will the associated bed file also be uploaded from isilon?

[2021-06-23 13:05] jharenza commented on #38
@komalsrathi per our 8 am meeting, will also want a cancer_group level analysis here, but it will also require subsetting the samples per the independent-samples module which is being updated in #26

[2021-06-23 13:08] komalsrathi commented on #38
@jharenza is this not same as 2)

[2021-06-23 13:11] jharenza commented on #38
Actually for 2, I should clarify - we would just do boxplots for each gene across all (cohort+cancer_group) - no need for comparisons.

For `cancer_group` level, this would look like:
1A: boxplots for each gene in `cancer_group` vs GTEX subgroups
2A: boxplots for each gene across all `cancer_group` - no need for comparisons

For 1A and 2A, we would need to utilize independent-specimens because of

[2021-06-23 14:57] zhangb1 commented on #45
[Maris_tumor_ploidy_visible.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6702843/Maris_tumor_ploidy_visible.txt)

@jharenza  I listed the tumor ploidy for Maris data here: there is a BS_ID and ploidy in column 3 and 4.

let me know any questions

[2021-06-23 15:44] komalsrathi commented on #38
@jharenza before I generate all the plots, I needed some info on the following:

1. Single-sample groups: Should we remove `n == 1`?
2. Plot colors: Do you want colors in the plot? If so, we can fill/color by `cohort` for `cohort_cancer_group_level` plots. However, for `cancer_group_level` plots, if we do color by `cohort`, it will show as dodged boxplot so we would need something else.
3. Format

[2021-06-23 17:05] zhangb1 commented on #44
@jharenza  for this  PBTA  merge, should I use the v19 files?  Thank you.

[2021-06-23 17:08] runjin326 commented on #7
After changing to `cancer_group`, do we want to change any of the following filtering parameter?
Oncogene annotated fusions do not need to be in both callers to be retained however if these fusions are found in **_more than 4_** histologies we treat them as false calls and remove them.
To scavenge back non-oncogenic fusions that are recurrently found uniquely in a broad_histology we kept fusions t

[2021-06-23 17:12] runjin326 commented on #7
@kgaonkar6 @jharenza Additionally, here is another parameter:
Identifies recurrent fusions and genes that are recurrently observed in fusions. We identified RNA-seq samples that can be used independently for each patient. After the selection of samples we identify which fusions and genes are recurrent (**_found in >3 participants per histology_**) in our `fusion-putative-oncogenic.tsv` dataset.

[2021-06-23 17:21] jharenza commented on #44
yes, that'll do

[2021-06-23 17:23] jharenza commented on #38
yes, let's do n >=5

Perhaps we could just color the cancer group

@taylordm wants them to be UUIDs instead of human readable, but I can confirm again

For this plot, it should only be one cohort_cancer group + GTEX at a time, rather than all of a cohort

[2021-06-23 17:52] jharenza commented on #52
No, I posted the link above in [this comment](https://github.com/PediatricOpenTargets/ticket-tracker/issues/52#issuecomment-866180775)

[2021-06-23 17:57] jharenza commented on #45
Perfect, thank you!

[2021-06-23 17:57] #45 closed

[2021-06-23 18:10] kgaonkar6 opened #61 "histologies.tsv tumor_descriptor update"
#### What data file(s) does this issue pertain to?
histologies.tsv needs an update to harmonize to use "Camel Case" naming convention such as first letter of each word is capitalized. That will also fix `Recurrent tumor` and `Recurrent Tumor`

[code]

#### What release are you using?

v5

#### Put your question or report your issue here.

[2021-06-23 18:16] jharenza commented on #48
The code for this per [this comment](https://github.com/PediatricOpenTargets/ticket-tracker/issues/24#issuecomment-849163143) was:
[code]

Selecting up to the parentheses does not work for the `Anaplastic (malignant) meningioma` samples which became `Anaplastic`. These should be `Meningioma`.

[2021-06-23 19:05] kgaonkar6 opened #62 "histologies.tsv experimental_strategy update"
#### What data file(s) does this issue pertain to?
histologies.tsv
![image](https://user-images.githubusercontent.com/34580719/123152890-183cf200-d433-11eb-97cd-2ed663fb65fa.png)

#### What release are you using?

v5

#### Put your question or report your issue here.
PBTA has panel has experimental_strategy == “Targeted Sequencing” should we update the TARGET panel experimental_strategy as well to

[2021-06-23 19:13] runjin326 commented on #7
@kgaonkar6 For the two references files, `genelistreference.txt` and `fusionreference.txt`. Do you have them or should we regenerate them? If the latter, do you have the original starting files?

[2021-06-23 19:16] jharenza commented on #7
They are in this folder: https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/fusion_filtering/references

[2021-06-23 19:17] jharenza commented on #7
No, we should not change any parameters for this right now. Let's see how the results look.

[2021-06-23 19:18] komalsrathi commented on #38
@jharenza thanks. I think you are right, UUID may be better for naming the files and then I would generate an additional mapping file with UUID, cohorts and/or cancer group, gene, analysis type etc.

[2021-06-23 19:19] runjin326 commented on #7
Gotcha! Thanks!

[2021-06-23 20:36] zhangb1 commented on #44
@jharenza @kgaonkar6

I upload the merged files
[code]
to the  v6 folder : s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v6/

also I attached the kf-nbl only merge file here if needed:

[kf-nbl-cnv-cnvkit.tsv.gz](https://github.com/PediatricOpenTargets/ticket-tracker/files/6704730/kf-nbl-cnv-cnvkit.tsv.gz)
[kf-nbl-cnv-controlfreec.tsv.gz](https://github.com/PediatricOpenTargets/ticket-tracker

[2021-06-23 21:37] #37 closed

[2021-06-23 22:27] runjin326 commented on #7
@kgaonkar6, do you know which file is the original GTeX FPKM file that we can use to generate `AdrenalGland_FPKM_hg38_matrix.txt.zip` (counterpart of `Brain_FPKM_hg38_matrix.txt.zip`)?

[2021-06-23 22:30] jharenza commented on #7
Those samples are in the expression TPM file in this repo- may also be worth regenerating the brain tpm zscores since we have more samples in gtex now.

You'll find the tissues under "gtex_group"

[2021-06-23 22:35] kgaonkar6 commented on #7
right! the filename in v5 is `gene-expression-rsem-tpm-collapsed.rds` and gtex_group is in `histologies.tsv`

[2021-06-23 22:42] kgaonkar6 opened #63 "Proposed Analysis: Test data for OpenTarget CI"
#### What are the scientific goals of the analysis?
To set up test data for CI

#### What methods do you plan to use to accomplish the scientific goals?
Create a subset of samples that can test all modules being added to the OpenPedCan repo

#### What input data are required for this analysis?
snv-consensus-plus-hotspots.maf.tsv.gz
fusion-arriba.tsv.gz
fusion-starfusion.tsv.gz
gene-counts-rsem-exp

[2021-06-23 22:47] runjin326 commented on #7
@kgaonkar6, just to clarify, so we use `gene-expression-rsem-tpm-collapsed.rds` as an input for `expressionMatrix` and by filtering this list by gtex_group, it will be used as `normalExpressionMatrix`?

[2021-06-23 22:54] kgaonkar6 commented on #44
Thanks!

@jharenza just confirming, have we decided to do 2 of 2 cnv consensus calls for all of OpenPedCan? Just wondering since PBTA and GMKF have WGS so we could add manta for the consensus CNV calls as well.

[2021-06-23 23:15] runjin326 commented on #7
Sure I will generate brain tpm zscores as well

[2021-06-24 00:11] jharenza commented on #44
Oh shoot - no, we will do 2/3  for WGS using Manta as well. Sorry @zhangb1 - can you also add the manta merged file?

For WXS samples, we will use CNVkit only for now and revisit consensus after august.

[2021-06-24 00:55] kgaonkar6 commented on #7
That's right!
`expressionMatrix` will have all tumor Kids_First_Biospecimen_IDs from `cohort == GMKF | CBTN | PNOC & sample_type=="Tumor"` and `normalExpressionMatrix` will have all `cohort=="GTEX" & gtex_group=="Adrenal Gland" `

You will already be filtering it with gtex ids as mentioned above so they will all be Normal

[2021-06-24 01:56] runjin326 commented on #7
@kgaonkar6 Thanks!~ I think I need to understand the structures/composition of all the files better ;)

[2021-06-24 14:36] kgaonkar6 commented on #48
hmm are these lines necessary in the case_when() we are assigning the same values ?
[code]

[2021-06-24 15:01] yuankunzhu commented on #52
@jharenza @kgaonkar6 where can we find the panel BED files?

[2021-06-24 15:14] jharenza commented on #48
Those were only to get rid of trailing spacing - there is probably an easier way :)

[2021-06-24 15:24] kgaonkar6 commented on #48
ah I see that now! I did add a logic to remove the space at the end

[2021-06-24 15:25] komalsrathi commented on #49
I have started the upload of `/mnt/isilon/maris_lab/target_nbl_ngs/Open_Targets/TARGET_DNA/TARGET_Capture_Panel` under https://cavatica.sbgenomics.com/u/yuankun/test-target/files/#q?path=TARGET_Capture_Panel

[2021-06-24 15:50] logstar commented on #8
@kgaonkar6 I was wondering if I could directly use the following files for this analysis:

- `analyses/focal-cn-file-preparation/results/consensus_seg_most_focal_cn_status.tsv.gz`
- `analyses/interaction-plots/results/gene_disease_top50.tsv`
- `analyses/focal-cn-file-preparation/results/consensus_seg_focal_cn_recurrent_genes.tsv`

My concern is that these files might be generated using `AlexsLemon

[2021-06-24 16:10] kgaonkar6 commented on #8
You are right! Those files and (pbta-fusion-putative-oncogenic.tsv) are not updated to include samples added as part of OpenPedCan analysis yet but we will be rerunning before the next release. So I can keep you posted about that.

To me it looks like the requirement here is just the gene _mutation_ frequency so should we add another script in the module to just generate the frequencies using an u

[2021-06-24 17:06] zhangb1 commented on #44
Sure. running the annotSV now. should finish the merge by today or tomorrow.

[2021-06-24 17:13] kgaonkar6 commented on #44
Thanks Bo!

[2021-06-24 17:15] jharenza commented on #8
One other note is we do not want to do top 50 here, but _all genes_ mentioned in the comment above, excluding
[code]

It also sounds like this analysis should be done on a `cohort+cancer_group` and then `cancer_group` level, separately for primary tumors and relapse/recurrent/progressive tumors using the independent specimen lists. This analysis has morphed a bit since initially written.

Regardin

[2021-06-24 17:18] jharenza opened #64 "Proposed Analysis: Annotate SNV table of mutation frequencies"
#### What are the scientific goals of the analysis?
Annotate the SNV TSV table of mutation frequencies per cohort+cancer group+primary/relapse as will be created in #8 for conversion to JSON format.

#### What methods do you plan to use to accomplish the scientific goals?
Annotate the table with headings as below:
[OT_SomaticTables_SNV_CNV.xlsx](https://github.com/PediatricOpenTargets/ticket-track

[2021-06-24 17:23] jharenza opened #65 "Proposed Analysis: Annotate CNV frequency files"
#### What are the scientific goals of the analysis?
Annotate the CNV TSV table of mutation frequencies per cohort+cancer group+primary/relapse as will be created in #8 for conversion to JSON format.

#### What methods do you plan to use to accomplish the scientific goals?
Annotate the table with headings as below:
[OT_SomaticTables_SNV_CNV.xlsx](https://github.com/PediatricOpenTargets/ticket-track

[2021-06-24 17:27] jharenza opened #66 "Proposed Analysis: Create CNV frequencies file"
#### What are the scientific goals of the analysis?
Create one file of CNV frequencies per `cohort+cancer_group` for primary and relapse/recurrent tumors, and one file per `cancer_group` for primary and relapse/recurrent tumors. To do this, use the independent specimen files.

#### What methods do you plan to use to accomplish the scientific goals?
This will be performed on a per gene level and we

[2021-06-24 17:30] jharenza opened #67 "Proposed Analysis: Convert tpm/z-score/quantile files to JSON"
#### What are the scientific goals of the analysis?
Convert the files produced in #51 to JSON for load to OT portal.

#### What methods do you plan to use to accomplish the scientific goals?
JSON conversion within the [data-ingestion repository?](https://github.com/PediatricOpenTargets/data-ingestion)

#### What input data are required for this analysis?
Files produced from #51 (PR [27](https://gi

[2021-06-24 17:33] jharenza opened #68 "Proposed Analysis: Create JSON files for CNV tables"
#### What are the scientific goals of the analysis?
Convert the files produced in #66  to JSONL for load to OT portal.

#### What methods do you plan to use to accomplish the scientific goals?
possibly pandas as per https://stackoverflow.com/questions/51775175/pandas-dataframe-to-jsonl-json-lines-conversion

#### What input data are required for this analysis?
Files produced from #66 (PR TBD)

###

[2021-06-24 17:33] jharenza opened #69 "Proposed Analysis: Create JSON files for SNV tables"
#### What are the scientific goals of the analysis?
Convert the files produced in #64  to JSON for load to OT portal.

#### What methods do you plan to use to accomplish the scientific goals?
JSON conversion within the [data-ingestion repository?](https://github.com/PediatricOpenTargets/data-ingestion)

#### What input data are required for this analysis?
Files produced from #64  (PR TBD)

#### Ho

[2021-06-24 17:47] jharenza opened #70 "Proposed Analysis: Create fusion frequency tables"
#### What are the scientific goals of the analysis?
Create one file of CNV frequencies per `cohort+cancer_group` for primary and relapse/recurrent tumors, and one file per `cancer_group` for primary and relapse/recurrent tumors.

#### What methods do you plan to use to accomplish the scientific goals?
This ticket will serve the purpose of gathering fusion frequencies which will then be converted t

[2021-06-24 17:48] jharenza opened #71 "Proposed Analysis: Annotate fusion frequency files"
#### What are the scientific goals of the analysis?
Annotate the Fusion TSV table of mutation frequencies per cohort+cancer group+primary/relapse as will be created in #70  for conversion to JSON format.

#### What methods do you plan to use to accomplish the scientific goals?
Need to get a fusion sample table such as the SNV/CNV tables below for annotation instructions.
[OT_SomaticTables_SNV_CNV.

[2021-06-24 17:49] jharenza opened #72 "Proposed Analysis: Create JSON files for fusion tables"
#### What are the scientific goals of the analysis?
Convert the files produced in #71  to JSON for load to OT portal.

#### What methods do you plan to use to accomplish the scientific goals?
JSON conversion within the [data-ingestion repository?](https://github.com/PediatricOpenTargets/data-ingestion)

Update from June 30th
- [ ] Add RTML
- [ ] Add ENSG ids for each gene
- [ ] Unique row per part

[2021-06-24 17:51] jharenza opened #73 "Proposed Analysis: Create JSON files with tumor/normal boxplot links and tables"
#### What are the scientific goals of the analysis?
Convert the tables produced in #38  to JSON for load to OT portal.

#### What methods do you plan to use to accomplish the scientific goals?
JSON conversion within the [data-ingestion repository?](https://github.com/PediatricOpenTargets/data-ingestion)

#### What input data are required for this analysis?
Files produced from #38  (PR [29](https:/

[2021-06-24 17:54] jharenza opened #74 "Proposed Analysis: Create JSON files from DE analysis"
#### What are the scientific goals of the analysis?
Convert the tables produced in #76   to JSON for load to OT portal.

#### What methods do you plan to use to accomplish the scientific goals?
JSON conversion within the [data-ingestion repository?](https://github.com/PediatricOpenTargets/data-ingestion)

#### What input data are required for this analysis?
Files produced from #76   (PR [28](https

[2021-06-24 17:56] runjin326 commented on #7
When running 02 and if I give the entire expression matrix, the process kept getting killed (I already increased my docker to max for everything). So I added:
`matched_cohort <- read.delim("../../histologies.tsv", header = TRUE, sep = "\t", stringsAsFactors = FALSE) %>%
  filter(cohort == c("GMKF","CBTN","PNOC")) %>%
  filter(experimental_strategy == "RNA-Seq") %>%
  tibble::column_to_rownames("Ki

[2021-06-24 18:06] jharenza opened #75 "Updated analysis: independent-samples to modify secondary to relapse/recurrent/progressive only"
#### What analysis module should be updated and why?
independent-samples

#### What changes need to be made? Please provide enough detail for another participant to make the update.
For the secondary tumors, I realize we want this to be specific to progression or relapse, so I advocate changing the name of the output to be `relapse` and include `tumor_descriptor` listed below:

[code]

within this

[2021-06-24 18:07] jharenza commented on #61
@kgaonkar6 we should also harmonize all of these to the CBTN terms

[code]

to `Recurrence`

[2021-06-24 18:14] logstar commented on #8
@jharenza Thank you for the detailed notes. They are very helpful for implementing this analysis.

I will generate the mutation frequency tables accordingly. Then, I will annotate the SNV table of mutation frequencies according to <https://github.com/PediatricOpenTargets/ticket-tracker/issues/64>.

I will skip the significance part for now.

[2021-06-24 18:18] jharenza commented on #8
Sure thing, let me know if you have any questions along the way!

[2021-06-24 18:39] kgaonkar6 commented on #57
Should we add the independent-sample lists to the release as well?

[2021-06-24 19:08] jharenza commented on #57
eh, i think the relative paths should be OK, as long as we keep those up to date? I put in a change request per #37 and they may change if we remove some samples from histologies.tsv, so it may be hard to keep up with them in release.

[2021-06-24 19:27] jharenza commented on #48
@kgaonkar6 I also noticed a few more things we should update in this field:
- Remove `Benign tumor` and `Dysplasia/Gliosis` from `cancer_group`
- Instead of Adamantinomatous Craniopharyngioma, we should this together with Craniopharyngioma as Craniopharyngioma more broadly.  Same with `Atypical Meningioma` --> `Meningioma

[2021-06-24 19:40] logstar commented on #8
Hi @kgaonkar6. I was wondering if I could use `independent-specimens.rnaseq.primary-plus.tsv` from the `independent-samples` module to subset the fusion table.

Although the fusion table is work in progress at <https://github.com/PediatricOpenTargets/ticket-tracker/issues/7>, the independent sample determination in the fusion table is related to the filtering of the `snv-consensus-plus-hotspots.ma

[2021-06-24 19:42] jharenza commented on #8
hey @logstar - you can disregard fusions and CNVs completely here, only looking for SNV frequencies using the indep DNA sample lists

[2021-06-24 19:49] logstar commented on #8
Thank you for the quick reply. I will disregard the fusions and CNVs in this analysis.

Sorry for being distracted by the CNVs and fusions. I was trying to figure out the original code and make this module compatible to the full OT data release, so we will not need to revise the code much when CNV and fusions are available. Now, I will get the SNV mutation frequency table generated before worrying

[2021-06-24 19:50] jharenza commented on #75
In addition to this, we also want an RNA primary only list as well as a relapse list:

Primary RNA-Seq specimens matching WGS/WXS/Panel independent sample_ids plus "relapse" only-RNA-Seq `independent-specimens.rnaseq.primary.tsv`

Relapse RNA-Seq specimens matching WGS/WXS/Panel independent sample_ids plus "relapse" only-RNA-Seq `independent-specimens.rnaseq.relapse.tsv`

[2021-06-24 20:23] runjin326 commented on #75
Quick question, did we add more WXS+Panel specimens in V5 release? I am getting more independent samples than v4. Just want to make sure.
`998 WGS primary specimens
167 WGS relapse specimens
1126 WGS specimens (including non-primary)
1734 WGS+WXS+Panel primary specimens
172 WGS+WXS+Panel relapse specimens
1864 WGS+WXS+Panel specimens (including non-primary)`

[2021-06-24 20:24] jharenza opened #76 "Proposed Analysis: Differential Expression (DE) between tumor/normal"
#### What are the scientific goals of the analysis?
Create a module to perform DE between tumor and GTEX normal samples:

#### What methods do you plan to use to accomplish the scientific goals?
First, combine cohort == PBTA and cohort == PNOC into `cohort == PBTA`
Second, using the independent specimen list for RNA primary only as per #75 [this comment](https://github.com/PediatricOpenTargets/tic

[2021-06-24 20:28] jharenza commented on #26
closing in favor of clearer ticket #76

[2021-06-24 20:28] #26 closed

[2021-06-24 20:31] jharenza commented on #75
yes!

[2021-06-25 02:39] runjin326 commented on #7
@jharenza @kgaonkar6, so I finished modifying all the codes and I was just trying to run the outputs. However, I am stuck on the last step of script 03 - ` expression_annotated_fusions <- fusion_sample_gene_df %>%
    # join the filtered expression values to the data frame keeping track of symbols
    # for each sample-fusion name pair
    dplyr::left_join(expression_long_df, by = c("Sample", "Gen

[2021-06-25 12:55] kgaonkar6 commented on #7
Ok yeah, you can try with a subset of expressionMatrix to see if the code runs.

Since your local Rstudio crashes I would assume it's a memory issue and we will need to set up an aws ec2 instance to run the code. Please go through the steps here https://www.notion.so/d3b/Accessing-kf-strides-569e6a853d5c47c69a3ac00ccd7a89e0#603ff13a021341a6be03620059be327c and please let me know if you have issues

[2021-06-25 13:05] runjin326 commented on #7
@kgaonkar6 Thanks! Unfortunately I don't have a CHOP issued device yet so I can't VPN into CHOP or sudo anything. I will run the code in pieces locally for now and leave the original code as is then. :)

[2021-06-25 13:30] zhangb1 commented on #44
@kgaonkar6

[code]
mantaSV file also uploaded in the  s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v6/

kf-nbl only SV file is large, I can't upload here , if you need I can transfer to you.

[2021-06-25 13:36] kgaonkar6 commented on #44
Thanks!
Just clarifying `sv-manta.tsv.gz` is PBTA+ GMKF NBL right? Then we don't need the KF-NBL only files in s3.

[2021-06-25 13:44] zhangb1 commented on #44
Yes , correct.

[2021-06-25 21:02] logstar commented on #8
Hi @jharenza. I was wondering whether `Translation_Start_Site` `Variant_Classification` should be considered as non-synonyms.

In the original code, only the following `Variant_Classification`s are considered as non-synonyms, and `Translation_Start_Site` is not included.

[code]

However, the default non-synonyms in maftools are the following, which has the additional `Translation_Start_Site`.

[c

[2021-06-25 21:04] jharenza commented on #8
we can add it as non-silent!

[2021-06-25 21:04] logstar commented on #8
Will do. Thank you for the quick reply!

[2021-06-25 21:25] kgaonkar6 opened #77 "Updated analysis: copy_number_consensus_call and focal-cn-file-preparation for OT"
#### What analysis module should be updated and why?
focal-cn-file-preparation, to include the neutral calls in output files and add gene annotated cnvkit seg files for WXS samples.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Keep neutral calls here
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/0b5099f94038e12a7e

[2021-06-28 15:37] yuankunzhu commented on #53
did some initial investigation, and notes on [g-slide](https://docs.google.com/presentation/d/1HXlhsZi64tLkIpBbxs0BkFsGN_BSip5TlzWgSJCCEzg/edit#slide=id.ge25f85e018_0_30)

basically we have:

using v5, we have 1358 TARGET WXS samples and query them in GDC, we have
- 1308 are WXS, among them:
  - 1151 have no capture kit information, recorded as “None”
  - the rest 157 are all with kit Custom V2 Ex

[2021-06-28 17:18] jharenza commented on #56
@kgaonkar6 please retain only those ENSG ids which were collapsed for this

[2021-06-28 17:28] jharenza opened #78 "Add EFO/Mondo cancer mapping file to v6"
#### What data file(s) does this issue pertain to?
We need a EFO/Mondo cancer mapping file for JSON conversions

#### What release are you using?

v5

#### Put your question or report your issue here.
@afarrel created an EFO/MONDO mapping file for PBTA/GMKF NBL, and will add TARGET cancers

[2021-06-28 18:48] kgaonkar6 commented on #53
looping in @ewafula @afarrel to confirm/provide additional information regarding capture kit

[2021-06-28 19:11] kgaonkar6 opened #79 "Update CBTN+PNOC to PBTA histologies.tsv"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v5

#### Put your question or report your issue here.
Update the cohort to PBTA

[2021-06-28 19:13] jharenza commented on #52
@zhangb1 panel bed file https://target-data.nci.nih.gov/Public/NBL/targeted_capture_sequencing/DESIGN/TARGET_AML_NBL_WT_SeqVal79_attempt06_AllTracks_hg19_hugo.bed.txt

[2021-06-28 19:50] afarrel commented on #53
[SeqCap_EZ_Exome_v2.bed.zip](https://github.com/PediatricOpenTargets/ticket-tracker/files/6728923/SeqCap_EZ_Exome_v2.bed.zip)
Here is the Bed file for AML WXS.

[2021-06-28 19:52] jharenza commented on #53
@zhangb1 @yuankunzhu ^

[2021-06-28 19:53] zhangb1 commented on #53
@afarrel @jharenza  are they HG19 or 38,  do you know?

[2021-06-29 05:20] afarrel commented on #49
[SRR_TARGET_Capture_NBL_Manifest.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6730838/SRR_TARGET_Capture_NBL_Manifest.txt)
[SRR_TARGET_WXS_AML_Manifest.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6730839/SRR_TARGET_WXS_AML_Manifest.txt)
[SRR_TARGET_WXS_NBL_Manifest.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6730840/SRR_TARGET_WXS_NB

[2021-06-29 05:46] afarrel commented on #78
[Histologies_EFO_MONDO_Progress_Codes_Only_V2.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6730934/Histologies_EFO_MONDO_Progress_Codes_Only_V2.txt)
[Histologies_EFO_MONDO_Progress_V2.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6730935/Histologies_EFO_MONDO_Progress_V2.txt)
@jharenza I added the TARGET EFO/MONDO codes here.

[2021-06-29 13:02] jharenza commented on #78
Thank you!

[2021-06-29 13:02] jharenza commented on #49
Thank you @afarrel

[2021-06-29 13:59] kgaonkar6 opened #80 "Add WXS to cnv files update"
#### What data file(s) does this issue pertain to?
Add WXS cnv calls to cnvkit and controlfreec files

#### What release are you using?

v6

#### Put your question or report your issue here.

**Gathering WXS samples**
[code]

 It seems both cnvkit and controlfreec didn't historically have WXS calls can we add them now since we will be using those calls for OpenTarget

[code]

[2021-06-29 14:22] kgaonkar6 commented on #80
@zhangb1 not sure if you already noticed the ticket, I've  just updated the ticket to include WXS update as well.

[2021-06-29 15:18] logstar commented on #64
Hi @jharenza . Thank you for the analysis description.

I have a few questions about how to generate the columns in the "Example Somatic Mutation Table" sheet of [OT_SomaticTables_SNV_CNV.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/6711008/OT_SomaticTables_SNV_CNV.xlsx).

- To generate `Frequency in Overall Dataset` (example value "4.17%"), should I use all samples, or all `

[2021-06-29 16:02] kgaonkar6 opened #81 "cnv-cnvkit.tsv.gz GMKF ids check"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v5

#### Put your question or report your issue here.
@zhangb1  can we check if the GMKF ids are assigned the correctly?
While checking for a new cnvkit file released for v6 it seems the IDs used in the cnvkit are `experimental_strategy=="Normal".

[code]

[2021-06-29 17:47] jharenza commented on #64
Hi @logstar

Let's tackle `cancer_group_cohort` first.

Ah, good question. I hadn't recalled this field, but the way we would create this is within `cancer_group_cohort`, identify the unique variants per patient (right now, they are at a sample level, but you could pull out BS_IDs and the mutation metadata, then merge it with the PT_IDs, drop the BS_IDs and unique them to get patient-level variant

[2021-06-29 18:08] logstar commented on #64
@jharenza Thank you for the detailed reply.

I will work on `cancer_group_cohort` first.

I agree it is more informative to have the revised columns.

If I understand correctly, `Frequency in Overall Dataset` = `Total mutations` / `Total patients in dataset`. The `Total mutations` is the number of patients that has the corresponding variant of the row.

[2021-06-29 18:09] jharenza commented on #75
completed with [PR 30](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/30)

[2021-06-29 18:09] #75 closed

[2021-06-29 18:10] jharenza commented on #64
yes, where total mutations is total N of that specific mutation in the dataset

[2021-06-29 18:31] logstar commented on #64
Got it. Thank you for the quick reply. I will work on the analysis accordingly.

[2021-06-29 19:34] yuankunzhu commented on #81
@zhangb1 is OOO today, but I did a quick check on Biospecimen IDs in the v6 cnv-cnvkit.tsv.gz file, those are all `Tumor` in Data Service. Maybe we didn't put the right sample_type in the histologies file?

[code]

[2021-06-29 19:59] kgaonkar6 commented on #81
Thanks for looking into this! I'll check with the team to verify the histology file.

I'd done a quick check for a few samples which say are sample_type == "Normal" , maybe I misunderstood?
cnvkit$ID %>% unique() %>% tail(2)
[1] "BS_Y2DE021S" "BS_NVAYK43V"

https://kf-api-dataservice.kidsfirstdrc.org/biospecimens/BS_Y2DE021S
https://kf-api-dataservice.kidsfirstdrc.org/biospecimens/BS_NVAYK43V

[2021-06-29 21:06] jharenza opened #82 "Proposed Analysis: add oncoKB annotation to consensus MAF"
#### What are the scientific goals of the analysis?
Add oncoKB annotation to consensus MAF

#### What methods do you plan to use to accomplish the scientific goals?
Use the annotator here: https://github.com/oncokb/oncokb-annotator

@kgaonkar6 has run this on annotated MAFs before - even though it suggests using VCF as input, maybe we can use MAF.

#### What input data are required for this analys

[2021-06-30 02:31] jharenza opened #83 "Updated analysis: add pedcbio links to SNV tables"
#### What analysis module should be updated and why?
Module being created in #64

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add pedcbio links in columns by row for visualization of the cohort by gene cc @taylordm and possibly to discuss at 8 am on Wednesday for input from John, Sharon, and Sarah.

#### What input data should be used

[2021-06-30 03:21] zhangb1 commented on #81
Sorry @kgaonkar6  , I accidentally add the Normal BS ID to the seg file for Maris. because the Maris data was using the old pipeline, there is no seg file in cavatica project.

here is the match from the normal  to the  tumor. Sorry about that
[Maris_tumor_normal_matched_list.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6737787/Maris_tumor_normal_matched_list.txt)

[2021-06-30 12:02] zhangb1 commented on #49
Did you upload the WXS data to cavatica? I didn't see them  https://cavatica.sbgenomics.com/u/yuankun/test-target/files/#q ,did you create the folder for that?

[2021-06-30 14:14] kgaonkar6 commented on #72
From Jun 30th meeting fusions will have the above update:
- [ ] Add RTML
- [ ] Add ENSG ids

[2021-06-30 14:18] kgaonkar6 commented on #64
Just wanted to make a note from the June 30th call (feel free to update/edit)
- [ ] Instead of COSMIC frequency, annotate as COSMIC mutation census with tier from CosmicMutantExportCensus.tsv​

[2021-06-30 14:27] logstar commented on #64
Thank you for the notes.

I wonder where I can get the CosmicMutantExportCensus.tsv​ and RMTL table for annotation. Are they going to be available in future data releases?

[2021-06-30 14:47] kgaonkar6 commented on #64
RMTL will be (soon) provided in v6
CosmicMutantExportCensus.tsv​ ( Originally from https://cancer.sanger.ac.uk/census or a reusable version of the file with the info) will also be provided in v6

[2021-06-30 14:50] logstar commented on #64
Got it. Thank you for the quick reply.

[2021-06-30 14:52] kgaonkar6 commented on #81
Thanks @zhangb1 I'll update the cnvkit files on s3

[2021-06-30 16:54] kgaonkar6 commented on #80
@yuankunzhu @jharenza, did we plan to have bix-ops merge WXS cnvkit calls for this v6 release?
OR will we add this data in a future release when the WXS cnv data is registered/harmonized?

The required WXS samples are
`cohort==PNOC & experimental_strategy=="WXS"`
s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v5/histologies.tsv

The updated cnvkit seg file (with the fixed GMKF tumor ids are no

[2021-06-30 18:05] jharenza commented on #80
WXS will be later once harmonized

[2021-06-30 18:18] jharenza commented on #80
we can add them with the rest of TARGET WXS later

[2021-06-30 18:20] jharenza commented on #78
just added this file, with a few edits here: `s3://kf-openaccess-us-east-1-prd-pbta/open-targets/6/efo-mondo-map.tsv`

[2021-06-30 18:33] jharenza commented on #64
I am having problems downloading the CosmicMutantExportCensus.tsv​ file - I cannot access via the Qiagen website as they suggest, so I submitted an email asking for help there. So, for now, proceed without this annotation.

[2021-06-30 18:45] jharenza opened #84 "add RMTL file to v6 release"
#### What data file(s) does this issue pertain to?
RMTL file from FNL

#### What release are you using?

v5

#### Put your question or report your issue here.
We will need to annotate the various tables with whether the genes are RMTL genes as per the `RMTL_Expanded_3_RMTL_for_OT.csv` file from BOX. Since this file has redundancies with the mapping file in #56 , I propose we merge them and add as

[2021-06-30 19:01] afarrel opened #85 "Create Table with Uberon codes for GTEx Subgroups"
#### What data file(s) does this issue pertain to?
GTEx data that will be used in Differential expression tables, etc

#### What release are you using?

This will be included in v6

#### Put your question or report your issue here.
Please create a table that match UBERON code to the GTEx subgroup tissues.

#### When should this be done.
~ 1 Week.

[2021-06-30 19:38] kgaonkar6 commented on #56
Ah I missed the comment above. These are currently all ENSG ids ( without the numbers after "." ) so there will be multiple per gene.  I can do a quick update.

[2021-06-30 20:32] jharenza commented on #84
uploaded to: s3://kf-openaccess-us-east-1-prd-pbta/open-targets/6/ensg-hugo-rmtl-v1-mapping.tsv

md5sum:
[code]

[2021-07-01 04:42] ewafula commented on #53
@yuankunzhu @zhangb1, here are both the updated WXS capture kits bed file manifest and the bed files for the TARGET cancer types. Most of the kits utilized target regions from both hg19 and GRCh37 but don't provide definitive info which coordinates were used in their respective bed files. For the TARGET project,  raw reads for AML and NBL for each capture library were aligned to `GRCh37-lite` and

[2021-07-01 13:35] kgaonkar6 commented on #78
hmm the file in s3://kf-openaccess-us-east-1-prd-pbta/open-targets/**v**6/efo-mondo-map.tsv errored out with the md5um above.
Can you check and let me know? When I added the md5sum to the download checks it failed.

[code]

[2021-07-01 14:21] jharenza commented on #78
fixed - i had the path wrong

[2021-07-01 14:57] logstar commented on #82
Updates on the progress. I applied for the oncoKB API access at <https://www.oncokb.org/apiAccess> yesterday. I am waiting for their approval, which might take one or two days. After getting the API access, I will work on annotating the consensus MAF and update the [merged SNV frequency table](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/45).

[2021-07-01 15:34] kgaonkar6 opened #86 "Gene Overlap annotation v/s Most focal gene annotation for CNVs"
#### What data file(s) does this issue pertain to?
`consensus_seg_annotated_cn_x_and_y.tsv.gz`

#### What release are you using?

v6

#### Put your question or report your issue here.
sex chr cnvs were annotated with status `deep_deletion` when copy.number==0. This might be capturing broader cnv losses instead of gene level.

For OT  we only annotate all cnv seg files with genes by genomic region

[2021-07-01 15:42] komalsrathi commented on #49
@zhangb1 I only uploaded the capture panel - that's all I was asked for.

[2021-07-01 20:06] jharenza commented on #48
- Update `Neurofibroma/Plexiform;Other` to `Neurofibroma/Plexiform`
- Update `Non-germinomatous germ cell tumor;Teratoma` to `Teratoma`
- Update `Meningothelial meningioma` to `Meningioma`
- Update `Embryonal Tumor with Multilayered Rosettes` to `Embryonal tumor with multilayer rosettes`  - 7316-2577 looks to need to go through embryonal subtyping in OpenPBTA just FYI
- Remove `Other`
- _Possibly_

[2021-07-01 20:29] jharenza commented on #63
For normals, select from `gtex_group == Brain & Adrenal Gland`

[2021-07-01 20:30] jharenza commented on #63
Should have >5 samples per `cancer_group`

[2021-07-01 20:39] logstar commented on #83
Thank you for the analysis description. The plot URLs work great!

I just have a few questions on how to implement this analysis.

- Should I use `case_set_id=ped_opentargets_2021_all` for all genes?
- How to check if a gene symbol is available in `https://pedcbioportal.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021`? I am planning to put a blank `''` at genes that are not available. I can

[2021-07-01 21:23] kgaonkar6 opened #87 "Redo "Brain_FPKM_hg38_matrix.txt.zip" with new gtex file"
#### What data file(s) does this issue pertain to?
Add a param to select gtex_group to bash script so that we can create subsets for
Regenerate a Brain GTEx file using tpm file and filter for samples using samples where gtex_group=="Brain"

#### What release are you using?

v6

[2021-07-01 21:25] jharenza commented on #71
close to condense tickets

[2021-07-01 21:25] #71 closed

[2021-07-01 21:31] jharenza commented on #48
For this, can you remove that logic and keep the DIPG?

[2021-07-01 21:34] kgaonkar6 commented on #48
ok keeping those as "Brainstem glioma- Diffuse intrinsic pontine glioma"

[2021-07-01 21:35] jharenza commented on #48
can you also make the change:

`Kidney Wilms Tumor` in TARGET `broad_histology` and `cancer_group` ---> `Wilms Tumor`

[2021-07-01 21:37] jharenza commented on #48
sorry, can you shorten to `Diffuse intrinsic pontine glioma`

[2021-07-01 21:44] jharenza opened #88 "Update EFO MONDO file"
#### What data file(s) does this issue pertain to?
`efo-mondo-map.tsv`

#### What release are you using?

v6

#### Put your question or report your issue here.
Add the remaining `cancer_group`s from `histologies.tsv` to this file, along with EFO/MONDO designations

[2021-07-01 21:53] kgaonkar6 commented on #48
is cancer_group=="Germinoma;Teratoma" ok?

[2021-07-01 21:57] jharenza commented on #83
This will be specific to each cohort+cancer_group. Here is a sample link below, where the values of cohort and histology change based on the values in cohort and cancer_group (aka HISTOLOGY) in pedcbio. Sorry for not including that!

https://pedcbioportal.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021#filterJson={"clinicalDataFilters":[{"attributeId":"COHORT","values":[{"value":"PBTA"}]},{

[2021-07-01 22:48] jharenza commented on #48
yeah - I don't want to preferentially choose there and that wouldn't be in our analyses anyway with n < 5

Looks like this one was missed

[2021-07-01 22:50] runjin326 commented on #87
@kgaonkar6, the `00-normal-matrix-generation.R` script [here](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/commit/3d7b046777de827c80b03f7e1322058a974b14da) should be able to generate one for brain. I used the code to generate the matrix as rds before but it was too big to upload to GitHub. Let me know if you want me to do this.

[2021-07-01 22:53] kgaonkar6 commented on #48
thanks! 7316-2577 is now updated to Embryonal tumor with multilayer rosettes

[2021-07-02 00:01] jharenza commented on #48
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:01] #48 closed

[2021-07-02 00:01] jharenza commented on #84
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:01] #84 closed

[2021-07-02 00:01] jharenza commented on #79
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:01] #79 closed

[2021-07-02 00:01] jharenza commented on #61
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:01] #61 closed

[2021-07-02 00:02] jharenza commented on #62
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:02] #62 closed

[2021-07-02 00:02] jharenza commented on #78
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:02] #78 closed

[2021-07-02 00:02] jharenza commented on #57
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:03] jharenza commented on #60
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:03] #60 closed

[2021-07-02 00:03] jharenza commented on #57
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:03] #57 closed

[2021-07-02 00:03] jharenza commented on #44
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:03] #44 closed

[2021-07-02 00:04] jharenza commented on #43
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:04] #43 closed

[2021-07-02 00:04] jharenza commented on #46
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:04] #46 closed

[2021-07-02 00:04] jharenza commented on #56
added with [PR 34](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/34)

[2021-07-02 00:04] #56 closed

[2021-07-02 00:09] jharenza commented on #82
thanks for the update @logstar ! We may have to rethink this module and pull it into the d3b harmonization workflow since there is an api access issue, but keep us posted. In the meantime, let's keep working on the SNV frequency table (as you are) and try to get a mock JSON file (even if a sample) for next Wednesday if possible.

[2021-07-02 00:27] kgaonkar6 commented on #81
This is fixed , thanks!

[2021-07-02 00:31] logstar commented on #82
I will keep you posted on adding the oncoKB annotation.

Thank you for the heads-up on JSON file deadline. I just remembered there was a discussion on Monday that we want analysis modules to create JSON objects and store them somewhere. I will use `jsonlite::write_json(result_tibble, 'result.json')` for converting the result tables to JSON.

[2021-07-02 15:02] logstar opened #89 "Updated analysis: independent-samples module"
#### What analysis module should be updated and why?

The `independent-samples` module needs to be updated for the following purposes.

- Create independent sample lists by `cohort` and also by `cancer_group`. Output a merged table for each (`experimental_strategy`, `primary/primary-plus/relapse`) like before.

The reason for this update is that certain primary samples are not captured if we use a

[2021-07-06 15:57] logstar commented on #83
Thank you for the clarification @jharenza .

Regarding the oncoprint URL for each (`cancer_group`, `cohort`) combination, I wonder if we could define `case_set_id`s, which is used in the following URL, to represent different (`cancer_group`, `cohort`) combinations, e.g. `case_set_id=ped_opentargets_2021_low_grade_glioma_astrocytoma_pbta` and `case_set_id=ped_opentargets_2021_ medulloblastoma_pbta`

[2021-07-06 19:18] jharenza commented on #9
@zhangb1 @yuankunzhu @HuangXiaoyan0106 - looks like we now have TARGET NBL and AML access so we can proceed with that RNA-Seq harmonization via linking from the GDC. I suggest using [v6 histologies file](s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v6/histologies.tsv) for sample overlap.

[2021-07-06 20:47] jharenza opened #90 "Updated analysis: Create R Shiny demo for TPM plots"
#### What analysis module should be updated and why?
TPM plots per #38

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Create a Shiny app to visualize TPM plots

#### What input data should be used? Which data were used in the version being updated?
same as in #38

#### When do you expect the revised analysis will be completed?
For demo

[2021-07-07 13:32] zhangb1 commented on #9
@jharenza OKay. We are not NOT using the data which uploaded from the CHOP server ?  just to confirm.

[2021-07-07 13:45] kalletlak commented on #83
`case_set_id` is predefined property, which are defined in study data files while importing. Also it is used when there are filters applied.

If there are any filters in study page and trying to query genes from then all the information(cohort, cancer group, and gene) will be transformed to a session if there are lot of filtered samples

Regarding data availability for genes -> it would be differe

[2021-07-07 14:23] logstar commented on #83
Thank you for the quick reply @kalletlak .

I wonder what would you suggest if we want to generate oncoprint and lollipop plot URLs for each histology, each cohort, and each gene. I assume getting all session IDs for all histology and cohort combinations would not be a good way, so I was thinking if we could request the maintainer of pedcbioportal kids first data to add `case_set_id`s to the data.

[2021-07-07 14:25] jharenza commented on #9
Correct - no need now for the RNA!

[2021-07-07 15:11] kalletlak commented on #83
1. True, adding case set(sample list) for each histology/cohort would be ideal. BTW, how many would it be? Also if you could come up with those sample lists then we could update the study
@migbro what do you think?

2. Yes, it will work for any valid gene(genes that are present in the pedcbioportal database) irrespective of data availability.

[2021-07-07 15:20] migbro commented on #83
Hmm, case lists like this: https://docs.cbioportal.org/5.1-data-loading/data-loading/file-formats#case-lists? Can custom ones be made? That does seem to make sense. As for missing genes, especially the `MT` genes, if they are important, should we create a faux panel? If we do that, will we need to list all genes, or will a combo of what is in cBio and in this "panel" work?

[2021-07-07 15:34] kalletlak commented on #83
yes - for case lists.

for missing genes - we can only query genes that are present in cbio database.

[2021-07-07 15:44] migbro commented on #83
Right, but genes can be added, right? Like they did for panels for Project Genie? Or is that just to make an exception to not filter out things like nonsense mutations, synonymous, etc?

[2021-07-07 15:56] zhangb1 commented on #9
@jharenza  just checked all the query data from data browser and compare to the v6 histology file:

![image](https://user-images.githubusercontent.com/14929845/124791674-45e96700-df1a-11eb-9a54-cb588b9a6bbc.png)

there are 1329 overlaps, we will go to process those samples.  cc @bmennis

[2021-07-07 16:09] kalletlak commented on #83
yes, we could definitely add genes. Genes in panels are also validated against genes in the database

[2021-07-07 16:32] logstar commented on #83
Probably 64  case sets. The dataset has 64 different histologies and 1 cohort `PBTA`.

Good to know. Then, we might not need to check gene availability, if all gene symbols we have are present in cbio database. What do you think @jharenza ? Do we need to check exactly, or we could assume that cbio gene symbol set is comprehensive?

[2021-07-07 16:37] logstar commented on #83
Regarding the sample lists, I wonder if I could share an R script, so you can adapt it into your code base to generate those case sets.

I could attach the script and results here, but it would be difficult to maintain if there is any updates on the dataset.

[2021-07-07 17:44] logstar commented on #83
@kalletlak Attached files are as following. Delete the `.txt` suffix in the filenames to get the correct filename. GitHub does not support attachments with `.tsv` or `.R` suffix.

- [`ped_opentargets_2021_clinical_data.tsv.txt`](https://github.com/PediatricOpenTargets/ticket-tracker/files/6779064/ped_opentargets_2021_clinical_data.tsv.txt): clinical data table downloaded from <https://pedcbioporta

[2021-07-07 17:59] logstar opened #91 "Updated analysis: Annotate SNV table of gene-level mutation frequencies"
#### What analysis module should be updated and why?

The `snv-frequencies` module needs to be updated to generate gene-level SNV frequency tables.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Generate gene-level SNV frequency tables.

Add a column for `gene_type` and annotate kinase, TF, oncogene, TSG per [this file](https://github.

[2021-07-07 18:08] kalletlak commented on #83
Thanks @logstar. @migbro would it be easy to update study based on above information?

[2021-07-07 18:37] jharenza commented on #83
@kalletlak thanks for the feedback, but this project is going to have constant updates and I am not sure we can get to a place for real-time pedcbio updates like this. Are you saying we have no option for creating a URL for say:

Open targets study, medulloblastoma, CTNNB1 gene, oncoprint using those keywords? The links will always be random alphanumeric?

[2021-07-07 18:54] jharenza commented on #9
ok great, sounds good - thank you! can you provide the overlap IDs here?

[2021-07-07 18:59] zhangb1 commented on #9
[overlap_samples.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6779519/overlap_samples.txt)
 The overlap samples

[2021-07-07 19:02] jharenza commented on #83
hey @kalletlak maybe this will help - we would essentially like to combine this selection:
[code]
with this oncoprint

[code]

How can we create a URL for the oncoprint using the selection above without creating many `case_set_id` lists?

[2021-07-07 19:03] kalletlak commented on #83
@jharenza there is no other way. But we could pass sample ids if they are minimum(depends on url size). Example

https://pedcbioportal.kidsfirstdrc.org/results?cancer_study_list=ped_opentargets_2021&tab_index=tab_visualize&case_ids=ped_opentargets_2021%3A7316-100%2Bped_opentargets_2021%3A7316-101_68282&Action=Submit&gene_list=CTNNB1

where case ids are provided as list of `<study_id>:<sample_id>`

[2021-07-07 19:30] jharenza opened #92 "data release v7"
#### What data file(s) does this issue pertain to?
List of updates for v7

#### What release are you using?

v6

#### Put your question or report your issue here.

##### Update data files
- [x] #100
- [x] Merge Consensus annotated CNV + CNVKit annotated WXS only samples as a new data file
- [x] Merge seg files cnv-consensus.seg.gz + cnv-cnvkit.seg.gz as new data file
- [x] #102
- [x] #101
- [x] #1

[2021-07-07 20:00] jharenza opened #93 "Add pedcbio map RNA/DNA IDs plus case set ids"
#### What are the scientific goals of the analysis?
Per discussion in #83, we will need to generate case set ids for pedcbio for every combination of `cohort+cancer_group` and `cancer_group` for linking within the SNV files.

#### What methods do you plan to use to accomplish the scientific goals?
To do this, first, we need to add code to create a list of the sample IDs used in pedcbio. Then, we w

[2021-07-07 20:02] jharenza commented on #83
😢  - thanks @kalletlak - i just filed #93 for this

[2021-07-07 20:09] kalletlak commented on #83
@logstar example to post data to cbio https://gist.githubusercontent.com/kalletlak/7f31a5f704d26a2bd0a27c7c347f1c3a/raw/866419a728de1dc9fc67a21852a2b45c19f41843/post_to_cbio

[2021-07-07 20:19] logstar commented on #83
@kalletlak Thank you.

Saw your message on slack as well. I was thinking about how to use the javascript function to implement this link-out. I have no experience with this type of programming.

I was wondering if you have any suggestions on how to implement this on the future PedOT website.

I imagine that someone that develop the backend of the website needs to program a pedcbio icon button to a

[2021-07-07 20:22] jharenza commented on #65
closing this to avoid redundant tickets

[2021-07-07 20:22] #65 closed

[2021-07-07 21:33] jharenza commented on #55
Adding to this [data dictionary](https://docs.google.com/spreadsheets/d/1_KyfeZNsepIxSU0Nzw5Mi8mk1PiKCWlSBjatw0AECQ0/edit#gid=1553670248) prepared by Sam V and discussed with Sarah T  to the ticket. I also sent an email to Sarah today asking if she would like us to use the below designations or the high/med/low risk designations as above. If using above, they won't match NCIT IDs, so we will have

[2021-07-07 23:03] sangeetashukla commented on #85
@afarrel @jharenza
I have updated the excel below with the Uberon codes for the tissues and subgroups listed, as best as I could find via [this link](https://www.ebi.ac.uk/ols/ontologies/uberon)

In cases where I am not sure of the most suitable code, I have added potential options in the Notes column which need to be reviewed. Would one of you please take a look?

[Uberon_codes_for_GTEX.xlsx](htt

[2021-07-08 16:14] logstar commented on #89
The code and results are updated in <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/48>.

The README.md needs to be updated for the each-cohort procedure. We would probably need to clarify that in `each-cohort` function calls, we actually find independent samples from each cohort and each cancer_group.

[2021-07-08 16:31] kalletlak commented on #83
@logstar yes, it need to be done at PedOT website.

[2021-07-08 17:58] komalsrathi commented on #90
App link: https://reslndbhidam01.research.chop.edu/OpenPedCan-exprs/ requires VPN.

[2021-07-08 19:28] migbro commented on #93
For now, I can add a script that generates the cBio IDs to fit PBTA and also case lists. I'll probably start by adding it to the cBio etl repo first, since all other work is there, then port over/link if needed. The mixed cohorts will be tricky in the future as rules used to build cBio-compatible IDs may change between them.

[2021-07-08 19:39] logstar commented on #91
@jharenza Regarding the `gene_type`s in the [genelistreference.txt](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/fusion_filtering/references/genelistreference.txt), I wonder if I should add a column for each type and use Y/N as values, in order to handle gene symbols that are mapped to more than one types, like the following ones:

[code]

If a single `gene_type` c

[2021-07-08 19:51] bmennis commented on #9
I am working on running the RNAseq workflow for the TARGET samples in the RNAseq project. I am using the v6 histologies file to inform for drafting tasks as to the stranded information for each sample. It looks like for the samples there are 4 different types of strandedness in the histologies file including:
[code]

I ran the tool infer experiment in the project on two samples from each type to g

[2021-07-08 20:31] jharenza commented on #49
closing since we now have GDC access

[2021-07-08 20:31] #49 closed

[2021-07-08 20:32] jharenza commented on #52
this data has been processed - closing

[2021-07-08 20:32] #52 closed

[2021-07-08 20:34] jharenza commented on #9
thanks @bmennis - can you also create a table of these results by the aliquot ID and we can update the histologies file accordingly in #92  cc @kgaonkar6

[2021-07-08 21:01] kgaonkar6 commented on #55
Just wanted to verify the nomenclature, since I don't think we have use cytogenetic terms before for subtyping.

`del(5q)(5q31-q32)` http://atlasgeneticsoncology.org/Anomalies/del5qID1092.html deletion anywhere in chr5 q or chr 5q31-32

`inv(16)(p13q22)`  http://atlasgeneticsoncology.org/Anomalies/inv16ID1036.html which I believe denotes a inversion chr16 in p13 and q22

`t(9;22)(q34;q11.2) / ABL/

[2021-07-08 21:04] jharenza commented on #55
Oh yes - I have a new email from Sarah and still have to compile this - we will not search fro these, but rather include in the subtype itself. Have to think about how we want to do this.

[2021-07-09 13:40] migbro commented on #93
So given that this is more related to cBio, and `cancer_group` gets added to the cBio formatted sample datasheet, I wonder if it would be better for me use that as input instead of the histologies sheet. Those case lists are also a cBio formatted file that gets used to populate that drop down and also has some functionality from a query point of view.

[2021-07-09 14:42] logstar commented on #91
@jharenza I will proceed with adding a single `Gene_type` column to the SNV frequency tables. If adding multiple Y/N columns is preferred, I will revise accordingly.

[2021-07-09 15:35] kgaonkar6 commented on #77
Closing this since the updated code and files are in v6

[2021-07-09 15:35] #77 closed

[2021-07-09 15:37] kgaonkar6 commented on #87
Thanks @runjin326 ! Closing this since https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/46 is merged

[2021-07-09 15:37] #87 closed

[2021-07-09 16:16] kgaonkar6 opened #94 "Updated analysis: fusion-summary for OT subtyping"
#### What analysis module should be updated and why?
Update the `fusion-summary` using the latest `fusion-putative-oncogenic.tsv` and `histologies.tsv`

#### What changes need to be made? Please provide enough detail for another participant to make the update.

- Change each occurrence of`pbta-fusion-putative-oncogenic.tsv` to `fusion-putative-oncogenic.tsv`
- Change each occurrence of`pbta-histol

[2021-07-09 16:21] kgaonkar6 commented on #92
For [transcriptomic-dimension-reduction](https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/analyses/transcriptomic-dimension-reduction/01-dimension-reduction.sh)  we will need the following files should we add this to v7?

[code]

[2021-07-09 16:24] kgaonkar6 opened #95 "Updated analysis: transcriptomic-dimension-reduction for OT subtyping"
#### What analysis module should be updated and why?
Update `transcriptomic-dimension-reduction`  for OT filename updates

#### What changes need to be made? Please provide enough detail for another participant to make the update.

- We will first need to generate the files as noted in https://github.com/PediatricOpenTargets/ticket-tracker/issues/92#issuecomment-877303180

[code]
And then update [

[2021-07-09 16:31] kgaonkar6 opened #96 "Updated analysis: gene-set-enrichment-analysis for OT subtyping"
#### What analysis module should be updated and why?
Update `gene-set-enrichment-analysis` for OT filename updates

#### What changes need to be made? Please provide enough detail for another participant to make the update.

- Currently the scripts use: `pbta-gene-expression-rsem-fpkm-collapsed.stranded.rds` to `pbta-gene-expression-rsem-fpkm-collapsed.stranded.rds`
But now we have the combined fi

[2021-07-09 16:35] kgaonkar6 opened #97 "Updated analysis: tp53_nf1_score for OT subtyping"
#### What analysis module should be updated and why?
Update `tp53_nf1_score` to use OT filename updates.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
 - Replace occurrence of `pbta-snv-consensus-mutation.maf.tsv.gz` to `snv-consensus-plus-hotspots.maf.tsv.gz` .
 - Currently the scripts are run separately for `pbta-gene-expression-rsem

[2021-07-09 16:47] kgaonkar6 opened #98 "Updated analysis: molecular-subtyping modules update for OT"
#### What analysis module should be updated and why?

We need to preprocess data released files for subtyping, please refer to the table here for additional info https://www.notion.so/d3b/0a455919593147b2a1234655037f5cb9?v=a4783dee385c4dd2b1453b9caca09749

The following are pre-processing modules needed for molecular-subtping-* modules
- [x] RNA #94
- [x] RNA #95
- [x] RNA #96
- [x] DNA #114
- [x]

[2021-07-09 17:11] jharenza commented on #93
It really doesn't matter, as long as we have a mapping of:
`cohort+cancer_group` and `case_set_id`
and
`cancer_group` and `case_set_id`

[2021-07-09 18:03] migbro commented on #93
Ok, I've loaded the cases lists onto to QA. So if you select the study, and hit query by gene, you'll see the new lists in the dropdown - just need to scroll up and down. If I choose `Medulloblastoma,` and gene `CTNNB1`, th eurl that pops up in the browser is: https://kf-strides-cbioportal-qa.kidsfirstdrc.org/results/oncoprint?genetic_profile_ids_PROFILE_MUTATION_EXTENDED=ped_opentargets_2021_muta

[2021-07-09 18:15] logstar commented on #93
@migbro Thank you for adding the case lists!

The following URLS also work:

- https://kf-strides-cbioportal-qa.kidsfirstdrc.org/results/oncoprint?cancer_study_list=ped_opentargets_2021&case_set_id=ped_opentargets_2021_medulloblastoma&Action=Submit&gene_list=CTNNB1
- https://kf-strides-cbioportal-qa.kidsfirstdrc.org/results/mutations?cancer_study_list=ped_opentargets_2021&case_set_id=ped_opentarge

[2021-07-09 18:19] jharenza commented on #93
Great, thank you! Note @logstar - this is at the `cancer_group` level.

@migbro can you also add cohort level to this (the results will all the be same at the moment, but we can add the links into the SNV table properly)

[2021-07-09 18:28] logstar commented on #93
@migbro I wonder if you could share your code for converting cohort and histology/cancer_group (whichever you used in the QA) to `case_set_id`s. I am planning to use it for creating a (`cohort`, `cancer_group`)->`case_set_id` mapping list.

@jharenza Does the following procedure look good?

- Add `cancer_group` level URLs to SNV table rows that have more than one cohorts.
- Add (`cohort`, `cancer_

[2021-07-09 18:32] migbro commented on #93
Hi @logstar , sure. I actually did this part using the cBio datasheet because the cBio-compatible IDs are already there. Generating those cBio IDs was done as part of the data sheet creation process, currently found here: https://github.com/kids-first/kf-cbioportal-etl/blob/mb-add-opentargets/COLLABORATIONS/openTARGETS/clinical_to_datasheets.py. It's a kids first private repo though, so if you can

[2021-07-09 18:45] logstar commented on #93
@migbro Thank you. I do not have access to the repository, but I think I only need the part of code for creating `case_set_id` strings, e.g. how `'Medulloblastoma'` (or some other values in the cBio internal datasheet) is converted to `'ped_opentargets_2021_medulloblastoma'`.

I guess the code is like `case_set_id = 'ped_opentargets_2021_' + cbio_internal_datasheet_value.lower()`, but the conversi

[2021-07-09 19:04] migbro commented on #93
@logstar , I see. So, to start, I call it `HISTOLOGY` in the datasheet, but it's a direct analog of the `cancer_group` field in the `histologies.tsv` sheet. The code was pretty simple. Jo Lynne instructed me not to bother creating a case list for any histology or histology-cohort combo with less than 5 samples. So far this works:
[code]
So far `-` is tolerated, so that stays, and in the future we

[2021-07-09 19:05] migbro commented on #93
Or at least I should say, I assume the latter cohort_group will work. Loading that now onto the portal. It takes about 45 minutes...

[2021-07-09 19:45] logstar commented on #93
@migbro Thank you for the code.

I also wonder if I could get all unique `case_set_id`s through any cBio API. I am going to check whether a converted `cohort_group_case_set_id` is present in the cBio dataset. For example, cBio dataset only has PBTA cohort, so the converted `cohort_group_case_set_id` 'ped_opentargets_2021_neuroblastoma_gmkf' from my side will not be used to generate cBio URLs.

[2021-07-09 20:20] migbro commented on #93
Ok, the cohort + cancer_group case sets have been added as well in QA. I think I will just push that to prod since it's pretty unlikely anything is wrong. I can abort within in the next hour if anyone disagrees :)

[2021-07-09 20:56] logstar commented on #93
I will use the following URL to pull all `case_set_id`s from cBio.

<https://pedcbioportal.kidsfirstdrc.org/api/studies/ped_opentargets_2021/sample-lists>

Found pedcbio public API here, <https://pedcbioportal.kidsfirstdrc.org/api/swagger-ui.html>.

[2021-07-09 20:59] migbro commented on #93
Oh, that's pretty cool! Although, it seems to pull up only the standard cBio lists and not the custom ones. If that is enough, then great!

[2021-07-09 21:09] logstar commented on #93
The QA website seems to have all case_set_ids, <https://kf-strides-cbioportal-qa.kidsfirstdrc.org/api/studies/ped_opentargets_2021/sample-lists>. Not sure if the main site would work the same.

Seems the main site is just down, <https://pedcbioportal.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021> .

[2021-07-09 21:15] migbro commented on #93
Ah, I see now. I am working on putting it on the main site now - perhaps the loader encountered an error 😩 . I'll try restarting it. Have a good weekend!

[2021-07-09 21:16] logstar commented on #93
Thanks. You too. Have a good weekend!

[2021-07-12 14:05] sangeetashukla opened #99 "Create a Cavatica workflow to process DESeq"
#### What analysis module should be updated and why?
Use the DESeq module and convert that into a Cavatica workflow so that DESeq analysis can be performed using Cavatica instead of the cluster.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

- Use the existing R code and encapsulate it in a Cavatica app
- Include instructions in module

[2021-07-12 15:05] jharenza commented on #66
@ewafula the most recent CNV table should be this one: https://nih.box.com/s/ftqr2kobvb6anv24ganhows4qhe51a29

[2021-07-12 18:34] jharenza opened #100 "merge v7 consensus SNV and CNV files"
#### What data file(s) does this issue pertain to?
[code]

#### What release are you using?

v6

#### Put your question or report your issue here.
- Merge v6 SNV consensus MAF (above) with consensus MAFs from TARGET panel and WXS generated [here](https://github.com/d3b-center/bixu-tracker/issues/1150#issuecomment-878290815).
- Merge v6 controlfreeC TSV (above) with controlfreeC output from TARGET

[2021-07-12 19:24] jharenza opened #101 "Create merge RNA-Seq files for v7 (v6 + new TARGET RNA)"
#### What data file(s) does this issue pertain to?
[code]

#### What release are you using?

v6

#### Put your question or report your issue here.
- Merge each v6 arriba and STAR-Fusion files (above) with respective results from TARGET RNA from #9
- Merge v6 counts with TARGET RNA counts from #9
- Merge v6 tpm with TARGET RNA tpm from #9
- Create collapsed counts files
- Create collapsed TPM files

[2021-07-12 20:17] jharenza commented on #92
is this only for the BRAF mutant clustering of HGGs to determine LGG status? If so, I think we can maybe omit that code for the subtyping?

[2021-07-12 23:41] jharenza commented on #89
@runjin326 can you work on this?

[2021-07-12 23:43] runjin326 commented on #89
@jharenza, absolutely! I will do that :)

[2021-07-13 02:16] jharenza commented on #90
Repo: https://github.com/PediatricOpenTargets/OpenPedCan-exprs-shinyapp

[2021-07-13 02:16] #90 closed

[2021-07-13 13:35] kgaonkar6 commented on #92
It's only for the BRAF mutant clustering, I'm ok to remove it from subtyping 👍

[2021-07-13 14:06] kgaonkar6 commented on #95
Closing this to be removed from subtyping since it's only used in a QC plot in molecular-subtyping-HGG.

[2021-07-13 14:06] #95 closed

[2021-07-13 14:25] bmennis commented on #9
RNAseq analysis of the TARGET samples is complete with metadata patched to the outputs. For reference the files can be found in the Cavatica project here:
https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-target-rnaseq/files/#q

[2021-07-13 14:31] kgaonkar6 opened #102 "Proposed Analysis: WXS cnv annotated seg file generation"
#### What analysis module should be updated and why?
Add gene overlap annotation to cnvkit seg file for WXS samples

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Run the code
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/d53b626c4eae5dccc4efdfda0432253b53338713/analyses/focal-cn-file-preparation/run-prepare-cn-OpenTa

[2021-07-13 14:54] aadamk opened #103 "Updated analysis: RUVseq evaluation using differentially expressed housekeeping genes"
#### What analysis module should be updated and why?

[rna-seq-protocol-ruvseq](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/rna-seq-protocol-ruvseq)

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Re-evaluate DGE analysis using differentially expressed housekeeping genes [identified by DESeq2](https://g

[2021-07-13 14:56] jharenza commented on #103
Thanks for the ticket @aadamk - we will be holding batch correction until after the end of august portal standup deadline (or sooner if we complete all other deliverables), so wanted to note that here.

[2021-07-13 14:58] aadamk commented on #103
Got it, thank you.

[2021-07-13 16:18] logstar commented on #89
The README.md is updated in <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/51>.

[2021-07-13 16:18] #89 closed

[2021-07-13 20:06] logstar opened #104 "v6 `histologies.tsv` has missing `RNA_library` values for some RNA-Seq samples"
#### What data file(s) does this issue pertain to?

`histologies.tsv`

#### What release are you using?

v6

#### Put your question or report your issue here.

v6 `histologies.tsv` has missing `RNA_library` values for some RNA-Seq samples.

[code]

I wonder if these missing values will be replaced in future releases.

[2021-07-13 20:28] jharenza commented on #104
@bmennis - can you provide a list of sample IDs and rna library types based on your TARGET RNA run?

[2021-07-13 21:03] logstar opened #105 "v6 RNA-Seq count matrix has fewer samples than v4"
#### What data file(s) does this issue pertain to?

`gene-counts-rsem-expected_count-collapsed.rds`

#### What release are you using?

v6

#### Put your question or report your issue here.

v6 `gene-counts-rsem-expected_count-collapsed.rds` has 18,626 samples.

[code]

v4 `gtex_target_tcga-gene-counts-rsem-expected_count-collapsed.rds` and `gene-counts-rsem-expected_count-collapsed.rds` have 19,89

[2021-07-13 23:35] jharenza commented on #105
Hi @logstar! Thanks for checking this. The drops are intentional and we will also likely be dropping additional samples from TARGET, as we are trying to match what is available through the GDC. Past iterations included data downloaded locally, so we are trying to get the right selection here which can be reproducibly downloaded by others as well.

[2021-07-13 23:35] #105 closed

[2021-07-14 12:16] jharenza opened #106 "Collapse two cerebellum subgroups to one for GTEX, update blood"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v6

#### Put your question or report your issue here.
Since GTEX Uberon codes for cerebellum and cerebellum hemisphere are both for "cerebellum", we will Merge cerebellum hemisphere and cerebellum to `Cerebellum`
Change `Whole Blood` to `Blood` annotation for alphabetization

cc @afarrel @kgaonk

[2021-07-14 12:17] jharenza commented on #106
@afarrel add any other updates we need to fix in the histologies file here, but for uberon-specific notes, please add to #85

[2021-07-14 13:08] afarrel commented on #106
[Uberon-map.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/6816221/Uberon-map.xlsx)

This is the original table comparing GTEx Descriptions, UBERON codes, and UBERON descriptions.

[2021-07-14 13:10] afarrel commented on #85
[Uberon-map.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/6816236/Uberon-map.xlsx)

Here is a table comparing GTEX descriptions with UBERON codes and UBERON descriptions.

[2021-07-14 13:42] kgaonkar6 opened #107 "v6 histologies.tsv mis-matched sample_type and composition TARGET"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v6

#### Put your question or report your issue here.
Please update/verify the composition column, it seems to be mis-matched.

[code]

\* 449 sample_type=="Tumor" have composition "Peripheral Whole Blood"
**  17195 sample_type=="Normal" have composition=="Solid Tissue"
*** Not sure if Bone Marrow

[2021-07-14 13:59] kgaonkar6 opened #108 "v6 histologies.tsv: RNA-Seq added as sample_type==Normal"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v6

#### Put your question or report your issue here.
Please verify if the RNA-Seq added as Normal is correct?

[code]
* 18118 RNA-Seq samples have sample_type=="Normal"

[2021-07-14 14:01] jharenza commented on #107
For the bone marrow, FYI- if these are NBL, the way they determine normal vs tumor marrow is if it has >10% tumor, then it is considered tumor, else, marrow.

The bloods are more concerning - those should all have a suffix of *10*. However, if these are only leukemias showing this blood + tumor, then that makes sense- can you check the tumor histologies @kgaonkar6 ?

[2021-07-14 14:04] jharenza commented on #108
Can you check the cohort on this? I think the majority should be GTEX, and there are a handful of TARGET normal RNAs

[2021-07-14 14:06] kgaonkar6 commented on #108
ah right, majority are GTEx.
12 are TARGET and 724 are TCGA

[code]

[2021-07-14 14:16] kgaonkar6 commented on #107
The tumor with blood composition are leukemia.
[code]

Can you please expand on this?

[2021-07-14 14:28] kgaonkar6 opened #109 "v6 histologies.tsv add broad_tumor_descriptor"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v6

#### Put your question or report your issue here.
Add `broad_tumor_descriptor` with values `diagnosis` and `relapse` that will be used as annotation for pedbio and output files.

[code]

[2021-07-14 14:32] zhangb1 commented on #101
@jharenza @kgaonkar6

do we have the v6 `gene-expression-rsem-tpm.rds` and `gene-counts-rsem-expected_count.rds` merged files?

I need to use those to do the merge to v7 then can generate the collapsed file.

[2021-07-14 14:56] kgaonkar6 commented on #101
Those files ( PBTA + GMKF ) are in v5 s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v5/.

[2021-07-14 14:58] kgaonkar6 commented on #101
Just wanted to document here that we didn't maintain `gene-expression-rsem-tpm.rds and gene-counts-rsem-expected_count.rds`  files in v6 since we had the collapsed GTEx (TPM, expected_counts) merged to the collapsed files files directly for data release .

But since we need these files to iterative merging of KFDRC processed RNA-seq files like we should maintain `gene-expression-rsem-tpm.rds` and

[2021-07-14 15:03] jharenza opened #110 "Updated analysis: tumor-gtex-plots - add table of api calls per plot"
#### What analysis module should be updated and why?
`tumor-gtex-plots`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Migrate R Shiny app from DBHI server to `https://d3b-rstudio-connect-public-prd.d3b.io/connect`
- Create an api with _https://www.rplumber.io/_
- In `metadata.tsv`, replace `plot_fname` with `plot_api_call`
- Archive

[2021-07-14 15:12] ewafula commented on #108
@kgaonkar6 , all`Normal` + `Bone Marrow` samples  are a Neuroblastoma TARGET. That is the info provided in the SRA/dbGap data manifest from @afarrel . It is somewhat  counter intuitive that Normals are classified as Neuroblastoma but  @jharenza's point make sense if they are <10% tumors.

[2021-07-14 15:28] kgaonkar6 commented on #108
Thanks both! Can we do a quick check on the TCGA RNA-Seq which are annotated as "Normal", is that also expected ?

[2021-07-14 15:29] #107 closed

[2021-07-14 16:41] kgaonkar6 opened #111 "Harmonize TARGET - part2 DNA"
## This section is required for PM/ADAPT team

### [Required] For what study (study_id) is this request?
Alignment
open-target-target-alignment-wxs-normal
open-target-target-alignment-wxs-tumor

Somatic analysis
open-target-target-somatic-mutations-wxs-tumor

### [Required] Basic study information
- [x] Is this an OT or Kids First study:
- [ ] If KF, PI name and fiscal year:
- [ ] Study short name

[2021-07-14 17:24] jharenza commented on #111
cc @yuankunzhu

[2021-07-14 17:51] zhangb1 commented on #101
@kgaonkar6  Thank you .

@jharenza another questions,

1. are we skipping the `gene-expression-rsem-fpkm.rds` ?
2. all the v5/v6 tpm are all stranded? we don't have the  --library difference for previous version? open target RNAseq samples have stranded and ploy-a.  Do we need to distinguish those?

[2021-07-14 17:56] jharenza commented on #101
yes for now, since GTEX does not provide FPKM

we are not distinguishing - adding all in the single file

[2021-07-14 19:27] zhangb1 commented on #101
the RNA merged files have been upload in the V7 folder:

will create the md5 after DNA files get updated.

s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v7/

[code]

[2021-07-14 19:32] jharenza commented on #101
thanks @zhangb1 ! @kgaonkar6 will you check the histologies file and remove any RNA samples not in the tpm file? perhaps you can pull them out into a separate file we can keep in the v7 folder but not in md5sum in case we add any of those samples later

[2021-07-14 19:35] kgaonkar6 commented on #101
Cool, will do. We will need to add GTEx to these collapsed files for v7 right?

[2021-07-14 19:36] jharenza commented on #101
yes

[2021-07-14 19:42] zhangb1 commented on #80
@jharenza @kgaonkar6  I missed this discussion.

Seems we need to add  WXS  cnvkit and control-freeC from PNOC003 to the v7 ?  how about panel, I remember PNOC003-05 has a panel data.

[2021-07-14 19:49] jharenza commented on #108
This is expected, as per OGC codes [here](https://ocg.cancer.gov/sites/default/files/OCG-Project-Codes_Tissues-and-Samples_03-02-2021.pdf), the suffixes 10 and 11 are normal blood and tissue, respectively.

[code]

[2021-07-14 19:49] #108 closed

[2021-07-14 19:50] jharenza commented on #80
No, I don't think so - did you run CNV on the panel? I don't think it will be very accurate, so we are going to stick to WXS only.

[2021-07-14 19:53] zhangb1 commented on #80
but for the TARGET samples , should we merge the panel data (I saw that in the ticket)?  we ran the CNV in panel too, but yeah you are right ,the results maybe need to be revalued .

[2021-07-14 19:55] jharenza commented on #80
merge panel only for SNVs, I would suggest

[2021-07-14 19:57] zhangb1 commented on #100
As the discussion here : https://github.com/PediatricOpenTargets/ticket-tracker/issues/80

I will do the SNV consensus MAF merge for all panel and WXS .

the control-freeC and cnvkit merge will be only WXS  including PNOC03 WXS too.

[2021-07-14 20:01] migbro commented on #93
Hmm, so is this done now? I can't remember if there is anything left to do.

[2021-07-14 21:39] logstar commented on #51
<https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/27> merged.

Will open new ticket and PR for extracting table annotation code into a standalone module.

[2021-07-14 21:39] #51 closed

[2021-07-14 22:01] logstar commented on #67
JSON file created in the merged PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/27>.

[2021-07-14 22:01] #67 closed

[2021-07-14 23:23] jharenza commented on #88
hi @afarrel and @sangeetashukla - checking in on the status of this file.

[2021-07-15 00:38] logstar opened #112 "Proposed Analysis: Create an API for annotating long-format tables generated by analysis modules"
#### What are the scientific goals of the analysis?

Create an R function and an R script API for adding gene and cancer_group annotations to the long-format tables that are generated by analysis modules. The module developers could incorporate the function or in their modules via either `source('path/to/the/function')` or `Rscript --vanilla path/to/the/script long.tsv long_annotated.tsv`.

This m

[2021-07-15 00:50] jharenza commented on #112
Great description @logstar! We will also want to add Uberon codes for Gtex tissues, as will be released in v7, per issue #85

[2021-07-15 01:56] logstar commented on #112
Thank you for the note!

[2021-07-15 13:52] jharenza opened #113 "Updated analysis: assess CNV amplification and deep deletion threshold in TARGET and GMKF data"
#### What analysis module should be updated and why?
focal-cn-preparation

Either before or once v7 is released, assess amplification threshold of TARGET WXS CNVs using MYCN status (molecular_subtype). Typically, MYCN amplification is called when there are 8-10+ copies of the gene and our current amplification thresholds may be a bit low for this. So, assess what is called vs what is subtyped as a

[2021-07-15 15:41] zhangb1 commented on #9
this should be consider as done ,close the ticket

[2021-07-15 15:41] #9 closed

[2021-07-15 15:42] zhangb1 commented on #100
merged files has been update in the bucket as long as the md5

[code]

[2021-07-15 15:44] kgaonkar6 commented on #53
Closing , please reopen if needed.

[2021-07-15 15:44] #53 closed

[2021-07-15 15:54] kgaonkar6 commented on #100
Thanks @zhangb1! Just noticed that the file `cnv-cnvkit.tsv.gz` should be `cnv-cnvkit.seg.gz` could you please update that in the cwl and s3? Thanks!

[2021-07-15 16:21] kgaonkar6 opened #114 "Updated analysis: copy_number_consensus_call and focal-cn-file-preparation rerun for OT subtyping"
#### What analysis module should be updated and why?
We need to rerun focal-cn-file-preparation for subtyping with every new sampleset added for subtyping.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
For consensus cnv [run_consensus_cal.sh](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/copy_number_cons

[2021-07-15 16:25] kgaonkar6 opened #115 "Updated analysis: run-gistic for OT subtyping"
#### What analysis module should be updated and why?
run-gistic module needs to be updated to run on filenames for OpenPedCan

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Change `pbta-cnv-consensus.seg.gz` to `cnv-consensus.seg.gz`  and `pbta-histologies.tsv` to `histologies.tsv` in [run-gistic-module.sh])https://github.com/PediatricO

[2021-07-15 16:29] sangeetashukla commented on #88
@afarrel  @jharenza
I was able to find best EFO code matches for most of the MONDO codes from  mapping file. I have shared in this file the sources to each of those codes. Please review and let me know if you have any comments.

[efo-mondo_map.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/6824792/efo-mondo_map.xlsx)

[2021-07-15 17:15] zhangb1 commented on #80
This should be fixed in the v7 release

[2021-07-15 17:18] zhangb1 commented on #100
done, fixed

[2021-07-15 17:52] jharenza commented on #85
Since v8 gtex lists "whole blood" subgroup and "whole blood" group as UBERON_0013756, which is mapped to venous blood, we are changing this nomenclature to "blood". "Whole blood" maps to  UBERON_0000178. I will submit an issue on their portal.

Also collapsing the cerebellums here as noted in #106

[2021-07-15 18:07] jharenza commented on #85
these are now in s3 v7 folder cc @kgaonkar6

[2021-07-15 18:14] jharenza commented on #88
Hi @sangeetashukla - these cancers you have in the above file are already in the v6 `efo-mondo-map.tsv` file. What we were looking for were the following cancers (of which we can probably wait on TCGA, the abbreviated cancers starting at 33):

[code]

It is possible @afarrel already checked all of those and could not find them.

[2021-07-15 18:15] jharenza commented on #106
I have done this in #85 , so it remains to be done in the histologies file.

[2021-07-15 19:19] sangeetashukla commented on #88
@jharenza Sorry, I misinterpreted the ticket. I will look up EFO/MONDO designations for these cancer groups.

[2021-07-15 19:21] jharenza commented on #85
Update from GTEX portal:

https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0013756
Thanks,
Kristin

[2021-07-16 11:05] jharenza opened #116 "Updated analysis: mb subtyping to use medullo-classifier results"
#### What analysis module should be updated and why?
Molecular-subtyping-mb to use only one classifier for complete results

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Use only medullo-classifier for subtypes as it had higher accuracy

#### What input data should be used? Which data were used in the version being updated?
V6

#### Wh

[2021-07-16 12:06] sangeetashukla commented on #88
@jharenza @afarrel
I have attached here an updated excel with an additional sheet for the above listed cancer groups found from the histologies.tsv file. This sheet has most of the MONDO and EFO codes.
For those that need additional review/discussion, I have specified the link where I found the codes. And in a few other cases, I was not able to find either one of the EFO or MONDO code.
Please revi

[2021-07-16 20:10] jharenza commented on #88
Thank you @sangeetashukla.

I will document my updates below:

- changed SEGA to general astrocytoma: EFO_0000272
- added EFO parent glioma to LGG/astrocytoma: EFO_0005543
- removed reactive connective tissue from the list
- added parent histiocytic tumor to Rosai-Dorfman: EFO_1000297
- updated HGG/astrocytoma from astrocytoma to glioma parent MONDO term: MONDO_0100342 and EFO parent glioma: EFO_0

[2021-07-16 20:17] jharenza commented on #88
@kgaonkar6 - this is updated and uploaded to s3 with md5sum updated

[2021-07-16 20:26] jharenza commented on #104
cc @zhangb1 and @yuankunzhu

[2021-07-16 20:26] kgaonkar6 commented on #86
Here's my review of the Deep deletion discrepancy in X chr in consensus calls  compared to controlfreec (in pbta_all pedcbio)

My steps for the analysis are as follows:

1) Filter consensus_cnv for `deep deletions` in `X` chr only and merge with controlfreec and cnvkit annotated files
[code]

2) Find copy_number for the gene+biospecimen_id (from part1 ) that don't match controlfreec
[code]

3) Fin

[2021-07-16 20:42] jharenza commented on #92
I updated the release notes for the EFO/MONDO and uberon files, so you can update based on what is uploaded now to s3.

[2021-07-16 20:48] jharenza opened #117 "Update data-files-description.md for v7"
#### What data file(s) does this issue pertain to?
`doc/data-files-description.md`

#### What release are you using?

v6

#### Put your question or report your issue here.
This has not been updated since v4 (oops!), so needs an update!

[2021-07-16 21:13] jharenza commented on #93
yup, done

[2021-07-16 21:13] #93 closed

[2021-07-16 21:20] jharenza commented on #101
Adding that GTEX still needs to be added to the RNA-Seq merge and collapsed files as per https://github.com/d3b-center/d3b-bixu-data-assembly/issues/7

[2021-07-16 21:24] jharenza commented on #102
@runjin326 can you pick this up early next week for preparation for data release #92 ?

[2021-07-16 21:25] jharenza commented on #102
The file is staged at https://kf-openaccess-us-east-1-prd-pbta.s3.amazonaws.com/open-targets/v7/cnv-cnvkit.seg.gz right now

[2021-07-16 22:41] runjin326 commented on #102
@jharenza, yes! I will work on this and get it done by early next week :)

[2021-07-16 23:10] jharenza opened #118 "Update OT pedcbio with TARGET and GMKF cohorts"
#### Describe the issue
After v7 is released, we will update the pedcbio and will add the relevant files here: s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v7/

#### Who will work on this?
@migbro

#### When will this be completed
by August 1?

[2021-07-17 20:55] runjin326 commented on #102
Just to clarify a couple details:
1) We only use v7 `cnv-cnvkit.seg.gz` (and the output from running 01, `cnvkit_with_status.tsv)` to run the script, right? Other input such as `cnv-consensus.seg.gz` will still be what we currently have in the `data` folder?
2) Some lines such as ones [calling expression data and independent samples](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob

[2021-07-19 15:07] kgaonkar6 commented on #102
Yes you will need v7 cnv-cnvkit.seg.gz` and `histologies.tsv` and then run, additional info [here](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/focal-cn-file-preparation#running-this-analysis) :
`RUN_ORIGINAL=1 bash analyses/focal-cn-file-preparation/run-prepare-cn.sh`

Yes that's right! We will need to update the independent to RNA ones, and also update the `compo

[2021-07-19 18:20] bmennis commented on #104
I have the list of samples by aliquot ID followed by the infer experiment results for strands 1 and 2, and last the strandedness for the analysis performed.
[target_rnaseq_nq_sample_strand.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6843074/target_rnaseq_nq_sample_strand.txt)

[2021-07-19 18:31] jharenza commented on #104
thank you @bmennis! cc @kgaonkar6

[2021-07-19 18:46] runjin326 commented on #102
@kgaonkar6, so I made the modifications but it kept getting killed at the step that [does the annotation](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/8bc000c83cc9125020f66515427874bd0b112719/analyses/focal-cn-file-preparation/04-prepare-cn-file.R#L241-L248) Any idea how I can fix that? My docker is already set to maximum for all resources - but I don't VPN for EC2 instance yet

[2021-07-19 19:24] kgaonkar6 commented on #102
I think a input param to filter for WXS in [04-prepare-cn-file.R](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/focal-cn-file-preparation/04-prepare-cn-file.R) might help with your memory issue because of  reduced number of samples . Currently `cnv-cnvkit.seg.gz`has WGS and WXS

[2021-07-19 19:32] runjin326 commented on #102
@kgaonkar6 , so it would be:
`WES_samples <- histologies_df %>% filter(experimental_strategy == "WXS") %>% pull(Kids_First_Biospecimen_ID) %>% unique()`
`cnv_df_subset <- cnv_df %>% filter(Kids_First_Biospecimen_ID %in% WES_samples)`
And run the annotation using `cnv_df_subset` correct?

[2021-07-19 19:35] kgaonkar6 commented on #102
correct, just wanted to mention that we will have this as an input param `--runWXSonly==TRUE` to filter of WXS only

[2021-07-19 19:36] runjin326 commented on #102
Good point! I almost went ahead to change the code to just do the WES lol

[2021-07-19 21:04] jharenza opened #119 "Updated analysis: tumor-gtex-plots - collapse tables"
#### What analysis module should be updated and why?
`tumor-gtex-plots`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
FNL would like two long tables for each analysis type (cohort+cancer_group and cancer_group). The tables should look something like this (eg for `cancer_group` table, for which we will use `all_cohorts` as the cohort):

[2021-07-20 01:50] runjin326 commented on #102
I actually have a few more questions. In [this step](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/8bc000c83cc9125020f66515427874bd0b112719/analyses/focal-cn-file-preparation/rna-expression-validation.R#L131-L136), it says we are only looking at non tumor samples. However, why do we have to add `composition` as a filter? Also, now that we have independent RNA, could we just dele

[2021-07-20 02:35] ewafula opened #120 "Updated analysis: optimize run times of the cnv-frequencies module"
#### What analysis module should be updated and why?
Optimize the `cnv-frequencies` module to improve run times. Currently takes 2 hrs to compute and annotate `cancer_group` and `cancer_group_cohor`t  gene-level frequencies variant frequencies for the autosomes CNV consensus results.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Reimpl

[2021-07-20 16:07] runjin326 opened #121 "Histology file miss tumor_ploidy information"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v6

#### Put your question or report your issue here.
When using the v7 `cnv-cnvkit.seg.gz` to update CNV annotation for WXS specimens [for this ticket](https://github.com/PediatricOpenTargets/ticket-tracker/issues/102) out of the 1561 samples in the CNV file, only 940 of them have tumor_ploidy in

[2021-07-20 16:50] logstar opened #122 "Updated analysis: use `annotator` API in the `rna-seq-expression-summary-stats` module"
#### What analysis module should be updated and why?

The `rna-seq-expression-summary-stats` module should be updated to use the `annotator` API at `analyses/long-format-table-utils/annotator/annotator-api.R`, after

- [x] PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/56> is merged

#### What changes need to be made? Please provide enough detail for another participant to ma

[2021-07-20 17:04] logstar opened #123 "Updated analysis: use `annotator` API in the `snv-frequencies` module"
#### What analysis module should be updated and why?

The `snv-frequencies` module should be updated to use the `annotator` API at `analyses/long-format-table-utils/annotator/annotator-api.R`, after

- [x] PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/56> is merged

#### What changes need to be made? Please provide enough detail for another participant to make the update.

R

[2021-07-20 17:13] komalsrathi commented on #119
@jharenza is this instead of the `metadata.tsv` file?

[2021-07-20 17:14] jharenza commented on #121
thanks for opening this @runjin326 ! @zhangb1 can you or someone from your team pull the ploidy information for these samples? thanks!

[2021-07-20 17:21] jharenza commented on #119
This would be instead of all tables - so you would just have two tables at the end, one cohort+cancer_group for all genes and all plots, along with api links and then one cancer_group with cohort being `all_cohorts` for all genes and all plots with api links. They will somehow enable export of the tables from the long format table (guessing based on api link).

[2021-07-20 17:28] logstar opened #124 "Updated analysis: use `annotator` CLI in the `cnv-frequencies` module"
#### What analysis module should be updated and why?

The `cnv-frequencies` module should be updated to use the `annotator` CLI at `analyses/long-format-table-utils/annotator/annotator-api.R`, after

- [x] PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/59> is merged

(EDIT 07/26/2021 YZ: removed the requirement to merge <https://github.com/PediatricOpenTargets/OpenPedCan-anal

[2021-07-20 18:05] zhangb1 commented on #121
[missing_WXS_tumor_ploidy.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6850382/missing_WXS_tumor_ploidy.txt)

@jharenza @runjin326  please see the file attached. I listed all the biospecimen id in cnv-cnvkit.seg.gz file and tumor_ploidy above.

[2021-07-20 18:07] runjin326 commented on #121
Thanks, @zhangb1! I also noticed some of their `germline_sex_estimate ` are missing. If that is not expected, could you please pull those information as well? Thanks!

[2021-07-20 18:39] zhangb1 commented on #121
So for the WXS we don't have the `germline_sex_estimate` . cc @jharenza

[2021-07-20 18:40] runjin326 commented on #121
Gotcha! Thanks!

[2021-07-20 19:50] jharenza opened #125 "Update `ensg-hugo-rmtl-mapping.tsv` in v7"
#### What data file(s) does this issue pertain to?
`ensg-hugo-rmtl-v1-mapping.tsv`

#### What release are you using?

v6

#### Put your question or report your issue here.
The table has been updated per Zachary Dorman:

The primary change is incorporating the FDA's gene abnormality column into the FDA Target for all targets for more complete display in Open Targets. As for actual target changes:
O

[2021-07-21 12:15] kgaonkar6 opened #126 "Proposed Analysis: fusion_filtering rerun for v7"
#### What analysis module should be updated and why?
We need to rerun fusion_filtering with the new v7 RNAseq files for data release.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Rerun

#### What input data should be used? Which data were used in the version being updated?
v7

#### When do you expect the revised analysis will be compl

[2021-07-21 12:29] jharenza opened #127 "Create CAVATICA delivery project for OT release dataa"
Create OT release project similar to the OpenPBTA project: https://cavatica.sbgenomics.com/u/cavatica/openpbta

cc @yuankunzhu @bmennis @bmennis

[2021-07-21 17:59] runjin326 commented on #121
I ran the [analyses yesterday](https://github.com/PediatricOpenTargets/ticket-tracker/issues/102) and the results were all as expected, thanks!
I just checked and the v7 histologies.tsv now have tumor_ploidy for those specimens. Just want to confirm, we are not expecting to have tumor_ploidy for the following samples, right?
<img width="620" alt="image" src="https://user-images.githubusercontent.c

[2021-07-21 18:02] jharenza commented on #121
We are not expecting panel ploidy, as we will not use CNVs from panel data. However, we should have ploidy from the TARGET WXS data that was just run, which is what I thought @zhangb1 had gathered - is that not the case?

[2021-07-21 18:04] runjin326 commented on #121
So there are only 285 WXS that are actually in the `cnv-cnvkit.seg.gz` and that was what he gathered. I was just wondering whether we would expect ploidy for the rest

[2021-07-21 18:06] jharenza commented on #121
Oh, gotcha - sorry I misunderstood. Only TARGET NBL and AML will currently have ploidy, as those are the ones just run. The rest are in queue for v8.

[2021-07-21 18:12] runjin326 commented on #121
Oh gotcha! Thanks for clarifying :)

[2021-07-21 20:27] logstar commented on #120
Source: <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/52#issuecomment-884261291>

Source: <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/52#issuecomment-884475840>

[2021-07-21 20:27] #120 closed

[2021-07-21 21:57] runjin326 commented on #126
@kgaonkar6, just to double check, now when we run `Rscript 02-fusion-filtering.R`, `Rscript 03-Calc-zscore-annotate.R`, and `Rscript 06-recurrent-fusions-per-cancer-group.R` - cohort of interest will be 'PBTA,GMKF,TARGET' correct?

[2021-07-22 14:20] kgaonkar6 commented on #126
corrrect! I think we will need different gtex subsets per cancer type in TARGET?  cc @jharenza for additional info.

[2021-07-22 14:24] kgaonkar6 commented on #126
Just adding TARGET cancers
[code]

[2021-07-22 14:27] runjin326 commented on #126
Right - I also looked at the ones that we currently have RNA-seq data (by filtering on tumor_ploidy)
`> histoloiges_df %>% filter(cohort == "TARGET") %>% filter(!is.na(tumor_ploidy)) %>% pull(broad_histology) %>% unique() %>% as.character()
[1] "Neuroblastoma"          "Acute Myeloid Leukemia"`

For this release, maybe we should separate those and for neuroblastoma still use `Adrenal Gland` and fo

[2021-07-22 14:53] jharenza commented on #126
We should have all TARGET RMA-Seq - ploidy comes from the DNA data and only NBL/AML DNA were run for v7.

I can gather the controls which should be relevant later today.

[2021-07-22 14:54] runjin326 commented on #126
Oh yes sorry I was getting confused between the two modules. Thanks, @jharenza!

[2021-07-22 15:08] kgaonkar6 commented on #126
Thanks @jharenza !

@runjin326 thinking about this further. Before we can rerun the code I think we need a PR for fusion_filtering to update the `03` script for zscoring. Currently we only filter tpm file by cohort because previously each cohort matched 1 gtex_group( `PBTA`  with `Brain`gtex  and `GMKF` with `Adrenal`gtex) https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/3a1dd99454

[2021-07-22 15:28] kgaonkar6 commented on #126
For similar tasks before we have used json files as input but feel free to use any other solutions to this.

gtex_cancer_group.json file:
[code]
in R you could read json files with `jsonlite` which is in the docker already like

[code]

[2021-07-22 15:30] runjin326 commented on #126
@kgaonkar6, gotcha, thanks! This is really helpful! I will prepare a PR accordingly!

[2021-07-22 15:37] runjin326 commented on #126
For the cancer_group vs. normal matching, for now I will match neuroblastoma to adrenal gland, all cancer groups in PBTA to brain and for cancer groups in TARGET, I will wait for @jharenza. All cancer groups in PBTA are listed here:
`> histoloiges_df %>% filter(cohort=="PBTA") %>% pull(cancer_group) %>% unique()`
 [1] Ependymoma
 [2] <NA>
 [3] High-grade glioma/astrocytoma
 [4] Low-grade glioma/as

[2021-07-23 15:03] jharenza commented on #126
sorry, I forgot about this last night!

See below - we do not have bone marrow in gtex, so I guess we can use blood. We don't have bone for osteo, so that one may have to have no control.

[code]

[2021-07-23 17:24] jharenza commented on #125
The new file used in the merge is https://nih.box.com/s/mdjpng8thhfhrmemi3v30tvuox2ho1pq

[2021-07-23 18:04] runjin326 commented on #126
@jharenza, thanks for the information! So for the ones that do not have control, how do we do z-score calculation? Do we use the matrix's own means and SDs to do the calculation?

[2021-07-23 18:29] jharenza commented on #126
I would say leave them out of that zscore analysis

[2021-07-23 18:30] runjin326 commented on #126
Gotcha!

[2021-07-23 20:47] jharenza opened #128 "Updated analysis: update rna independent specimen files for v7"
#### What analysis module should be updated and why?
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/independent-samples

We removed extraneous clinical information for samples not yet processed, so that they will not be included in independent specimen lists.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

[2021-07-24 17:36] bmennis commented on #111
I have copied all `WXS` `.bam` TARGET samples from the Cavatica datasets to the tumor WXS alignment Cavatica project. I then used the v6 histologies file to search for samples from Osteosarcoma, ALL, and Wilms tumor. For this I used the column marked `Kids_First_Biospecimen_ID` and the values there to search file Aliquot IDs. For the disease type of interest I moved the bam files to the appropriat

[2021-07-25 15:21] runjin326 opened #129 "Investigate diff of v6 and v8 fusion-putative-oncogenic.tsv"
#### What data file(s) does this issue pertain to?
v6 and v8 of fusion-putative-oncogenic.tsv

#### What release are you using?

v6 and v8 of fusion-putative-oncogenic.tsv

#### Put your question or report your issue here.
After re-running the module with new TARGET RNA-Seq data integration, there are some discrepancies between fusions calls of PBTA samples. Detailed descriptions can be found in t

[2021-07-25 20:47] jharenza commented on #128
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/62

[2021-07-25 20:47] #128 closed

[2021-07-25 21:02] jharenza commented on #111
Hi @bmennis - I do not have access to that project, but what do you mean by:

target_t_n_matches.txt - 289
v6_histologies.tsv - 308

and then:

Tumor - 598
Normal - 0

I did a quick check on v6 and v7 histologies for ALL, and found 289 normals (v6/7) which correspond to 572 (v6) and 564 (v7) tumor samples. Atttached are those 289 normals IDs.
[normal_acute_lymph_leuk_bs_ids_v7.csv](https://github.

[2021-07-26 01:57] logstar opened #130 "Updated analysis: rerun `rna-seq-expression-summary-stats` module using v7 data release"
#### What analysis module should be updated and why?

The `rna-seq-expression-summary-stats` module needs to be rerun using v7 data, after

- [x] <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61> is merged

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Use v7 release data and [v7 each-cohort independent RNA-seq samp

[2021-07-26 11:56] runjin326 opened #131 "Updated analysis: update fusion_filtering module to take separate normal GTEx matrix"
#### What analysis module should be updated and why?
1) Module: fusion_filtering module
2) Reason: TARGET RNA-seq specimens are now added and hence we need to run them through fusion filtering module as well.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1) For TARGET specimens, cancer group and matching tissue type is as following:
[c

[2021-07-26 11:59] runjin326 commented on #126
I have opened a new ticket to deal with the normal matrix issue https://github.com/PediatricOpenTargets/ticket-tracker/issues/131

[2021-07-26 14:15] logstar opened #132 "Updated analysis: update `annotator` submodule for v7 data release"
#### What analysis module should be updated and why?

The `long-format-table-utils/annotator` submodule needs to be updated for [v7 data release](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61).

- Add Uberon annotations for GTEx tissue groups and subgroups.
- Change `ensg-hugo-rmtl-v1-mapping.tsv` to `ensg-hugo-rmtl-mapping.tsv`.
- Confirm that the v7 annotation data files co

[2021-07-26 14:58] logstar commented on #132
@jharenza I have a few questions about the specific implementations of updating `annotator` for v7.

- Should I only require the columns that need to be joined by the input table and annotation table? This would handle GTEx->Uberon mapping and Disease/cancer_group->EFO/MONDO mapping without providing both GTEx and Disease columns, so it would be convenient for the developers of analysis modules th

[2021-07-26 15:06] logstar commented on #124
@ewafula The `annotator` CLI is [merged to the dev branch](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/59), so it could be used for your CNV module now.

[2021-07-26 15:08] logstar commented on #112
All relevant PRs merged.

[2021-07-26 15:16] ewafula commented on #124
Thanks, @logstar. I Will start working to update the CNV
module immediately.

On Mon, Jul 26, 2021 at 11:06 AM Yuanchao Zhang ***@***.***>
wrote:

[2021-07-26 17:40] zhangb1 commented on #127
project has been created:

https://cavatica.sbgenomics.com/u/cavatica/opentarget/

SBG will make it as public project

[2021-07-26 18:07] jharenza commented on #132
Hi @logstar

Yes, this would be good

We can have these as column names in each of the modules to make this easier for annotator use

This is not necessary - I left it in there for tracking/historical purposes from @sangeetashukla's searching, so please do not add.

[2021-07-26 18:11] jharenza commented on #126
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:11] #126 closed

[2021-07-26 18:11] jharenza commented on #125
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:11] #125 closed

[2021-07-26 18:11] jharenza commented on #100
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:11] #100 closed

[2021-07-26 18:11] jharenza commented on #101
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:11] #101 closed

[2021-07-26 18:12] jharenza commented on #121
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:12] #121 closed

[2021-07-26 18:12] jharenza commented on #102
Added with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61), but  PR still open due to expression matrix issues.

[2021-07-26 18:13] jharenza commented on #117
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:13] #117 closed

[2021-07-26 18:13] jharenza commented on #104
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:13] #104 closed

[2021-07-26 18:13] jharenza commented on #109
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:13] #109 closed

[2021-07-26 18:13] jharenza commented on #106
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:13] #106 closed

[2021-07-26 18:14] jharenza commented on #92
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:14] #92 closed

[2021-07-26 18:14] jharenza commented on #88
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:14] #88 closed

[2021-07-26 18:14] jharenza commented on #85
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:14] #85 closed

[2021-07-26 18:15] jharenza commented on #80
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:15] #80 closed

[2021-07-26 18:16] jharenza commented on #7
closing with PRs 46, 37, 38, 39, 40, 41, 42

[2021-07-26 18:16] #7 closed

[2021-07-26 18:17] jharenza commented on #47
closing with [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:17] #47 closed

[2021-07-26 18:21] logstar commented on #132
Thank you for the reply. I will update accordingly.

[2021-07-26 18:22] jharenza commented on #127
closing, updated v7 as of [PR 61](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/61)

[2021-07-26 18:22] #127 closed

[2021-07-26 18:23] jharenza commented on #99
@sangeetashukla and @afarrel - the cavatica project for release data has been made and I will add you now since it is not yet public: https://github.com/PediatricOpenTargets/ticket-tracker/issues/127#issuecomment-886898179

[2021-07-26 19:24] jharenza commented on #111
possible UI issue linking GDC to SBG - @yuankunzhu and @zhangb1 to check on this

[2021-07-26 19:30] afarrel commented on #111
Example of osteosarcoma WXS normals:
TARGET-40-0A4HLD-10A-01D
TARGET-40-0A4HMC-10A-01D
TARGET-40-0A4HX8-10A-01D
TARGET-40-0A4HXS-10A-01D
TARGET-40-0A4HY5-10A-01D
TARGET-40-0A4I0Q-10A-01D
TARGET-40-0A4I0W-10A-01D
TARGET-40-0A4I3S-10A-01D
TARGET-40-0A4I4E-10A-01D
TARGET-40-0A4I4M-10A-01D
TARGET-40-0A4I4O-10A-01D
TARGET-40-0A4I5B-10A-01D
TARGET-40-0A4I6O-10A-01D
TARGET-40-0A4I8U-10A-01D
TARGET-40-0A4

[2021-07-26 20:05] sangeetashukla commented on #99
[This](https://cavatica.sbgenomics.com/u/shuklas1/deseq-trial1/apps/#q?archived=false) is the link to the app on Cavatica
I am working with @migbro  to make a few updates to it to enable it to run

[2021-07-27 12:31] runjin326 opened #133 "Updated analysis: focal-cn-file-preparation module"
#### What analysis module should be updated and why?
Module needs to be updated: focal-cn-file-preparation
Reason: currently, [this part that calls the visualization ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/7507d4ac2fc072bb59002c8a7d3f92e2a3d04633/analyses/focal-cn-file-preparation/run-prepare-cn-OpenTarget.sh#L65-L76) is not being run and [rna-expression-validation.R](ht

[2021-07-27 12:55] ewafula commented on #124
@logstar, the long-format-table-utils analysis module annotator might need updating with input files from v7. Works ok with updated CNV module with v6 but not v7.  Checked my local branch is up to date.

[code]

[2021-07-27 14:21] logstar commented on #124
@ewafula Thank you for checking. This will be fixed in <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/66>. You could adapt the changes of `analyses/long-format-table-utils/annotator/annotator-api.R` in your local branch without committing to use it for v7.

[2021-07-27 15:32] logstar commented on #132
@jharenza I think I would need to have two `EFO` annotation columns, `Disease_EFO` and `GTEx_tissue_subgroup_EFO`, in order to handle table rows that have both `Disease` and `GTEx_tissue_subgroup` like the DESeq module.

However, this would break the backward compatibility of annotation column names, so I would like to bring this up here before working on it. I will add a changelog section in the

[2021-07-27 18:00] runjin326 commented on #133
Also note that the [`composition` part needs update](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/7507d4ac2fc072bb59002c8a7d3f92e2a3d04633/analyses/focal-cn-file-preparation/rna-expression-validation.R#L116-L141).

[2021-07-27 19:26] jharenza commented on #132
Should we ask about this in the `#ot-portal-content` channel in slack? ie - how do they want them in the JSONL files?

[2021-07-27 19:38] logstar commented on #132
I agree. I wonder if the DESeq table header is available outside the box, as I do not have box access yet. Sorry if I missed the link anywhere before. I will check the header before asking in the `#ot-portal-content` channel in slack.

[2021-07-27 19:40] jharenza commented on #132
I am cc-ing @sangeetashukla and @afarrel here whether they can provide - I also asked @sangeetashukla to update her module with a sample output file

[2021-07-27 20:05] jharenza commented on #102
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/60

[2021-07-27 20:05] #102 closed

[2021-07-27 21:14] logstar commented on #8
Closed with PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/45> merged.

[2021-07-27 21:14] #8 closed

[2021-07-27 21:20] logstar commented on #64
@jharenza Is the following unfinished task included in the `Gene_type` annotation? The "COSMIC genes" are listed as a data source for the `genelistreference.txt` at <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/fusion_filtering>.

If not, I could add the required annotation for the v7 annotator and `snv-frequencies` module updates.

[2021-07-27 21:22] logstar commented on #82
Closed with PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/45> merged.

[2021-07-27 21:22] #82 closed

[2021-07-27 21:23] logstar commented on #83
Closed with PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/45> merged.

[2021-07-27 21:23] #83 closed

[2021-07-27 21:33] jharenza commented on #64
No, this was to use the COSMIC mutation evidence rather than the genes. I never heard back from them, so we can add it as a future ticket and enhancement if we hear back.

[2021-07-27 22:29] logstar commented on #132
@jharenza Thank you for checking.

Assuming there is no Excel header file, I referred to the latest DESeq PR, and the EFO column is only for cancer_group, as shown in the code below. I also assume that the UBERRON code will be added using the [annotator API](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/long-format-table-utils#r-api-usage-of-long-format-table-annota

[2021-07-27 23:20] logstar commented on #132
@jharenza I will work on adding v7 GTEx annotations without breaking backward compatibility, as it would cost too much of efforts for all module developers to update, PR, and review. This ticket is also blocking all GTEx JSONL modules.

I will keep using EFO for cancer_group EFO and add GTEx_tissue_subgroup_EFO as a new annotation column. If the input table has both Disease/cancer_group and GTEx_t

[2021-07-28 00:00] jharenza commented on #132
Ok sounds good. I didn't realize until we made those gtex lists that the cells are in EFO and not UBERON, which is unfortunately complicating things. For now, we can just use Uberon for GTEX and ask FNL on Wednesday how to handle the cells for gtex, so we don't do too much work for those two tissues.

[2021-07-28 00:13] logstar commented on #132
Thank you for the note! Good to know the reason for having those two EFO codes.

I will add the following mappings in the part 3 PR:

- `GTEx_tissue_group` -> `GTEx_tissue_group_UBERON`
- `GTEx_tissue_subgroup` -> `GTEx_tissue_subgroup_UBERON`

Then, the GTEx EFO handling will be added in the part 4 PR, if necessary, based on the discussions.

[2021-07-28 01:22] afarrel commented on #132
There is a table with the result of a test run on the full set on the HPC cluster (Respublica):

/mnt/isilon/opentargets/DESeq2/DESEQ2_TABLE_V6.txt
approx 65 GB.

I'll subset and create smaller example table when I get back to my computer.

[2021-07-28 02:25] jharenza commented on #132
@afarrel thanks- if you can just create a smaller table and gzip the file, and add to @sangeetashukla's PR, that would be great.

[2021-07-28 13:00] kgaonkar6 opened #134 "Updated analysis: Subset manta FILTER=="PASS" consensus cnv"
#### What analysis module should be updated and why?
Add a FILTER==PASS for manta calls used in copy_number_consensus_call. I think this filter is necessary so that we use a subset of high-confidence broad SVs called by manta. https://github.com/Illumina/manta/blob/master/docs/userGuide/README.md#vcf-format-fields

Similar to https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1113

#### Wha

[2021-07-28 15:15] logstar commented on #132
Hi @jharenza @afarrel @sangeetashukla . Just to note here that GTEx EFO codes will not be included in the annotator API, and they will also not be provided to the FNL team, because the cell lines may have no biological context for being searched on PedOT website, according to the 8am meeting this morning.

[2021-07-28 19:06] logstar commented on #124
Closed with PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/52> merged.