[2021-07-28 19:06] #124 closed

[2021-07-28 20:49] bmennis commented on #111
Ok I made up some lists of files in the WXS tumor alignment project for the three different disease types. I used the v6 histologies file to search for the tumor and any matching normal samples in the project. It looks like for both Osteosarcoma and ALL that there are some normal samples that either do not have a tumor sample in the histologies file or we do not have the file. For Wilms tumor ther

[2021-07-28 21:25] logstar opened #135 "Updated analysis: select the same independent `Kids_First_Biospecimen_ID`s for all-cohorts and each-cohort procedures if possible in `independent-samples` module"
#### What analysis module should be updated and why?

The `independent-samples` module needs to be updated to select the same independent `Kids_First_Biospecimen_ID`s for the same `Kids_First_Participant_ID`s in both all-cohorts and each-cohort selection procedures if possible. This would allow analysis modules to use all-cohorts independent sample lists (ISLs) for all-cohort analyses and use each

[2021-07-28 21:37] jharenza commented on #118
@migbro this is ready - the files to use below are in the folder [here](s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v7/)

[code]

[2021-07-28 21:43] jharenza commented on #118
For this release, we will use all PBTA, GMKF and TARGET NBL and AML:

From the histologies file, select only cohort == PBTA | GMKF (all data) and cohort == TARGET with only cancer_group == `Neuroblastoma` and `Acute Myeloid Leukemia`

[code]

[2021-07-28 21:45] jharenza commented on #118
cc @kgaonkar6

[2021-07-28 21:51] jharenza opened #136 "map broad histologies for TARGET"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v7

#### Put your question or report your issue here.
the `broad_histologies` field is a duplication of the TARGET disease type:
[code]

ALL and AML can be combined into `Hematologic malignancies` and CCSK, Rhabdoid, and Wilms can all be combined into `Renal tumors`. OS should be `Mesenchymal, non

[2021-07-28 21:52] logstar opened #137 "Updated analysis: change independent sample lists used in `snv-frequencies` module (rerun after v9)"
#### What analysis module should be updated and why?

The `snv-frequencies` module should be updated to use all-cohorts independent sample lists (ISLs) for computing all-cohorts SNV frequencies and use each-cohort ISLs for computing each-cohort SNV frequencies. Currently, each-cohort ISLs are used for computing both all-cohorts and each-cohort SNV frequencies.

**Note**: Only work on this issue af

[2021-07-28 22:11] logstar opened #138 "Updated analysis: change independent sample lists used in `rna-seq-expression-summary-stats` module (rerun after v9)"
#### What analysis module should be updated and why?

The `rna-seq-expression-summary-stats` module should be updated to use all-cohorts independent sample lists (ISLs) for computing all-cohorts TPM summary statistics and use each-cohort ISLs for computing each-cohort TPM summary statistics. Currently, each-cohort ISLs are used for computing both all-cohorts and each-cohort TPM summary statistics.

[2021-07-28 22:15] logstar opened #139 "Updated analysis: change independent sample lists used in `cnv-frequencies` module (rerun after v9)"
#### What analysis module should be updated and why?

The `cnv-frequencies` module should be updated to use all-cohorts independent sample lists (ISLs) for computing all-cohorts CNV frequencies and use each-cohort ISLs for computing each-cohort CNV frequencies. Currently, each-cohort ISLs are used for computing both all-cohorts and each-cohort CNV frequencies.

**Note**: Only work on this issue af

[2021-07-28 22:20] ewafula commented on #139
Sure, @logstar, will work to update cnv-frequencies module once issue #135
is closed.

On Wed, Jul 28, 2021 at 6:16 PM Yuanchao Zhang ***@***.***>
wrote:

[2021-07-28 22:31] ewafula commented on #136
@jharenza, I’ll start a v8-OpenPedCan PR with this first update for TARGET
broad_histology column on D3B-codes GitHub repo. The PR can be blocked
until when other future update to histologies.tsv have been performed for
v8 data release.

On Wed, Jul 28, 2021 at 5:51 PM Jo Lynne Rokita ***@***.***>
wrote:

[2021-07-28 22:37] logstar opened #140 "Updated analysis: change independent sample lists used in `fusion-frequencies` module (rerun after v9)"
#### What analysis module should be updated and why?

The `fusion-frequencies` module should be updated to use all-cohorts independent sample lists (ISLs) for computing all-cohorts fusion frequencies and use each-cohort ISLs for computing each-cohort fusion frequencies. Currently, each-cohort ISLs are used for computing both all-cohorts and each-cohort fusion frequencies.

**Note**: Only work on t

[2021-07-29 14:17] logstar commented on #64
Got it. I think we could leave this ticket open as a reference.

I will also submit two tickets for adding COSMIC mutation evidence to snv-frequencies and annotator, label them with blocked, and refer to this issue.

[2021-07-29 14:34] logstar opened #141 "Updated analysis: add COSMIC mutation evidence annotation to `annotator` submodule"
#### What analysis module should be updated and why?

The `long-format-table-utils/annotator` submodule needs to be updated to add COSMIC mutation evidence annotation.

**Note**: only work on this issue after COSMIC mutation evidence annotation file is available, which is discussed in <https://github.com/PediatricOpenTargets/ticket-tracker/issues/64>

#### What changes need to be made? Please prov

[2021-07-29 14:45] logstar opened #142 "Updated analysis: add COSMIC mutation evidence annotation to `snv-frequencies` module"
#### What analysis module should be updated and why?

The `snv-frequencies` module needs to be updated to add COSMIC mutation evidence annotation.

**Note**: only work on this issue after the following issue is closed.

- [ ] <https://github.com/PediatricOpenTargets/ticket-tracker/issues/141>

#### What changes need to be made? Please provide enough detail for another participant to make the updat

[2021-07-29 15:03] logstar opened #143 "Updated analysis: add single variant PedcBioPortal lollipop plot URLs to `snv-frequencies` module"
#### What analysis module should be updated and why?

The `snv-frequenccies` module needs to be updated to add single-variant PedcBioPortal lollipop plot URLs to the variant-level mutation frequency table. In addition, the gene-level PedcBioPortal plot URLs need to be removed from the variant-level mutation frequency table.

This update is suggested in a meeting discussion.

#### What changes need

[2021-07-29 15:19] logstar commented on #143
@kalletlak I was wondering if it is possible to have a PedcBioPortal lollipop plot URL that highlight only a single variant. For example, in <https://pedcbioportal.kidsfirstdrc.org/results/mutations?cancer_study_list=ped_opentargets_2021&case_set_id=ped_opentargets_2021_pbta_diffuse_midline_glioma&Action=Submit&gene_list=BRAF>, I could click the V600E lollipop to highlight the V600E variant in the

[2021-07-29 17:54] bmennis commented on #111
I noticed a bug in the script I used to generate the previous lists in which samples that were missing tumor or normal files sometimes were excluded. I wanted these files to list all tumor normal pairs despite the presence of these files in the Cavatica project so that we could know which files we have and what we dont. I believe I have corrected the lists and have them below now:

[ALL_histology_

[2021-07-29 18:15] bmennis commented on #111
Ill also upload my script I used to generate these files here:
[get_tum_norm_pairs_histologies.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6902760/get_tum_norm_pairs_histologies.txt)

[2021-07-30 02:01] logstar commented on #122
Closed with PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/64> merged.

[2021-07-30 02:01] #122 closed

[2021-07-30 02:02] logstar commented on #130
Closed with PR <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/67> merged.

[2021-07-30 02:02] #130 closed

[2021-07-30 02:28] logstar opened #144 "Updated analysis: rerun `snv-frequencies` module using v7 release data"
#### What analysis module should be updated and why?

The `snv-frequencies` module needs to be rerun using v7 data.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Use the v7 data files listed below to rerun the analysis.

Remove gene-level pedcbio plot URLs from the variant-level table.

Update README.md accordingly.

Meanwhile, also w

[2021-07-30 20:07] jharenza opened #145 "Some `sample_id` and `aliquot_id` in `histologies.tsv` are mis-coded"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v7

#### Put your question or report your issue here.
Some TARGET samples have `sample_id` == `03`, while their corresponding TARGET ids (in `Kids_First_Biospecimen_ID`) contain other ids indicative of sample ids. Similarly, these samples have the wrong `aliquot_id`:
[code]

Please double check

[2021-07-30 20:09] jharenza commented on #145
cc @migbro

@ewafula when you have a fix for this posted to the D3b-codes repo, can you mention that here and let @migbro know - he can then use the updated file for the pedcbio load mentioned in #118

[2021-07-30 20:10] ewafula commented on #145
Sure, will before the end the day.

On Fri, Jul 30, 2021 at 4:09 PM Jo Lynne Rokita ***@***.***>
wrote:

[2021-07-30 21:10] jharenza commented on #111
thanks @bmennis - are you saying that our totals for these pairs of WXS samples overlapping between `histologies.tsv` and GDC are as below:
[code]

From the original table:

+   filter(sample_type == "Tumor" & experimental_strategy == "WXS" & cohort == "TARGET") %>%
+   select(cancer_group, experimental_strategy) %>%
+   table()
                              experimental_strategy
cancer_group

[2021-07-30 22:17] logstar opened #146 "`snv-consensus-plus-hotspots.maf.tsv.gz` has gene ENSG IDs and symbols that are not in `ensg-hugo-rmtl-mapping.tsv`"
#### What data file(s) does this issue pertain to?

- `snv-consensus-plus-hotspots.maf.tsv.gz`
- `ensg-hugo-rmtl-mapping.tsv`

#### What release are you using?

v7

#### Put your question or report your issue here.

`snv-consensus-plus-hotspots.maf.tsv.gz` has gene ENSG IDs and symbols that are not in `ensg-hugo-rmtl-mapping.tsv`, which is shown below. Attached is the full TSV list of such ENSG ID

[2021-07-30 22:23] jharenza commented on #146
Hi @logstar - thanks for noticing this!

So it seems the best approach would be to update the mapping file to contain all ENSG IDs in the MAF not currently in the mapping file. My question, though, is since you mentioned MAF ENSG being in hg38 and the mapping file being in hg37, are there any gene symbols which overlap the MAF and mapping file _and_ have different ENSG IDs between hg37 and hg38? I

[2021-07-30 22:34] logstar commented on #146
I agree. The updated mapping files will also help RNA modules to add all ENSG IDs.

There are some gene symbols that are in both MAF and mapping files but have different ENSG IDs, which are listed below.

[code]

[2021-07-30 23:03] logstar commented on #146
For example, TBCE only has one GRCh37 ENSG ID in the mapping file:

[code]

However, TBCE has other mappings in the MAF file:

[code]

[2021-07-30 23:09] jharenza commented on #70
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/49

[2021-07-30 23:09] #70 closed

[2021-07-30 23:09] jharenza commented on #72
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/49

[2021-07-30 23:09] #72 closed

[2021-08-03 16:00] bmennis commented on #111
I just wanted to update that the alignment of the tumor WXS samples is complete, I am patching metadata to the outputs which is taking some time due to the large number of samples and outputs.

I am working on getting the normal samples to run now, I will update with developments.

[2021-08-03 17:56] logstar commented on #28
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/73> merged.

[2021-08-03 17:56] #28 closed

[2021-08-03 18:20] logstar commented on #132
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/71> merged.

[2021-08-03 18:20] #132 closed

[2021-08-03 18:21] logstar commented on #123
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/72> merged.

[2021-08-03 18:21] #123 closed

[2021-08-03 18:21] logstar commented on #144
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/72> merged.

[2021-08-03 18:21] #144 closed

[2021-08-03 19:24] jharenza commented on #63
I created a folder here: s3://kf-openaccess-us-east-1-prd-pbta/open-targets/testing/

[2021-08-03 21:29] jharenza opened #147 "Add pedcbio template to this repo"
From https://github.com/d3b-center/bixu-tracker/issues/new/choose

[2021-08-04 13:27] kalletlak commented on #143
@logstar @jharenza Currently it is not possible to save highlighted variant in URL. I'll have to check with cbio team and see if it feasible to include it.

[2021-08-04 15:13] bmennis commented on #111
I am finishing up the WXS normal sample alignment harmonizations and all samples are completed successfully except one sample that I am not able to harmonize. The aliquot ID for the normal sample is `TARGET-50-PAJNNR-10A-01D` and the case ID is `TARGET-50-PAJNNR`. The issue seems to be that i do not have access to the file, so when I try to download it there is an error from Cavatica and when I tr

[2021-08-04 15:20] zhangb1 commented on #111
@jharenza  whether you can look at that sample?   ^ the file is

` 47f76f61-5d88-504d-95de-e779355042ed_wxs_gdc_realn.bam`

I tried to re-import and still failed. not sure what's the issue.

[2021-08-04 15:25] chinwallaa commented on #111
@afarrel  does anyone have credentials to download this from GDC directly https://portal.gdc.cancer.gov/files/faaf9e26-05c5-486c-aec4-11e1fa45f8df instead of via the Cavatica link ?

[2021-08-04 16:04] bmennis commented on #111
It looks like I can download it dowload it from the GDC. It will take some time but afterwards I can upload it to Cavatica.

[2021-08-05 16:02] bmennis commented on #111
The last normal WXS sample is finished aligning, I used the sample downloaded from the GDC. There appears to be an issue with Cavatica that the samples cannot be accessed despite Cavatica and CGC showing that Target access is granted.

The aligned reads for the normal and tumor samples, along with the raw gvcf files for the normals have all been copied to the delivery project, here are links to bo

[2021-08-05 20:03] jharenza commented on #116
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/57

[2021-08-05 20:03] #116 closed

[2021-08-05 20:04] jharenza opened #148 "add updated MB subtypes to v8 histologies file"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v7

#### Put your question or report your issue here.
Since https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/57 has been merged, update the MB subtypes in the histologies file for medulloblastoma.

[2021-08-06 03:57] kgaonkar6 opened #149 "Updated analysis: Expand the 50% reciprocal overlap to include complete overlap of 1 CNV by other larger CNV"
Work on this after/with #132

#### What analysis module should be updated and why?
We believe criteria for cnvs to have 50% reciprocal overlap might be too stringent. After the #1116 we are missing some subtype defining CNVs.

Propogating changes from https://github.com/AlexsLemonade/OpenPBTA-analysis/issues/1125

#### What changes need to be made? Please provide enough detail for another particip

[2021-08-06 20:42] afarrel opened #150 "Double checking Acute Lymphoblastic Leukemia (ALL) sample numbers ~800 on isilon vs ~300 in GDC"
#### What data file(s) does this issue pertain to?

Histologies file

#### What release are you using?

pedOT Release v7

#### Put your question or report your issue here.
As stated in ticket [111](https://github.com/PediatricOpenTargets/ticket-tracker/issues/111#issuecomment-890155727),
there are 308 WXS ALL pairs. See below:

                         experimental_strategy
                cancer_

[2021-08-06 22:36] afarrel commented on #150
COPYING CONVO FROM SLACK between @afarrel @ewafula @jharenza :

AlvinF  4:21 PM
Hey Eric, We have some questions about the histologies file. In regards to TARGET ALL, How did you get the final list list of patients/samples for the whole exome data (DNA)? We are noticing there are ~800 files on isilon and ~300 files pulled from GDC.

Eric Wafula  5:14 PM
@AlvinF, I  prepared from the data manifest

[2021-08-06 23:16] afarrel commented on #150
FROM SLACK Continued:

Eric Wafula  7:00 PM
Attached  are the sample with left out because there don't corresponding info clinical files. these includes  487 Normal and 486 Tumor  samples for ALL

[TARGET_WXS_WITHOUT_CLINICAL_INFO.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6948234/TARGET_WXS_WITHOUT_CLINICAL_INFO.txt)

[2021-08-07 00:06] jharenza commented on #146
We ended up merging GENCODE v28 and v38 to create a new mapping file. Closing with https://github.com/d3b-center/D3b-codes/pull/45

[2021-08-07 00:06] #146 closed

[2021-08-07 00:10] jharenza opened #151 "v8 data release"
#### What data file(s) does this issue pertain to?
Update the following files to include new TARGET WXS data processed and per the issues that follow.
- [x] histologies.tsv
- [x] cnv-cnvkit.seg.gz
- [x] cnv-controlfreec.tsv.gz
- [x] cnv-consensus.seg.gz
- [x] ensg-hugo-rmtl-mapping.tsv
- [x] release-notes.md and data-files-description.md
- [x] snv-consensus-plus-hotspots.maf.tsv.gz
- [x] fusion-pu

[2021-08-07 00:13] jharenza commented on #151
Note: the new `ensg-hugo-rmtl-mapping.tsv` file is located [here](https://github.com/d3b-center/D3b-codes/blob/master/gene_match/results/ensg-hugo-rmtl-mapping.tsv)

[2021-08-09 13:38] kgaonkar6 opened #152 "Updated analysis: Experimental_strategy specific copy_consensus run"
#### What analysis module should be updated and why?
[copy_number_consensus_call](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/cnv-Manta-oveerlap-fix/analyses/copy_number_consensus_call) currently uses all samples in the following CNV files which
[code]

But WGS and WXS samples need to be handled differently so the code will need update.

#### What changes need to be made? Plea

[2021-08-09 13:57] jharenza commented on #152
Cc @yuankunzhu as well

[2021-08-10 17:02] logstar opened #153 "Updated analysis: update `fusiong_filtering` module to handle gene symbols that have no mapped ENSG ID"
#### What analysis module should be updated and why?

The `fusiong_filtering` module should be updated to handle gene symbols that have no mapped ENSG ID.

There are some gene symbols that have no mapped ENSG ID in `analyses/fusion_filtering/results/fusion-putative-oncogenic.tsv`, as @kgaonkar6 pointed out at <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/49#issuecomment-8894508

[2021-08-10 18:13] jharenza commented on #143
We can close this for now, since it is not yet possible.

[2021-08-10 18:13] #143 closed

[2021-08-10 19:38] jharenza opened #154 "Update `jsonl_files_changelog.md` to contain table with analysis links"
#### What data file(s) does this issue pertain to?
`jsonl_files_changelog.md` in BOX: https://nih.box.com/s/w305utglpyttvpye6w527ohajcnn5pvq

#### What release are you using?

v7/release agnostic

#### Put your question or report your issue here.
Add a table of JSONL filenames  + link to each analysis for FNL

[2021-08-11 00:19] jharenza commented on #154
Looks good to me! Good idea with the commit path.

[2021-08-11 13:20] runjin326 commented on #96
@kgaonkar6, I am working on this ticket and I have a few clarification questions:
1) For subsetting for PBTA and GMKF, where should we start doing that? Are we starting from [calculating the scores](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/84c6e0a64ac34f8b76a7bc4559f2f21be95e4f50/analyses/gene-set-enrichment-analysis/01-conduct-gsea-analysis.R#L91-L104) or when [we are actu

[2021-08-11 17:07] kgaonkar6 commented on #96
We want to start from calculating the scores because we have new RNA-seq samples now from TARGET ( which we didn't have when I created the ticket, sorry about that).

The file is here:
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/84c6e0a64ac34f8b76a7bc4559f2f21be95e4f50/figures/palettes/histology_label_color_table.tsv
We used rprojroot package to find the root_dir is most R scr

[2021-08-11 17:29] kgaonkar6 opened #156 "merge TARGET WXS to existing SNV and CNV files for data release"
What data file(s) does this issue pertain to?

- cnv-cnvkit.seg.gz
- cnv-controlfreec.tsv.gz
- snv-consensus-plus-hotspots.maf.tsv.gz

What release are you using?
v7

Put your question or report your issue here.
Please support v8 data release
- [x] New TARGET WXS files were generated  [here](https://github.com/PediatricOpenTargets/ticket-tracker/issues/111)
- Merge v7 SNV consensus MAF (above) wit

[2021-08-11 17:35] runjin326 commented on #96
@kgaonkar6, thanks for answering the questions. For number 2, I found the file - the issue is the file only has ~2000 lines and I believed it was for previous cohort? We now have 35827 samples and we need to re-generate the files per my understanding. I am just wondering whether you know where is the code that generates the output?

I guess for my question #3, I was just confused since from [these

[2021-08-11 17:56] kgaonkar6 commented on #156
Hi @zhangb1  just wanted to confirm if you have the toolkit set up to run the annoated cnvkit

`RUN_ORIGINAL=1 bash analyses/focal-cn-file-preparation/run-prepare-cn.sh`

which we then want to merge with WGS consensus file (2 of 3) like below

[code]

[code]

[2021-08-11 18:53] jharenza commented on #156
@zhangb1 how are you adding WXS cnvkit only files to the consensus seg file in the toolkit if not annotating them? (I thought you mentioned yesterday that you had this in the workflow now?)

[2021-08-11 19:06] zhangb1 commented on #156
sorry I may be misunderstand.... for the WXS in my cwl only get the CNVkit merged files no annotation,    also keep the consensus using the both control-freeC and cnvkit  results for the annotation.

[2021-08-11 19:21] kgaonkar6 commented on #156
Thanks for the clarification @zhangb1 !

Here's what we have done before for v7 :
@runjin326 updated 04 script https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/focal-cn-file-preparation/04-prepare-cn-file.R to be able to run annotation only for WXS samples to create a WXS-only annotated cnkit file.

The commands are here:
https://github.com/PediatricOpenTargets/OpenPed

[2021-08-11 19:28] zhangb1 commented on #156
Thank you @kgaonkar6 . seems for the WXS we only keep the CNVkit seg file for the annotation?  . then I need to change my cwl tool to adapt that then.  sorry I am not quite clear about that .

[2021-08-11 19:29] logstar opened #157 "Proposed Analysis: generate an Excel spreadsheet for PedOT website table display orders and names"
#### What are the goals of the analysis?

The analysis generates an Excel spreadsheet for PedOT website table display orders and names, according to the Slack discussions at <https://opentargetspediatrics.slack.com/archives/C021Z53SK98/p1628181091109300>.

The Excel spreadsheet will be used to coordinate table column order and name changes on PedOT website table views,  and the coordination plan i

[2021-08-11 19:41] jharenza commented on #156
It seems like we might need to have a quick internal meeting about this @zhangb1 @yuankunzhu

[2021-08-11 20:38] afarrel commented on #150
CONTINUED CONVERSATION FROM SLACK:

AlvinF  1:57 PM
Hi Eric and Asif, I found the clinical data for the list of ALL patients.
1:58
So if we were able to get their files from the GDC they should be included
1:58
That's in regards to the ALL patients.
1:58
I'll check the histologies on the list also

Asif Chinwalla  1:59 PM
Thanks!, whats the number of ALL samples T/N that you have clinical data for

[2021-08-11 20:45] afarrel opened #158 "Start Downloading Missing TARGET ALL WXS Data from GDC and harmonizing it"
#### What data file(s) does this issue pertain to?
TARGET Acute lymphoblastic leukemia (ALL) WXS data for pedOT

#### What release are you using?

v7, v8

#### Put your question or report your issue here.
In issue [#150](https://github.com/PediatricOpenTargets/ticket-tracker/issues/150), We were assessing the discrepancy between the 800 WXS T/N pairs on isilon and the 308 WXS pairs in the histolog

[2021-08-11 20:48] jharenza commented on #158
Thanks @afarrel - cc-ing @bmennis to do the query since he had worked on this.

[2021-08-11 21:10] zhangb1 commented on #158
I just did a quick check the bam files in the GDC datasets, I can find 921 uuid the same as the in  list `TARGET_AL_WXS_Additional_samples_WITH_CLINICAL_INFO.txt`

but the 49 samples below I can't find in the query.

[code]

any ideas where I can get the data?  @jharenza @afarrel ?

[2021-08-11 21:11] jharenza commented on #158
I think that is fine if those are missing - @afarrel will take those back to Patee at NIH.

Just to note, we can move this data processing to after August and for v9.

[2021-08-11 21:18] kgaonkar6 opened #159 "Update Analysis: Generate consensus_seg_annotated_cn_[autosomes|x_any_y].tsv.gz"
#### What analysis module should be updated and why?
We need to rerun annotation because WGS consensus seg was updated and available in [dev](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/copy_number_consensus_call/results/pbta-cnv-consensus.seg.gz) we will annotate the CNV region if it overlaps with a gene region.

#### What changes need to be made? Please provide

[2021-08-11 21:29] kgaonkar6 opened #160 "Updated analysis: Generate cnvkit_annotated_cn_wxs_[autosomes|x_and_y].tsv.gz"
#### What analysis module should be updated and why?
We need to rerun annotation because WGS consensus seg was updated and available in dev we will annotate the CNV region if it overlaps with a gene region.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Just a rerun of focal-cn-file-preparation module for original cnv merged files as be

[2021-08-11 21:47] kgaonkar6 opened #161 "Create consensus_wgs_plus_cnvkit_wxs_[autosomes|x_and_y].tsv.gz"
#### What data file(s) does this issue pertain to?
- consensus_wgs_plus_cnvkit_wxs_autosomes.tsv.gz
- consensus_wgs_plus_cnvkit_wxs_x_and_y.tsv.gz

#### What release are you using?

v8

#### Put your question or report your issue here.
We will need to merge output files from #159  and #160 such that
- merging consensus_seg_annotated_cn_autosomes.tsv.gz + cnvkit_annotated_cn_wxs_autosomes.tsv.gz

[2021-08-11 21:48] kgaonkar6 commented on #156
Since there needs to be more detailed discussion over the creating annotated CNV seg files @jharenza suggested I make different tickets, create WGS annotated files #159 and create WXS annotated files #160 and merge in #161. We can follow up there for further discussion. Thanks!

[2021-08-12 00:00] jharenza commented on #161
@kgaonkar6 while we are updating these, maybe we can handle autosomes and xy as one file?

[2021-08-12 13:19] jharenza commented on #111
@bmennis can you provide a final list of samples which you have run with this iteration for @ewafula

[2021-08-12 13:31] zhangb1 commented on #111
@jharenza  Brian has the laptop issue, I just posted the tumor and normal aliquots id below which processed for this part2

Tumor: 430
Normal:400

[run_normal.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6975790/run_normal.txt)
[run_tumor.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6975793/run_tumor.txt)

and the pairs information is belw:
total of 413 pa

[2021-08-12 14:05] ewafula commented on #111
Thanks, @zhangb1 !

On Thu, Aug 12, 2021 at 9:31 AM Bo Zhang ***@***.***> wrote:

[2021-08-12 15:47] kgaonkar6 commented on #96
Oh sorry I misunderstood the question, the code that originally created the file is in https://github.com/AlexsLemonade/OpenPBTA-analysis/blob/master/figures/mapping-histology-labels.Rmd  but  now we will have to use `cancer_group` instead of `display_group`

[2021-08-12 16:20] kgaonkar6 commented on #96
Thanks!

This has me thinking that we will also need to update the display_group to cancer_group in OpenPBTA. I think we should  discuss the order of PRs related to the `cancer_group` update in each repo with @jharenza.

[2021-08-12 17:24] #154 closed

[2021-08-12 18:13] runjin326 opened #162 "Updated analysis: Regenerate Histology Label Color Table"
#### What analysis module should be updated and why?
This file `OpenPedCan-analysis/figures/palettes/histology_label_color_table.tsv` needs to be updated to match samples in the most up-to-date `histologies.tsv` file.

This file is then required in analysis module `gene-set-enrichment-analysis`.

#### What changes need to be made? Please provide enough detail for another participant to make the up

[2021-08-12 18:17] jharenza commented on #96
yes, that is true - and we need more color codes - I think we will still do N >= 5 for plots, too..

[2021-08-12 19:09] ewafula commented on #111
@zhangb1, just for the record. Only 3 cancer types are represented in the  TARGET WXS data.  You mention `Part2`, is there another list for `Part1`?
| TARGET Cancer Type               | Normal | Tumor |
|----------------------------------|--------|-------|
| Acute lymphoblastic leukemia     | 281    | 303   |
| Osteosarcoma                     | 74     | 82    |
| Wilms tumor

[2021-08-12 19:11] jharenza commented on #111
Part 1 was released with v7, AML + NBL. We will do a part 3, which will be remaining ALL, so you should have what you need now.

[2021-08-12 22:00] jharenza opened #163 "Create diagrammatic workflow for OT"
### What needs to be done?
Create a workflow diagram showing the processes from data access to harmonization to releases to module creation/run to outputs - this can be multiple diagrams if needed one for upstream, one for data release, one for modules, etc - however you see fit.

### Who will complete this?

@kgaonkar6

[2021-08-12 22:12] jharenza commented on #152
Note: filenames will also need to be updated

[2021-08-12 22:13] jharenza commented on #152
@runjin326 can you work on part 1 as priority? then, I think @zhangb1 can use this code (part 2) in the toolkit.

[2021-08-12 22:14] jharenza commented on #149
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/77

[2021-08-12 22:14] #149 closed

[2021-08-12 22:24] jharenza commented on #134
Since this PR went in and we have this in #151 , I will close this issue. https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/77

[2021-08-12 22:24] #134 closed

[2021-08-12 22:24] jharenza commented on #94
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/79

[2021-08-12 22:24] #94 closed

[2021-08-12 22:29] jharenza commented on #150
closing this now that we have #158

[2021-08-12 22:29] #150 closed

[2021-08-12 22:29] jharenza commented on #147
closing with #155

[2021-08-12 22:29] #147 closed

[2021-08-12 22:38] afarrel opened #164 "Create and Upload DESeq2 Results TSV and JSONL files to Box for FNL"
#### What data file(s) does this issue pertain to?

DESeq2 Results ran on isilon

#### What release are you using?

v7 (Will rerun with v8)

#### What will be done:

The results from ticket [#76](https://github.com/PediatricOpenTargets/ticket-tracker/issues/76)  and ticket [#74](https://github.com/PediatricOpenTargets/ticket-tracker/issues/74) which used the code written in Pull Request [PR28](htt

[2021-08-12 22:57] runjin326 commented on #152
@jharenza, sure! I will prioritize this and I'll ping you and @zhangb1 when completed!

[2021-08-13 00:00] runjin326 commented on #152
@jharenza, hmm I am getting a bit confused right now. I think the [code in this script](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/3207f152fc762e53fc8aa487e8aa8b2e2d578fa3/analyses/copy_number_consensus_call/scripts/merged_to_individual_files.py#L68-L98) already subset for WGS and only run for those? And I think the [run script already called the right file](https://github.co

[2021-08-13 01:29] jharenza commented on #152
Ahh, ok- I thought @kgaonkar6 did this for v7, but then saw the ticket - so maybe part 1 is complete.

[2021-08-13 13:33] kgaonkar6 opened #165 "Updated analysis: Rerun independent samples modules for v8"
#### What analysis module should be updated and why?

We have added new Target WXS to v8 so we will need to rerun https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/independent-samples to create updated independent-specimens.wgswxspanel.*.tsv files.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Rerun

#### W

[2021-08-13 13:37] kgaonkar6 commented on #152
The code is run on v7 but since we didn't add any more WGS in v8 the files in the `dev` branch is up-to-date.

[2021-08-13 13:51] zhangb1 commented on #111
The somatic analysis has been done, but only get 412 pairs results, one pair failed :
tumor:TARGET-50-PAKGZX-01A-01D
normal:TARGET-50-PAKGZX-10A-01D

https://cavatica.sbgenomics.com/u/d3b-bixu-ops/open-target-target-somatic-mutations-wxs-tumor/tasks/fa9dd283-47dc-4d07-bc7d-d2a15db69284/

by looking at the error and the alignment metrics the  tumor sample. `TARGET-50-PAKGZX-01A-01D` seems NOT a pai

[2021-08-13 14:54] jharenza commented on #111
Thanks @zhangb1 also cc @ewafula to exclude from the v8 histology file

[2021-08-13 15:05] runjin326 opened #166 "V8 release-notes.md update"
#### What analysis module should be updated and why?
release-notes.md
data-files-description.md

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Update both files to contain data release information and update file descriptions.

#### What input data should be used? Which data were used in the version being updated?
v7
release-notes.md
da

[2021-08-13 15:16] zhangb1 commented on #156
[code]
These 3 files have been updated in the s3 bucket:   s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v8/
I will do the data merge and update the md5 later

[2021-08-13 15:28] ewafula commented on #111
@jharenza, I will exclude this pair of tumor and normal and update PR. Question, for the v8 update to filter out wxs samples that are not in @zhangb1 final list of read files from GDC, was I supposed keep all samples on his list or only samples his list with tumor-normal pair?

[2021-08-13 15:39] zhangb1 commented on #160
One question here, We don't have the germline_estimate_gender for the pannel and WXS, the code are using the germline_estimate_gender  column in the histology file.

 how should we handle that ?

@jharenza @kgaonkar6

[2021-08-13 16:19] runjin326 commented on #114
@kgaonkar6, I guess this issue would now be taken cared of by bixops team? And for each release, we just need to make sure to run sub typing *after* the focal-cn is complete?

[2021-08-13 17:00] afarrel opened #167 "Create Mock-up heatmaps for DESeq Differential Expression Results"
#### What are the scientific goals of the analysis?
Create mock-up heat maps for DESeq2 Results

#### What heat maps will you generate?
Gene: All Cancers vs All GTEx
Gene-Disease: 1 Cancer [all cohorts] vs All GTEx
Disease: 1 Cancer: All RMTL vs All GTEx
(Other Ideas)

#### What input data are required for this analysis?
Output results from DESeq module: ticket #164 and #76

#### How long do you e

[2021-08-13 17:12] runjin326 commented on #97
@kgaonkar6, just want to clarify, for this module update, do we just want to update classifier scores file (e.g., `pbta-gene-expression-rsem-fpkm-collapsed.polya_classifier_scores.tsv`) to be cohort specific (i.e., make it to `gene-expression-rsem-fpkm-collapsed.GMKF_classifier_scores.tsv`) or do we want to update all files? (e.g., `loss_overlap_domains_tp53.tsv`, `TP53_NF1_snv_alteration.tsv` etc

[2021-08-13 17:36] zhangb1 commented on #156
while doing the merge, I found this issue haven't been solved .

https://github.com/PediatricOpenTargets/ticket-tracker/issues/81

So I update the GMKF , cnvkit result with the tumor ID, and updated in the cnv-cnvkit.seg.gz file.  s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v8/

@kgaonkar6 @jharenza

[2021-08-13 18:22] zhangb1 commented on #159
seems the GMKF germline gender also missing in the histology file for the WGS data.

I can add that

[2021-08-13 18:48] runjin326 commented on #115
@kgaonkar6, I am not that familiar with GISTIC but does it take WXS samples as well? If so, should we then modify the code to take both `cnv-consensus.seg.gz` and `cnv-cnvkit.seg.gz` and generate results for WGS using the consensus and WXS with the cnvkit?

[2021-08-13 19:09] kgaonkar6 commented on #156
Thanks for pointing that out, I'm rerunning WGS consensus cnv for v8

[2021-08-13 19:35] kgaonkar6 commented on #156
Sorry for the confusion, I think since the code in updated in https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/copy_number_consensus_call  @zhangb1 could rerun the code with the new merged v8 files (which fixes the tumor normal ID for GMKF WGS issues that seems I missed to upload to s3 for v7 )

[2021-08-13 19:48] kgaonkar6 commented on #160
Thanks for checking this our @zhangb1!

 I see some Tumor WXS in PBTA did have gender_sex_estimates in v7 but GMKF WGS didn't have gender-estimates as well. Do we know how some PBTA WXS have the gender_sex_estimates?

[code]

[2021-08-13 19:52] zhangb1 commented on #160
I am adding GMKF WGS gender-estimates in the v8 histology file now.

PBTA WXS I just checked, those are from PNOC003, which has both WGS and WXS data. I am not quite who add that. but maybe use the same gender-estimates as it's WGS . @kgaonkar6

[2021-08-13 19:54] kgaonkar6 commented on #114
Yes that's right! We will have the most up-to-date focal-cn files in the data download from bix-ops and we will have to rerun subtyping per release.

[2021-08-13 20:27] kgaonkar6 commented on #160
Thanks @zhangb1 , do we have a file with the ploidy for the new TARGET WXS?

[2021-08-13 20:32] kgaonkar6 commented on #81
Opening the corrected cnvkit seg file is not in s3

[2021-08-13 20:37] kgaonkar6 commented on #115
hmm good point , I think GISTIC will run successfully using cnv-consensus.seg.gz and cnv-cnvkit.seg.gz

[2021-08-13 20:39] runjin326 commented on #115
Ok! I will update to let it take both files then ;) thanks!

[2021-08-13 20:49] kgaonkar6 commented on #97
We are not doing cohort level analysis here so we don't need to rename the files as *GMKF* etc.

But the rnaseq input files will change from `pbta-gene-expression-rsem-fpkm-collapsed.stranded.rds` and `pbta-gene-expression-rsem-fpkm-collapsed.polya.rds to `gene-expression-rsem-tpm-collapsed.rds`

Additionally,
- Kids_First_Biospecimen_ID that belong to PBTA and GMKF cohorts within the code, or may

[2021-08-13 20:52] runjin326 commented on #97
That makes sense! So what you meant for subsetting for GMKF and PBTA is just to make sure not to include GTEx files right? And yes I agree with separating polyA and stranded since they would likely have different profiles.

[2021-08-13 20:53] kgaonkar6 commented on #111
Hi @ewafula , is there a ticket for all the histology file update for v8? @zhangb1 noticed that GMKF WGS were missing germline_sex_estimate which he has updated now and we would like that to be updated in v8 histologies.tsv file release as well.

[2021-08-13 21:02] ewafula commented on #111
@kgaonkar6, there is no one particular ticker for v8 updates. They are spread over multiple tickets with other issues. Please open one and include a mapping file of `bs_ids to germline_sex_estimate` to update v8/histologies.tsv.  I have made all required updates so far and will update once you open a ticket.

[2021-08-13 22:08] zhangb1 commented on #160
Yes ,here :
[tumor_ploidy_extre_WXS_target.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6985352/tumor_ploidy_extre_WXS_target.txt)

[2021-08-13 22:42] jharenza commented on #159
Cc @ewafula - @zhangb1 if you have this, can you attach to this ticket? Thanks!

[2021-08-13 22:45] jharenza commented on #111
We only have tumor normal methods so far- it may be the case that there is a relapse tumor or primary tumor on his list which we don't have access to but we still have the normal and other tumor, so I think whatever is on the list would be excluded? Cc @zhangb1 to confirm

[2021-08-13 23:57] kgaonkar6 opened #168 "v7 consensus_wgs_plus_cnvkit_wxs_x_and_y.tsv.gz `status== NA` issue"
#### What data file(s) does this issue pertain to?
consensus_wgs_plus_cnvkit_wxs_x_and_y.tsv.gz

#### What release are you using?

v7

#### Put your question or report your issue here.
There are NAs in consensus_wgs_plus_cnvkit_wxs_x_and_y.tsv.gz because germline_sex_estimate is NA and is used in annotating the status for samples [here](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/b

[2021-08-14 05:26] ewafula commented on #159
@

@zhangb1, even if you did update it on your end, can you attach it for me here to update with other v8/histologies.tsv updates.

[2021-08-14 12:35] zhangb1 commented on #159
[GMKF_germline_gender_est.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6986471/GMKF_germline_gender_est.txt)

@ewafula

[2021-08-14 12:39] zhangb1 commented on #111
@jharenza @ewafula

We may keep other not pair samples too. since we did the alignment analysis for those two. just for the record . we may have the paired tumor or normal sample in the future?

[2021-08-16 13:27] zhangb1 commented on #159
@jharenza

when running the `focal-cn-file-preparation` for PBTA and GMKF WGS . there is an error, seem there is the gene_symbol mapping issue between with the gene_id?

[code]

not sure who can help ?

[2021-08-16 13:50] jharenza commented on #159
@runjin326 can you look into this for @zhangb1

[2021-08-16 13:58] jharenza commented on #111
@zhangb1 i guess the list we want is the list of T/N on which we have somatic calls, whether there is N1/T1 and N1/T2. We will keep all info in a separate file, but only those which have somatic data in the v8 histologies file just because it will affect the independent sample selection module. Could you provide that list?

[2021-08-16 13:59] zhangb1 commented on #159
[code]

I use the  OT dev.  repo code.

The inputs for the command is here :
[consensus_seg_with_status.tsv.zip](https://github.com/PediatricOpenTargets/ticket-tracker/files/6992867/consensus_seg_with_status.tsv.zip)
[histologies.tsv.zip](https://github.com/PediatricOpenTargets/ticket-tracker/files/6992877/histologies.tsv.zip)
please unzip the file before running the command

[2021-08-16 14:01] runjin326 commented on #159
@zhangb1, thanks. I will look into this and let you know what the issue is - or what fix it needs.

[2021-08-16 14:12] zhangb1 commented on #111
@jharenza  @ewafula

after removing the one has error, the tota l is 412 pairs. there are some Tumors using the same Normal.

[412_pairs_task_info.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/6992958/412_pairs_task_info.txt)

[2021-08-16 14:19] jharenza commented on #111
Perfect, thank you

[2021-08-16 15:00] runjin326 commented on #159
@zhangb1, @jharenza, ok I figured out what the issue is - so originally we handled all the specimens in the same DataFrame for mapping using `AnnotationDbi::mapIds`. During last update, due to RAM issues, I modified the code to do the mapping per sample. That generates an issue since for some samples, e.g., `BS_1EQGGHHQ`, none of the transcript ENSEMBLE ID in `ensembl` column has a mapped gene sym

[2021-08-16 15:16] ewafula commented on #111
Thanks @zhangb1, I had already removed the problematic pair and update v8
histologies file.

On Mon, Aug 16, 2021 at 10:19 AM Jo Lynne Rokita ***@***.***>
wrote:

[2021-08-16 17:10] zhangb1 commented on #159
Thanks @runjin326 . I can got the results now. Are we going to use per sample or not in the future?  we need to implement the code to our CWL too.  it will be having the same error using the per sample code.

cc ^ @jharenza

[2021-08-16 17:12] runjin326 commented on #159
@zhangb1, I think we don't need to keep the per sample code in the future. It was implemented before only because  sometimes it gets killed due to my local RAM - but now that this would no longer be an issue, we can just keep running it as a batch.

[2021-08-16 17:14] zhangb1 commented on #159
@runjin326  can you merge the code to the OT dev or the master? so when we git the code will be the latest one.

[2021-08-16 17:16] runjin326 commented on #159
@zhangb1, I don't have merge privilege but maybe once you are done with generating the files, you can open a PR and assign me and @jharenza as reviewers and if everything looks good, @jharenza can merge it?

[2021-08-16 17:18] jharenza commented on #135
hi @komalsrathi - can you take this ticket?

[2021-08-16 17:19] zhangb1 commented on #159
@runjin326 I think you may need to open an PR. since you will change the code?  if I am not mistaken.

[2021-08-16 17:20] runjin326 commented on #159
@zhangb1, ok I will!

[2021-08-16 17:23] komalsrathi commented on #135
I am not familiar (at all) with this module so I will have to go through it. When do we need this by?

[2021-08-16 18:00] logstar opened #169 "Updated analysis: subset each-cohort independent primary tumor RNA-seq samples in `tumor-gtex-plots` module"
#### What analysis module should be updated and why?

The `tumor-gtex-plots` module should be updated to subset each-cohort independent primary tumor RNA-seq samples before generating plots/results. The motivation is to have only one primary tumor RNA-seq sample for each patient of each cohort in the plots/results.

The list of each-cohort independent primary tumor RNA-seq samples (`analyses/indep

[2021-08-16 19:51] jharenza opened #170 "Add tumor gtex plot code to api repo"
#### What has to be done?
Add https://github.com/PediatricOpenTargets/OpenPedCan-exprs-shinyapp code to https://github.com/PediatricOpenTargets/OpenPedCan-api

#### What release are you using?

v7

#### Who will do this?
@komalsrathi

cc @blackdenc @taylordm @chinwallaa

[2021-08-16 19:56] zhangb1 commented on #159
This work has been done , the code works , I think we can close this ticket

[2021-08-16 19:56] #159 closed

[2021-08-16 19:57] zhangb1 commented on #160
WXS cnvkit annotation also done , this can be close too

[2021-08-16 19:57] #160 closed

[2021-08-16 20:00] zhangb1 commented on #161
The data has been merged and copy to V8 :
as long as the cnvkit , controlfreec and maf merged files ., md5 also updated

[code]

[2021-08-16 20:06] komalsrathi commented on #170
@jharenza Ok just realized, I had made all the new changes to the OpenPedCan module but not to the shiny app (plot output is fine but need to update the tsv output). I will update the shiny app code by end of this week and add to the repo.

[2021-08-16 20:09] logstar opened #171 "Updated analysis: use each-cohort and all-cohorts independent sample lists used in `tumor-gtex-plots` module"
#### What analysis module should be updated and why?

The `tumor-gtex-plots` module should be updated to use each-cohort independent sample list (ISL) for each-cohort plots/results and use all-cohorts ISL for all-cohorts plots/results.

This issue needs to be coordinated with the following two issues.

- <https://github.com/PediatricOpenTargets/ticket-tracker/issues/135>. The completion of issue 1

[2021-08-16 20:16] jharenza commented on #161
cc @runjin326 @logstar @afarrel

[2021-08-16 21:16] runjin326 commented on #161
Merged file uploaded to S3 and file name change already merged.

[2021-08-17 13:14] zhangb1 commented on #156
This has been done in the v8 release.

[2021-08-17 13:14] #156 closed

[2021-08-17 14:41] logstar opened #172 "Updated analysis: Rerun `long-format-table-utils/annotator` for v8 data release"
#### What analysis module should be updated and why?

The `long-format-table-utils/annotator` should be updated for v8 `ensg-hugo-rmtl-mapping.tsv`, after the following issue is closed.

- <https://github.com/PediatricOpenTargets/ticket-tracker/issues/151>

#### What changes need to be made? Please provide enough detail for another participant to make the update.

- [x] Download v8 data.
- [x] Rer

[2021-08-17 14:53] logstar opened #173 "Updated analysis: Rerun `snv-frequencies` module for v9 data release"
#### What analysis module should be updated and why?

The `snv-frequencies` module should be updated for v9 data release, after the following issues are closed.

- <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/103>
- <https://github.com/PediatricOpenTargets/ticket-tracker/issues/151>
- <https://github.com/PediatricOpenTargets/ticket-tracker/issues/172>
- <https://github.com/Ped

[2021-08-17 20:43] migbro commented on #99
1) Replicate hist i and gtex i slurm array submission (from @afarrel ) as a scatter tool in cavatica - expression tool or simple shell - save output as array of int?
2) Update cavatica tool to pull R script from git instead, then run - @sickler-alex can help here. Scatter in input hist and gtex array
3) Tool to collate results

[2021-08-18 13:46] komalsrathi commented on #170
@blackdenc I just pushed the app code to the repo under the branch `shiny-app`. Please let me know if you have Qs.

[2021-08-18 13:56] komalsrathi commented on #135
@logstar I will start working on this ticket today, will let you know reg. any questions.

[2021-08-18 13:56] komalsrathi commented on #171
Will tackle in this order: 135 -> 169 -> 171

[2021-08-18 14:50] logstar commented on #135
Thank you. We could also cc @runjin326 for the questions. She had updated the `independent-samples` module several times.

I think before v9 release seems to be a practical plan. @jharenza I wonder if you have any suggestion on the timeline.

[2021-08-18 14:56] kgaonkar6 opened #174 "merge PNOC WXS and additional 24 PNOC003 WGS to existing SNV and CNV files and update histologies.tsv"
#### What data file(s) does this issue pertain to?
cnv-cnvkit.seg.gz
cnv-controlfreec.tsv.gz
snv-consensus-plus-hotspots.maf.tsv.gz
histologies.tsv

#### What release are you using?

after v8?

#### Put your question or report your issue here.
Add the remaining PNOC samples

For PNOC003 the BS ID list is :
[code]

TBD PNOC008 sample list

[2021-08-18 17:31] jharenza commented on #174
let's include this for v9 release cc @runjin326

[2021-08-18 20:33] runjin326 opened #175 "Updated analysis: re-run fusion filtering module for v8 release"
#### What analysis module should be updated and why?
Re-run of fusion-filtering module.
With the v8 release, we consolidated some broad_histology terms for TARGET samples as described in this ticket (https://github.com/PediatricOpenTargets/ticket-tracker/issues/136) - and hence `fusion-putative-oncogenic.tsv` will be updated as well.

#### What changes need to be made? Please provide enough detail

[2021-08-19 12:14] komalsrathi commented on #135
@logstar so just clarifying - the numbers for the second test i.e. `Only compare Kids_First_Participant_IDs that are duplicated in each_cohort_df` **should remain the same as what we have now** but for the first test i.e. `Do not compare Kids_First_Participant_IDs that are duplicated in each_cohort_df`, it should give us all TRUE?

[2021-08-19 13:42] runjin326 commented on #148
Implemented in v8 histologies file.

[2021-08-19 13:44] runjin326 commented on #168
This has been fixed in V8 histologies file - additionally, the v8 release of `consensus_wgs_plus_cnvkit_wxs_x_and_y.tsv.gz` already implemented the germline sex estimate - and all the status==NA comes from WXS samples (which is expected).

[2021-08-19 14:11] jharenza commented on #135
Sorry for the delay, having this for v9 seems reasonable.  V8 should be out this week.

[2021-08-19 14:15] kgaonkar6 commented on #168
Thanks for the update @runjin326

However, I believe we need to remove all status==NA in the cnv files. For WGS the GMKF germliner_sex_estimate fixes majority of the issue of WGS xy calls but in general we remove the NAs [here](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/1956d0dc705fa6204bd672de24e895063d78bfbe/analyses/focal-cn-file-preparation/02-add-ploidy-consensus.Rmd#L75

[2021-08-19 14:19] runjin326 commented on #168
@kgaonkar6, thanks for clarifying this and I just reopened this! So you meant maybe we should add another line of code to remove all WXS samples with status ==NA?

[2021-08-19 14:24] jharenza commented on #168
@kgaonkar6 - were these left in for v7? I believe @migbro just set them to 0 for pedcbio to be aligned with GISTIC no copy change calls. I think we want to keep these in because we would want these to simulate a full, not partial seg file.

Additionally, for chromothripsis analysis, we may need these regions available for recoding to infer CN oscillation events. So, if the only reason to remove is

[2021-08-19 14:33] kgaonkar6 commented on #168
Hmm so the status==NA in XY chromosomes in WXS samples is because the germline_sex_estimate is not available for WXS and thus a status cannot be assigned using the logic here, not because there is no copy change in the region I believe:

https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/1956d0dc705fa6204bd672de24e895063d78bfbe/analyses/focal-cn-file-preparation/02-add-ploidy-consens

[2021-08-19 15:00] logstar commented on #135
Thank you for checking @komalsrathi

The numbers for the second test may also change, if all-cohort ISL `Kids_First_Biospecimen_ID`s for duplicated `Kids_First_Participant_ID` are selected differently by randomness.

! Sorry that I forgot to add output of the first test. I have just updated the description. The first test does not give us all TRUE.

[2021-08-19 15:31] komalsrathi commented on #135
Ok, so I made a small change in the independent-samples.R and independent_rna_samples.R codes: instead of using the `sample` function which randomly selects 1 out of all duplicates, we can just use `dplyr::distinct` which will use the first occurence of the duplicated KF participant id. So using that here are the numbers:

### Only compare Kids_First_Participant_IDs that are duplicated in each_coh

[2021-08-19 16:15] logstar commented on #135
Thank you for the quick updates @komalsrathi .

Selecting the first distinct `Kids_First_Biospecimen_ID` fulfills the requirements in this issue. This will guarantee that we have the same `Kids_First_Biospecimen_ID` for every `Kids_First_Participant_ID` that is in only one cohort. This will also guarantee that `Kids_First_Biospecimen_ID`s are selected from multiple cohorts for every `Kids_First_Pa

[2021-08-19 16:42] komalsrathi commented on #135
If selection bias is an issue, we can always randomize the histology rows prior to using them as input for the module.:

[code]

[2021-08-19 16:53] logstar commented on #135
Thank you for the suggestion. Randomizing the histology data frame rows should work and remove the selection biases! This will also avoid all the proposed refactoring work. Awesome solution to this issue!

I think we could still aim for v9 release, even though we may be able to rush this update into v8. @jharenza I wonder if you have any suggestions.

[2021-08-19 16:58] komalsrathi commented on #135
One more suggestion, to keep it reproducible across releases, we can randomize using a seed:

[code]

[2021-08-19 16:59] logstar commented on #135
Thank you for the suggestion. I agree. This will also reproduce the same results in different runs of the same release.

[2021-08-19 17:31] runjin326 opened #176 "V8 histologies file broad_histology update"
#### What data file(s) does this issue pertain to?
v8 histologies.tsv

#### What release are you using?

Some of the broad_histology columns for TARGET samples are not consistent with what we have for other samples. Modifications needed.

#### Put your question or report your issue here.
Please modify the following:
`Embryonal tumors` to `Embryonal tumor`
`Mesenchymal, non-meningothelial tumors` t

[2021-08-19 17:35] jharenza commented on #176
We can do that

[2021-08-19 18:05] jharenza commented on #135
thanks for the updates and discussion @komalsrathi and @logstar  - this solution sounds good to me. If you are ready with this, we can coordinate with @runjin326 for having these files added to the v8 release, sure!

[2021-08-19 18:05] jharenza commented on #168
Ahh, I see - in this case, I think we probably ought to use the `gender` or `germline_sex_estimate` from the matching WGS files. We should create a new ticket for this and implement in the module for v9. I believe @zhangb1 mentioned he had used the WGS `germline_sex_estimate` for these samples during some part of his analysis... @zhangb1 can you remind me if this is where you had implemented that,

[2021-08-19 18:08] komalsrathi commented on #135
Sure, I will push the code in a few. Thanks!

[2021-08-19 18:10] runjin326 commented on #135
Thanks, @komalsrathi and @logstar! I will add this change to the v8 release task list and we can incorporate the change with v8.

[2021-08-19 18:26] logstar commented on #135
Hi @komalsrathi . Thank you for preparing the PR for v8 release. Could you use <https://s3.amazonaws.com/kf-openaccess-us-east-1-prd-pbta/open-targets/v8/histologies.tsv> in `run-independent-samples.sh` like the following code, so the results will be ready for v8 release as well?

[code]

[2021-08-19 18:48] jharenza commented on #135
just want to note we need to do another update of the v8 histologies file, so this won't be ready yet - #176. Perhaps @runjin326 can take care of the rerun once this code is in so that everything is in order.

[2021-08-19 18:53] logstar commented on #135
Thank you for the note. I agree.

@komalsrathi could open the PR with `../../data/histologies.tsv`. We will review the PR and merge, which I estimate could be done by today or early tomorrow. Then, @runjin326 could rerun with the updated v8 `histologies.tsv`.

@komalsrathi Sorry for the back-and-forth. Could you use v7 `../../data/histologies.tsv` in the PR for this issue?

[2021-08-19 18:54] runjin326 commented on #135
Thanks @logstar and @jharenza. The plan sounds good!

[2021-08-19 20:53] jharenza opened #177 "Updated analysis: focal cn file preparation to add sex/gender for WXS samples missing info"
#### What analysis module should be updated and why?
`focal-cn-file-preparation`, specifically:

https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/4e0cba65397e2301dc505297d2d9113f43def7b1/analyses/focal-cn-file-preparation/01-add-ploidy-cnvkit.Rmd#L57-L71

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Per [this issue](htt

[2021-08-19 20:57] jharenza commented on #113
assigning to @ewafula cc @afarrel

@ewafula you can make a branch off of this PR to work on this: https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89

[2021-08-19 21:57] logstar opened #178 "Updated analysis: Rerun `rna-seq-expression-summary-stats` module for v9 data release"
#### What analysis module should be updated and why?

The `rna-seq-expression-summary-stats` module should be updated for v9 data release, after the following issues are closed.

- <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/103>
- <https://github.com/PediatricOpenTargets/ticket-tracker/issues/151>
- <https://github.com/PediatricOpenTargets/ticket-tracker/issues/172>
- <https

[2021-08-19 23:35] logstar commented on #151
v8 `ensg-hugo-rmtl-mapping.tsv` will be updated to include all gene symbol and ENSG ID mappings in v7 `ensg-hugo-rmtl-mapping.tsv`.

I will open a PR in <https://github.com/d3b-center/D3b-codes> to implement this. I estimate this PR will be merged tomorrow morning.

[2021-08-19 23:41] runjin326 commented on #151
@logstar, so on top of the changes mentioned in[ this ticket ](https://github.com/PediatricOpenTargets/ticket-tracker/issues/146 ) (which was taken cared of by this merge https://github.com/d3b-center/D3b-codes/pull/45 I thought), we will do additional modifications on this file?

[2021-08-19 23:45] logstar commented on #151
Correct. I will cc you on the upcoming PR.

[2021-08-20 12:19] komalsrathi commented on #171
Hi @logstar I am slightly confused - what is the difference between this issue and #169?

[2021-08-20 14:54] logstar commented on #171
The difference is that this issue use all-cohorts independent sample lists for generating `all_cohorts` results/plots. This issue and #169 both use each-cohort independent sample list for generating each-cohort, e.g. `cohort_name == GMKF`, results/plots.

With <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/92> merged, #169 could be skipped.

[2021-08-20 14:56] logstar commented on #135
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/92> merged.

[2021-08-20 14:56] #135 closed

[2021-08-20 17:36] runjin326 opened #179 "Updated analysis: arrange by Kids_First_Biospecimen_ID first before writing files"
#### What analysis module should be updated and why?
Independent samples module

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Add `%>% arrange()` to the data frame before writing it to allow easier comparison between releases.

#### What input data should be used? Which data were used in the version being updated?
v8
histologies.tsv

#

[2021-08-20 19:48] runjin326 commented on #179
This issue was addressed by https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/90

[2021-08-21 15:48] jharenza opened #180 "Updated analysis: tumor-gtex-plots to include a plot of all tumor groups per cancer type"
#### What analysis module should be updated and why?
`tumor-gtex-plots`

Per FNL's, John Maris's, and Sharon Diskin's suggestions, add another plot view which includes `all_cohorts`, `cohort_cancer_group_1`, `cohort_cancer_group_2`, etc

For example, see box file https://nih.box.com/s/vun4nl8d124p4a28wuf1xbv3ts15h99y - Option 1

#### What changes need to be made? Please provide enough detail for a

[2021-08-22 14:15] runjin326 commented on #111
Closed with [PR89](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89)

[2021-08-22 14:15] #111 closed

[2021-08-22 14:15] runjin326 commented on #148
Close with [PR89 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89)

[2021-08-22 14:15] #148 closed

[2021-08-22 14:16] runjin326 commented on #136
Close with [PR89 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89)

[2021-08-22 14:16] #136 closed

[2021-08-22 14:16] runjin326 commented on #176
Close with [PR89 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89)

[2021-08-22 14:16] #176 closed

[2021-08-22 14:17] runjin326 commented on #168
Close with [PR89](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89) for now - the remaining issue will be addressed in [ticket 177](https://github.com/PediatricOpenTargets/ticket-tracker/issues/177)

[2021-08-22 14:17] #168 closed

[2021-08-22 14:18] runjin326 commented on #165
Close with [PR89 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89).

[2021-08-22 14:18] #165 closed

[2021-08-22 14:18] runjin326 commented on #179
Close with [PR89 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89).

[2021-08-22 14:18] #179 closed

[2021-08-22 14:18] runjin326 commented on #166
Close with [PR89 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89).

[2021-08-22 14:18] #166 closed

[2021-08-22 14:18] runjin326 commented on #175
Close with [PR89 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89).

[2021-08-22 14:18] #175 closed

[2021-08-22 14:19] runjin326 commented on #161
Close with [PR89 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89).

[2021-08-22 14:19] #161 closed

[2021-08-22 14:34] runjin326 commented on #152
Close with [PR89](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89)

[2021-08-22 14:34] #152 closed

[2021-08-22 18:08] runjin326 commented on #81
Close with PR89 (https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89)

[2021-08-22 18:08] #81 closed

[2021-08-22 18:08] runjin326 commented on #151
Closing with [PR89] (https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89)

[2021-08-22 18:08] #151 closed

[2021-08-23 15:53] komalsrathi opened #181 "White spaces in cancer types (EFO-MONDO-MAP)"
#### What data file(s) does this issue pertain to?

efo-mondo-map.tsv

#### What release are you using?

v8

#### Put your question or report your issue here.

EFO MONDO map has white spaces in a few cancer types so mapping to other tsv files on these cancer types returns NULL:

[code]

[2021-08-23 16:19] logstar commented on #181
Thank you for catching the white spaces, @komalsrathi !

@runjin326 I wonder if it is still possible to update v8 `efo-mondo-map.tsv` to remove the white spaces described in this issue.

@komalsrathi One quick fix is to use `readr::read_tsv` to read `efo-mondo-map.tsv`, as `readr::read_tsv` trims leading and tailing white spaces by default.

`annotator` uses `readr::read_tsv` to read `efo-mondo-ma

[2021-08-23 16:22] runjin326 commented on #181
@logstar, I think what @jharenza mentioned before is that after we merge the release-note and the download script, we normally wouldn't update anything in the S3 bucket and all other fixes would be included in v9. Does that sound right, @jharenza?

[2021-08-23 16:33] logstar commented on #181
Thank you for the quick reply. I wonder if you could remove the white spaces in v9.

For any `efo-mondo-map.tsv` use case that is affected by these white spaces before v9, the use case code could be updated to trim the white spaces.

[2021-08-23 16:34] komalsrathi commented on #181
@logstar Thank you for the workaround, I will use that in my code.

[2021-08-23 16:35] runjin326 commented on #181
Sure I will take note of that and fix that in v9.

[2021-08-23 16:42] runjin326 commented on #145
Close with [PR89](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/89)

[2021-08-23 16:42] #145 closed

[2021-08-23 17:35] jharenza commented on #181
@komalsrathi this may have been taken care of with the annotator - have you tried running that cc @logstar

[2021-08-23 18:23] komalsrathi commented on #181
Oh okay, I don't run the annotator in the shiny app and do a merge with the `efo-mondo-map.tsv` and `ensg-hugo-rmtl-mapping.tsv` within the code (to make it less complicated) - but it is working with the readr::read_tsv function so if you want we can close this.

[2021-08-23 20:03] afarrel opened #182 "Update EFO MONDO file with EFO IDs"
#### What data file(s) does this issue pertain to?

efo-mondo-map.tsv

#### What release are you using?

v8/v9

#### Put your question or report your issue here.

Update  EFO/MONDO designations in efo-mondo-map.tsv
Assign all EFO IDs based on information from Open Targets and OLS. (EFO ID may start with "MONDO_######", etc)

#### Who will work on this:

@sangeetashukla  and @afarrel

[2021-08-23 20:28] logstar commented on #171
Hi @komalsrathi . I added `blocked` label to this issue, because the `tumor-gtex-plots` module development/maintenance will temporarily be suspended. The `tumor-gtex-plots` module will be updated at a later point to switch from R API to javascript boxplots.

The code in `tumor-gtex-plots` will be used to develop an R API at <https://github.com/PediatricOpenTargets/OpenPedCan-api> by @taylordm and

[2021-08-23 20:29] logstar commented on #169
Hi @komalsrathi . Same note as in #171 .

[2021-08-24 11:23] komalsrathi commented on #180
@jharenza So I am thinking there could be two types in this combined plot, right?:

For each gene, say MYCN:

1) cohort + cancer group level: `GMKF NBL`, `TARGET NBL`, `TARGET ALL`, `TARGET AML` ..., `GTEx Adipose`, `GTEx Brain` ...
2) cancer group level: `NBL`, `ALL`, `AML` ... , `GTEx Adipose`, `GTEx Brain` ...

[2021-08-24 12:18] jharenza commented on #180
It would only be specific to a cancer group - this plot would be "combined (all NBL), TARGET NBL, GMKF NBL, GTEX..."

[2021-08-24 12:27] komalsrathi commented on #180
Oh okay, so this combined plot will ONLY get generated for Neuroblastoma (as of `v8`) as this cancer group is overlapping in `> 1 cohort`.

[2021-08-24 13:38] jharenza commented on #180
That's a good point - at the moment, yes.

[2021-08-24 18:24] logstar commented on #172
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/93> merged.

[2021-08-24 18:24] #172 closed

[2021-08-24 18:37] runjin326 commented on #181
Closing since using 'readr::read_tsv function' this is no longer an issue.

[2021-08-24 18:37] #181 closed

[2021-08-25 02:24] afarrel commented on #167
[HM_ALK_NBL_Test.pdf](https://github.com/PediatricOpenTargets/ticket-tracker/files/7043175/HM_ALK_NBL_Test.pdf)
[HM_Test_All_ALK_Cluster.pdf](https://github.com/PediatricOpenTargets/ticket-tracker/files/7043177/HM_Test_All_ALK_Cluster.pdf)
[HM_Test_All_ALK.pdf](https://github.com/PediatricOpenTargets/ticket-tracker/files/7043178/HM_Test_All_ALK.pdf)

@jharenza @logstar @sangeetashukla

This is low

[2021-08-25 06:12] afarrel commented on #167
[HM_Test_RMTL_Disease_NBL_2.pdf](https://github.com/PediatricOpenTargets/ticket-tracker/files/7044073/HM_Test_RMTL_Disease_NBL_2.pdf)

Up-regulated Relevant Molecular Targets for a Disease - Likely fo Disease Page

[2021-08-25 15:32] runjin326 commented on #140
@logstar, I think I need some clarifications about this ticket. Do you meant we want to run [this section](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/61e23154a34e1d8b3fc1c50a67dd8f79c2067776/analyses/fusion-frequencies/01-fusion-frequencies.R#L202-L240) with ISLs for all cohorts and output a separate table with all cohorts? Or do you want additional [columns in this function]

[2021-08-25 15:53] logstar commented on #140
@runjin326 Thank you for the questions.

Not exactly. You can implement this issue in the way that you prefer. Although it seems an `if (is_all_cohorts) { ... } else {...}` statement around [this code section](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/61e23154a34e1d8b3fc1c50a67dd8f79c2067776/analyses/fusion-frequencies/01-fusion-frequencies.R#L216-L218) is sufficient, I reco

[2021-08-25 17:21] runjin326 opened #183 "v9 release"
#### What data file(s) does this issue pertain to?
- [x] efo-mondo-map.tsv
- [x] release-notes.md and data-files-description.md

#### What release are you using?

v8

#### Put your question or report your issue here.
- Update EFO MONDO file with EFO IDs (https://github.com/PediatricOpenTargets/ticket-tracker/issues/182)

[2021-08-26 19:23] jharenza opened #184 "Create new bucket, migrate data, update download data path"
We need to move this data to a different payment account, so we are creating a new bucket [here](https://github.com/d3b-center/aws-infra-d3b-accounts/pull/196), [copying the data over](https://d3b.atlassian.net/browse/DM-213), will create a PR and test here, then delete the old bucket.

Who will complete this?
@blackdenc @chris-s-friedman and @jharenza

[2021-08-27 16:24] aadamk opened #185 "Proposed Analysis: Evaluation of RUVseq by MYCN subtype in NBL"
#### What are the scientific goals of the analysis?

Evaluation of RUVSeq batch correction per the discussion in https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/74, with the goal of determining the generalizability of the negative control gene set from [first-pass DGE analysis](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/rna-seq-protocol-ruvseq/re

[2021-08-30 12:22] zdorman opened #186 "Update readme of fused gene and fusion data"
#### What data file(s) does this issue pertain to?

`putative-oncogene-fusion-freq.jsonl` and `putative-oncogene-fused-gene-freq.jsonl`

#### What release are you using?

v7

#### Put your question or report your issue here.

Please update the documentation for the [Fusion Frequencies](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/tree/dev/analyses/fusion-frequencies) analyses. In pa

[2021-08-30 13:16] aadamk commented on #185
Sounds good.

I agree with restricting to high-risk/stage 4 and will adjust the ticket steps above.

Should the primary data source for assigning mycn amplification status then be the cnvkit focal-cn-preparation output file (since TARGET is WXS), assigning mycn amplification based on a minimum of 8 copies per the linked ticket?

[2021-08-31 03:39] afarrel commented on #182
[efo-mondo-map_NEW.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/7080883/efo-mondo-map_NEW.xlsx)

Hi @sangeetashukla and @jharenza
I took at look at the list Sangeeta put together and the original list and looked up the EFO codes from OLS and the OpenTargets platform. The 'NEW' codes are in Column E Some are missing with notes and I have specific questions below so we can deci

[2021-08-31 16:39] kgaonkar6 opened #187 "Updated analysis: fusion-frequencies with correct format json"
#### What analysis module should be updated and why?
fusion-frequencies

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Here I had just piped the updated `annotated_m_fus_freq_tbl` to write_tsv here:
https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dfc41e2a4f4566c95f5e6a4ea30f3f2aa510b291/analyses/fusion-frequencies/01-fu

[2021-08-31 18:42] logstar commented on #157
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/83> merged.

[2021-08-31 18:42] #157 closed

[2021-09-01 00:53] jharenza commented on #183
The efo mondo mapping file is now located here: https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/efo-mondo-mapping/results/efo-mondo-map.tsv

[2021-09-01 00:53] jharenza commented on #182
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/99 merged

[2021-09-01 00:53] #182 closed

[2021-09-01 15:14] runjin326 opened #188 "v10 release"
#### What data file(s) does this issue pertain to?
- [x] histologies.tsv
- [x] cnv-cnvkit.seg.gz
- [x] cnv-controlfreec.tsv.gz
- [x] cnv-consensus.seg.gz
- [x] cnv-consensus-gistic.zip
- [x] efo-mondo-mapping.tsv
- [x] ensg-hugo-pmtl-mapping.tsv
- [x] fusion-arriba.tsv.gz
- [x] fusion-starfusion.tsv.gz
- [x] fusion-putative-oncogenic.tsv
- [x] tcga-gene-counts-rsem-expected_count-collapsed.rds
- [

[2021-09-01 15:25] logstar opened #189 "Updated analysis: Delete EFO and MONDO columns in `pedot-table-column-display-order-name.xlsx`"
#### What analysis module should be updated and why?

The `pedot-table-column-display-order-name` module should be updated to Remove `EFO` and `MONDO` columns in `pedot-table-column-display-order-name.xlsx`. Then, upload the updated xlsx file to box folder, with the same filename.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Remove E

[2021-09-01 15:34] logstar opened #190 "Updated analysis: Rerun `pedot-table-column-display-order-name` for v9 JSONL files"
#### What analysis module should be updated and why?

The `pedot-table-column-display-order-name` should be rerun for v9 JSONL files, in order to incorporate fusion table changes.

This issue is blocked util all v9 JSONL files are all generated.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Rerun using v9 JSONL files as input.

#### W

[2021-09-01 16:31] logstar commented on #91
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/45> merged.

[2021-09-01 16:31] #91 closed

[2021-09-01 16:44] logstar commented on #173
@ewafula FYI, the following `01-snv-frequencies.R` code could be used as the starting point for implementing the first change listed in the issue, i.e. "Refactor `analyses/snv-frequencies/01-snv-frequencies.R` to use `annotator` for adding `Protein_RefSeq_ID` and `Gene_full_name`."

[code]

[2021-09-01 17:29] runjin326 commented on #183
Close with [PR93](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/103)

[2021-09-01 17:29] #183 closed

[2021-09-01 17:37] logstar commented on #173
@ewafula To implement <https://github.com/PediatricOpenTargets/ticket-tracker/issues/137>. You could use Run's fusion table updates as reference, <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/96>.

[2021-09-01 17:41] ewafula commented on #173
Thank you, @logstar. I'll ping on slack in case I need additional clarification on both the SV and TPM tables.

[2021-09-01 17:43] logstar commented on #178
To implement <https://github.com/PediatricOpenTargets/ticket-tracker/issues/138>, you could start with the following points

- Update all code that is affected by having an additional [`rna_idps_df` variable](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/afbd6c6c6d9c61db6a4bec01962f7ddccabea6fa/analyses/rna-seq-expression-summary-stats/01-tpm-summary-stats.R#L380-L383).
- Update

[2021-09-01 17:44] jharenza commented on #184
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/97

[2021-09-01 17:44] #184 closed

[2021-09-01 17:45] jharenza commented on #119
closing this, as we do not want to implement

[2021-09-01 17:45] #119 closed

[2021-09-01 18:00] jharenza commented on #180
@logstar - do you think we should close this, as we are now implementing within the api and not in the module?

[2021-09-01 18:05] logstar commented on #180
@jharenza Thank you for asking. I agree. I think we could close this PR. If PedOT starts a transition to use pre-generated static images and tables, we could reopen this issue.

[2021-09-01 18:55] runjin326 opened #191 "Update long-format-table-utils test files"
#### What analysis module should be updated and why?
The test files in the `long-format-table-utils` needs to be updated since new EFO code for `meningioma` was implemented in the new v9 release.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1. In the test file: change meningioma EFO code from `EFO_0003851` to `Orphanet_2495`
2. Run ba

[2021-09-01 19:57] runjin326 commented on #191
Closed with [PR105](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/105)

[2021-09-01 19:57] #191 closed

[2021-09-01 19:58] #186 closed

[2021-09-02 15:40] runjin326 commented on #187
Closing with [PR101](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/101) merged.

[2021-09-02 15:40] #187 closed

[2021-09-02 17:12] runjin326 commented on #178
Closing with [PR106](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/106) and lintr testing passed.

[2021-09-02 17:12] #178 closed

[2021-09-02 17:18] logstar commented on #138
Closed with <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/106> merged.

[2021-09-02 17:18] #138 closed

[2021-09-02 18:55] bmennis commented on #158
@jharenza @afarrel, do we have the target and bait interval bed files for these samples?

[2021-09-02 19:27] jharenza commented on #158
cc @ewafula on this

[2021-09-03 00:42] jharenza opened #192 "v9 histologies file has `known` germline_sex_estimate`"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v9

#### Put your question or report your issue here.
The levels of `germline_sex_estimate` are below, but `known` should not be one of them.
[code]

Please investigate @ewafula

[2021-09-03 01:48] ewafula commented on #192
@zhangb1, here  `GMKF germline sex estimate file` I obtained from you to update the v8 histologies file. @jharenza wants you to investigate why some records have `known` instead of `Male` or `Female`.
[GMKF_germline_gender_est.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7102803/GMKF_germline_gender_est.txt)

[2021-09-03 12:17] zhangb1 commented on #192
@jharenza @ewafula

the known should be all Unknown, sorry ,when I replace the format, somehow the `Un` got missed in the txt file.
I upload the correct one for GMKF germline gender...

[GMKF_germline_gender_est_unknown.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7105770/GMKF_germline_gender_est_unknown.txt)

[2021-09-03 13:47] jharenza commented on #192
Thanks for clarifying @zhangb1! @ewafula can you add this as an update needed for the v10 histologies file?

[2021-09-03 13:49] ewafula commented on #192
Sure, I will make the update.

On Fri, Sep 3, 2021 at 9:47 AM Jo Lynne Rokita ***@***.***>
wrote:

[2021-09-03 20:08] jharenza commented on #174
@kgaonkar6 shouldn't there also be RNA-Seq for PNOC dataset2?

[2021-09-08 13:03] runjin326 opened #193 "Updated analysis: Independent Sample Selection"
#### What analysis module should be updated and why?

Independent sample module - to be updated so that we preferentially select WXS tumor samples when WGS and WXS are available for a particular participant.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

In the step for selecting samples, instead of doing a [`distinct` call ](https://g

[2021-09-08 13:29] jharenza commented on #177
closed with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/95

[2021-09-08 13:29] #177 closed

[2021-09-08 13:29] jharenza commented on #86
@kgaonkar6 - this can be closed, correct?

[2021-09-08 13:30] #180 closed

[2021-09-08 13:30] #170 closed

[2021-09-08 14:30] kgaonkar6 commented on #86
Yes, the issue of excessive deep del in chrX was resolved with manta FILTER==PASS in #1114

[2021-09-08 14:30] #86 closed

[2021-09-08 15:17] runjin326 opened #194 "Merge Remaining TARGET ALL WXS to current SNV and CNV files"
What data file(s) does this issue pertain to?

- cnv-cnvkit.seg.gz
- cnv-controlfreec.tsv.gz
- snv-consensus-plus-hotspots.maf.tsv.gz

What release are you using?
v9

Put your question or report your issue here.
Please merge the remaining TARGET WXS samples to the current CNV and SNV files once harmonization is complete (https://github.com/PediatricOpenTargets/ticket-tracker/issues/158).

This can

[2021-09-08 15:25] jharenza commented on #194
@zhangb1 fyi the focal CN prep module is updated now for adding WXS germline sex based on either WGS or reported gender, so can you do another pull of that from this repo before generating the consensus cnv file? Thanks!

[2021-09-08 15:30] runjin326 opened #195 "Updated analysis: CNV frequencies module to retain only distinct entries"
#### What analysis module should be updated and why?
CNV frequencies module to contain only distinct entries.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Currently, the output of the CNV frequency module contains non-distinct entries.
Please add one line of `distinct` call before writing the `tsv` and `json` file and re-generate the

[2021-09-08 15:31] zhangb1 commented on #194
@jharenza  , it's in the  https://github.com/PediatricOpenTargets/OpenPedCan-analysis this github repo right ?

[2021-09-08 15:41] jharenza commented on #194
Yes!

[2021-09-08 15:51] runjin326 opened #196 "Generate CNV consensus file once PNOC and remaining TARGET WXS merged"
What data file(s) does this issue pertain to?

- cnv-consensus.seg.gz
- consensus_wgs_plus_cnvkit_wxs_autosomes.tsv.gz
- consensus_wgs_plus_cnvkit_wxs_x_and_y.tsv.gz
- consensus_wgs_plus_cnvkit_wxs.tsv.gz

What release are you using?
v10
- cnv-cnvkit.seg.gz
- cnv-controlfreec.tsv.gz

Put your question or report your issue here.
1) Pull the most up-to-date `focal-cn-file-preparation` module (as men

[2021-09-08 16:19] runjin326 commented on #193
@jharenza, @logstar, actually I was wrong about randomly choosing any sample - according to the [current code in here](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/0e3548fa294949734cdae9e1322722b19d02e0eb/analyses/independent-samples/01-generate-independent-specimens.R#L99-L123), we actually preferentially select WGS tumor over WXS and panel. And the `distinct` call is actually

[2021-09-08 16:38] runjin326 commented on #137
Closing with[ PR107](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/107) merged.

[2021-09-08 16:38] #137 closed

[2021-09-08 16:39] runjin326 commented on #139
Closing with [PR98 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/98) merged

[2021-09-08 16:39] #139 closed

[2021-09-08 16:40] runjin326 commented on #140
Closing with [PR96](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/96) left

[2021-09-08 16:40] #140 closed

[2021-09-08 16:41] runjin326 commented on #173
Closing with [PR107](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/107) merged.

[2021-09-08 16:41] #173 closed

[2021-09-08 16:42] zdorman opened #197 "Edit fields of Somatic Mutation JSONL files for OT compatibility"
#### What data file(s) does this issue pertain to?
Somatic Mutation JSONL files shared with FNL:
[code]

#### What release are you using?

v9

#### Put your question or report your issue here.

In order to ingest CHoP somatic mutation data into the Open Targets ETL pipeline, some format and field changes are required. FNL is requesting that CHoP make the following changes to the JSONL files shared

[2021-09-08 17:25] jharenza commented on #193
hmm, let me think on this - we would not want panel over WGS for sure, as it is a smaller gene panel. I think the reason for selecting WGS over WXS may have been for CNV calls, esp since we have better coverage for breakpoints in WGS. But we probably also ought to have a module exploring consistency of SNV and CNV calls across WXS/WGS...I almost wonder if we should preferentially choose WXS over W

[2021-09-08 20:24] runjin326 commented on #197
@ewafula, do you think you would have time to take on making the changes mentioned above for CNV frequencies module? I should be able to update fusion and SNV frequencies module.

[2021-09-08 20:55] jharenza commented on #197
@zdorman - question for this

Does this need to be unique for _every_ piece of evidence or just _every_ row within a table? For example, would you expect unique uuids for SNV that may overlap with CNV uuids or should all be unique across the board? If the latter, we may need a module to assign these all at once such that no duplicates are introduced.

To answer @runjin326 - is this something you a

[2021-09-08 20:57] ewafula commented on #197
@runjin326 Yes, I will update the CNV module. But we need to clear up how to do this to ensure there are no duplicate UUIDs across all results files from different modules.  I plan to use the uuid4() function from Python's UUID module, which should produce random 128-bit sequences (str of length 32).  We may want to consider generating  UUIDs that sum up to the total number of records of all JSONL

[2021-09-08 20:59] runjin326 commented on #197
@jharenza, @ewafula, I actually asked the question about UUID in slack to @zdorman. Sorry should have cc'd you both. But basically each file needs to have a UUID but having unique UUID across all 5 files are optimal.

[2021-09-08 21:09] ewafula commented on #197
Thank you, @runjin326!  I'll go ahead and implement these changes.

[2021-09-08 21:11] runjin326 commented on #197
Yes, this is something we can implement in v10 - no need to update for v9 (according to this morning's meeting) - just trying to figure out logistics here. ;)

[2021-09-08 21:41] runjin326 commented on #197
Maybe we can hold off until we hear back from @jharenza about when to implement these changes :)

[2021-09-08 22:06] afarrel commented on #193
I actually had this conversation with Asif earlier.  My thoughts are that it should be pipeline/module dependent. So I agree for CNV WGS shouled be preferred. For SNV, WXS should be preferred since it has deeper coverage. Furthermore, since this platform is centered around the PMTL (and novel genes), the mutations in the coding (exonic) regions of genes are what might be most important to the end-

[2021-09-08 23:49] jharenza commented on #193
Sounds good and we agree- thanks! @runjin326 will you outline tickets as we describe above? So we will have to create additional independent lists which prefer wxs (can keep the wgs preferred ones now), and then use certain lists by module as outlined above.

[2021-09-08 23:53] jharenza commented on #197
Great- I think we can implement this new logic whenever people have free time, and not merge the PRs til v10 is released

[2021-09-09 13:42] runjin326 commented on #174
@jharenza, I took a look and confirmed that currently none of the PNOC_dataset_2 RNA-Seq samples are in the combined expression file. Attaching a file containing the `Kids_First_Biospecimen_ID` (for RNA-Seq) and `subject_id` for PNOC_dataset_2 - do we want a separate ticket for this?
[pnoc008_RNA_biospecimenID.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7136986/pnoc008_RNA_bi

[2021-09-09 15:25] sangeetashukla opened #198 "Upload v8 and v9 data files to CAVATICA OpenTarget Open Access project"
#### What data file(s) does this issue pertain to?
On CAVATICA, the OpenTarget Open Access project holds the data files for OpenPedCanAnalysis releases. Currently, it has data up to v7 release.

#### What release are you using?

v9

#### Put your question or report your issue here.
Please upload v8 and v9 data files to CAVATICA OpenTarget Open Access project.

[2021-09-09 15:33] #198 closed

[2021-09-09 15:45] bmennis commented on #158
@ewafula @jharenza  I want to update that the additional ALL samples are finished running through alignment with one tumor sample that has permission issues. That sample is not finished, but I have asked the SBG team to look into the permission issue. I will start preparing for the somatic analysis of the tumor and normal paired samples.

The file name that has the permission issue is: 60ac91fc-42

[2021-09-09 18:11] jharenza commented on #158
Thanks @bmennis! Do you have the list of samples completed that you can attach here?

[2021-09-09 20:43] jharenza commented on #63
Code to subset files: https://github.com/AlexsLemonade/OpenPBTA-analysis/tree/master/analyses/create-subset-files @runjin326

[2021-09-09 21:01] runjin326 opened #199 "OS_days in histology file update/investigation"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v9

#### Put your question or report your issue here.
1) Currently, in the histology file, the OS_days for some TCGA samples were negative
[code]
Need to figure out why/how those numbers are there.

2) For `Kids_First_Participant_ID` that is in both GMKF and TARGET, the `OS_days` sometimes don't m

[2021-09-09 22:03] runjin326 opened #200 "Generate merged TPM and count matrix for TCGA samples"
#### What data file(s) does this issue pertain to?

RNA-Seq data for TCGA samples in OpenPedCan

#### What release are you using?

Currently these two files do not exit - will upload to v10 data release folder.

#### Put your question or report your issue here.
Please merge and collapse TPM and count matrix for all TCGA samples and generate two files:
`tcga-gene-counts-rsem-expected_count-collapse

[2021-09-09 22:12] ewafula commented on #199
I

I will clean up those negative values in v10.  In the clinical data file from GDC, there were dashes in the field. Some in some cases next to the numbers where the formating wasn't right.  Must have missed cleaning those up when parsing the file.
[code]

Not sure how to fix the second problem. Those are valid values from the TARGET and GMKF clinical files. Unless one cohort takes precedence ove

[2021-09-09 23:30] jharenza opened #201 "[Discussion] - KidsFirst participant IDs for TARGET, GMKF, etc"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

#### What release are you using?

v9

#### Put your question or report your issue here.
In order to cross-compare cohorts which contain the same samples, we currently have implemented the following for IDs:

For TARGET and GMKF, the `Kids_First_Participant_ID` == the TARGET USI: `PAUSJB`
For TARGET, the `cohort_participant_id` i

[2021-09-10 14:36] jharenza commented on #199
Yes please take GMKF precedence, as our clinical file has a more recent update date. Thank you!

[2021-09-10 14:41] jharenza commented on #200
For reference:

https://github.com/d3b-center/bixu-tracker/issues/1205#issuecomment-916487039

[2021-09-10 14:43] jharenza commented on #201
Also cc @allisonheath

[2021-09-10 15:07] komalsrathi commented on #200
I dont have access to v10 folder so I have uploaded them `s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v4/toil.20k/tcga_collapsed_matrices/ `. What else needs to be done from my side?

[2021-09-10 15:08] runjin326 commented on #200
@komalsrathi, thanks! I will move them to v10 folder.

[2021-09-10 15:30] komalsrathi opened #202 "Only keep diseaseXpress usable samples in OpenPedCan histologies"
#### What data file(s) does this issue pertain to?

TCGA RNA-seq merged and collapsed counts and tpm expression matrices.

Because we are not harmonizing TCGA RNA-seq data, I downloaded the diseaseXpress TCGA files from s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v4/toil.20k/tcga/processed and created a collapsed view for counts and TPM which will be available here: `s3://kf-openaccess-us-e

[2021-09-10 16:33] ewafula commented on #202
@komalsrathi, I'll update the v10 histologies file only to keep the usable TCGA samples you listed from diseaseXpress. I was instructed to create TCGA histologies records from the GDC-TCGA RNA-Seq data manifest and I have not worked with diseaseXpress data before. Therefore, I cannot explain why 681 samples in histologies are not in the diseaseXpress usable list, and 266 samples in the diseaseXpre

[2021-09-10 16:42] jharenza commented on #202
Thanks @ewafula! Hopefully those weren't removed later for non-consent reasons or other, but please keep us posted whether you can obtain that clinical data. If not, we may also have to remove those samples @komalsrathi. Were they a certain cohort, or spread across histologies?

[2021-09-10 17:26] komalsrathi commented on #202
Those 266 samples are across histologies/tumor type:

[code]

@jharenza @runjin326 because this is related to the rds files created by me:

Another issue that I just realize that we should address before making any changes: it also looks like we were using some sort of UUID as the unique identifier for samples in diseaseXpress because for the same TCGA sample barcode we had multiple RSEM files. So

[2021-09-10 17:29] komalsrathi commented on #200
@runjin326 you might want to hold off on that until [this comment](https://github.com/PediatricOpenTargets/ticket-tracker/issues/202#issuecomment-917080711) is resolved.

[2021-09-10 18:28] jharenza commented on #202
That sounds fine

[2021-09-10 18:47] komalsrathi commented on #200
Hi @runjin326 I have updated the rds files with unique sample barcodes (n = 10622) and here are the new `md5sums`:

[code]

Thanks!

[2021-09-10 18:48] komalsrathi commented on #202
Ok so this is resolved and I have updated the rds files with unique sample barcodes n = 10622.

@ewafula it does not affect this ticket so there should not be any blockers, but feel free to ping me if you need any help.

[2021-09-10 19:52] runjin326 commented on #200
@komalsrathi, uploaded now with md5sum.txt updated as well. Thanks!

[2021-09-11 15:18] ewafula commented on #199
@runjin326, @jharenza,  while working on a (ticket #202](https://github.com/PediatricOpenTargets/ticket-tracker/issues/202), I re-downloaded the TCGA RNA-Seq data manifest, this time around using the API.  The negative `OS_days` values persist for the seven cases. It is not a parsing error on my end. Before changing values in the v10 histologies files, wanting to make sure there wasn't another rea

[2021-09-13 15:37] runjin326 commented on #193
@jharenza, @afarrel thanks for clarifying! For some reason I missed Jo Lynne's comment but I would generate independent sample lists with *_wxs_prefer* suffix and specify in the README that these lists will be used for SNV only.

[2021-09-13 21:04] runjin326 opened #203 "Merge PNOC Dataset 2 RNA-Seq and fusion results to v9 for v10 release"
#### What data file(s) does this issue pertain to?

gene-counts-rsem-expected_count-collapsed.rds
gene-expression-rsem-tpm-collapsed.rds
fusion-arriba.tsv.gz
fusion-starfusion.tsv.gz

#### What release are you using?

v9

#### Put your question or report your issue here.

Please merge and re-collapse the TPM and count files for RNA-seq after merging RNA-Seq data from PNOC dataset 2.
Please also me

[2021-09-14 18:54] jharenza commented on #199
@ewafula yes, I would suggest using `days_to_death` here!

[2021-09-14 19:20] jharenza opened #204 "Updated analysis: LGAT subtyping to include NF1 splice, frameshift, other?"
#### What analysis module should be updated and why?
Update LGG subtyping module to include additional somatic NF1 variants and assess how many additional deleterious we find using the categories below

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Per [pedcbio oncoKB annotation](https://pedcbioportal.kidsfirstdrc.org/results/mutations?

[2021-09-15 10:04] allisonheath commented on #201
I think in this case - it's more about, what do you want for analysis? My initial take is that people are more familiar with the USIs and they're pretty stable, so why not use them when they exist? Same for the GTEX IDs, I'd assume they're pretty widely used for analysis? One way to do this is to have a primary ID that you select for the main file based on which program it's coming from, and then

[2021-09-15 15:44] bmennis commented on #158
Ok to update the tumor sample that had/has access issues was aligned. I downloaded the sample from the GDC, uploaded it to Cavatica and aligned it in the tumor WXS project. I then ran NGS checkmate on its matching paired normal sample and it is a match.

The somatic analysis for the paired samples has been run as well. In total there are 438 paired tumor and normal samples, this includes the tumor

[2021-09-15 16:42] ewafula commented on #158
@bmennis,can you post sample IDs for the normal/tumor pairs that you have successfully analyzed. Need to use them for updating the OpenPedCan v10 histologies file.

[2021-09-15 17:43] jharenza commented on #158
Thank you @bmennis and @ewafula

[2021-09-16 11:29] runjin326 commented on #204
Closing with [PR117 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/117) merged.

[2021-09-16 11:29] #204 closed

[2021-09-16 11:34] runjin326 commented on #195
Closing with [PR109 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/109) merged

[2021-09-16 11:34] #195 closed

[2021-09-16 11:35] runjin326 commented on #190
Closing with [PR108](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/108) merged.

[2021-09-16 11:35] #190 closed

[2021-09-16 11:36] runjin326 commented on #189
Closing with [PR108](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/108) merged.

[2021-09-16 11:36] #189 closed

[2021-09-16 11:48] runjin326 commented on #66
Closing with [PR52](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/52) merged.

[2021-09-16 11:48] #66 closed

[2021-09-16 11:51] runjin326 commented on #64
Closing with [PR45 ](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/45) merged.

[2021-09-16 11:51] #64 closed

[2021-09-16 11:56] runjin326 commented on #69
Closing with [PR66 ](https://github.com/PediatricOpenTargets/ticket-tracker/issues/66) merged.

[2021-09-16 11:56] #69 closed

[2021-09-16 11:56] runjin326 commented on #68
Closing with [PR52](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/52) merged

[2021-09-16 11:56] #68 closed

[2021-09-16 12:07] runjin326 opened #205 "Investigate TARGET, GMKF results for tp53-nf1-scores module"
#### What data file(s) does this issue pertain to?
`gene-expression-rsem-tpm-collapsed_classifier_scores.tsv`
ROC scores for classifier performance.

#### What release are you using?

v9

#### Put your question or report your issue here.

- When running the module with TARGET and GMKF samples added, the TP53 scores for TARGET samples were not as high as expected ( as mentioned in the discussion in

[2021-09-16 13:39] komalsrathi commented on #38
@jharenza can we close this?

[2021-09-16 13:39] komalsrathi commented on #110
@jharenza can we close as @logstar is tackling this now?

[2021-09-16 13:40] komalsrathi commented on #169
@logstar will we be still doing this for the `tumor-gtex-plots` module?

[2021-09-16 13:43] komalsrathi commented on #200
@runjin326 can we close this or would that be after the release?

[2021-09-16 13:53] runjin326 commented on #200
@komalsrathi, I will close this with the release so that we can link them together :)

[2021-09-16 16:22] zdorman opened #206 "Update RMTL v1.0 mappings to PMTL v1.1"
Update `long-format-table-utils` and `ensg-hugo-rmtl-mapping.tsv` to accommodate the RMTL v1.0 to PMTL v1.1 update.

[PMTL_v1.1.tsv](https://nih.app.box.com/folder/135489780289) (Box link from FNL) contains the updated list of targets and designations. It should be used to update the `ensg-hugo-rmtl-mapping.tsv` and any other downstream analyses or references.

This update consists of two componen

[2021-09-16 17:10] afarrel opened #207 "Updated analysis: Change "all_chohorts" to "All Cohorts" in final SNV and CNV jsonl tables"
#### What analysis module should be updated and why?
SNV and CNV modules
change to final output of jsonl tables. Dataset:"all_cohorts" should be changed to Dataset:"All Cohorts" as this will improve the view in the final table to the end user.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
When the dataset is "all_cohorts" the final out

[2021-09-16 17:10] afarrel commented on #207
cc: @logstar @jharenza @runjin326

[2021-09-16 17:10] zhangb1 commented on #174
@jharenza @runjin326 do you have the `PNOC_dataset_2 sample` BS IDs?

[2021-09-16 17:24] runjin326 commented on #174
@zhangb1, I currently have all the way to 40 -
[pnoc_data_set_2_DNA_biospecimenID.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7179826/pnoc_data_set_2_DNA_biospecimenID.txt)
Previously I used the MAF file for the particular participant and match the ID there (for some reason I cannot open files in Cavatica delivery project so I couldn't find that for 41 and 42)- maybe @komalsr

[2021-09-16 17:32] zhangb1 commented on #174
Oh Those are from PNOC008 ? if so ,I think I can get those.

[2021-09-16 17:37] komalsrathi commented on #174
If `PNOC_dataset_2 == PNOC008`, then you can just get the cohort participant ids from the most up-to-date PNOC008 clinical data manifest (coded as Research ID) from Kids First data tracker (https://kf-api-study-creator.kidsfirstdrc.org/download/study/SD_8Y99QZJJ/file/SF_AQXKSDNG/version/FV_66NVXNR5) and map those to the most up-to-date adapt histologies file to get the BS ids...

[2021-09-16 19:34] #38 closed

[2021-09-16 19:35] #110 closed

[2021-09-17 12:53] runjin326 commented on #206
@sangeetashukla, could you please take on this one? Thanks! cc: @afarrel

[2021-09-17 13:35] sangeetashukla commented on #206
@runjin326 Sure, I will work on this.

[2021-09-17 19:24] zhangb1 commented on #196
PNOC003 additional 24 samples,  Remaining TARGET ALL WXS (total of 40) and extra Open target data 438 pairs are merged to the V10 folder.

s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v10/

I also updated the md5 .

[code]

[2021-09-17 19:25] zhangb1 commented on #194
This has been done along with the PNOC samples.

merged data already in the v10 folder

[2021-09-17 19:25] zhangb1 commented on #174
This has been done see the comment in the ticket  https://github.com/PediatricOpenTargets/ticket-tracker/issues/196

[2021-09-17 19:26] zhangb1 commented on #174
I didn't update histology file, this will be  done by @ewafula  or @runjin326 ?

[2021-09-17 19:27] runjin326 commented on #196
@zhangb1 , thanks so much!

[2021-09-17 19:28] runjin326 commented on #174
Thanks so much!
I will give the histologies for additional PNOC to @ewafula for update and he already added ALL WXS in his histologies.

[2021-09-17 19:43] ewafula commented on #174
@runjin326, @zhangb1 I had already include addition TARGET samples (mostly ALL and a few for other cancers) shown in the v10 histories PR README. This are the ones that had previously been missing. But I am still waiting on @bmennis to send the final list of normal/tumor that were actually used in the analysis. There might be more samples than what was analyzed in the current update if v10 histolo

[2021-09-17 19:46] runjin326 commented on #194
@zhangb1 , thanks so much!

[2021-09-17 19:46] bmennis commented on #158
@ewafula do you need all additional ALL samples analyzed in this ticket or just the tumor and normal paired samples?

[2021-09-17 19:50] runjin326 commented on #174
@ewafula, thanks for updating this! I believed there are a total of 438 pairs that are analyzed now - once you get the lists, could you please update the histologies file to remove samples that are not analyzed (I think originally it says to have 921 samples)? Thanks so much!

[2021-09-17 20:18] sangeetashukla commented on #206
@runjin326 I am not able to access the below link.

Can you please download the file and attach it to the ticket?

[2021-09-17 20:20] runjin326 commented on #206
Sure - I will slack you the file.

[2021-09-17 20:39] ewafula commented on #158
@bmennis, yes the normal and tumor pairs. In v9 we left out sample that were not paired.

[2021-09-20 16:37] #167 closed

[2021-09-20 18:18] bmennis commented on #158
@ewafula here is the list of tumor and matching normal aliquot IDs for the additional ALL samples. Let me know if you have any questions. This has the 438 pairs processed

[Additional_ALL_samples_somatic_pairs.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7197807/Additional_ALL_samples_somatic_pairs.txt)

[2021-09-20 18:28] ewafula commented on #158
@bmennis, thank you!

[2021-09-20 19:06] #133 closed

[2021-09-20 19:14] #118 closed

[2021-09-20 19:15] #73 closed

[2021-09-20 19:18] #58 closed

[2021-09-20 20:37] bmennis commented on #158
I have also copied over the somatic outputs to the open target delivery project. The outputs copied over include the public and protected outputs for all 4 variant callers, the manta pass vcf and index, as well as cnvkit gainloss and controlfreec p values and ratios. Also the consensus outputs were all copied over. This pertains to the additional ALL samples both somatic and alignment analysis

[2021-09-21 13:41] sangeetashukla opened #208 "Remove trailing white spaces from cancer_group in efo-mondo-mapping.tsv"
#### What data file(s) does this issue pertain to?
efo-mondo-mapping.tsv

#### What release are you using?

v9

#### Put your question or report your issue here.
There are a few cancer_groups such as "Acute Lymphoblastic Leukemia", "Acute Myeloid Leukemia", and "Chordoma" that have an unnecessary trailing white space in the file.

Review the file for proper formatting, and to remove any unnecessar

[2021-09-21 14:24] kgaonkar6 commented on #101
tagging @runjin326 to this ticket, I believe  v7 was the last time rnaseq files were merged. Can you check s3://kf-openaccess-us-east-1-prd-pbta/open-targets/v7/ ? The rsem files should have tumor from PBTA+GMKF+TARGET and normal from GTEX

[2021-09-21 23:16] runjin326 commented on #197
Closing with https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/110, https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/111, https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/113 and https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/108 merged.

[2021-09-21 23:16] #197 closed

[2021-09-21 23:17] runjin326 commented on #162
Closing - this is no longer required for OT modules

[2021-09-21 23:17] #162 closed

[2021-09-21 23:19] runjin326 commented on #114
Closing - this is currently taken cared of by bioengineering team and no longer needs to be run in repo.

[2021-09-21 23:19] #114 closed

[2021-09-21 23:20] runjin326 commented on #97
Closing with PR84( https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/84 ) and PR94(https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/94) merged

[2021-09-21 23:20] #97 closed

[2021-09-21 23:26] runjin326 commented on #196
@zhangb1, I was just looking at the files - I think for some modules (e.g., GISTIC) we would be using `cnv-consensus.seg.gz` as well so I think it would make sense for us to include that in the data release now. Could you please upload that the S3 bucket as well? Thanks!

[2021-09-21 23:46] runjin326 opened #209 "Re-run tp53-nf1-score module with new PNOC samples"
#### What data file(s) does this issue pertain to?
`tp53_altered_status.tsv`

#### What release are you using?

v10
histologies.tsv
snv-consensus-plus-hotspots.maf.tsv.gz
consensus_wgs_plus_cnvkit_wxs.tsv.gz
gene-expression-rsem-tpm-collapsed.rds

#### Put your question or report your issue here.
Just a re-run once all all the merged files are available so that we can have the scores to subtype ne

[2021-09-21 23:52] jharenza commented on #196
I think this file _consensus_wgs_plus_cnvkit_wxs.tsv.gz_ should be the new consensus seg file. (We don't need the separate autosomes and xy files anymore). However, it may also be missing the intronic and noncoding regions, which may be easier to update within the GISTIC module itself, as it would be making certain assumptions that I don't think we should make for a release. Eg- using ploidy to fi

[2021-09-22 00:15] runjin326 opened #210 "Call Molecular Subtype for new PNOC samples"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v10
SNV, fusion, CNV, mutation, GISTIC, focal CN and TP53 scores file.

#### Put your question or report your issue here.
Please call molecular subtype for new PNOC samples with following step
1) Once the PR for updating `molecular-subtyping-HGG` module is merged (https://github.com/PediatricOpenT

[2021-09-22 00:22] runjin326 opened #211 "Re-Run GISTIC module after PNOC WGS CNV results merged"
#### What data file(s) does this issue pertain to?
`cnv-consensus-gistic.zip`

#### What release are you using?

v10
histologies.tsv
cnv-consensus.seg.gz

#### Put your question or report your issue here.
We want to include GISTIC results in the data release and with addition of 24 PNOC WGS samples, this needs to be run to generate results.

[2021-09-22 00:35] runjin326 commented on #196
@jharenza, the reason that I said `cnv-consensus.seg.gz` is because I am still not sure whether GISTIC can be run on WXS samples - hence, it would be easier to start with cnv consensus but I can definitely modify the code to use `consensus_wgs_plus_cnvkit_wxs.tsv.gz` and filter to WGS and run GISTIC. Do you want me to implement the changes? Just to clarify, the `cnv-consensus.seg.gz` is kept as is

[2021-09-22 02:56] jharenza commented on #196
Oh yes, I see about WGS. Sure, go ahead and include in the release.

I just scanned the module again and it looks like GISTIC is only being used for  subtyping of 1p/19q co-deleted oligodendrogliomas. In that case, you can make this module a little more specific in that if the diagnosis is oligo, then require GISTIC input. If not, no GISTIC required. That should help move this along with the other

[2021-09-22 03:06] runjin326 commented on #196
Gotcha, will implement that change! Thanks so much for giving input and helping with this! :)

[2021-09-22 13:16] zhangb1 commented on #196
@runjin326 `cnv-consensus.seg.gz` was updated

[2021-09-22 16:50] zhangb1 commented on #203
[code]

PNOC dataset 2 RNA expression files have been merged to the v10 , md5 has been updated

[2021-09-22 18:19] runjin326 commented on #203
@zhangb1, thanks so much!

[2021-09-23 01:48] runjin326 opened #212 "Updated analysis: HGG Molecular Subtyping Module"
#### What analysis module should be updated and why?
`molecular-subtyping-HGG`

- Currently, this module takes in GISTIC scores and use this to find whether there are `1p/19q co-deleted oligodendrogliomas`. As per discussion with @jharenza, it might be better to completely remove that part from HGG subtype module, and generate a separate module to subtype `1p/19q co-deleted oligodendrogliomas`.
-

[2021-09-23 02:02] runjin326 opened #213 "Proposed Analysis: Generate Molecular Subtyping Module for oligodendrogliomas"
#### What are the scientific goals of the analysis?
Currently, there is one notebook in HGG molecular subtyping module that takes in GISTIC scores and uses this to find whether there are 1p/19q co-deleted oligodendrogliomas. As per discussion with @jharenza, it might be better to completely remove that part from HGG subtype module, and generate a separate module to subtype 1p/19q co-deleted oligod

[2021-09-23 16:04] runjin326 commented on #115
Closing with [PR119](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/119) merged.

[2021-09-23 16:04] #115 closed

[2021-09-24 11:50] runjin326 opened #214 "Re-run fusion filtering module for v10 release"
#### What data file(s) does this issue pertain to?
`fusion-putative-oncogenic.tsv`

#### What release are you using?

v10
`histologies.tsv`
`fusion-arriba.tsv.gz`
`fusion-starfusion.tsv.gz`

#### Put your question or report your issue here.
Use v10 histology file to re-run this module for v10 `fusion-putative-oncogenic.tsv` since new samples were added to the fusion file.

[2021-09-24 11:53] runjin326 opened #215 "Re-run independent sample module for v10 release"
#### What data file(s) does this issue pertain to?

All relevant results in:
`independent-specimens.*.tsv`

#### What release are you using?

v10
`histologies.tsv`

#### Put your question or report your issue here.
Re-run the module with v10 histologies file once [this PR](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/115) is in.

[2021-09-24 17:37] runjin326 opened #216 "Updated analysis: Use WXS preferred independent sample list for SNV frequency table"
#### What analysis module should be updated and why?
`snv-frequencies`
Upon discussion, we decided to use an independent sample that preferentially select WXS samples (when both WGS and WXS are present) - and SNV module should use the wxs preferred module.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Instead of using the following inp

[2021-09-24 17:40] runjin326 commented on #216
Hey, @ewafula! I am assigning this ticket to you since you are already updating SNV module. Basically we made a change in independent sample list module and generated independent sample lists that preferentially select WXS when available. Currently, those files are in `independent-samples/results/` but we will be including them in data release v10.
So depending on how you want to tackle this - no

[2021-09-24 17:50] ewafula commented on #216
Sure, @runjin326.  Probably best to wait for the v10 data release because there are plenty of dependencies with other modules and datasets. Are the input datasets already in the v10 s3 Bucket and accessible? I also need to wait on updates to the PMTL and annotation modules that are still being worked to be completed and merged.

[2021-09-24 17:55] runjin326 commented on #216
@ewafula, oh yes better to do after all the files are uploaded :) Not all of them are ready yet.

[2021-09-27 21:15] komalsrathi opened #217 "Updated analysis: Immune deconvolution"
#### What analysis module should be updated and why?

`immune-deconv`

#### What changes need to be made? Please provide enough detail for another participant to make the update.

- [x] Currently we are using FPKM data instead we should use TPM.
- [x] Would also like to investigate if [xCell](https://github.com/dviraran/xCell) package and [immunedeconv](https://github.com/icbi-lab/immunedeconv) pa

[2021-09-28 13:35] runjin326 opened #218 "Rerun GISTIC with v10 samples"
#### What data file(s) does this issue pertain to?

`run-gistic`

#### What release are you using?

v10
`cnv-consensus.seg.gz`
`histologies-base.tsv`

#### Put your question or report your issue here.
Re-run the module with the files mentioned above to generate `cnv-consensus-gistic.zip` for data release.

[2021-09-28 16:00] runjin326 opened #219 "Updated analysis: Modules that use RMTL/PMTL file"
#### What analysis module should be updated and why?
Since the [PR](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/129) with changes from RMTL to PMTL is in, we now need to change the modules that directly call this file (or use the module `long-format-table-utils`):
`cnv-frequencies`
`snv-frequencies`
`fusion-frequencies`
`rna-seq-expression-summary-stats`

#### What changes nee

[2021-09-28 16:17] ewafula commented on #219
@runjin326 can you merge the  PMTL updates for  the `ensg-hugo-pmtl-mapping.tsv`  module and the `long-format-table-utils`  module that will enable me to update the dependent modules that you have listed in the ticket?

[2021-09-28 16:19] runjin326 commented on #219
@ewafula, it is already merged :) I mentioned in the ticket. You should be able to get it once you do a dev pull and merge.

[2021-09-28 16:31] sangeetashukla commented on #219
@runjin326 The `ensg-hugo-pmtl-mapping.tsv` is part of the other [PR](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/127) that is pending final review and merge. When @afarrel  or @chinwallaa have reviewed it, I will reach out to you to merge it.

[2021-09-28 18:32] zdorman opened #220 "Validate number of patients in SNV tables"
#### What data file(s) does this issue pertain to?

`results/gene-level-snv-consensus-annotated-mut-freq.jsonl.gz`
`results/gene-level-snv-consensus-annotated-mut-freq.tsv.gz`
`results/variant-level-snv-consensus-annotated-mut-freq.jsonl.gz`
`results/variant-level-snv-consensus-annotated-mut-freq.tsv.gz`

#### What release are you using?

v9

#### Put your question or report your issue here.

Plea

[2021-09-28 18:59] logstar commented on #220
@zdorman I will validate Neuroblastoma sample and patient numbers with the following steps:

- Rerun v9 `snv-frequencies` module.
- Output `Kids_First_Participant_ID`s and `Kids_First_Biospecimen_ID`s for Neuroblastoma GMKF, PBTA, TARGET, and all_cohorts.
- Validate that `Kids_First_Biospecimen_ID`s are from only 793 `Kids_First_Participant_ID`s.

The results can only be used to check whether the

[2021-09-28 20:15] logstar commented on #220
@zdorman - The neuroblastoma patient numbers in v9 SNV tables are expected. Attached are neuroblastoma samples/biospecimens and patients that are included in v9 SNV tables. Following are the number of samples/biospecimens and patients in each file:

[code]

[Neuroblastoma_TARGET_tsv.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7247007/Neuroblastoma_TARGET_tsv.txt)

[Neuroblast

[2021-09-29 05:11] afarrel opened #221 "What TARGET WGS and Was data also have SNP array data associated with it"
Create Table TARGET NBL WGS and WXS samples that also have SNP array data available.
This data can be used as an additional

#### What data file(s) does this issue pertain to?
Histologies.tsv file

#### What release are you using?

v10

#### Put your question or report your issue here.
Use the TARGET neuroblastoma patient SNP array metadata to find the intersection of patient data with SNP array d

[2021-09-29 12:31] ewafula commented on #221
@afarrel I'll update the table to include all the additional columns you've listed in the ticket.

[2021-09-29 12:47] chinwallaa commented on #221
@afarrel @runjin326 do we also then need to update the various modules that have the histology file as input, with this new data-dictionary.

[2021-09-29 12:53] runjin326 commented on #221
@chinwallaa, I believe this is only for analysis/evaluation purposes and I don't think for OpenTargets we want to include the data about SNP array information since that only pertain to limited samples (or not until we have SNP array data integrated in our data release).

[2021-09-29 12:54] chinwallaa commented on #221
@runjin326  Thanks for the clarification.

[2021-09-29 13:00] afarrel commented on #221
Hi @runjin326 and @chinwallaa (It took me 6 months but I'm finally actually chiming in on GitHub), Just to echo @runjin326 - we will eventually create SNPArray modules. It's on the priority list after tumor only/PIVOT(PPTC/PDX) pipelines and we expect to receive some SNP arrays for the upcoming P30 data. However, the data for this ticket is primarily for evaluation of CNV calling pipelines.

[2021-09-29 13:18] ewafula commented on #221
@runjin326 and @afarrel, yesterday, I wrote a quick and dirty script so for @afarrel to quickly provide TARGET/GMKF samples IDs corresponding to the SNP array to the @yuankunzhu 's team for benchmarking their CNV consensus pipeline.  I am now polishing the code similar to a standard OpenPedCan module and formating the columns as shown in the ticket. Should I submit as a PR to the  OpenPenCan-analy

[2021-09-29 13:29] afarrel commented on #221
@ewafula I don't think a PR is necessary. Yesterday we briefly spoke about creating a ticket with a table that pulls the SNP array data and doing a direct comparison with the consensus CNV calls as well as the calls from the individual callers. When that ticket is ready it will require a PR.

[2021-09-29 13:38] ewafula commented on #221
Thanks, @afarrel.  I'll just send you the updated tables with the additional columns you listed for records.

[2021-09-29 13:57] zdorman commented on #220
@logstar Thank you for looking into this and validating the numbers - I appreciate it.

I don't have any suspicion of bugs in the code. I was asking from the perspective of an Open Targets user confused about why the apparent totals do not match. Reading through OpenPedCan documentation led me to understand that some patients provided multiple biospecimens, and that those can be included across mu

[2021-09-29 15:41] logstar commented on #220
@zdorman

I agree.

Thank you for checking the results.

It is difficult, if not impossible, to prove that certain code is and will always be working as expected. We have code review and testing in CHOP analytics group to reduce error rate.

It is really helpful to have other perspectives outside of CHOP analytics to check the results. It would be a greater help if bugs could be identified from th

[2021-09-29 15:42] #220 closed

[2021-09-29 16:06] runjin326 commented on #200
Hi, @komalsrathi! So @ewafula and I was looking at the TCGA samples that have clinical information and noticed that 208 samples in diseaseXpress does not have associated clinical information. I think we should remove those samples from the two RNA datasets that we uploaded (the specimen ID list attached here.

Could you please remove those samples from the combined file and re-upload the files? Th

[2021-09-29 16:36] komalsrathi commented on #200
Ok and the clinical information you are gathering is from GDC?

[2021-09-29 16:47] ewafula commented on #200
@komalsrathi, those 208 TCGA samples are not in GDC. There are also other TCGA RNA-Seq samples that are not in your `TCGA_usable_barcode_list.txt`  diseaseXpress list.
Here is the GDC-TCGA RNA-Seq data manifest: https://github.com/ewafula/D3b-codes/blob/v10-OpenPedCan/v10-OpenPedCan/inputs/gdc-tcga-data-manifest.tsv

[2021-09-29 17:13] komalsrathi commented on #200
Okay gotcha, I guess we cannot do anything about the ones that we don't have unless we have the fastq files and plan to process them. I'll remove the ones that we couldn't find clinical data for and update you guys.

[2021-09-29 17:14] runjin326 commented on #200
@komalsrathi, thanks so much!

[2021-09-29 17:59] komalsrathi commented on #200
Uploaded TCGA rds files with 10414 samples and updated md5sums.txt. Thank you!

[2021-09-29 18:00] runjin326 commented on #200
@komalsrathi, thanks so much!

[2021-09-29 18:14] runjin326 commented on #158
Hi, @zhangb1! Could you please post the `tumor_ploidy` information for the 438 tumor samples in here so that @ewafula can update our current histology file? Thanks!

[2021-09-29 19:23] zhangb1 commented on #158
@runjin326  , @bmennis will get that .

[2021-09-29 20:55] runjin326 opened #222 "Updated analysis: tp53-nf1-score module"
#### What analysis module should be updated and why?
`tp53-nf1-score` module

Currently, the module has not included all the OpenPBTA recent development, e.g.:
- Addition of `Fusion_evidence`, `Fusion_counts` columns in the `tp53_altered_status.tsv` file
-
#### What changes need to be made? Please provide enough detail for another participant to make the update.
Modify `04-tp53-sv-loss.Rmd` to inc

[2021-09-29 22:01] bmennis commented on #158
@runjin326 @zhangb1 I have generated a file containing the tumor IDs as well as the ploidy. I have it attached here, let me know if there are any issues
[tumor_id_ploidy.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7255282/tumor_id_ploidy.txt)

[2021-09-30 15:14] zdorman opened #223 "Gene-disease-gtex TPM plot widget title and source"
Please provide the text that should appear in the Molecular Targets Platform widget containing the `gene-disease-gtex` TPM plots in a format that matches the existing Open Targets widgets. FNL will implement the responses into the MTP code.

1. Widget title

     - Title that indicates data type, relevance, and/or source
     - Proposed 9/29: "OpenPedCan Gene Expression"

2. Widget descriptive sub

[2021-09-30 15:14] zdorman opened #224 "Somatic Mutation widget title and text"
Please provide the title and source text that should appear in the Molecular Targets Platform widget containing the somatic mutation tables:

`gene-level-cnv-consensus-annotated-mut-freq.jsonl`
`gene-level-snv-consensus-annotated-mut-freq.jsonl`
`putative-oncogene-fused-gene-freq.jsonl`
`putative-oncogene-fusion-freq.jsonl`
`variant-level-snv-consensus-annotated-mut-freq.jsonl`

FNL will implement

[2021-09-30 21:18] ewafula commented on #219
@runjin326, @logstar,
I am encountering assertion errors when running `rna-seq-expression-summary-stats` module with the updated `ensg-hugo-pmtl-mapping.tsv` mapping file.  There is likely a conflict with gene symbols presence between the new PMTL file and expression matrix.  What would you recommend we do to address this issue?
[code]

[code]
Here are new new gene symbols in `ensg-hugo-pmtl-mappi

[2021-10-06 13:08] ewafula commented on #219
@sangeetashukla, thank you!

[2021-10-06 19:39] zdorman opened #225 "Pan-Cancer TPM plot (Target Page) widget title and source"
Please provide the text that should appear in the Molecular Targets Platform widget containing the `pan-cancer` TPM plots (on the Target Page) in a format that matches the existing Open Targets widgets. FNL will implement the responses into the MTP code.

Note that some of these fields may be similar or identical to that of the `gene-disease-gtex` TPM plots (Evidence Page) in #223

1. Widget title

[2021-10-07 14:44] jharenza opened #226 "Updated analysis: update efo mondo map cancer groups"
#### What analysis module should be updated and why?
efo-mondo-mapping

with [v10 histologies](https://github.com/d3b-center/D3b-codes/pull/49), cancer groups changed slightly, so this file will need an update to match

#### What changes need to be made? Please provide enough detail for another participant to make the update.
match efo-mondo-map.tsv with current cancer groups in v10, for release w

[2021-10-07 15:03] #226 closed, assigned to nobody

[2021-10-07 15:16] runjin326 opened #227 "Updated analysis: Remove lines that format cancer group differently"
#### What analysis module should be updated and why?
`molecular-subtyping-integrate` since OpenPBTA modifies the code to get rid of certain symbols but we do not want that.

#### What changes need to be made? Please provide enough detail for another participant to make the update.
1) Remove the following lines:
[code]
and rerun integrate module.

2) For OpenPBTA histology, we also want to revert t

[2021-10-07 20:14] #227 closed, assigned to runjin326

[2021-10-12 16:26] sangeetashukla opened #228 "Upload v10 files to CAVATICA OpenTarget Open Access project"
#### What data file(s) does this issue pertain to?
Latest v10 data files

#### What release are you using?
v10

#### Put your question or report your issue here.
Please upload v10 data files to CAVATICA OpenTarget Open Access project

[2021-10-12 17:39] #228 closed, assigned to zhangb1

[2021-10-13 02:08] #188 closed

[2021-10-13 02:09] #158 closed

[2021-10-13 02:09] runjin326 commented on #199
Closing with [PR136](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/136) merged.

[2021-10-13 02:09] #199 closed

[2021-10-13 02:10] runjin326 commented on #206
Closing with [PR136](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/136) merged.

[2021-10-13 02:10] #206 closed

[2021-10-13 02:10] runjin326 commented on #209
Closing with [PR136](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/136) merged.

[2021-10-13 02:10] #211 closed

[2021-10-13 02:11] runjin326 commented on #208
Closing with [PR136](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/136) merged.

[2021-10-13 02:11] #208 closed

[2021-10-13 02:12] runjin326 commented on #203
Closing with [PR136](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/136) merged.

[2021-10-13 02:12] #203 closed

[2021-10-13 02:12] runjin326 commented on #218
Closing with [PR136](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/136) merged.

[2021-10-13 02:12] #218 closed

[2021-10-13 02:12] #193 closed, assigned to komalsrathi, runjin326

[2021-10-13 02:16] runjin326 commented on #216
Closing with [PR130](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/130) merged.

[2021-10-13 13:25] taylordm commented on #225
Ticket #225: Please provide the text that should appear in the Molecular Targets Platform widget containing the `pan-cancer`  TPM plots (on the Target Page) in a format that matches the existing  Open Targets widgets. FNL will implement the responses into the MTP code.
        Note that some of these fields may be similar or identical to that of the `gene-disease-gtex` TPM plots (Evidence Page) in

[2021-10-13 13:42] sangeetashukla commented on #99
Tested the app to work with v10 data
Added a step to convert the merged TSV results into RDS

Note: The TSV to RDS conversion step kills the job with no error message, possibly indicating that the resource allocation may need to be changed. I have reached out to Cavatica Support team regarding this.
Will update the ticket as I hear from them.

[2021-10-13 14:58] runjin326 opened #229 "Update PBTA pedcbio cohort case IDs"
#### What data file(s) does this issue pertain to?
In v10 release, we added more PBTA samples and hence we need to update PBTA cohort case IDs.

Additionally, please also load all GTEx RNA-Seq data available in v10 release to pedcbio.

#### What release are you using?

v10
Please find the relevant files in this S3 bucket - s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v10/.

[2021-10-13 15:10] logstar opened #230 "Updated analysis: rerun `snv-frequencies` with v10 pedcbio open targets dataset cohort case IDs"
#### What analysis module should be updated and why?

`snv-frequencies` module needs to be updated to use v10 pedcbio cohort case IDs, aka case set IDs, to generate pedcbio plot URLs.

#### What changes need to be made? Please provide enough detail for another participant to make the update.

After #229 is resolved, update `analyses/snv-frequencies/input/ped_opentargets_2021_pedcbio_case_set_ids.j

[2021-10-13 18:05] logstar commented on #230
Thank you!

[2021-10-15 14:30] runjin326 opened #231 "Move gene_match module and modify"
#### What analysis module should be updated and why?
https://github.com/d3b-center/D3b-codes/tree/master/gene_match
1) Move this gene match module to PediatricOpenTargets
2) Change the file paths to directly take files from the `data` in the QC code
3) Filter the output `ensg-hugo-pmtl-mapping.tsv` as described below

#### What changes need to be made? Please provide enough detail for another part

[2021-10-18 14:26] dunnpa opened #232 "2 disease names, but 1 disease ontology ID in gene-level-snv-consensus-annotated-mut-freq.jsonl"
#### What data file(s) does this issue pertain to?
gene-level-snv-consensus-annotated-mut-freq.jsonl

#### What release are you using?
v10

#### Put your question or report your issue here.
2 disease names are listed for some records "Disease":"Metastatic secondary tumors;Neuroblastoma", but only 1 disease ontology ID ("diseaseFromSourceMappedId":"EFO_0000621")
usually (if not always) where "Datas

[2021-10-18 16:31] afarrel opened #233 "Proposed Analysis: MYCN AMP/Gain Thresholding using SNP Array data"
#### What are the scientific goals of the analysis?
MYCN AMP/gain Thresholding using TARGET SNP array data

The purpose of this analysis module is to access the status of the MYCN gene amplification status between the OpenPedCan NeuroblastomaGMKF and TARGET consensus copy number variants (CNV) calls from WSX/WGS, SNP array data, and clinical information in the master histologies file.

#### What m

[2021-10-18 18:42] jharenza commented on #232
Well... not really - just tying up some other things while on leave =)

These are one tumor and are metastatic neuroblastoma.  These are "progressive" samples, not primary tumors (if you mean primary to be diagnostic).

[2021-10-18 22:52] runjin326 opened #234 "Neuroblastoma/met cancer group update for v11 histologies file"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v10

#### Put your question or report your issue here.
In current `histologies.tsv` file, we have `cancer_group` of `Metastatic secondary tumors;Neuroblastoma`.
Since no EFO code exists for any child terms of `Neuroblastoma`, we will change `Metastatic secondary tumors;Neuroblastoma` to `Neuroblas

[2021-10-18 23:43] ewafula commented on #232
Will start v11 PR and update.

On Mon, Oct 18, 2021 at 6:46 PM runjin326 ***@***.***> wrote:

[2021-10-19 13:17] zdorman opened #235 "`All Cohorts` only sampling one or few diseases"
#### What data file(s) does this issue pertain to?

SNV by Gene: `gene-level-snv-consensus-annotated-mut-freq.jsonl`
SNV by Variant: `variant-level-snv-consensus-annotated-mut-freq.jsonl`
CNV by Gene: `gene-level-cnv-consensus-annotated-mut-freq.jsonl`
Fusion by Gene: `putative-oncogene-fused-gene-freq.jsonl`
Fusion: `putative-oncogene-fusion-freq.jsonl`

#### What release are you using?

v10

###

[2021-10-19 13:45] zdorman opened #236 "Somatic Mutation data missing disease IDs"
#### What data file(s) does this issue pertain to?

SNV by Gene: `gene-level-snv-consensus-annotated-mut-freq.jsonl`
SNV by Variant: `variant-level-snv-consensus-annotated-mut-freq.jsonl`
Fusion by Gene: `putative-oncogene-fused-gene-freq.jsonl`
Fusion: `putative-oncogene-fusion-freq.jsonl`

#### What release are you using?

v10

#### Put your question or report your issue here.

The following dis

[2021-10-19 17:22] runjin326 opened #237 "EFO MONDO cancer group mapping file"
#### What data file(s) does this issue pertain to?
`efo-mondo-map.tsv`

#### What release are you using?

v10

#### Put your question or report your issue here.

Three new cancer groups need EFO terms and MONDO code added to the `efo-mondo-map.tsv` file
- `Desmoplastic infantile astrocytoma and ganglioglioma`
- `Neurocytoma`
- `Juvenile xanthogranuloma`

Additionally, `Metastatic secondary tumors;

[2021-10-19 17:33] runjin326 opened #238 "Updated analysis: Fusion Frequencies Module"
#### What analysis module should be updated and why?
`fusion_frequencies`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
- Currently, the module takes the independent RNA sample lists that also contains TCGA samples.
- This can get confusing since this would generate a `All Cohorts` row in fusion tables (with TCGA samples counted toward

[2021-10-19 17:38] runjin326 commented on #237
@jharenza, yes I think it is N>=3. I will do that.

[2021-10-19 17:40] runjin326 opened #239 "v11 release"
#### What data file(s) does this issue pertain to?
- [x] histologies.tsv
- [x] histologies-base.tsv
- [x] cnv-cnvkit.seg.gz
- [x] cnv-controlfreec.tsv.gz
- [x] gene-counts-rsem-expected_count-collapsed.rds
- [x] gene-expression-rsem-tpm-collapsed.rds
- [x] fusion-arriba.tsv.gz
- [x] fusion-starfusion.tsv.gz
- [x] efo-mondo-mapping.tsv
- [x] ensg-hugo-pmtl-mapping.tsv (uploaded but might be good to

[2021-10-19 20:04] zdorman commented on #235
### Update after discussion in Slack:
`All Cohorts` is working as intended when present in Neuroblastoma data. `All Cohorts` is not working as intended in AML and sarcoma data in the Fusion tables because it is including TCGA RNA data.

### Copy/Pasted full discussion from Slack on 10/19/2021:
(@ symbols removed)

Run Jin  9:59 AM
Hey Zachary Dorman thanks for submitting the issue. So sorry that t

[2021-10-20 03:18] sangeetashukla commented on #99
Functional Cavatica workflow for conducting differential expression analysis of tumor and normal tissues is available [here](https://cavatica.sbgenomics.com/u/shuklas1/tumor-normal-differential-expression/).
This project contains a workflow app with multiple tools, each of which replicate the task performed in the [tumor-normal-differential-expression module](https://github.com/sangeetashukla/Open

[2021-10-22 14:32] runjin326 opened #240 "New module for preparing CNV file for pedCbio"
#### What are the scientific goals of the analysis?
Currently, the annotated CNV file loaded to pedcbio does not contain samples that do not have CNVs.
Also for samples that do have CNV calls, for segments that are diploid, those segments are not in the file either.
We want to load a more comprehensive annotated CNV file with diploid/neutral calls added back.

#### What methods do you plan to use

[2021-10-27 12:07] afarrel opened #241 "Proposed Analysis: Create Gene CNV Table using TARGET SNP array data"
#### What are the scientific goals of the analysis?
SNP arrays are are accurate in determining copy number alterations than our current CNV pipelines. We currently have SNP array data and will receive some more when the P30s come in. Our goal is to create a CNV Table (similar to the one from the current CNV module) and CNV pipeline using SNP array data

#### What methods do you plan to use to acco

[2021-10-27 14:51] jharenza opened #242 "Bix Dev PedcbioPortal Support: add cancer type detailed to GMKF NBL samples"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists

#### [Required] How would you most generally describe your issue?
- [x] Update data for project in pedcbio portal
- [ ] Questions related to data on pedcbio portal

#### If an update to a project, provide links to the input files that should be used an

[2021-10-27 14:53] jharenza opened #243 "Bix Dev PedcbioPortal Support: add PMTL as predefined gene list"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists

#### [Required] How would you most generally describe your issue?
- [c] Update data for project in pedcbio portal
- [ ] Questions related to data on pedcbio portal

#### If an update to a project, provide links to the input files that should be used an

[2021-10-27 18:38] jharenza opened #244 "Update analysis repo README"
https://github.com/PediatricOpenTargets/OpenPedCan-analysis is out of date and pertains only to OpenPBTA analysis - we should update this.

@runjin326 or @logstar can one of you take this?

[2021-10-27 19:50] runjin326 opened #245 "Updated analysis: Focal CN preparation module"
#### What analysis module should be updated and why?
Focal CN preparation module

Currently, this module runs the annotation step by batch. With more and more sample added in, this is causing issues even when running on EC2 - with error message as followed:
[code]
Need to modify the module to run the annotation step by batch to avoid the issue.

#### What changes need to be made? Please provide en

[2021-11-01 18:59] allisonheath commented on #243
It looks like it's a configuration change, you need to update the JSON file and then redeploy: https://docs.cbioportal.org/2.3-customization/portal.properties-reference#gene-sets-used-for-gene-querying

[2021-11-01 20:35] jharenza commented on #243
awesome, thank you @allisonheath!

@runjin326 can you create the JSON entries for @alubneuski to add to the current file?
`PMTL: Pediatric Relevant Molecular Targets (476 genes)`

from: `s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/v10/ensg-hugo-rmtl-mapping.tsv`

[2021-11-01 20:36] zdorman commented on #224
@taylordm
cc @chinwallaa
Can you please confirm that you'd like us to make the following changes to the site based on @jharenza's About Page mockup comments? (thanks for the detailed feedback, by the way!)

On both Target and Evidence pages:
1. Change widget title from "OpenPedCan Somatic **Mutations**" to "OpenPedCan Somatic **Alterations**" (because fusions and CNVs are included)
2. Change icon

[2021-11-01 20:38] afarrel opened #246 "Proposed Analysis: Create SNV table from DGD Panel data"
#### What are the scientific goals of the analysis?
Create DGD Gene Panel pedOT SNV table to report SNV calls from DGD VCFs/MAFS .
Report DGD  Tier 1,2,3 clinical calls when/if available.

#### What input data are required for this analysis?
DGD variant call VCF/MAF files.
V10 - Histology file

#### How long do you expect is needed to complete the analysis? Will it be a multi-step analysis?
3 week

[2021-11-02 13:15] runjin326 commented on #242
@jharenza, I looked into the `data_clinical_sample.txt` downloaded from the s3 bucket listed above but it seemed like the file already has cancer type information:
[code]
Am I missing something?

[2021-11-02 13:26] runjin326 commented on #242
@jharenza, just to confirm, I am seeing that for other cancer types, they are using harmonized/integrated diagnosis as `CANCER_TYPE_DETAILED` and since NBL does not have that field, we should just use `HISTOLOGY`?
Also, just want to confirm, we are using `harmonized_diagnosis` not `integrated_diagnosis` for `CANCER_TYPE_DETAILED` correct? Harmonized diagnosis field has entries that are NA in integ

[2021-11-02 14:01] jharenza commented on #242
Oh yes, cancer type detailed - for TARGET samples, can we simply copy path dx to the harmonized diagnosis (can make a ticket please) in our histology file and then use that here? The harm dx should be absent of NAs (for PBTA, if subtyped, it was the integrated dx and if not, it was the pathology dx). That way, the harm dx will be complete.

[2021-11-02 14:08] jharenza commented on #246
For this point - can we create a new discussion ticket to brainstorm how best to include this data in releases? From discussion with @afarrel, sounds like it won't be in the MAF itself.

[2021-11-02 14:12] runjin326 commented on #242
@jharenza, sure I will open ticket to use path dx as harmonized dx for TARGET samples and in the meantime, use path dx to populate `CANCER_TYPE_DETAILED` for now and update the file to S3 bucket once done.

[2021-11-02 14:34] runjin326 commented on #243
Here is the JSON file - @jharenza, among the 476 genes with `pmtl == "Relevant Molecular Target"`, one of them is NA so I filtered that one out and rename the ID to `PMTL: Pediatric Relevant Molecular Targets (475 genes)`.  @alubneuski , could you please check and make sure the format is what you expected? I will make modifications if it is not. Thanks!
[pmtl_v1.1_475genes.json.zip](https://github

[2021-11-02 16:16] jharenza commented on #243
Ok great, thank you! I also thought maybe we can add the version to the description. Can you make that update?

[2021-11-02 16:26] runjin326 commented on #243
[pmtl_v1.1_475genes.json.zip](https://github.com/PediatricOpenTargets/ticket-tracker/files/7462397/pmtl_v1.1_475genes.json.zip)
Sure - included now.

[2021-11-02 17:18] runjin326 commented on #242
@jharenza, I have now generated the file with the [code in here](https://github.com/runjin326/CHOP_miscellaneous/blob/main/data_clinical_sample_fix.R). I have not uploaded the file yet since there are a couple things I want to confirm:
1) Not only GMKF NBL, TARGET AML and NBL also does not have `CANCER_TYPE_DETAILED` so I go ahead and added those back as well (344 NBL GMKF, 238 TARGET AML and 775

[2021-11-04 14:53] runjin326 opened #247 "Bix Dev PedcbioPortal Support: data clinical sample has normal sample"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists
The `data_clinical_sample.txt` in s3://kf-cbioportal-studies/public/ped_opentargets_2021/ bucket has one sample with BS ID `BS_0TCRV9AC` that is a normal sample - and its matched tumor sample is not in the file.
Please investigate.

#### [Required] How

[2021-11-09 20:21] migbro commented on #247
@runjin326  has removed the offending sample. Please review https://kf-strides-cbioportal-qa.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021

[2021-11-09 20:23] migbro commented on #242
Along with the fix regarding #247 , @runjin326 has also addressed this: https://kf-strides-cbioportal-qa.kidsfirstdrc.org/study/summary?id=ped_opentargets_2021

When v10 rolls along, it is preferred that the dx issue be resolved in the histologies file, unless it is anticipated that this will happen on occasion. In that case, the code can be updated to look for a "backup" field.

[2021-11-09 22:10] migbro commented on #247
Closing as @runjin326 reviewed QA and given the ok for prod. This sample no longer shows in prod.

[2021-11-09 22:10] #247 closed

[2021-11-09 22:13] migbro commented on #242
This has been pushed to prod after review from @runjin326 , I will consider this closed.

[2021-11-11 17:33] runjin326 opened #248 "Concatenate DGD MAF files for v11 release"
#### What data file(s) does this issue pertain to?
`snv-consensus-plus-hotspots.maf.tsv.gz`

#### What release are you using?

v10

#### Put your question or report your issue here.
Please format the DGD panel MAF files to match the format of `snv-consensus-plus-hotspots.maf.tsv.gz`
And then merge the files to SNV MAF file for v11 data release.

[2021-11-11 17:36] runjin326 commented on #244
closing with [PR152](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/152) merged

[2021-11-11 17:36] #244 closed

[2021-11-11 18:24] runjin326 opened #249 "Concatenate DGD fusion results for v11 release"
#### What data file(s) does this issue pertain to?
*fusions.tsv from DGD fusion panel outputs

#### What release are you using?

N/A

#### Put your question or report your issue here.
@Bo will generate a concatenated file with all available fusion panel data merged
@runjin326 will take the file and reformat them to match the column of `fusion-putative-oncogenic.tsv` and merge with v10 `fusion-puta

[2021-11-11 18:53] runjin326 commented on #245
Closing with [PR#150](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/150) merged and CWL workflow updated accordingly.

[2021-11-11 18:53] #245 closed

[2021-11-16 00:25] jharenza opened #250 "Updated analysis: update TMB analysis"
#### What analysis module should be updated and why?
`snv-callers`  https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/dev/analyses/snv-callers/scripts/03-calculate_tmb.R

#### What changes need to be made? Please provide enough detail for another participant to make the update.
We should update the TMB calculation for all new samples and set this up for incoming data to be integrate

[2021-11-16 01:16] ewafula commented on #250
@jharenza, @runjin32, I can work to update this module. But will first spend a bit of time to understand it first.

[2021-11-16 19:12] zdorman commented on #224
Following up on my previous questions:

We confirmed in the weekly meeting 11/3 to change the widget name to Somatic Alterations and the icon to SA.

Can you please confirm that we should change the source link from "OpenPBTA for CBTN (v21)" https://www.ccdatalab.org/openpbta to "OpenPBTA for CBTN and PNOC (v21)" https://alexslemonade.github.io/OpenPBTA-manuscript/ ?
@taylordm
cc @chinwallaa @jhar

[2021-11-16 21:58] aadamk opened #251 "Updated analysis: Addition of DGD samples to v11 histology file"
#### What analysis module should be updated and why?

v11 histology file

#### What changes need to be made? Please provide enough detail for another participant to make the update.

Addition of all MAF and fusion metadata corresponding to DGD subjects.

#### What input data should be used? Which data were used in the version being updated?

Attached file - derived from an 11/16/2021 pull of the D

[2021-11-16 22:19] ewafula commented on #251
Thank you, @aadamk!  @runjin326,  In the OT histologies file, all  D3b study cohort designations  (`CBTN`, and `PNOC`) are both renamed to `PBTA`. I am assuming that `DGD` will also be renamed to `PBTA`. I have this integrated into the v11 histologies by tommorow.

[2021-11-17 03:13] jharenza commented on #251
Thanks @aadamk and @ewafula for working on this!

@ewafula we should keep DGD as DGD cohort- this will be a pan-cancer group of samples.

@aadamk for those consented under CBTN, I think it makes sense for us to continue using DGD as the cohort, as the cohort is specific to the sequencing strategy and the data source. So for instance, one patient may be CBTN for RNA-Seq and WGS, but DGD for fusion

[2021-11-17 17:01] ewafula commented on #251
There is no information for `broad_histology`, `short_histology`, and `cancer_group` in the DGD histologies file. I can infer a few of them from the `pathology_diagnosis` column referencing the info available in the v10 histologies but not all.  Where can I get these histology terms, specifically `cancer_group` which is utilized in most of the OT analysis modules?
[code]
Cc @aadamk, @jharenza, @af

[2021-11-17 17:05] runjin326 commented on #251
@ewafula , all the three fields that you mentioned should come from molecular subtyping. Basically, the information that we get from DW is a `base` file and we add to that with additional information from molecular subtyping information. I will take a look into this and give you a detailed instruction as to how to go forward about this.

[2021-11-17 17:08] ewafula commented on #251
Ok. Thanks, @runjin326

[2021-11-17 17:25] jharenza commented on #251
@ewafula and @runjin326 - it looks like we will want to do some backend work to update the `pathology_diagnosis` for this cohort. @aadamk are you able to work with ADAPT/CRU on doing with DGD what we did with PNOC. That is, we moved the initial `pathology_diagnosis` to `pathology_free_text_diagnosis` and harmonized `pathology_diagnosis` to be current with CBTN available selections for brain tumors

[2021-11-17 18:10] zdorman opened #252 "Edit Somatic Alteration JSONL field names for consistency"
#### What data file(s) does this issue pertain to?

SNV by Gene: `gene-level-snv-consensus-annotated-mut-freq.jsonl`
SNV by Variant: `variant-level-snv-consensus-annotated-mut-freq.jsonl`
CNV by Gene: `gene-level-cnv-consensus-annotated-mut-freq.jsonl`
Fusion by Gene: `putative-oncogene-fused-gene-freq.jsonl`
Fusion: `putative-oncogene-fusion-freq.jsonl`

#### What release are you using?

v10

###

[2021-11-17 18:31] logstar commented on #252
@zdorman Thank you for creating this issue. Could you also create another issue at <https://github.com/CBIIT/ppdc-config/issues> to keep track of the required PedOT front-end configuration file changes? The configuration file changes will make PedOT front-end compatible with the proposed v11 JSONL file field names.

[2021-11-17 18:48] ewafula commented on #252
Thanks, @zdorman, I'll update the three modules for the v11 release.

[2021-11-18 01:44] runjin326 opened #253 "Add PBTA samples for v11 release"
#### What data file(s) does this issue pertain to?

DNA-related files:
[code]
Please add back `BS_4SCDT7M9` to `cnv-cnvkit.seg.gz`

RNA-related files:
[code]
Please merge and re-collapse the TPM and count files for RNA-seq after merging RNA-Seq data from PNOC.

#### What release are you using?

v10

[2021-11-18 01:54] runjin326 opened #254 "Generate CNV annotation file for v11 release"
#### What data file(s) does this issue pertain to?
[code]
Once `cnv-cnvkit.seg.gz` is updated to include new PNOC samples and the annotation scheme is implemented (see [PR#153](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/153)), focal CN annotation module needs to be re-ran to generate the above updated files.

#### What release are you using?

v10 + additional PNOC

[2021-11-18 02:23] runjin326 opened #255 "Re-Run tp53-nf1 scores module with addition of new PNOC samples"
#### What data file(s) does this issue pertain to?

After PNOC samples are merged to SNV, CNV, gene expression TPM files, use base histology file containing PBTA + new PNOC samples to re-run TP53-NF1 module

#### What release are you using?

v11

[2021-11-18 02:29] runjin326 opened #256 "Subtype new PNOC samples"
#### What data file(s) does this issue pertain to?
`histologies.tsv`

Once DNA and RNA data files are updated to include new PNOC samples, and once `tp53-nf1-score` module is re-ran, run the base histologies file containing PNOC samples through relevant molecular subtyping modules to get subtypes.
[code]

#### What release are you using?

v11

[2021-11-18 14:51] aadamk commented on #251
Yes, I should be able to work with them on the above.

[2021-11-18 16:22] runjin326 commented on #222
Closing with [PR154](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/154) merged.

[2021-11-18 16:22] #222 closed

[2021-11-24 15:27] runjin326 opened #257 "Primary site for some samples are weird"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v9/v10 - the issue is already present in v9. Did not check v8 though.

#### Put your question or report your issue here.
Some entries in `histologies.tsv` file have `primary_site` that are lumping together or truncated.
Need to revisit how we get those information and format them correctly if poss

[2021-11-24 16:57] ewafula commented on #257
@runjin326,  this how it is reported in the Neuroblastoma metadata files both GMFK and TARGET.  Look and the `IDCO Description` column in the the example file attached. Each cell of the excel column has multiple lines (what ends up looking like lumping together in tsv histologies file), Looks pretty,  but not so when read in with either R or python and write to tsv output file.  In my histologies

[2021-11-29 20:32] runjin326 commented on #257
@ewafula, thanks for sending along the excel file - looks like the excel file has all the correct information and they are just formatting issues so should not be hard to fix. I will look into that and let you know.

[2021-11-29 22:24] runjin326 opened #258 "Getting bed files for TMB calculation"
#### What data file(s) does this issue pertain to?
Padded bed files used for MAF calling in GMKF, TARGET and PNOC

#### What release are you using?
@ewafula, the bed files for PBTA samples can be found in this S3 bucket: s3://d3b-openaccess-us-east-1-prd-pbta/data/release-v21-20210820/ - I can also download them and sent them to you if you do not have access.
I think for those, we can stick with t

[2021-11-30 00:31] jharenza commented on #250
@runjin326 for this, I meant that the new PBTA samples have not yet been run through this module, so they would need TMB calculations as well.

I also think it makes sense, in addition to releasing all BED files, to create a bed-mapping.tsv file which lists the BS_ID and the padded beds  column-wise per variant caller. Note: there are different BED files per sample because different variant caller

[2021-11-30 00:33] jharenza commented on #258
@runjin326 i made a comment on the analysis ticket regarding your question above:

https://github.com/PediatricOpenTargets/ticket-tracker/issues/250#issuecomment-982163724

[2021-11-30 00:42] jharenza commented on #250
Adding some relevant references we used previously. Module may need some tweaking here since in OpenPBTA all callers were not used, as they are being used here in consensus.

https://pubmed.ncbi.nlm.nih.gov/32217756/

https://www.annalsofoncology.org/article/S0923-7534(21)04495-1/fulltext

[2021-11-30 02:08] ewafula commented on #250
@jharenza, @runjin326, @zhangb1,  based on the `OpenPBTA`, only `strelka2` and `mutect2`callers are used for TMB calculation. Considering that we only have the consensus file for `OpenPedCan` (`snv-consensus-plus-hotspots.maf.tsv.gz`) and not cohort-specific files for each caller (`mutect2`, `strelka2`, `verdict`, and `lancet`), I was intending to filter the consensus file for variant calls that h

[2021-11-30 13:52] runjin326 commented on #257
@ewafula, I have now fixed the primary site of the excel file - attached here:
[TARGET_NBL_ClinicalData_Validation_20200507.xlsx](https://github.com/PediatricOpenTargets/ticket-tracker/files/7626166/TARGET_NBL_ClinicalData_Validation_20200507.xlsx)
Could you please use it to update the current histologies file we have? Thanks!

[2021-11-30 15:47] ewafula commented on #257
@runjin326, thanks, but there are several of the clinical files for NBL samples with different formats from different sources, some Maris Lab, Diskin Lab, TARGET portal (multiple), and GDC portal. Remember we have been progressively amending and adding samples to the histologies file since the beginning of the project. Therefore, the feasible approach for v11 is for me to manually work through all

[2021-11-30 16:02] runjin326 commented on #257
@ewafula, thanks Eric - I think you can use the one I attache for TARGET and for Maris and others, yes could you please manually work through all the clinical sources and generate a mapping file?
Also, please make sure when you manually fix them, the truncated issue that we saw here is being fixed as well. Thanks!

[2021-11-30 17:11] ewafula commented on #257
@runjin326, about the truncated primary_site ICDO Descriptions, they not formatting issues. They are all truncated in the GMKF Maris Lab clinical source file, [2019-09-30-gmkf_clinical_elements.csv](https://github.com/ewafula/D3b-codes/blob/OpenPedCan_histologies/OpenPedCan_histologies/input/KFNBL/2019-09-30-gmkf_clinical_elements.csv). May be replacing them with similar ICDO Descriptions from TAR

[2021-11-30 17:14] runjin326 commented on #257
@ewafula, yes that would work - I actually saw that one of the entries in TARGET also has an additional `Per` but I used the ICDO field (it contains a code) to match and that should be good. Using the USI ID to replace them is a good idea!

[2021-11-30 17:57] jharenza commented on #257
Just pointing out that USI is a patient identifier, so you'll have to get the specimen identifiers to match for this.

[2021-11-30 18:04] ewafula commented on #257
Sure, @jharenza. I will discuss with @afarrel before updating. Maybe he as the original file some where ICDO Descriptions field entries are not truncated as currently present in CSV file that I used for the create the OT histologies file.

[2021-11-30 18:47] runjin326 opened #259 "Fill in harmonized diagnosis in histology file"
#### What data file(s) does this issue pertain to?
histologies.tsv

#### What release are you using?

v10

#### Put your question or report your issue here.
Starting from v11, for tumor samples without harmonized diagnosis that are not from TCGA cohort - let's update `harmonized_diagnosis` field using the following logic:
- If `pathology_diagnosis` is not "Unknown", fill in `harmonized_diagnosis`

[2021-11-30 19:39] runjin326 commented on #238
Closing with [PR149](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/149) merged.

[2021-11-30 19:39] #238 closed

[2021-12-06 21:03] komalsrathi commented on #217
@runjin326 is all molecular subtype info up-to-date in the latest release histology file?

[2021-12-06 21:06] runjin326 commented on #217
@komalsrathi, the OpenPBTA samples all ran through molecular subtyping modules so they are up-to-date. For samples that are not in PBTA cohort, I think it is filled out based on the metadata information we have - for example, NBL has some molecular subtyping information - but not all samples have molecular subtyping info yet.

[2021-12-06 21:23] zhangb1 commented on #258
@runjin326 , for openTagret, please see the slack message from :

https://opentargetspediatrics.slack.com/archives/C021N2D56DB/p1625114498299200?thread_ts=1624885379.266600&cid=C021N2D56DB

it's pinned in the data-harmonization channel.

there is a manifest for the bed files for each samples.  but there are all hg19 or 37.  we converted to the hg38, I will send you the hg38 by tomorrow.

[2021-12-07 05:51] jharenza commented on #217
@runjin326 and @komalsrathi just to weigh in here - we don't need to plot these for OT for now because the types of plots will likely be different (ie starting with cancer group and adding to api if desired, but this is beyond the scope here). When updating these modules, we can be simply updated the outputs and either archive the plot code or keep it subsetted to PBTA for now.

[2021-12-07 14:03] runjin326 commented on #258
@zhangb1, thanks so much! A few more follow up questions:
1) Do you also have bed files for GMKF?
2) For `PNOC_dataset_2`, as you mentioned, 3 sequencing centers were involved - do you have the matching bed file for all these 3 center:
[code]
3) I see that for `PNOC_dataset_1`, there are WGS, WXS with various different sequencing center, e.g., `"BGI@CHOP Genome Center" "Novogene"  `. Do you have t

[2021-12-07 15:16] zhangb1 commented on #258
sent the region files to Run by slack

[2021-12-07 17:36] runjin326 commented on #250
So Bo sent me all the bed files and explained the logic behind calling - some summaries and thoughts here:
1) I think the reason for only using the intersect of two callers in OpenPBTA is because  Lancet uses a different bed file when calling MAF (while mutect2, vardict and strelka2 pretty much just used the whole genome chromosome file). Also , mutect2 and vardict uses the same file so using the

[2021-12-07 18:02] jharenza commented on #250
Hi @runjin326 - your methodology sounds good.

I was under the impression that the nt used for padding WXS beds were based on the variant caller not the dataset. @migbro can you weigh in here as to why these paddings would differ?

[2021-12-07 20:55] migbro commented on #250
Only thing I could think of is that in batch 1, they were accidentally aggressively padded and we noted that. Batch 2 I think "fixes" this, however the 2bp pad sounds like a choice an analyst made?

[2021-12-08 03:16] runjin326 commented on #251
@jharenza, I have now generated a brief mapping from pathology diagnosis to cancer group + broad histology - attached here as a excel file.
- Tab 1 - this is where I compare the primary_site + pathology_diganosis and map them to our current histology file to see whether there is an exact match. Exact matches are in this sheet.
- Tab 2 - this is where no primary_site + pathology_diganosis exact mat

[2021-12-08 18:40] runjin326 commented on #250
@jharenza, looks like for OpenPBTA - the WXS region file is padded with 100bp and then used for TMB calculation. For PNOC (both dataset1 and 2) and TARGET samples (regardless of either WXS or panel) - the padded files that we have in hand are all 100bp padded (wondering what they are for). Should we maybe just use 100bp padded for all panel + WXS samples to be consistent?

Another question is in O

[2021-12-08 19:49] logstar opened #260 "Updated analysis: add relapse tumor samples to `tumor-normal-differential-expression` module"
#### What analysis module should be updated and why?

`tumor-normal-differential-expression` module currently only analyzes independent primary/diagnosis tumor RNA-seq samples, as coded in <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/blob/f8a928d1b135ca3b91bdb8b2a3d9da5aae228481/analyses/tumor-normal-differential-expression/run-tumor-normal-differential-expression.sh#L23-L34>.

Rel

[2021-12-09 04:00] runjin326 opened #261 "Update EFO MONDO mapping file"
#### What data file(s) does this issue pertain to?
`efo-mondo-map.tsv`

#### What release are you using?

v10

#### Put your question or report your issue here.
Currently, this file only has EFO and MONDO terms mapped to it -
1) Please review and make sure all the terms that we have listed there are up-to-date with newest OLS update
2) Please add another column to include NCIT code as well

This c

[2021-12-09 13:29] runjin326 commented on #258
@ewafula, please use the attached file for matching Kids First Biospecimen ID to bed files:
[biospecimen_id_to_bed_map.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7685369/biospecimen_id_to_bed_map.txt)
And attached here is the folder containing all the bed except for `intersect_strelka_mutect2_vardict_WGS.bed` which is a bed intersect of `wgs_canonical_calling_regions.hg38.be

[2021-12-09 13:40] jharenza commented on #258
@runjin326 can you do a quick release of these files so they're in the download,if ready?

[2021-12-09 13:43] runjin326 commented on #258
@jharenza , sure - this will be quick v11 release? or v10.1? Currently, the v11 is sort of planned out to include new DGD etc.
Also - do you think it's ok to use 100bp padded bed for all panels and WXS? And we would make our own intersect of bed files instead of using OpenPBTA version?

[2021-12-09 14:54] ewafula commented on #258
@runjin326, when ready let me where the are located. I will create the intersect file, `intersect_strelka_mutect2_vardict_WGS.bed`

[2021-12-09 15:05] runjin326 commented on #258
@ewafula, yes - here is the zip file with all bed files that we would use for this project.
[all_bed_files_for_OT.zip](https://github.com/PediatricOpenTargets/ticket-tracker/files/7686139/all_bed_files_for_OT.zip)

[2021-12-09 16:30] jharenza commented on #258
We could make this v11 and DGD v12, since it's going to take some time for histologies and efo/mondo/etc.

The padded beds should be whatever was used in variant calling. I'm still somewhat confused. If @zhangb1 used 100bp padding for MUTECT WXS variant calling for example, we use that for calculating Tmb from the mutect MAF for those WXS. We shouldn't pad extra if the variant calling didn't inclu

[2021-12-09 16:54] ewafula commented on #250
@jharenza, @runjin32,  in the  OpenPBTA `snv_callers` module , only `strelka2` and `mutect2` calls are used for TMB calculation. Should we also ignore calls specific to only `lancet`, `VarDict`, and `VarDict,Lancet` in OT ?  Some tumor samples will be left out. In v10 17 samples, all TARGET NBL.
[code]

[2021-12-09 17:39] runjin326 commented on #250
@ewafula, I think we want to do something different from OpenPBTA - and maybe take out the TMB calculation from the `snv_callers` module and then separate a TMB calculation module just for it.
But here - I think the idea is we would use straight from the consensus MAF file that we included in the data release (regardless of what callers it used - as long as it is in the consensus file) and just co

[2021-12-09 17:46] ewafula commented on #250
Thanks, @runjin326. I will proceed with all callers.

[2021-12-09 17:57] jharenza commented on #250
Yes, we would do different than OpenPBTA as @runjin326 suggested. Interesting about

I wonder if those are real calls or could be artifacts... cc @afarrel on this

[2021-12-10 16:59] komalsrathi opened #262 "Harmonize TCGA `sample_id` column"
#### What data file(s) does this issue pertain to?

histologies.tsv

#### What release are you using?

v21

#### Put your question or report your issue here.

The current `sample_id` values for the TCGA cohort are not unique. This is problematic especially for some of the clinical report modules that rely on unique sample identifiers that can be used to map RNA and DNA kids first identifiers.

The

[2021-12-10 18:05] jharenza commented on #262
Cc @ewafula

[2021-12-10 21:02] ewafula commented on #262
@jharenza, what do suggest we do?  The `samples_id` column has never been considered to be unique in the OT histologies for all cohorts except PBTA. That is how you asked me to code from the beginning?
[code]
Cohort == PBTA
[code]
Cohort == GMKF
[code]
Cohort == TARGET
[code]
Cohort == GTEX
[code]
Cohort == TCGA
[code]

[2021-12-10 22:43] runjin326 commented on #258
@jharenza, thanks - I will double check with Bo to see whether padded or unpadded files are used for calling.
In terms of intersecting - I think this only pertains to WGS samples? For all WXS and panels, there is only one associated bed file and I don't think it is caller-specific? I will double check all these.
In the meantime @ewafula, please use this updated bed mapping file - the NA that you s

[2021-12-10 22:46] jharenza commented on #262
@ewafula agreed this is a PBTA-specific field. @komalsrathi can you adapt your code to handle this because if we are to change all other cohorts coming in, we might need to strategize how to do so.

[2021-12-10 23:03] komalsrathi commented on #262
sure

[2021-12-11 17:47] komalsrathi commented on #262
Closing as I'll handle this in the clinical reporting code.

[2021-12-11 17:47] #262 closed

[2021-12-13 14:33] runjin326 commented on #258
@ewafula, I have now modified the bed file mapping - attached here.
[biospecimen_id_to_bed_map.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/7704544/biospecimen_id_to_bed_map.txt)

And also confirmed with Bo that for variant calling, he used 100bp padded bed files for all of them.

[2021-12-13 14:46] ewafula commented on #258
@runjin326,thanks! What about the 6 samples in snv consensus file and absent in both the sample-bed mapping and histologies files? Any work from @zhangb1

[2021-12-13 15:08] runjin326 commented on #258
@ewafula, I will keep you posted about that - but that would need to be fixed for a data release - unlikely to get fixed right now. So maybe you can write your code to mitigate that (e.g., use the bed file map file to search SNV, or however you want to do0?

[2021-12-13 15:39] jharenza commented on #258
Thanks @runjin326, @zhangb1, and @ewafula for your work on this!

[2021-12-15 15:38] migbro opened #263 "Added proposed cBio names to histologies table"
#### What data file(s) does this issue pertain to?

histologies

#### What release are you using?

v10

#### Put your question or report your issue here.

Request to add a column for cBio names for non-PBTA/KF studies. If possible, for samples in PBTA, KF would recommend using existing cBio names, maintained in the D3b data warehouse. Sample naming conventions:

# Sample Naming Guidelines

## Grou

[2021-12-15 18:42] jharenza commented on #263
@migbro how about instead of adding to the histologies file, we create a module for this, which will then create a tsv file of all columns required for pedcbio?

I am partial to doing it this way to not weigh down the histologies file, especially because we may not be able to do this upfront prior to analyses, which is when the histologies file itself is generated.

[2021-12-15 18:49] migbro commented on #263
Yeah, sure! The most useful thing would be to create it in the warehouse - basically BS ID + cBio name for the tumor samples. Could  pre-populate with the existing IDs from the cBio naming tables from the data warehouse and then supplement the rest. @runjin326 , the tables in the warehouse I am referring to that have `specimen_id` (as an array with DNA/RNA pairs) and `formatted_sample_id` are in t

[2021-12-15 19:26] jharenza commented on #263
Ok- maybe we can go that route, but may need some help from Nick or Meen?

[2021-12-16 21:01] zdorman opened #264 "Fusion data missing ENSGs"
#### What data file(s) does this issue pertain to?

`putative-oncogene-fused-gene-freq.jsonl`
`putative-oncogene-fusion-freq.jsonl`

#### What release are you using?

v10

#### Put your question or report your issue here.

There are 17 records across 4 `Gene_symbols` within the v10 Fusion JSONL files that do not have Ensembl Gene ID (`targetFromSourceId`) values.

| FusionName     | Gene_symbol

[2021-12-16 22:45] logstar commented on #264
This issue seems to be related to <https://github.com/PediatricOpenTargets/ticket-tracker/issues/153>, which was originally discussed in the fusion frequency table module PR at <https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/49#discussion_r680118271>.

[2021-12-16 23:20] jharenza commented on #153
@sangeetashukla - since this has just come up in #264, we should revisit this ticket. Can you work on the first two bullets outlined here? I don't think it will be super urgent, so you can prioritize based on your other ongoing tasks - @zdorman can confirm. @runjin326 can help advise on this if needed. Thanks! Cc @afarrel

[2021-12-17 14:14] zdorman commented on #153
Apologies for reporting #264 when you have already clearly outlined the issue here!
* Agreed that this is not a major/urgent issue and can wait until the next release
* I checked all of the v10 JSONL files and found no other instances of blank ENSGs
* MTP (formerly PedOT) is extremely ENSG-centric, so without an ENSG the record is functionally nonexistent
* Agreed that the best solution is to remo

[2021-12-17 14:37] sangeetashukla commented on #153
@jharenza Sure, I will look into this issue.

[2021-12-17 15:56] runjin326 commented on #96
Closing with [PR118](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/118) merged

[2021-12-17 15:56] #96 closed

[2021-12-21 20:57] zdorman opened #265 "Data mapped to invalid/outdated ENSGs"
#### What data file(s) does this issue pertain to?

JSONL files for MTP:
`gene-level-snv-consensus-annotated-mut-freq.jsonl`
`variant-level-snv-consensus-annotated-mut-freq.jsonl`
`gene-level-cnv-consensus-annotated-mut-freq.jsonl`
`putative-oncogene-fused-gene-freq.jsonl`
`putative-oncogene-fusion-freq.jsonl`
`long_n_tpm_mean_sd_quantile_gene_wise_zscore.jsonl`
`long_n_tpm_mean_sd_quantile_group_

[2021-12-23 18:39] #164 closed

[2022-01-03 21:09] runjin326 opened #266 "Updated analysis: CNV annotation module to use GENCODE v38"
#### What analysis module should be updated and why?

`focal-cn-file-preparation`
Currently, this module is using GENCODE v27 for the mapping, which would make the final file containing outdated ENSGs (see https://github.com/PediatricOpenTargets/ticket-tracker/issues/265). Hence, we should update the analysis for CNV to use GENCODE v38.

#### What changes need to be made? Please provide enough det

[2022-01-03 21:14] runjin326 opened #267 "Update README in the analysis folder"
#### What data file(s) does this issue pertain to?
README.md (especially the analysis module table) in analysis folder.

#### What release are you using?

N/A

#### Put your question or report your issue here.
Currently, the links to the modules are still linked to OpenPBTA - need to update that.
Also, would update to include new modules added/implemented (e.g., pedcbio cnv prepare, TMB, methylati

[2022-01-03 21:27] runjin326 opened #268 "Proposed Analysis: Add a module to remove ENSGs not in GENCODEv38 from jsonl tables"
#### What are the scientific goals of the analysis?

- As mentioned in [ticket 265 ](https://github.com/PediatricOpenTargets/ticket-tracker/issues/265) and [ticket 264](https://github.com/PediatricOpenTargets/ticket-tracker/issues/264), there are ENSGs in the tables for FNL that are not in GENCODE v38 and Ensembl package 104.
- Since various versions were used for different datasets, creating a mo

[2022-01-03 21:37] ewafula opened #269 "Proposed Analysis: TARGET arrays methylation analysis/methylation table"
#### What are the scientific goals of the analysis?
Preprocess probe hybridization intensity values of selected methylated and unmethylated cytosine (CpG) loci into usable methylation measurements for the Pediatric Open Targets, OPenPedCan-analysis raw DNA methylation array datasets.

#### What methods do you plan to use to accomplish the scientific goals?
[minfi Bioconductor package](https://bioc

[2022-01-05 14:34] komalsrathi commented on #171
@logstar is this still applicable? If not, can you please close this ticket?

[2022-01-05 14:48] komalsrathi commented on #217
@jharenza thanks, makes sense. Going to work on this today - will generate the deconvolution scores + heatmap with scores per `cancer_group`. I can open a new ticket later and add the molecular subtype plots once all subtyping is available.

[2022-01-05 15:52] logstar commented on #171
@komalsrathi Thank you for checking. This issue is addressed by the OpenPedCan API. I will close this ticket.

[2022-01-05 18:10] runjin326 commented on #223
@zdorman, since the changes are merged - this should be ready to close right?

[2022-01-05 18:11] runjin326 commented on #224
@zdorman, similarly - can this issue be closed now?

[2022-01-05 18:12] runjin326 commented on #225
@zdorman - this should be ready to close as well?

[2022-01-05 18:16] runjin326 commented on #235
@zdorman, since we are clear on what `All Cohorts` mean, can this issue be closed?

[2022-01-05 18:19] runjin326 commented on #240
closing with PR151 merged

[2022-01-05 18:19] #240 closed

[2022-01-05 20:26] runjin326 commented on #252
Closing with PR149, PR155 and PR156 merged.

[2022-01-05 20:26] #252 closed

[2022-01-05 20:29] runjin326 commented on #236
Closing since this is fixed by [ticket237](https://github.com/PediatricOpenTargets/ticket-tracker/issues/237) and PR137 merged.

[2022-01-05 20:29] #236 closed

[2022-01-05 21:44] runjin326 opened #270 "Update download data script"
#### What data file(s) does this issue pertain to?
`gencode.v27.primary_assembly.annotation.gtf.gz`
`GRCh38.primary_assembly.genome.fa.gz`

#### What release are you using?

v10

#### Put your question or report your issue here.
Since now we would be using GENCODE v38 to match molecular target platform, we should use release 38 in our data download.

Please update the download data script (https:/

[2022-01-06 12:32] jharenza commented on #270
@runjin326 when this becomes a PR, will you make this v11 (or maybe we can start using some nomenclature like 10a, 10b, 10c for updates which aren't major - although we ought to create rules around those if we do. I suggested letters because the releases create folders so not to have periods in folders).

[2022-01-06 13:46] runjin326 commented on #270
@jharenza - sure! Actually I think I would just update this when we release v11 and test with downloads of all other data files to avoid confusion.

[2022-01-06 14:39] runjin326 commented on #263
@migbro - to follow up on this ticket, could you please offer some pointers as to how to get those pedcbio schema tables? I am not that familiar with DWH yet.
And to confirm, the way to approach this would be:
1) use a module to supplement histology file with pedcbio name
2) get the tables from DWH and use those names for samples that have cBio name already
3) for samples that do not have cBio nam

[2022-01-07 17:58] migbro commented on #263
Hi @runjin326,
Sure! If you don't have access to the D3b data warehouse yet, you can asked for access creating a Jira ticket here: https://d3b.atlassian.net/jira/software/projects/DEVOPS/boards/10 and assingn Nick Van Kuren. You'll want to be sure to request access to the `prod_cbio` schema as well as `bix_workflows` for good measure. Once you have access to those, you can see what BS IDs I have a

[2022-01-07 18:00] runjin326 commented on #263
@migbro, thanks so much! I will work on getting access and tables and proceed with creating a module.

[2022-01-10 20:53] afarrel opened #271 "Proposed Analysis: Compare RNAseq expression values from JAX/PIVOT pipelines, KidsFirst pipelines, and Baylor pipelines from original PPTC project"
#### What are the scientific goals of the analysis?
Compare the Expression values from JAX/PIVOT pipelines, KidsFirst pipelines, and Baylor pipelines from original PPTC paper to understand the difference in quantitative output from the 3 methods.

#### What methods do you plan to use to accomplish the scientific goals?
Calculate correlation, standard error and percent error between the 3 pipelines

[2022-01-10 22:17] runjin326 commented on #74
Closing with PR#148 merged.

[2022-01-10 22:17] #74 closed

[2022-01-11 01:45] jharenza opened #272 "QC check RNA-Seq input files"
# 🆘

#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists

#### [Required] How would you most generally describe your issue?
- [x] Update data for project in pedcbio portal
- [ ] Questions related to data on pedcbio portal

#### If an update to a project, provide links to the input files that should be used an

[2022-01-11 14:53] migbro commented on #272
Hmmm, interesting. `7316-291_232977`is in the `pbta_all` study as `7316-291`, same BS ID with RNA data. Maybe with the saple ID ticket that Run is working on will help wit the new load? What is in there now is the original v7 load, so perhaps a carry over of an issue from there? The other sample mentioned is the same situation

[2022-01-11 19:49] migbro commented on #271
To help add more context to this ticket, results from the JAX and KF modified workflows can be found here: https://cavatica.sbgenomics.com/u/d3b-bixu/open-targets-pdx-workflow-dev

A file manifest of relevant results can be found here: https://cavatica.sbgenomics.com/u/d3b-bixu/open-targets-pdx-workflow-dev/files/61ddde26bb82bd039aad7390/
using `workflow` column to show the method of processing:
K

[2022-01-11 19:59] migbro commented on #271
Also, probably the easiest, fastest way to download results:
Install this https://docs.sevenbridges.com/docs/command-line-interface (follow all directions!)

Then do something like `cut -f 1 gene.results_jax_kf_manifest.tsv | xargs -IFN sb download FN --profile <your profile name>`

Could also add `-P 8` flag to xargs to get 8 at a time.

[2022-01-12 02:01] jharenza commented on #271
Also for reference: https://github.com/marislab/pdx-mouse-subtraction/tree/master/rna-hybrid for FPKM (Cufflinks) hg19 but @komalsrathi should be able to point to the STAR/RSEM hg38 workflow which may be on isilon. If I recall, this was either the same workflow as the Treehouse samples or KF samples.

[2022-01-12 13:17] komalsrathi commented on #271
The pipeline is on isilon: `/mnt/isilon/maris_lab/target_nbl_ngs/PPTC-PDX-genomics/mouse_subtraction_pipeline` as well as on github: https://github.com/marislab/pdx-mouse-subtraction. It's been a while but let me know if you have questions and I'll try my best to answer.

[2022-01-12 13:19] komalsrathi commented on #271
The STAR RSEM workflow is the same that we use for KF samples.

[2022-01-12 14:17] jharenza commented on #271
Great, thanks! So, possibly one fewer comparison @afarrel - we used TPM for expression for our clustering etc, and this is the same workflow used for KF. The comparison may be new aligned BAM output from PIVOT run through the KF STAR/RSEM workflow compared to our BCM processed hg19 aligned human bam, converted back to hg38 fastq, run through STAR/RSEM.

[2022-01-12 14:20] komalsrathi commented on #271
Actually just double checked and it was slightly different. We used Treehouse pipeline from way back which used 1-pass STAR and KF is two pass STAR. But I think the differences should not be that significant between the two pipelines.

[2022-01-12 20:37] logstar opened #273 "Updated analysis: rerun `tumor-normal-differential-expression` module with v10 data"
#### What analysis module should be updated and why?

`tumor-normal-differential-expression` module needs to be updated to rerun with v10 data and share v10 result using `s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/` S3 bucket.

Currently, the shared `tumor-normal-differential-expression` module result `DESeq_Results_V9_v2.RDS` is generated using v9 data, which will be incompatible with v1

[2022-01-13 16:27] sangeetashukla commented on #273
@logstar The files are ready, and I have access to the Cavatica volume that is linked to the S3 bucket listed here. Do you want me to create a new directory in the bucket for these result files? Or do I upload these files to `open-targets/` or `data/` directory?

[2022-01-13 16:56] logstar commented on #273
@sangeetashukla Thank you. Could you create a directory `open-targets/api/test/differential_gene_expression_v10/` and upload v10 DESeq results there?

@runjin326 I was wondering if we could put `tumor-normal-differential-expression` module results to future data releases.

[2022-01-14 02:56] ewafula commented on #258
@zhangb1, is there a reason why this bed files (attached)for that provided @runjin326 utilized the [OpenPedCan TMB calculation PR](https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/157) has some of the coordinates flipped - `start` supposed to be a lower value than `end `  in the bed files? I re-oriented them in the module development. But  @runjin326 is trying to figure out the rea

[2022-01-14 14:11] zhangb1 commented on #258
@ewafula  the PNOC003 should be this one. I may send Run the incorrect one? . I just double checked the email. and find this one attached . seems no issues with this one.
[Strexome_targets_intersect_sorted_padded100.GRCh38.bed.zip](https://github.com/PediatricOpenTargets/ticket-tracker/files/7870864/Strexome_targets_intersect_sorted_padded100.GRCh38.bed.zip)

[2022-01-14 15:41] ewafula commented on #258
@zhangb1, thank you!

[2022-01-18 14:44] aadamk commented on #27
Closing to clean up batch correction tickets - feel free to re-open if still needed.

[2022-01-18 14:44] #27 closed

[2022-01-18 14:45] aadamk commented on #103
Closing to clean up batch correction tickets - feel free to re-open if still needed.

[2022-01-18 14:45] #103 closed

[2022-01-18 22:46] runjin326 commented on #263
@jharenza and @migbro, as I am looking into this, I got a bit confused as to how to add the additional strings to the sample ID and when it would be necessary to do so. Hence I have the following questions - basically trying to figure out the current procedure for adding strings and discuss methods for adding strings for this ticket.

Currently, for what is in `prod_cbio` schema, it looks like the

[2022-01-19 13:47] migbro commented on #263
@runjin326 , yeah, it's tricky - maybe we can talk about it some time today or tomorrow? I can try and set up a meeting.

[2022-01-19 13:49] runjin326 commented on #263
@migbro, sure - a meeting will be great!

[2022-01-19 14:06] aadamk commented on #10
Closing to focus on NBL use case. Feel free to re-open if needed.

[2022-01-19 14:06] #10 closed

[2022-01-19 14:57] zdorman commented on #223
@runjin326  Yes, thanks for following up. This one can be closed.
What's your preferred protocol? Should I be closing this (and the others) since I submitted the issue? I was assuming you would close it after successful merge.

[2022-01-19 14:58] runjin326 commented on #223
Yes - I just want to double check. I will close the issue.

[2022-01-19 14:58] #223 closed

[2022-01-19 14:59] runjin326 commented on #225
Closing with PR merged

[2022-01-19 14:59] #225 closed

[2022-01-19 15:00] runjin326 commented on #235
Closing with with PR149 merged.

[2022-01-19 15:00] #235 closed

[2022-01-19 15:02] #224 closed

[2022-01-19 21:32] logstar commented on #273
@sangeetashukla I was wondering if there is any issue with uploading v10 DESeq results to `s3://d3b-openaccess-us-east-1-prd-pbta/open-targets/api/test/differential_gene_expression_v10/`.

[2022-01-20 19:39] sangeetashukla commented on #273
@logstar I have the Seven Bridges API set up locally, along with the my credentials, but then I try to access the Cavatica API end point, (the open targets S3 bucket that @zhangb1  added me to), I still see the message 'Unauthorized'.
@zhangb1  Can you please confirm if I have permission to upload to the S3 bucket?

[2022-01-21 15:46] sangeetashukla commented on #273
@logstar While I work out my permissions to the bucket with Chris, @runjin326 has helped upload the files. Please review them when you get a chance.

[2022-01-21 16:16] logstar commented on #273
@sangeetashukla The uploaded v10 result only has one unique EFO ID. I was wondering if you could upload the result that has all EFO IDs like `DESeq_Results_V9_v2.RDS`.

[code]

cc @runjin326

[2022-01-22 03:33] jharenza commented on #273
Hi @sangeetashukla! We have limited people who can write to this bucket since it has other projects in it as well, so perhaps @runjin326 or @logstar can help with uploads?

[2022-01-24 05:37] sangeetashukla commented on #273
@logstar , I reviewed the v10 data files available on Cavatica and they look fine. I will run the analysis on HPC and upload those result files while I review the Cavatica app code.

[2022-01-24 05:38] sangeetashukla commented on #273
Thank you @jharenza for the heads-up. @runjin326 helped me with the upload and I will work with her again once I have the new set of result files ready to deliver to @logstar.

[2022-01-24 20:23] #163 closed

[2022-01-24 20:29] runjin326 commented on #217
Closing with PR#161 merged.

[2022-01-24 20:29] #217 closed

[2022-02-02 18:52] migbro opened #274 "D3b Bix Dev Team Effort Summary for January 2022"
Miguel Brown:
PDX Workflows: https://github.com/d3b-center/bixu-tracker/issues/1229
Chordoma Processing: https://github.com/d3b-center/bixu-tracker/issues/1301

Alex S.:
Toolkit work https://github.com/d3b-center/bixu-tracker/issues/1265

Dan M.
rMATS RNA Splicing:
https://github.com/d3b-center/bixu-tracker/issues/1295

[2022-02-03 16:31] runjin326 commented on #266
Closing with PR159 merged.

[2022-02-03 16:31] #266 closed

[2022-02-03 16:37] runjin326 opened #275 "Bix Dev PedcbioPortal Support: load GTEx RNA-Seq to PedCBio"
#### Please describe your issue in a couple of sentences and provide a link to the relevant pedcbio project of interest, if it already exists

#### [Required] How would you most generally describe your issue?
- [x] Update data for project in pedcbio portal
- [ ] Questions related to data on pedcbio portal

Within V10 release, there are GTEx RNA-Seq samples that can be loaded to PedCBio.
This is me

[2022-02-11 05:51] sangeetashukla commented on #273
@logstar All three result files from DESeq analysis on v10 data (rds, tsv, and json) have been uploaded to the specified S3 bucket.
Please verify when you get a chance.

[2022-02-11 17:16] logstar commented on #273
@sangeetashukla Thank you for preparing and sharing the v10 DESeq analysis results.

The v10 DESeq RDS file looks good. The EFO and MONDO IDs in v10 DESeq RDS file are the same as the ones listed in efo-mondo-map.tsv.

[2022-02-14 20:52] migbro commented on #275
Just saw this - partly blocked by PR https://github.com/PediatricOpenTargets/OpenPedCan-analysis/pull/163.
Also created an "internal" ticket that is related here: https://github.com/d3b-center/bixu-tracker/issues/1323

[2022-02-14 21:24] migbro opened #276 "Proposed Analysis: Review JAX/PIVOT PDX DNA Pipeline"
#### What are the scientific goals of the analysis?

To evaluate the efficacy of the JAX PDX pipeline

#### What methods do you plan to use to accomplish the scientific goals?

Use this pipeline: https://cavatica.sbgenomics.com/u/d3b-bixu/open-targets-pdx-workflow-dev/apps/#d3b-bixu/open-targets-pdx-workflow-dev/pdx-wes-tumor-only-xenome-with-variant-calling-msi-and-tmb-score

Alternatively, this

[2022-02-15 15:42] migbro opened #277 "Bix Dev Feature: SBG Multi-CNV Review"
# ✨
Ported over from https://github.com/d3b-center/bixu-tracker/issues/1324

#### [Required] Is this a new Kids First harmonization/analysis tool/workflow, or a D3b collaborative analysis tool/workflow?

Both

#### [Required] If a brand new project, provide title for the cavatica project, and a short name for the link.
#### Otherwise, just provide a link to the existing git repo.

https://cavatica

[2022-02-21 20:20] sangeetashukla commented on #99
@afarrel @chinwallaa Here is the link to the Cavatica project for DESeq wowkflow where I have also included a brief write-up. Please go through the write-up and feel free to play with the workflow and share any feedback.

[2022-03-04 16:11] ewafula opened #278 "Updated analysis: update v11 histologies with TARGET methylation array samples"
#### What analysis module should be updated and why?
Update [v11 OpenPedCan histologies](https://github.com/d3b-center/D3b-codes/pull/53) with TARGET methylation array samples to be utilized for developing the  proposed `OPenPedCan methylation-summary module`

#### What changes need to be made? Please provide enough detail for another participant to make the update.
Update the module with  analyze

[2022-03-07 20:46] #55 closed

[2022-03-07 20:50] #169 closed

[2022-03-07 20:51] #129 closed

[2022-03-15 15:16] komalsrathi opened #279 "Proposed Analysis: RUVSeq evaluation of matched samples"
#### What are the scientific goals of the analysis?

Evaluation of RUVSeq batch correction using:

1. `RUVg`:  Estimating the factors of unwanted variation using control genes. We will use the two sets of control genes:
    a. Housekeeping genes identified in Normal tissues by the HRT protocol
    b. Housekeeping genes identified collectively in Tumors + Normal tissues using the HRT protocol
2. `R

[2022-03-28 18:30] migbro opened #280 "Bix Ops harmonization request , MTP Multi-CNV"
## This section is required for PM/ADAPT team

### [Required] For what study (study_id) is this request?

### [Required] Basic study information
- [ ] Is this an OT or Kids First study: OT
- [ ] If KF, PI name and fiscal year:
- [ ] Study short name:

**NOTE**: Study short name is required for D3B study, but optional for Kids First X01; Fiscal year is required for Kids First X01, but optional for

[2022-03-28 18:32] zhangb1 commented on #280
@migbro  do you have an example run in cavatica?

[2022-03-28 18:36] migbro commented on #280
Some added comments:
Inputs for multi-CNV should be:
1. ControlFreeC info file
2. ControlFreeC pvalue file
3. GATK `called_copy_ratio_segments_tumor`
4. CNVKit `theta2_calls` **when available**, `cnvkit_calls` if not

All inputs should have matching `case_id` and `sample_type` metadata filled out for each biospecimen. Example run here: https://cavatica.sbgenomics.com/u/brownm28/mb-controlfreec-tro

[2022-03-29 14:30] zhangb1 commented on #280
@migbro  , just make sure the case_id  and sample_type are from the tumor/somatic results metadata ?

[2022-03-29 14:37] migbro commented on #280
Yeah, so each input file for each task, needs to have cavatica `case_id` and `sample_type` filled out. If it already is - which is likely since you guys normally tag metadata, should be fine. It's a seven bridges workflow that we modified. See the **Input Files** section in the workflow doc: https://cavatica.sbgenomics.com/u/brownm28/mb-controlfreec-troubleshoot/apps/#brownm28/mb-controlfreec-trou

[2022-03-30 13:49] taylordm commented on #113
Next step: Wait for new CNV method comparison by Alvin, can run multi-CNV on NB data , and do the same comparison with the old CNV calls. In progress with Brian E.

[2022-03-30 13:52] komalsrathi commented on #279
@aadamk Based on our 1:1 and your suggestions, I'll be doing these and update the outputs/scripts accordingly:

1. For UQ what are those samples that are separated
2. Make UMAP along with PCA (UQ)
3. Does DESeq2 have any inbuilt normalization that can be used. How clustering looks after using the normalized data as input?

But in the meanwhile, these are the two scripts (DESeq2 and edgeR) for the

[2022-03-30 13:53] #131 closed

[2022-03-30 21:16] runjin326 commented on #98
We can close this for now since we will be using one molecular subtype module going forward.

[2022-03-31 17:45] afarrel opened #281 "Proposed Analysis: Curate a list of samples for testing Tumor Only SNV calling pipeline."
#### What are the scientific goals of the analysis?
Curate a list of WGS, WXS, and targeted sequencing samples to be used to assess Tumor Only SNV calling pipelines.
This list should contains samples with a TMB < 1 mut/MB, ~5 mut/MB, ~10 mut/MB, and > 100 mut/MB.

#### What methods do you plan to use to accomplish the scientific goals?

Assess `snv-mutation-tmb-coding.tsv` for WXS and WGS data wit

[2022-04-04 17:23] runjin326 opened #282 "Generate TCGA count matrix"
#### What data file(s) does this issue pertain to?
TCGA count matrixes

#### What release are you using?

NA

#### Put your question or report your issue here.
Either generate a new module to process TCGA data for data release or use existing module to generate files.
The TCGA count matrix should be ready for box plot.

[2022-04-04 17:39] komalsrathi commented on #279
@aadamk some QC updates

NOTE: the points are colored by same participant id

### PBTA HGG

PCA is looking much better than UMAP for HGG dataset, could be because of small n of 10 samples. The patients are clustering together vs in UMAP you can see 2 clusters corresponding to RNA library.  Interestingly, the two samples `BS_59ZJWJTF` and `BS_QYPHA40N` are of a different composition type i.e. `Deri

[2022-04-05 18:15] afarrel commented on #281
[selected-snv-mutation-tmb-coding.txt](https://github.com/PediatricOpenTargets/ticket-tracker/files/8420820/selected-snv-mutation-tmb-coding.txt)

Thanks for the list @ewafula! We will move forward to the next step.

[2022-04-05 18:16] afarrel opened #283 "Proposed Analysis: Compare Tumor Only SNV calling pipeline results with Tumor-Normal SNV calls"
#### What are the scientific goals of the analysis?
Develop and Test a tumor-only (TO) SNV calling pipeline by comparing SNV calls from tumors analyzed using both the the tumor-only pipeline and the tumor-normal (TN) pipeline.

#### What methods do you plan to use to accomplish the scientific goals?
Call SNVs using both TO and TN methods and assess the true positive rate, true negative rate, false

[2022-04-06 15:07] bmennis commented on #280
CBTN cohort update:
I have completed the MultiCNV run on the CBTN somatic samples. The completed tasks are located in the same Cavatica project that the GATK CNV analyses were run. Here is a link to the completed samples:
https://cavatica.sbgenomics.com/u/kfdrc-harmonization/sd-bhjxbdqk-ad-hoc-gatk-cnv/tasks?search=MultiCNV&status=COMPLETED

All metadata has been patched as well.